@model IEnumerable<TaxProviderModel>
@{    
    //page title
    ViewBag.Title = T("Admin.Configuration.Tax.Providers").Text;
}
<div class="section-header">
    <div class="title">
        @T("Admin.Configuration.Tax.Providers")
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
			@Html.ProviderList(Model, 
				@<a href='@Url.Action("Providers", new { systemName = item.SystemName })' class="btn@(item.IsPrimaryTaxProvider ? " btn-info" : "")" @Html.Attr("disabled", "disabled", item.IsPrimaryTaxProvider)>
					@if (item.IsPrimaryTaxProvider)
					{
						<i class="fa fa-check"></i>
						@T("Admin.Configuration.Tax.Providers.Fields.IsPrimaryTaxProvider")
					}
					else
					{
						@T("Admin.Configuration.Tax.Providers.Fields.MarkAsPrimaryProvider")
					}
				</a>)
        </td>
    </tr>
</table>
