@model IEnumerable<TaxProviderModel>
@{    
    ViewBag.Title = T("Admin.Configuration.Tax.Providers").Text;
}
<div class="section-header">
    <div class="title">
        @T("Admin.Configuration.Tax.Providers")
    </div>
</div>

<div>
	@Html.ProviderList(Model,
	@<a style="min-width: 250px" href='@Url.Action("Providers", new { systemName = item.SystemName })' class="btn@(item.IsPrimaryTaxProvider ? " btn-success" : " btn-secondary btn-to-danger")" @Html.Attr("disabled", "disabled", item.IsPrimaryTaxProvider)>
		@if (item.IsPrimaryTaxProvider)
		{
			<i class="fa fa-check"></i>
			<span>@T("Admin.Configuration.Tax.Providers.Fields.IsPrimaryTaxProvider")</span>
		}
		else
		{
			<span>@T("Admin.Configuration.Tax.Providers.Fields.MarkAsPrimaryProvider")</span>
		}
	</a>)
</div>
			
