@model PrivateMessageListModel 
@using SmartStore.Web;
@using SmartStore.Web.Models.PrivateMessages;
@using SmartStore.Web.Framework.UI;
<div class="private-messages-box">
    @if (Model.Messages.Count > 0)
    {
        <ul data-role="listview" data-inset="true" data-filter="false">
            @foreach (var pm in Model.Messages)
            {
                <li>
                    <div class="item">
                        <div>
                            @T("PrivateMessages.Inbox.SubjectColumn"): @Html.ActionLink(pm.Subject, "View", new { id = pm.Id }, new { @class = (pm.IsRead) ? "pm-read" : "pm-unread" })
                        </div>
                        <div>
                            @T("PrivateMessages.Inbox.FromColumn"):
                            @if (pm.AllowViewingFromProfile)
							{
								<a href="@Url.RouteUrl("CustomerProfile", new { id = pm.FromCustomerId })" rel="nofollow">@(pm.CustomerFromName)</a>
							}
							else
							{
                               @pm.CustomerFromName
                           }
                        </div>
                        <div>
                            @T("Common.Date"): @pm.CreatedOn
                        </div>
                    </div>
                </li>
            }
        </ul>
        if (Model.TotalPages > 1)
        {
            @Html.SmartStore().Pager(Model).Name("paginator").Route("PrivateMessages", ViewData["PagerRouteValues"])
        }
    }
</div>
