@{ 
	Layout = null;

	var vendorsRoot = "~/Content/vendors/";
	Html.AppendCssFileParts(
		vendorsRoot + "font-awesome/font-awesome.css",
		"~/Administration/Content/theme.scss");

	//Html.AppendScriptParts(
	//	"~/Scripts/smartstore.viewport.js",
	//	"~/Scripts/smartstore.common.js");
}
<!DOCTYPE html>
<html>
<head>
	<!--
	   RoxyFileman - web based file manager. Ready to use with CKEditor, TinyMCE.
	   Can be easily integrated with any other WYSIWYG editor or CMS.

	   Copyright (C) 2013, RoxyFileman.com - Lyubomir Arsov. All rights reserved.
	   For licensing, see LICENSE.txt or http://RoxyFileman.com/license

	   This program is free software: you can redistribute it and/or modify
	   it under the terms of the GNU General Public License as published by
	   the Free Software Foundation, either version 3 of the License.

	   This program is distributed in the hope that it will be useful,
	   but WITHOUT ANY WARRANTY; without even the implied warranty of
	   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	   GNU General Public License for more details.

	   You should have received a copy of the GNU General Public License
	   along with this program.  If not, see <http://www.gnu.org/licenses/>.

	   Contact: Lyubomir Arsov, liubo (at) web-lobby.com
	   -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Roxy File Manager</title>
	<script>
         var roxy_root = '@Url.Content("~/Admin/RoxyFileManager/")';
         var roxy_assets_root = '@Url.Content("~/Administration/Content/filemanager/")';
	</script>

	@Html.SmartCssFiles(this.Url, ResourceLocation.Head)
	@Html.SmartScripts(this.Url, ResourceLocation.Head)

	@Styles.Render("~/css/roxyfm") 
	@Scripts.Render("~/bundles/roxyfm")

	@Html.LocalizationScript(WorkContext.WorkingLanguage.UniqueSeoCode, "~/Administration/Content/filemanager/lang/", "*.js")

</head>
<body>
	<table cellpadding="0" cellspacing="0" id="wraper">
		<tr>
			<td valign="top" class="pnlDirs" id="dirActions">
				<div class="actions d-flex p-2">
					<button type="button" class="btn btn-sm btn-light" id="btnAddDir" title="Create new directory" onclick="addDir()" data-lang-v="CreateDir" data-lang-t="T_CreateDir">
						<i class="fa fa-plus"></i>
						<span>Create</span>
					</button>

					<button type="button" class="btn btn-sm btn-light btn-icon ml-auto" id="btnRenameDir" title="Rename directory" onclick="renameDir()" data-lang-v="RenameDir" data-lang-t="T_RenameDir">
						<i class="fa fa-pencil"></i>
						<span class="d-none">Create</span>
					</button>
					<button type="button" class="btn btn-sm btn-light btn-to-danger btn-icon" id="btnDeleteDir" title="Delete selected directory" onclick="deleteDir()" data-lang-v="DeleteDir" data-lang-t="T_DeleteDir">
						<i class="fa fa-trash"></i>
						<span class="d-none">Delete</span>
					</button>
				</div>
				<div id="pnlLoadingDirs">
					<span>Loading directories...</span><br>
					<img src="~/Administration/Content/filemanager/images/loading.gif" title="Loading directory tree, please wait...">
				</div>
				<div class="scrollPane">
					<ul id="pnlDirList" class="clearfix mt-2"></ul>
				</div>
			</td>
			<td valign="top" id="fileActions">
				<input type="hidden" id="hdViewType" value="list">
				<input type="hidden" id="hdOrder" value="asc">
				<div class="actions d-flex p-2">
					<div class="btn-group">
						<button type="button" class="btn btn-sm btn-light" id="btnAddFile" title="Upload files" onclick="addFileClick()" data-lang-v="AddFile" data-lang-t="T_AddFile">
							<i class="fa fa-plus"></i>
							<span>Add file</span>
						</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-sm btn-light btn-icon" id="btnPreviewFile" title="Preview selected file" onclick="previewFile()" data-lang-v="Preview" data-lang-t="T_Preview">
							<i class="fa fa-eye"></i>
							<span class="d-none">Preview</span>
						</button>
						<button type="button" class="btn btn-sm btn-light btn-icon" id="btnRenameFile" title="Rename selected file" onclick="renameFile()" data-lang-v="RenameFile" data-lang-t="T_RenameFile">
							<i class="fa fa-pencil"></i>
							<span class="d-none">Rename</span>
						</button>
						<button type="button" class="btn btn-sm btn-light btn-icon" id="btnDownloadFile" title="Download selected file" onclick="downloadFile()" data-lang-v="DownloadFile" data-lang-t="T_DownloadFile">
							<i class="fa fa-download"></i>
							<span class="d-none">Download</span>
						</button>
						<button type="button" class="btn btn-sm btn-light btn-icon btn-to-danger" id="btnDeleteFile" title="Delete selected file" onclick="deleteFile()" data-lang-v="DeleteFile" data-lang-t="T_DeleteFile">
							<i class="fa fa-trash"></i>
							<span class="d-none">Delete</span>
						</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-sm btn-light btn-icon btn-view" id="btnListView" title="List view" onclick="switchView('list')" data-lang-t="T_ListView">
							<i class="fa fa-list"></i>
							<span class="d-none">List view</span>
						</button>
						<button type="button" class="btn btn-sm btn-light btn-icon btn-view" id="btnThumbView" title="Thumbnails view" onclick="switchView('thumb')" data-lang-t="T_ThumbsView">
							<i class="fa fa-th"></i>
							<span class="d-none">Thumbnails view</span>
						</button>
					</div>
					<div class="sort-filter form-inline btn-group">
						<div class="mf-dropdown mr-2">
							<button class="btn btn-sm btn-light" title="Sortiere nach Name: Z bis A">
								<i class="fa fa-sort d-xl-none"></i>
								<span class="d-xl-none">Name: Z bis A</span>
								<em class="d-none d-xl-inline">Sortiere nach <span>Name: Z bis A</span></em>
								<i class="fa fa-caret-down"></i>
							</button>
							<select id="ddlOrder" class="form-control form-control-sm mr-1" onchange="sortFiles()">
								<option value="name" data-lang="Name_asc">&uarr;&nbsp;&nbsp;Name</option>
								<option value="size" data-lang="Size_asc">&uarr;&nbsp;&nbsp;Size</option>
								<option value="time" data-lang="Date_asc">&uarr;&nbsp;&nbsp;Date</option>
								<option value="name_desc" data-lang="Name_desc">&darr;&nbsp;&nbsp;Name</option>
								<option value="size_desc" data-lang="Size_desc">&darr;&nbsp;&nbsp;Size</option>
								<option value="time_desc" data-lang="Date_desc">&darr;&nbsp;&nbsp;Date</option>
							</select>
						</div>

						<input type="text" class="form-control form-control-sm" id="txtSearch" onkeyup="filterFiles()" onchange="filterFiles()" />
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-sm btn-light btn-to-primary" id="btnSelectFile" title="Select highlighted file" onclick="setFile()" data-lang-v="SelectFile" data-lang-t="T_SelectFile">
							<i class="fa fa-check"></i>
							<span>Select</span>
						</button>
					</div>
				</div>
				<div class="pnlFiles">
					<div class="scrollPane">
						<div id="pnlLoading">
							<span data-lang="LoadingFiles">Loading files...</span><br>
							<img src="~/Administration/Content/filemanager/images/loading.gif" title="Loading files, please wait...">
						</div>
						<div id="pnlEmptyDir" data-lang="DirIsEmpty">
							This folder is empty
						</div>
						<div id="pnlSearchNoFiles" data-lang="NoFilesFound">
							No files found
						</div>
						<ul id="pnlFileList"></ul>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td class="bottomLine">
				&nbsp;&nbsp;&nbsp;<a href="http://www.roxyfileman.com" target="_blank">&copy; 2013 - <span id="copyYear"></span> RoxyFileman</a>
			</td>
			<td class="bottomLine">
				<div id="pnlStatus">Status bar</div>
			</td>
		</tr>
	</table>
	<!-- Forms and other components -->
	<iframe name="frmUploadFile" width="0" height="0" style="display:none;border:0;"></iframe>
	<div id="dlgAddFile">
		<form name="addfile" id="frmUpload" method="post" target="frmUploadFile" enctype="multipart/form-data">
			<input type="hidden" name="d" id="hdDir" />
			<div class="form">
				<br />
				<input type="file" name="files[]" id="fileUploads" onchange="listUploadFiles(this.files)" multiple="multiple" />
				<div id="uploadResult"></div>
				<div class="uploadFilesList">
					<div id="uploadFilesList"></div>
				</div>
			</div>
		</form>
	</div>
	<div id="menuFile" class="dropdown-menu">
		<a href="#" class="dropdown-item" onclick="setFile()" data-lang="SelectFile" id="mnuSelectFile">
			<i class="fa fa-fw fa-check"></i>
			<span>Select</span>
		</a>
		<a href="#" class="dropdown-item" onclick="previewFile()" data-lang="Preview" id="mnuPreview">
			<i class="fa fa-fw fa-eye"></i>
			<span>Preview</span>
		</a>
		<a href="#" class="dropdown-item" onclick="downloadFile()" data-lang="DownloadFile" id="mnuDownload">
			<i class="fa fa-fw fa-download"></i>
			<span>Download</span>
		</a>
		<div class="dropdown-divider"></div>
		<a href="#" class="dropdown-item" onclick="cutFile()" data-lang="Cut" id="mnuFileCut">
			<i class="fa fa-fw fa-cut"></i>
			<span>Cut</span>
		</a>
		<a href="#" class="dropdown-item" onclick="copyFile()" data-lang="Copy" id="mnuFileCopy">
			<i class="fa fa-fw fa-copy"></i>
			<span>Copy</span>
		</a>
		<a href="#" class="dropdown-item paste disabled" onclick="return pasteToFiles(event, this)" data-lang="Paste" id="mnuFilePaste">
			<i class="fa fa-fw fa-paste"></i>
			<span>Paste</span>
		</a>
		<div class="dropdown-divider"></div>
		<a href="#" class="dropdown-item" onclick="renameFile()" data-lang="RenameFile" id="mnuRenameFile">
			<i class="fa fa-fw fa-pencil"></i>
			<span>Rename</span>
		</a>
		<a href="#" class="dropdown-item" onclick="deleteFile()" data-lang="DeleteFile" id="mnuDeleteFile">
			<i class="fa fa-fw fa-trash"></i>
			<span>Delete</span>
		</a>
	</div>
	<div id="menuDir" class="dropdown-menu">
		<a href="#" class="dropdown-item" onclick="addDir()" data-lang="T_CreateDir" id="mnuCreateDir">
			<i class="fa fa-fw fa-plus"></i>
			<span>Create new</span>
		</a>
		<a href="#" class="dropdown-item" onclick="downloadDir()" data-lang="Download" id="mnuDownloadDir">
			<i class="fa fa-fw fa-download"></i>
			<span>Download</span>
		</a>
		<div class="dropdown-divider"></div>
		<a href="#" class="dropdown-item" onclick="cutDir()" data-lang="Cut" id="mnuDirCut">
			<i class="fa fa-fw fa-cut"></i>
			<span>Cut</span>
		</a>
		<a href="#" class="dropdown-item" onclick="copyDir()" data-lang="Copy" id="mnuDirCopy">
			<i class="fa fa-fw fa-copy"></i>
			<span>Copy</span>
		</a>
		<a href="#" class="dropdown-item paste disabled" onclick="return pasteToDirs(event, this)" data-lang="Paste" id="mnuDirPaste">
			<i class="fa fa-fw fa-paste"></i>
			<span>Paste</span>
		</a>
		<div class="dropdown-divider"></div>
		<a href="#" class="dropdown-item" onclick="renameDir()" data-lang="RenameDir" id="mnuRenameDir">
			<i class="fa fa-fw fa-pencil"></i>
			<span>Rename</span>
		</a>
		<a href="#" class="dropdown-item" onclick="deleteDir()" data-lang="DeleteDir" id="mnuDeleteDir">
			<i class="fa fa-fw fa-trash"></i>
			<span>Delete</span>
		</a>
	</div>
	<div id="pnlRenameFile" class="dialog">
		<span class="name"></span><br>
		<input type="text" id="txtFileName">
	</div>
	<div id="pnlDirName" class="dialog">
		<span class="name"></span><br>
		<input type="text" id="txtDirName">
	</div>

	@Html.SmartScripts(this.Url, ResourceLocation.Foot)
</body>
</html>