@model SearchBoxModel
@using SmartStore.Web.Models.Catalog;

@{
	if (Model.InstantSearchEnabled)
	{
		Html.AddScriptParts("~/Themes/Alpha/Scripts/smartstore.instantsearch.js");
	}
}

@using (Html.BeginRouteForm("Search", FormMethod.Get, new { @class = "instasearch-form" }))
{
	<input type="text"
			id="instasearch"
			class="instasearch-term form-control"
			placeholder="@T("Search.SearchBox.Tooltip")"
			data-minlength="@(Model.SearchTermMinimumLength.ToString())"
			data-showthumbs="@(Model.ShowProductImagesInInstantSearch.ToString().ToLower())"
			data-url="@Url.RouteUrl("InstantSearch")"
			@(Model.InstantSearchEnabled ? Html.Raw(" autocomplete=\"off\"") : null) name="q" />

	<button type="submit" class="btn btn-primary btn-icon instasearch-button" title="@T("Search")">
		<i class="fa fa-search instasearch-icon"></i>
	</button>

	<div id="instasearch-drop">
	</div>

    @Html.Widget("searchbox")
}

@*@using (Html.BeginRouteForm("Search", FormMethod.Get, new { @class = "form-search" }))
{
	<div class="input-group">
		<input type="text"
			   id="instantsearch"
			   class="form-control"
			   placeholder="@T("Search.SearchBox.Tooltip")"
			   data-minlength="@(Model.SearchTermMinimumLength.ToString())"
			   data-showthumbs="@(Model.ShowProductImagesInInstantSearch.ToString().ToLower())"
			   data-url="@Url.RouteUrl("InstantSearch")"
			   @(Model.InstantSearchEnabled ? Html.Raw(" autocomplete=\"off\"") : null) name="q" />
		<span class="input-group-btn">
			<button type="submit" class="btn btn-icon btn-primary" title="@T("Search")">
				<i class="fa fa-search"></i>
			</button>
		</span>
	</div>

	@Html.Widget("searchbox")
}*@