@model dynamic

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>@Html.SmartTitle(true)</title>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	
	<style type="text/css">
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 20px;
            color: #444;
			margin: 0;
			padding: 20px 0;
			border: 0;
        }
	</style>

	@Html.SmartCssFiles(this.Url, ResourceLocation.Head)
	@Html.CustomHead()
</head>
<body class="@Html.BodyCssClass()" @(Html.BodyId())>
	@RenderBody()
	@Html.SmartCssFiles(this.Url, ResourceLocation.Foot)
</body>
</html>


		
