@model ProductOverviewModel
@using SmartStore.Core.Domain.Orders;
@using SmartStore.Web.Models.Catalog;

<figure class="picture" data-equalized-part="picture" data-equalized-valign="true">
    <a href="@Url.RouteUrl("Product", new RouteValueDictionary { { "SeName", Model.SeName } })" title="@Model.DefaultPictureModel.Title">
        <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" /></a>
</figure>
<div class="data">
    @{
        string name = null, nameTitle = null;
        name = Model.Name.Truncate(50, "...");
        if (Model.Name.Length > name.Length)
        {
            nameTitle = Model.Name;
        }
    }
    <h3 class="name" data-equalized-part="name">
        <a href="@Url.RouteUrl("Product", new RouteValueDictionary { { "SeName", Model.SeName } })" title="@nameTitle">
            @if (Model.IsNew)
            {
                <span class="label label-isnew">@T("Common.New")</span>
            } 
            <span>@name</span>
        </a>
    </h3>
    <div class="prices" data-equalized-part="prices">
        <div class="text-success product-price">
            <span class="price">@Model.ProductPrice.Price</span>
        </div>
        <div>
            @if (Model.DisplayBasePrice && !String.IsNullOrEmpty(Model.BasePriceInfo))
            {
                <span class="base-price muted">
                    @Model.BasePriceInfo
                </span>
            }
        </div>
    </div>
</div>