@using SmartStore.Core;
@using SmartStore.Core.Infrastructure;
@using SmartStore.Core.Infrastructure.DependencyManagement;

@{
    // add js assets
    Html.AppendScriptParts(ResourceLocation.Head,
        "~/Scripts/jquery-2.1.1.js",
		"~/Scripts/jquery-migrate-1.2.1.js",
        "~/Scripts/underscore.js",
        "~/Scripts/underscore.string.js",
        "~/Scripts/underscore.mixins.js",
        "~/Scripts/smartstore.doAjax.js",
        "~/Scripts/jquery.validate.js",
        "~/Scripts/jquery.validate.unobtrusive.js");
		
	Html.AppendScriptParts(ResourceLocation.Foot,
		"~/Scripts/smartstore.jquery.utils.js");
}

<!DOCTYPE html>
<html>
<head>
    <title>@Html.SmartTitle(false)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @Html.Partial("_ClientRes")
    @Html.Widget("mobile_head_html_tag")

    @Html.SmartCssFiles(this.Url, ResourceLocation.Head)
    @Html.SmartScripts(this.Url, ResourceLocation.Head)

    @*do not handle links via ajax by default
        1. automatically update page URLs (for example, when adding a product to the cart
        2. process SSL redirections*@
    <script type="text/javascript">
        $(document).bind("mobileinit", function () {
            $.mobile.ajaxEnabled = false;
        });
    </script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mobile-1.3.2.js")"></script>
</head>
<body>
    @RenderBody()
    @Html.SmartCssFiles(this.Url, ResourceLocation.Foot)
    @Html.SmartScripts(this.Url, ResourceLocation.Foot)

	<script type="text/javascript">
	    $(function () {
		    // html text collapser
		    $('.more-less').moreLess();
        });
    </script>
</body>
</html>
