@using SmartStore.Core;
@using SmartStore.Core.Infrastructure;
@using SmartStore.Core.Infrastructure.DependencyManagement;
@using SmartStore.Services.Localization;
@using SmartStore.Core.Domain.Localization;

@{
    var currentUICulture = System.Threading.Thread.CurrentThread.CurrentUICulture;
    
    var localizationService = EngineContext.Current.Resolve<ILocalizationService>();
    
    // add css assets
    Html.AppendCssFileParts(
		"~/Content/font-awesome.css",
        "~/Content/jquery.pnotify.default.css",
        "~/Content/jquery.pnotify.default.icons.css");

    Html.AppendScriptParts(ResourceLocation.Head,
        "~/Scripts/modernizr-2.7.2.js",
        "~/Scripts/jquery-2.1.1.js",
		"~/Scripts/jquery-migrate-1.2.1.js",
        "~/Scripts/globalize/globalize.js");

    Html.AddScriptParts(ResourceLocation.Head, true,
        "~/Scripts/globalize/cultures/globalize.culture.{0}.js".FormatInvariant(currentUICulture.ToString()));

    var bootstrapJsRoot = "~/Content/bootstrap/js/";
    Html.AppendScriptParts(ResourceLocation.Foot,
		// jQuery UI Core
		"~/Scripts/jquery-ui/effect.js",
		"~/Scripts/jquery-ui/effect-transfer.js",
		"~/Scripts/jquery-ui/effect-shake.js",
		"~/Scripts/jquery-ui/position.js",
        // jQuery Validation
        "~/Scripts/jquery.unobtrusive-ajax.js",
        "~/Scripts/jquery.validate.js",
        "~/Scripts/jquery.validate.unobtrusive.js",
        // SmartStore system
        "~/Scripts/smartstore.system.js",
        "~/Scripts/underscore.js",
        "~/Scripts/underscore.string.js",
        "~/Scripts/underscore.mixins.js",
        "~/Scripts/smartstore.jquery.utils.js",
        "~/Scripts/jquery.ba-outside-events.js",
        "~/Scripts/jquery.preload.js",
        "~/Scripts/jquery.transit.js",
        "~/Scripts/jquery.menu-aim.js",
        "~/Scripts/smartstore.doAjax.js",
        "~/Scripts/jquery.addeasing.js",
        "~/Scripts/smartstore.eventbroker.js",
        "~/Scripts/smartstore.hacks.js",
		"~/Scripts/smartstore.common.js",
        // Bootstrap
        bootstrapJsRoot + "bootstrap-transition.js",
        bootstrapJsRoot + "bootstrap-alert.js",
        bootstrapJsRoot + "bootstrap-button.js",
        bootstrapJsRoot + "bootstrap-collapse.js",
        bootstrapJsRoot + "bootstrap-dropdown.js",
        bootstrapJsRoot + "bootstrap-modal.js",
        bootstrapJsRoot + "bootstrap-tooltip.js",
        bootstrapJsRoot + "bootstrap-popover.js",
        bootstrapJsRoot + "bootstrap-tab.js",
		bootstrapJsRoot + "bootstrap-typeahead.js",
        // Bootstrap custom
        bootstrapJsRoot + "custom/bootstrap-datetimepicker.js",
        // Shared UI
        "~/Scripts/smartstore.placeholder.js",
        "~/Scripts/select2.js",
        "~/Scripts/smartstore.selectwrapper.js",
        "~/Scripts/smartstore.throbber.js",
        "~/Scripts/smartstore.navbar.js",
        "~/Scripts/smartstore.thumbzoomer.js",
        "~/Scripts/smartstore.column-equalizer.js",
        "~/Scripts/smartstore.shrinkmenu.js",
        "~/Scripts/smartstore.scrollbutton.js",
        "~/Scripts/jquery.pnotify.js",
        "~/Scripts/jquery.scrollTo.js",
        "~/Scripts/jquery.serialScroll.js",
		"~/Scripts/smartstore.globalize.adapter.js",
        // Shop
        "~/Scripts/public.common.js",
        "~/Scripts/public.ajaxcart.js",
        "~/Scripts/public.shopbar.js",
        "~/Scripts/public.product-list-scroller.js",
		"~/Scripts/public.product-filter.js");
}
<!DOCTYPE html>
<html @Html.Partial("LanguageAttributes")>
<head>
    <title>@Html.SmartTitle(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@(Html.SmartMetaDescription())" />
    <meta name="keywords" content="@(Html.SmartMetaKeywords())" />
    <meta name="generator" content="SmartStore.NET @SmartStoreVersion.CurrentFullVersion" />

    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")

	@Html.MetaAcceptLanguage()
    @Html.Partial("_ClientRes")

    @Html.SmartCssFiles(this.Url, ResourceLocation.Head)
    @Html.SmartScripts(this.Url, ResourceLocation.Head)

    @Html.Widget("head_html_tag")

    @Html.CanonicalUrls()
	@Html.LinkRels()
    @Html.Action("RssHeaderLink", "News", new { area = "" })
    @Html.Action("RssHeaderLink", "Blog", new { area = "" })
    @*Favicon - upload favicon.ico or favicon-[StoreId].ico file either to the root web or your theme directory*@
    @Html.Action("Favicon", "Common", new { area = "" })
	@Html.CustomHead()
    <!--Powered by SmartStore.net - http://www.smartstore.com-->
</head>
<body class="@Html.BodyCssClass()"@(Html.BodyId())>
    @RenderBody()
    @Html.SmartCssFiles(this.Url, ResourceLocation.Foot)
    @Html.SmartScripts(this.Url, ResourceLocation.Foot)
</body>
</html>
