@model Dictionary<string, object>

@{
	if (false == (bool)Model["IsChildAction"])
	{
		Layout = "~/Views/Shared/_ColumnsOne.cshtml";

		Html.AddTitleParts(T("Admin.Plugins.AddOnLicensing").Text);
	}
}
<div class="page">
	<div class="page-title">
		<h2>@T("Admin.Plugins.AddOnLicensing")</h2>
	</div>

	<div class="clear"></div>

	<div class="page-body">
		<div class="alert alert-error fade in">
			<p>
				<strong>Systemname:</strong> @Model["SystemName"]
				<br />
				<strong>Controller:</strong> @Model["ControllerName"],
				<strong>Action:</strong> @Model["ActionName"]
			</p>
			<p>
				<span>@Model["Message"]</span>
			</p>
		</div>
	</div>
</div>