@model Telerik.Web.Mvc.GridModel<ShippingMethodModel>
@using Telerik.Web.Mvc.UI;
@using System.Linq;
@{    
    //page title
    ViewBag.Title = T("Admin.Configuration.Shipping.Methods").Text;
}
<div class="section-header">
    <div class="title">
        <i class="icon icon-truck"></i>
        @T("Admin.Configuration.Shipping.Methods")
    </div>
    <div class="options">
        <a href="@Url.Action("CreateMethod")" class="btn btn-primary"><i class="icon-plus"></i>&nbsp;@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid(Model.Data)
                    .Name("shippingmethod-grid")
                    .DataKeys(x =>
                    {
                        x.Add(y => y.Id).RouteKey("Id");
                    })
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Name);
                        columns.Bound(x => x.Description);
                        columns.Bound(x => x.IgnoreCharges)
                            .Template(item => @Html.SymbolForBool(item.IgnoreCharges))
                            .ClientTemplate(@Html.SymbolForBool("IgnoreCharges"))
                            .Width(160)
                            .Centered();
                        columns.Bound(x => x.DisplayOrder)
                            .Width(160)
                            .Centered();
                        columns.Bound(x => x.Id)
                            .Template(x => Html.ActionLink(T("Admin.Common.Edit").Text, "EditMethod", new { id = x.Id }))
                            .ClientTemplate("<a href=\"EditMethod/<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
                            .Width(160)
                            .Centered()
                            .HeaderTemplate(T("Admin.Common.Edit").Text);
                    })
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("Methods", "Shipping"))
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>
