@model IEnumerable<ShippingRateComputationMethodModel>

@{
    ViewBag.Title = T("Admin.Configuration.Shipping.Providers").Text;
}

@Html.AntiForgeryToken()

<div class="section-header">
    <div class="title">
        <i class="fa fa-truck"></i>
        @T("Admin.Configuration.Shipping.Providers")
    </div>
    <div class="options">
        @{
            Html.RenderWidget("admin_button_toolbar_before");
            Html.Widget("admin_button_toolbar_after");
        }
    </div>
</div>

<div class="provider-list">
    @Html.ProviderList(Model,
            @<div>
                 <a class="activate-provider btn btn-@(item.IsActive ? "secondary btn-to-danger" : "success")" style="min-width: 150px"
                    data-href='@Url.Action("ActivateProvider")' href="#" data-systemname="@item.SystemName" data-activate="@(!item.IsActive ? "true" : "false")">
                     @T("Admin.Common.{0}".FormatInvariant(item.IsActive ? "Deactivate" : "Activate"))
                 </a>
            </div>)
</div>