@model IEnumerable<ShippingRateComputationMethodModel>

@{    
    ViewBag.Title = T("Admin.Configuration.Shipping.Providers").Text;
}
<div class="section-header">
    <div class="title">
        <i class="fa fa-truck"></i>
        @T("Admin.Configuration.Shipping.Providers")
    </div>
	<div class="options">
		@Html.Widget("admin_button_toolbar_before")

		@Html.Widget("admin_button_toolbar_after")
	</div>
</div>

<table class="adminContent">
    <tr>
        <td>
			@Html.ProviderList(Model, 
				@<div>
					<a class='btn@(item.IsActive ? "" : " btn-success")' href='@Url.Action("ActivateProvider", new { systemName = item.SystemName, activate = !item.IsActive })'>
						@T("Admin.Common.{0}".FormatInvariant(item.IsActive ? "Deactivate" : "Activate"))
					</a>
				</div>)
        </td>
    </tr>
</table>
