@model ShippingMethodRestrictionModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Shipping.Restrictions").Text;   
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <i class="icon icon-globe"></i>
            @T("Admin.Configuration.Shipping.Restrictions")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-primary"><i class="icon-ok icon-white"></i>&nbsp;@T("Admin.Common.Save")</button>
        </div>
    </div>
    
    <table class="adminContent">
        <tr>
            <td>
                @T("Admin.Configuration.Shipping.Restrictions.Description")
                <br />
                <br />
                @if (Model.AvailableCountries.Count == 0)
                {
                    <text>No countries defined</text>
                }
                else if (Model.AvailableShippingMethods.Count == 0)
                {
                    <text>No shipping methods available</text>
                }
                else
                {
                    
                    
                    <script type="text/javascript">
                        $(document).ready(function () {            
                            @foreach (var sm in Model.AvailableShippingMethods)
                            {
                            <text>
                                $('#selectall-@(sm.Id)').click(function () {
                                    $('.restrict_@(sm.Id)').attr('checked', $(this).is(':checked')).change();
                                });

                            </text>
                            }
                        });
                    </script>
                    
                    <div>
                        <table class="table table-hover">
                            <thead>
                                <tr class="">
                                    <th scope="col">
                                        <b>@T("Admin.Configuration.Shipping.Restrictions.Country")</b>
                                    </th>
                                    @foreach (var sm in Model.AvailableShippingMethods)
                                    {
                                        <th scope="col">
                                            <label class="checkbox">
                                                <b>@sm.Name</b>
                                                <input type="checkbox" id="selectall-@(sm.Id)" />
                                            </label>
                                            
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var c in Model.AvailableCountries)
                                {
                                    <tr>
                                        <td>
                                            <span>@c.Name</span>
                                        </td>
                                        @foreach (var sm in Model.AvailableShippingMethods)
                                        {
                                            var restricted = Model.Restricted.ContainsKey(c.Id) && Model.Restricted[c.Id][sm.Id];
                                            <td class="ac">
                                                <input id="restrict_@(sm.Id)" class="restrict_@(sm.Id)" type="checkbox" value="@(c.Id)" name="restrict_@(sm.Id)" @(restricted ? " checked=checked" : null) />
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </td>
        </tr>
    </table>

}
