@model WebApiConfigModel
@using SmartStore.WebApi;
@using SmartStore.WebApi.Models;
@using SmartStore.Web.Framework;
@using SmartStore.Web.Framework.Plugins;
@using SmartStore.Web.Framework.WebApi;
@using SmartStore.Web.Framework.UI;
@using Telerik.Web.Mvc.UI;

@{
    Layout = "";

	Html.AddScriptParts(true, Url.Content("~/Plugins/SmartStore.WebApi/Scripts/smartstore.web.api.js"));
}

<script type="text/javascript">
	jQuery(document).ready(function () {
		webApi.init();
	});

	function onRowDataBound_ApiUser(e) {
		if (!e.dataItem.Enabled) {
			$(e.row).find('td').wrapInner('<span class="muted" />');
		}
	}
</script>

<div class="alert alert-info">
    @Html.Raw(@T("Plugins.Api.WebApi.AdminInstruction"))
</div>

<table id="apiuser-grid-container" class="adminContent" data-url="@(Url.Content("~/Plugins/SmartStore.WebApi"))" data-ask="@T("Admin.Common.AskToProceed")">
<tr>
    <td>

		@(Html.Telerik().Grid<WebApiUserModel>()
			.Name("apiuser-grid")
			.DataKeys(keys => keys.Add(x => x.Id).RouteKey("Id"))
			.Columns(c =>
			{
				c.Bound(x => x.Id).Width(50);
				c.Bound(x => x.Username);
				c.Bound(x => x.Email)
					.Template(x => Html.ActionLink(x.Email, "Edit", "Customer", new { id = x.Id, area = "admin" }, new { }))
					.ClientTemplate("<a href=\"" + @Url.Content("~/Admin/Customer/Edit/") + "<#= Id #>\"><#= Email #></a>");
				c.Bound(x => x.AdminComment);
				c.Bound(x => x.PublicKey);
				c.Bound(x => x.SecretKey);
				c.Bound(x => x.Enabled).Width(110).Centered()
					.Template(x => @Html.SymbolForBool(x.Enabled))
					.ClientTemplate(@Html.SymbolForBool("Enabled"));
				c.Bound(x => x.LastRequest);
				c.Template(x => @Html.ApiGridButtons())
					.Width(330)
					.ClientTemplate(@Html.ApiGridButtons());
			})
			.DataBinding(dataBinding =>
			{
				dataBinding.Ajax().Select("GridUserData", "WebApi", new { Namespaces = "SmartStore.WebApi.Controllers", area = WebApiGlobal.PluginSystemName });
			})
			.Pageable(settings => settings.PageSize(Model.GridPageSize).Position(GridPagerPosition.Both))
			.ClientEvents(events => events.OnRowDataBound("onRowDataBound_ApiUser"))
			.PreserveGridState()
			.EnableCustomBinding(true)
		)

    </td>
</tr>
</table>

<p>&nbsp;</p>

@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ApiOdataUrl)
            </td>
            <td class="adminData">
                <a href="@Model.ApiOdataUrl" target="_blank">@Model.ApiOdataUrl</a>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ApiOdataMetadataUrl)
            </td>
            <td class="adminData">
                <a href="@Model.ApiOdataMetadataUrl" target="_blank">@Model.ApiOdataMetadataUrl</a>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ValidMinutePeriod)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ValidMinutePeriod)
                @Html.ValidationMessageFor(model => model.ValidMinutePeriod)
            </td>
        </tr>
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(model => model.NoRequestTimestampValidation)
			</td>
			<td class="adminData">
				@Html.EditorFor(model => model.NoRequestTimestampValidation)
				@Html.ValidationMessageFor(model => model.NoRequestTimestampValidation)
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(model => model.AllowEmptyMd5Hash)
			</td>
			<td class="adminData">
				@Html.EditorFor(model => model.AllowEmptyMd5Hash)
				@Html.ValidationMessageFor(model => model.AllowEmptyMd5Hash)
			</td>
		</tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.LogUnauthorized)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.LogUnauthorized)
                @Html.ValidationMessageFor(model => model.LogUnauthorized)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">&nbsp;</td>
            <td class="adminData">
                <button type="submit" name="savegeneralsettings" value="savegeneralsettings" class="btn btn-primary">
                    <i class="fa fa-check"></i>&nbsp;@T("Admin.Common.Save")
                </button>
            </td>
        </tr>
    </table>
}
