@model OrderModel.AddOrderProductModel.GiftCardModel
@if (Model.IsGiftCard)
{
    //Actually just a copy of \Presentation\SmartStore.Web\Views\Catalog\_GiftCardInfo.cshtml
	<p>&nbsp;</p>
    <div class="giftCard" style="width: 556px;">

        <div class="control-group">
            @Html.LabelFor(model => model.RecipientName, new { @class = "control-label required", @for = "RecipientName" })
            <div class="controls">
                @Html.EditorFor(model => model.RecipientName, "BlockInput")
            </div>
        </div>
        
        @if (Model.GiftCardType == SmartStore.Core.Domain.Catalog.GiftCardType.Virtual)
        {
        <div class="control-group">
            @Html.LabelFor(model => model.RecipientEmail, new { @class = "control-label required", @for = "RecipientEmail" })
            <div class="controls">
                @Html.EditorFor(model => model.RecipientEmail, "BlockInput")
            </div>
        </div>
        }
        
        <div class="control-group">
            @Html.LabelFor(model => model.SenderName, new { @class = "control-label required", @for = "SenderName" })
            <div class="controls input-block-level">
                @Html.EditorFor(model => model.SenderName, "BlockInput")
            </div>
        </div>
        
        @if (Model.GiftCardType == SmartStore.Core.Domain.Catalog.GiftCardType.Virtual)
        {
            <div class="control-group">
                @Html.LabelFor(model => model.SenderEmail, new { @class = "control-label required", @for = "SenderEmail" })
                <div class="controls">
                    @Html.EditorFor(model => model.SenderEmail, "BlockInput")
                </div>
            </div>
        }
        
        <div class="control-group">
            @Html.LabelFor(model => model.Message, new { @class = "control-label", @for = "Message" })
            <div class="controls">
                 @Html.TextAreaFor(model => model.Message, new { @class = "message input-block-level" })
            </div>
        </div>
    
        @*<dl>
            <dt>@Html.LabelFor(model => model.RecipientName)</dt>
            <dd>
                @Html.TextBoxFor(model => model.RecipientName)
            </dd>
            @if (Model.GiftCardType == SmartStore.Core.Domain.Catalog.GiftCardType.Virtual)
            {
            <dt>@Html.LabelFor(model => model.RecipientEmail)</dt>
            <dd>
                @Html.TextBoxFor(model => model.RecipientEmail)
            </dd>
            }
            <dt>
                @Html.LabelFor(model => model.SenderName)</dt>
            <dd>
                @Html.TextBoxFor(model => model.SenderName)
            </dd>
            @if (Model.GiftCardType == SmartStore.Core.Domain.Catalog.GiftCardType.Virtual)
            {
            <dt>@Html.LabelFor(model => model.SenderEmail)</dt>
            <dd>
                @Html.TextBoxFor(model => model.SenderEmail)</dd>
            }
            <dt>
                @Html.LabelFor(model => model.Message)</dt>
            <dd>
                @Html.TextAreaFor(model => model.Message, new { style = "Width: 300px; Height: 100px;" })
            </dd>
        </dl>*@
    </div>
}