@model IList<BestsellersReportLineModel>
@using Telerik.Web.Mvc.UI

<div class="widget widget-table">
    
    <div class="widget-header">
        <i class="fa fa-star"></i>
        <h3>@T("Admin.SalesReport.BestSellers.ByAmount")</h3>
    </div>
    
	<div class="widget-content equalized-column">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>@T("Admin.SalesReport.Bestsellers.Fields.Name")</th>
					<th>@T("Admin.SalesReport.Bestsellers.Fields.TotalQuantity")</th>
					<th>@T("Admin.SalesReport.Bestsellers.Fields.TotalAmount")</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var x in Model)
				{
					<tr>
						<td>
							@Html.LabeledProductName(x.ProductId, x.ProductName, x.ProductTypeName, x.ProductTypeLabelHint)
						</td>
						<td>@x.TotalQuantity</td>
						<td>@x.TotalAmount</td>
					</tr>
				}
			</tbody>
		</table>
	</div>



</div>
