@model IList<BestsellersReportLineModel>

<div class="card card-shadow mb-4">
	<h6 class="card-header font-weight-medium border-bottom-0">
		<i class="fa fa-star pr-2"></i>
		@T("Admin.SalesReport.BestSellers.ByAmount")
	</h6>
    
	<div class="table-responsive">
		<table class="table table-striped m-0">
			<thead>
				<tr>
					<th>@T("Admin.SalesReport.Bestsellers.Fields.Name")</th>
					<th>@T("Admin.SalesReport.Bestsellers.Fields.TotalQuantity")</th>
					<th>@T("Admin.SalesReport.Bestsellers.Fields.TotalAmount")</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var x in Model)
				{
					<tr>
						<td>
							@Html.LabeledProductName(x.ProductId, x.ProductName, x.ProductTypeName, x.ProductTypeLabelHint)
						</td>
						<td>@x.TotalQuantity</td>
						<td>@x.TotalAmount</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
