@model LatestOrdersDashboardReportModel
@using SmartStore.Core.Domain.Orders

<div class="report">
    <div class="report-title-row">
        <div class="report-title">@T("Admin.SalesReport.LatestOrders")</div>
    </div>
    
    <div class="table-responsive table-dashboard table-hover">
        <table class="table small">
            <thead>
                <tr>
                    <th class="display-row" style="width: 30%">@T("Admin.Customers.Reports.BestBy.Fields.Customer")</th>
                    <th class="display-row text-center px-3" style="width: 10%">@T("Admin.Catalog.Categories.Products")</th>
                    <th class="display-row text-right" style="width: 20%;  padding-right: 2rem !important" title="@T("Admin.Configuration.Settings.Tax.PricesIncludeTax")">@T("Common.Amount")</th>
                    <th class="display-row" style="width: 20%;">@T("Account.CustomerOrders.OrderDate")</th>
                    <th class="display-row" style="width: 20%">@T("Account.CustomerOrders.OrderStatus")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.LatestOrders)
                {
                <tr class="order-row" index="@x.OrderId">
                    <td class="display-row">
                        @Html.ActionLink(x.Customer.Username, "Edit", "Customer", new { id = x.Customer.Id }, new { })
                    </td>
                    <td class="display-row text-center">@x.ProductsTotal</td>
                    <td class="display-row text-right"  style="padding-right: 2rem !important">@x.TotalAmount</td>
                    <td class="display-row">@x.Created</td>

                    @if (x.OrderState == OrderStatus.Pending)
                    {
                        <td class="display-row">
                            @Html.ActionLink(@T("Enums.SmartStore.Core.Domain.Orders.OrderStatus.Pending"), "Edit", "Order", new { id = x.OrderId }, new { @class = "text-white bg-warning px-3 py-1 rounded" })
                        </td>
                    }
                    else if (x.OrderState == OrderStatus.Processing)
                    {
                        <td class="display-row">
                            @Html.ActionLink(@T("Enums.SmartStore.Core.Domain.Orders.OrderStatus.Processing"), "Edit", "Order", new { id = x.OrderId }, new { @class = "text-white bg-primary px-3 py-1 rounded" })
                        </td>
                    }
                    else if (x.OrderState == OrderStatus.Complete)
                    {
                        <td class="display-row">
                            @Html.ActionLink(@T("Enums.SmartStore.Core.Domain.Orders.OrderStatus.Complete"), "Edit", "Order", new { id = x.OrderId }, new { @class = "text-white bg-success px-3 py-1 rounded" })
                        </td>
                    }
                    else if (x.OrderState == OrderStatus.Cancelled)
                    {
                        <td class="display-row">
                            @Html.ActionLink(@T("Enums.SmartStore.Core.Domain.Orders.OrderStatus.Cancelled"), "Edit", "Order", new { id = x.OrderId }, new { @class = "text-white bg-danger px-3 py-1 rounded" })
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>