@model OrdersDashboardReportModel
@using Newtonsoft.Json;
@{
    var jsonData = JsonConvert.SerializeObject(Model);
}

<div class="bg-white rounded-lg shadow h-100" style="overflow:hidden">
    <div class="px-3 pt-3 d-flex pb-0">
        <div class="font-weight-medium p-0 title-report">
            <i class="fa fa-chart-bar pr-2"></i>
            @T("Account.CustomerOrders")
        </div>

        <div class="align-self-center pl-2 fs-h6 font-weight-300">
            <span id="orders-sum-amount" class="text-muted"></span>
        </div>

        <div class="align-self-center pl-2 fs-h6">
            <span id="orders-delta-percentage"></span><span id="orders-delta-percentage-chevron" class="chevron pl-1 d-none"></span>
        </div>

        <div class="btn-group btn-group-toggle ml-auto" data-toggle="buttons">
            <label class="btn btn-secondary active chart-toggle">
                <input type="radio" name="orders-toggle" data-period="Day" autocomplete="off" checked>
                @T("Time.Day")
            </label>
            <label class="btn btn-secondary chart-toggle">
                <input type="radio" name="orders-toggle" data-period="Week" autocomplete="off">
                @T("Time.Week")
            </label>
            <label class="btn btn-secondary chart-toggle">
                <input type="radio" name="orders-toggle" data-period="Month" autocomplete="off">
                @T("Time.Month")
            </label>
            <label class="btn btn-secondary chart-toggle">
                <input type="radio" name="orders-toggle" data-period="Year" autocomplete="off">
                @T("Time.Year")
            </label>
        </div>
    </div>
    <div class="pl-3 pt-2" id="orders-chart-legend"></div>
    <div class="canvas-container pt-0 mt-0 h-100" style="transform: translateY(-69px); pointer-events: none">
        <canvas id="orders-chart" class="w-100" width="70" height="21" style="position: absolute; bottom: 0px; pointer-events: all"></canvas>
    </div>
</div>

<script>
    $(function () {
        var ordersData = JSON.parse('@Html.Raw(jsonData)');
        var $chevronElement = $("#orders-delta-percentage-chevron");
        var $percentageElement = $("#orders-delta-percentage");
        var $sumElement = $("#orders-sum-amount");
        var currentPeriod = "Day";

        //Object.prototype.getByIndex = function (index) {
        //        return this[Object.keys(this)[index]];
        //};
        //console.log(ordersData.getByIndex(0));

        var style = getComputedStyle(document.body);
        var colorPrimary = style.getPropertyValue('--primary');
        var colorIndigo = style.getPropertyValue('--indigo');
        var colorDanger = style.getPropertyValue('--danger');
        var colorSuccess = style.getPropertyValue('--success');
        var colorWarning = style.getPropertyValue('--warning');
        var fontFamily = style.getPropertyValue('--font-family-sans-serif');

        //----------------------------------------------------
        // Chartjs

        var $ordersChartElement = $('#orders-chart')[0];
        var orders_ctx = $ordersChartElement.getContext('2d');

        var completeGradient = orders_ctx.createLinearGradient(0, 0, 0, $ordersChartElement.clientHeight);
        completeGradient.addColorStop(0, hexToRgba(colorPrimary.substr(1), .9));
        completeGradient.addColorStop(1, hexToRgba(colorPrimary.substr(1), .1));

        var cancelledGradient = orders_ctx.createLinearGradient(0, 0, 0, $ordersChartElement.clientHeight);
        cancelledGradient.addColorStop(0, hexToRgba(colorDanger.substr(1), .9));
        cancelledGradient.addColorStop(1, hexToRgba(colorDanger.substr(1), .1));

        var pendingGradient = orders_ctx.createLinearGradient(0, 0, 0, $ordersChartElement.clientHeight);
        pendingGradient.addColorStop(0, hexToRgba(colorWarning.substr(1), .9));
        pendingGradient.addColorStop(1, hexToRgba(colorWarning.substr(1), .1));

        var processingGradient = orders_ctx.createLinearGradient(0, 0, 0, $ordersChartElement.clientHeight);
        processingGradient.addColorStop(0, hexToRgba(colorSuccess.substr(1), .9));
        processingGradient.addColorStop(1, hexToRgba(colorSuccess.substr(1), .1));

        var order_config = {
            type: 'line',
            data: {
                labels: ordersData.Day.Labels,
                datasets: [{
                    label: '@T("Enums.SmartStore.Core.Domain.Orders.OrderStatus.Cancelled")',
                    data: ordersData.Day.Data[0].Amount,
                    borderWidth: 2,
                    borderColor: colorDanger,
                    backgroundColor: cancelledGradient,
                    lineTension: 0.2,
                    fill: true,
                    pointHoverBackgroundColor: colorDanger,
                    pointHoverBorderColor: 'transparent',
                }, {
                    label: '@T("Enums.SmartStore.Core.Domain.Orders.OrderStatus.Pending")',
                    data: ordersData.Day.Data[1].Amount,
                    borderWidth: 2,
                    borderColor: colorWarning,
                    backgroundColor: pendingGradient,
                    lineTension: 0.2,
                    fill: true,
                    hidden: true,
                    pointHoverBackgroundColor: colorWarning,
                    pointHoverBorderColor: 'transparent',
                }, {
                    label: '@T("Enums.SmartStore.Core.Domain.Orders.OrderStatus.Processing")',
                    data: ordersData.Day.Data[2].Amount,
                    borderWidth: 2,
                    borderColor: colorSuccess,
                    backgroundColor: processingGradient,
                    lineTension: 0.2,
                    fill: true,
                    hidden: true,
                    pointHoverBackgroundColor: colorSuccess,
                    pointHoverBorderColor: 'transparent',
                }, {
                    label: '@T("Enums.SmartStore.Core.Domain.Orders.OrderStatus.Complete")',
                    data: ordersData.Day.Data[3].Amount,
                    borderWidth: 2,
                    borderColor: colorPrimary,
                    backgroundColor: completeGradient,
                    lineTension: 0.2,
                    fill: true,
                    pointHoverBackgroundColor: colorPrimary,
                    pointHoverBorderColor: 'transparent',
                }]
            },
            options: {
                responsive: true,
                responsiveAnimationDuration: 0,
                maintainAspectRatio: true,
                stacked: true,
                animation: {
                    duration: 400,
                    hide: {
                        visible: {
                            type: true,
                            easing: 'easeInOutSine'
                        },
                    },
                    easing: 'easeInOutSine',

                },
                hover: {
                    mode: 'nearest',
                    intersect: false,
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        top: 5,
                        bottom: 4
                    }
                },
                legend: false,
                legendCallback: function (chart) {
                    var text = [];
                    text.push('<ul class="' + chart.id + '-legend">');
                    for (var i = chart.data.datasets.length - 1; i >= 0; i--) {
                        if (chart.data.datasets[i].hidden) {
                            text.push('<li class="hidden"><span class="legend" style="background-color:' + chart.data.datasets[i].borderColor + '"></span>');
                        }
                        else {
                            text.push('<li><span class="legend" style="background-color:' + chart.data.datasets[i].borderColor + '"></span>');
                        }

                        if (chart.data.labels[i]) {
                            text.push('<span>' + chart.data.datasets[i].label + '</span>');
                            text.push('<span class="font-weight-500 pl-1 total-amount">' + ordersData[currentPeriod].Data[i].TotalAmount + '</span>');
                        }
                        text.push('</li>');
                    }
                    text.push('</ul>');
                    return text.join("");
                },
                elements: {
                    point: {
                        radius: 0,
                        hoverRadius: 6,
                    }
                },
                tooltips: {
                    enabled: true,
                    mode: 'nearest',
                    intersect: false,
                    titleFontFamily: fontFamily,
                    bodyFontFamily: fontFamily,
                    xPadding: 10,
                    yPadding: 8,
                    caretPadding: 6,
                    caretSize: 8,
                    cornerRadius: 4,
                    titleMarginBottom: 8,
                    bodySpacing: 5,
                    callbacks: {
                        label: function (item, data) {
                            return " " + (data.datasets[item.datasetIndex].label || '') + ": " + item.yLabel; //ordersData.getByIndex(item.datasetIndex).FormattedAmount[item.index];
                        }
                    }
                },
                scales: {
                    yAxes: [{
                        display: false,
                        stacked: true,

                    }],
                    xAxes: [{
                        display: false,
                        position: 'top',
                        gridLines: {
                            display: false,
                        },
                        scaleLabel: {
                            display: false,
                            padding: 0,
                        },
                    }]
                },
                title: {
                    display: false,
                }
            },
        }

        var ordersChart = new Chart(orders_ctx, order_config);
        setPercentageDelta(currentPeriod);

        var $ordersLegendContainer = $("#orders-chart-legend")[0];
        createLegend();


        //----------------------------------------------------
        // EventHandler

        $('input[type=radio][name=orders-toggle]').on('change', function () {
            setChartData($('input:radio[name=orders-toggle]:checked').data("period"));
        });

        //----------------------------------------------------
        // Functions

        function setPercentageDelta(period) {
            var val = ordersData[period].PercentageDelta;

            if (val < 0) {
                if (!$chevronElement.hasClass("negative")) {
                    $chevronElement.addClass("negative");
                }
                if ($chevronElement.hasClass("d-none")) {
                    $chevronElement.removeClass("d-none");
                }
            }
            else if (val > 0) {
                if ($chevronElement.hasClass("negative")) {
                    $chevronElement.removeClass("negative");
                }
                if ($chevronElement.hasClass("d-none")) {
                    $chevronElement.removeClass("d-none");
                }
            }
            else if (!$chevronElement.hasClass("d-none")) {
                $chevronElement.addClass("d-none")
            }

            var delta = val == 0 ? "" : val < 0 ? "-" + Math.abs(val) + " %" : "+" + Math.abs(val) + " %";

            $percentageElement.html(delta);
            $sumElement.html(ordersData[period].TotalAmount);
        }

        function setChartData(period) {
            ordersChart.destroy();

            order_config.data.labels = ordersData[period].Labels;
            for (var i = 0; i < order_config.data.datasets.length; i++) {
                order_config.data.datasets[i].data = ordersData[period].Data[i].Amount;
            }

            ordersChart = new Chart(orders_ctx, order_config);
            setPercentageDelta(period, ordersData);
            currentPeriod = period;
            createLegend();
        }

        function createLegend() {
            $($ordersLegendContainer).html(ordersChart.generateLegend());
            var legendItems = $ordersLegendContainer.getElementsByTagName('li');
            for (var i = 0; i < legendItems.length; i++) {
                legendItems[i].addEventListener("click", legendClickCallback, false);
            }
        }

        function legendClickCallback(event) {
            event = event || window.event;

            var target = event.target || event.srcElement;
            while (target.nodeName !== 'LI') {
                target = target.parentElement;
            }
            var parent = target.parentElement;
            var chartId = parseInt(parent.classList[0].split("-")[0], 10);
            var chart = Chart.instances[chartId];
            var index = (ordersChart.data.datasets.length - 1) - Array.prototype.slice.call(parent.children).indexOf(target);
            var meta = chart.getDatasetMeta(index);

            if (chart.data.datasets[index].hidden) {
                target.classList.remove('hidden');

            } else {
                target.classList.add('hidden');
            }

            meta.hidden = !chart.data.datasets[index].hidden;
            chart.data.datasets[index].hidden = !chart.data.datasets[index].hidden;

            chart.update();
        }

        function hexToRgba(hex, opacity) {
            var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
            var rgb = result ? {
                r: parseInt(result[1], 16),
                g: parseInt(result[2], 16),
                b: parseInt(result[3], 16)
            } : null;
            return 'rgba(' + rgb.r + ', ' + rgb.g + ', ' + rgb.b + ', ' + opacity + ')';
        }
    });
</script>