@model IList<OrderIncompleteReportLineModel>

<div class="card shadow-sm mb-4">
	<h6 class="card-header font-weight-medium border-bottom-0">
		<i class="fa fa-signal pr-2"></i>
		@T("Admin.SalesReport.Incomplete")
	</h6>

	<div class="table-responsive">
		<table class="table table-striped m-0">
			<thead>
				<tr>
					<th>@T("Admin.SalesReport.Incomplete.Item")</th>
					<th>@T("Admin.SalesReport.Incomplete.Total")</th>
					<th>@T("Admin.SalesReport.Incomplete.Count")</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var x in Model)
				{
					<tr>
						<td>
							@if (x.Url.HasValue())
							{
								<a href="@x.Url">@x.Item</a>
							}
							else
							{
								@x.Item
							}
						</td>
						<td>@x.Total</td>
						<td>@x.Count</td>
					</tr>
				}
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

