@model IList<OrderAverageReportLineSummaryModel>
@using Telerik.Web.Mvc;
@using Telerik.Web.Mvc.UI

<div class="widget stats-today">
    <div class="widget-content">

        <div class="stats-today-title" style="">
            @T("Admin.SalesReport.Average.SumTodayOrders")
        </div>

        @{
            var list = Model.Reverse().ToList();
            var length = Model.Count;
        }
        @for (int i = 0; i < list.Count(); ++i )
        {
            var x = list[i];
            <div class='stats-today-item@(i == 0 ? " omega" : "")@(i == length - 1 ? " alpha" : "")'>
                <div class="stats-today-item-label">@x.OrderStatus</div>
                <div class="stats-today-item-value">@x.SumTodayOrders</div>
            </div>
        }

    </div>
</div>

<div class="widget widget-table">
    
    <div class="widget-header">
        <i class="fa fa-signal"></i>
        <h3>@T("Admin.SalesReport.Average")</h3>
    </div>
    
    <div class="widget-content">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>@T("Admin.SalesReport.Average.OrderStatus")</th>
                    <th>@T("Admin.SalesReport.Average.SumThisWeekOrders")</th>
                    <th>@T("Admin.SalesReport.Average.SumThisMonthOrders")</th>
                    <th>@T("Admin.SalesReport.Average.SumThisYearOrders")</th>
                    <th>@T("Admin.SalesReport.Average.SumAllTimeOrders")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>
							@if (x.Url.HasValue())
							{
								<a href="@x.Url">@x.OrderStatus</a>
							}
							else
							{
								@x.OrderStatus
							}
						</td>
                        <td>@x.SumThisWeekOrders</td>
                        <td>@x.SumThisMonthOrders</td>
                        <td>@x.SumThisYearOrders</td>
                        <td>@x.SumAllTimeOrders</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

