@model DashboardChartReportModel
@using Newtonsoft.Json;
@{
    var jsonData = JsonConvert.SerializeObject(Model);
}
<script src="~/Administration/Scripts/Chart.js"></script>

<div class="report">
    <div class="report-title-row">
        <div class="report-title pr-3">@T("Admin.Orders")</div>
        <div class="pl-1 fs-h5 pr-3">
            <span id="orders-sum-amount" class="text-muted text-nowrap"></span>
        </div>
        <div class="fs-h6 font-weight-bold">
            <span id="orders-delta-percentage"></span><span id="orders-delta-percentage-chevron" class="chevron pl-1 d-none"></span>
        </div>
        <div class="btn-group btn-group-toggle ml-auto flex-wrap" data-toggle="buttons">
            <label class="btn btn-secondary btn-dashboard active">
                <input type="radio" name="orders-toggle" data-period="0" autocomplete="off" checked>
                @T("Admin.Report.Today")
            </label>
            <label class="btn btn-secondary btn-dashboard">
                <input type="radio" name="orders-toggle" data-period="1" autocomplete="off">
                @T("Admin.Report.Yesterday")
            </label>
            <label class="btn btn-secondary btn-dashboard">
                <input type="radio" name="orders-toggle" data-period="2" autocomplete="off">
                @T("Admin.Report.LastWeek")
            </label>
            <label class="btn btn-secondary btn-dashboard">
                <input type="radio" name="orders-toggle" data-period="3" autocomplete="off">
                @T("Admin.Report.LastMonth")
            </label>
            <label class="btn btn-secondary btn-dashboard">
                <input type="radio" name="orders-toggle" data-period="4" autocomplete="off">
                @T("Admin.Report.ThisYear")
            </label>
        </div>
    </div>
    <div class="px-4 pt-2" id="orders-chart-legend"></div>
    <div class="canvas-container h-100" style="min-height: 380px; max-height: 380px;">
        <canvas id="orders-chart"></canvas>
    </div>
</div>

<script>
    $(function () {
        var ordersData = JSON.parse('@Html.Raw(jsonData)');
        var $percentageElement = $("#orders-delta-percentage");
        var $chevronElement = $("#orders-delta-percentage-chevron");
        var $sumElement = $("#orders-sum-amount");
        var currentPeriod = 0;
        var root = $('html');
        var style = getComputedStyle(document.body);
        var colorPrimary = root.css('--primary');
        var colorDanger = root.css('--danger');
        var colorSuccess = root.css('--success');
        var colorWarning = root.css('--warning');
        var fontFamily = root.css('--font-family-sans-serif');

        var $ordersChartElement = $('#orders-chart');
        var orders_ctx = $ordersChartElement.get(0).getContext('2d');
        var cancelledGradient = orders_ctx.createLinearGradient(0, 0, 0, $ordersChartElement.parent().height());
        cancelledGradient.addColorStop(0, root.css('--chart-color-danger'));
        cancelledGradient.addColorStop(1, 'white');

        var pendingGradient = orders_ctx.createLinearGradient(0, 0, 0, $ordersChartElement.parentElement.clientHeight);
        pendingGradient.addColorStop(0, root.css('--chart-color-warning'));
        pendingGradient.addColorStop(1, 'white');

        var processingGradient = orders_ctx.createLinearGradient(0, 0, 0, $ordersChartElement.parentElement.clientHeight);
        processingGradient.addColorStop(0, root.css('--chart-color-success'));
        processingGradient.addColorStop(1, 'white');

        var completeGradient = orders_ctx.createLinearGradient(0, 0, 0, $ordersChartElement.parentElement.clientHeight);
        completeGradient.addColorStop(0, root.css('--chart-color-primary'));
        completeGradient.addColorStop(1, 'white');

        // Chartjs
        //----------------------------------------------------

        var order_config = {
            type: 'line',
            data: {
                labels: ordersData.Reports[0].Labels,
                datasets: [{
                    label: '@T("Enums.SmartStore.Core.Domain.Orders.OrderStatus.Cancelled")',
                    data: ordersData.Reports[0].DataSets[0].Amount,
                    borderColor: colorDanger,
                    backgroundColor: cancelledGradient,
                    pointBackgroundColor: colorDanger,
                    pointHoverBackgroundColor: colorDanger,
                    pointHoverBorderColor: 'transparent',
                }, {
                    label: '@T("Enums.SmartStore.Core.Domain.Orders.OrderStatus.Pending")',
                    data: ordersData.Reports[0].DataSets[1].Amount,
                    borderColor: colorWarning,
                    backgroundColor: pendingGradient,
                    hidden: true,
                    pointBackgroundColor: colorWarning,
                    pointHoverBackgroundColor: colorWarning,
                    pointHoverBorderColor: 'transparent',
                }, {
                    label: '@T("Enums.SmartStore.Core.Domain.Orders.OrderStatus.Processing")',
                    data: ordersData.Reports[0].DataSets[2].Amount,
                    borderColor: colorSuccess,
                    backgroundColor: processingGradient,
                    hidden: true,
                    pointBackgroundColor: colorSuccess,
                    pointHoverBackgroundColor: colorSuccess,
                    pointHoverBorderColor: 'transparent',
                }, {
                    label: '@T("Enums.SmartStore.Core.Domain.Orders.OrderStatus.Complete")',
                    data: ordersData.Reports[0].DataSets[3].Amount,
                    borderColor: colorPrimary,
                    backgroundColor: completeGradient,
                    pointBackgroundColor: colorPrimary,
                    pointHoverBackgroundColor: colorPrimary,
                    pointHoverBorderColor: 'transparent',
                }]
            },
            options: {
                responsive: true,
                responsiveAnimationDuration: 0,
                maintainAspectRatio: false,
                stacked: true,
                animation: {
                    duration: 400,
                    hide: {
                        visible: {
                            type: true,
                            easing: 'easeInOutSine'
                        },
                    },
                    easing: 'easeInOutSine',
                },
                hover: {
                    mode: 'nearest',
                    intersect: false,
                    animationDuration: 250,
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        top: 6,
                        bottom: 0
                    }
                },
                legend: false,
                legendCallback: function (chart) {
                    var text = [];
                    text.push('<ul class="' + chart.id + '-legend">');
                    for (var i = chart.data.datasets.length - 1; i >= 0; i--) {
                        if (chart.data.datasets[i].hidden) {
                            text.push('<li class="hidden"><span class="legend" style="background-color:' + chart.data.datasets[i].borderColor + '"></span>');
                        }
                        else {
                            text.push('<li><span class="legend" style="background-color:' + chart.data.datasets[i].borderColor + '"></span>');
                        }

                        if (chart.data.labels[i]) {
                            text.push('<span>' + chart.data.datasets[i].label + '</span>');
                            text.push('<span class="font-weight-500 pl-1 total-amount">' + ordersData.Reports[currentPeriod].DataSets[i].TotalAmount + '</span>');
                        }
                        text.push('</li>');
                    }
                    text.push('</ul>');
                    return text.join("");
                },
                elements: {
                    point: {
                        radius: 0,
                        hoverRadius: 6,
                        hitRadius: 3,
                    },
                    line: {
                        borderWidth: 1,
                        lineTension: 0.2,
                        fill: true,
                    }
                },
                tooltips: {
                    enabled: true,
                    mode: 'nearest',
                    intersect: false,
                    titleFontFamily: fontFamily,
                    titleFontSize: 13,
                    bodyFontFamily: fontFamily,
                    bodyFontSize: 12,
                    xPadding: 12,
                    yPadding: 10,
                    caretPadding: 6,
                    caretSize: 8,
                    cornerRadius: 4,
                    titleMarginBottom: 8,
                    bodySpacing: 5,
                    callbacks: {
                        label: function (item, data) {
                            return " @T("Admin.Orders"):  " + ordersData.Reports[currentPeriod].DataSets[item.datasetIndex].FormattedQuantity[item.index]
                                + "    " + ordersData.Reports[currentPeriod].DataSets[item.datasetIndex].FormattedAmount[item.index];                            
                        },
                        labelColor: function(tooltipItem, chart) {
                            var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                            return {
                                backgroundColor: dataset.borderColor,
                            }
                        },
                    },
                },
                scales: {
                    yAxes: [{
                        display: false,
                        stacked: true,
                    }],
                    xAxes: [{
                        display: false,
                        gridLines: {
                            display: false,
                        },
                        scaleLabel: {
                            display: false,
                            padding: 0,
                        },
                    }]
                },
                title: {
                    display: false,
                }
            },
        }

        var ordersChart = new Chart(orders_ctx, order_config);
        setPercentageDelta(currentPeriod);
        var $ordersLegendElement = $("#orders-chart-legend")[0];
        createLegend();

        ////----------------------------------------------------
        // EventHandler

        $('input[type=radio][name=orders-toggle]').on('change', function () {
            setChartData($('input:radio[name=orders-toggle]:checked').data("period"));
        });

        //----------------------------------------------------
        // Functions

        function setPercentageDelta(period) {
            var val = ordersData.Reports[period].PercentageDelta;
            if (val < 0) {
                $chevronElement.addClass("negative");
                $chevronElement.removeClass("d-none");
                $percentageElement.removeClass("text-success");
                $percentageElement.addClass("text-danger");
            }
            else if (val > 0) {
                $chevronElement.removeClass("negative");
                $chevronElement.removeClass("d-none");
                $percentageElement.addClass("text-success");
                $percentageElement.removeClass("text-danger");
            }
            else {
                $chevronElement.addClass("d-none")
            }
            var delta = val == 0 ? "" : val < 0 ? "-" + Math.abs(val) + "%" : "+" + Math.abs(val) + "%";
            $percentageElement.html(delta);
            $sumElement.html(ordersData.Reports[period].TotalAmount);
        }

        function setChartData(period) {
            ordersChart.destroy();
            order_config.data.labels = ordersData.Reports[period].Labels;
            for (var i = 0; i < order_config.data.datasets.length; i++) {
                order_config.data.datasets[i].data = ordersData.Reports[period].DataSets[i].Amount;
            }
            ordersChart = new Chart(orders_ctx, order_config);
            setPercentageDelta(period, ordersData);
            currentPeriod = period;
            createLegend();
        }

        function createLegend() {
            $($ordersLegendElement).html(ordersChart.generateLegend());
            var legendItems = $ordersLegendElement.getElementsByTagName('li');
            for (var i = 0; i < legendItems.length; i++) {
                legendItems[i].addEventListener("click", legendClickCallback, false);
            }
        }

        function legendClickCallback(event) {
            event = event || window.event;
            var target = event.target || event.srcElement;
            while (target.nodeName !== 'LI') {
                target = target.parentElement;
            }
            var parent = target.parentElement;
            var chartId = parseInt(parent.classList[0].split("-")[0], 10);
            var chart = Chart.instances[chartId];
            var index = (ordersChart.data.datasets.length - 1) - Array.prototype.slice.call(parent.children).indexOf(target);
            var meta = chart.getDatasetMeta(index);
            if (chart.data.datasets[index].hidden) {
                target.classList.remove('hidden');
            }
            else {
                target.classList.add('hidden');
            }
            meta.hidden = !chart.data.datasets[index].hidden;
            chart.data.datasets[index].hidden = !chart.data.datasets[index].hidden;
            chart.update();
        }
    });
</script>