@model ShipmentModel
@using Telerik.Web.Mvc.UI;
@using SmartStore.Core.Domain.Tax;
@using SmartStore.Core.Domain.Catalog;
@{    
    ViewBag.Title = T("Admin.Orders.Shipments.ViewDetails").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            @T("Admin.Orders.Shipments.ViewDetails") - @Model.Id @Html.ActionLink("(" + T("Admin.Orders.Shipments.BackToOrder") + ")", "Edit", new { id = Model.OrderId })
        </div>
        <div class="options">
            @if (Model.DisplayPdfPackagingSlip)
            {
                <a href="@Url.Action("PdfPackagingSlips", new { all = false, selectedIds = Model.Id.ToString() })" class="btn">
					<i class="fa fa-print"></i>
					@T("Admin.Orders.Shipments.PrintPackagingSlip")
				</a>
            }
            <button type="submit" id="shipment-delete" class="btn btn-danger"><i class="fa fa-trash-o"></i>&nbsp;@T("Admin.Common.Delete")</button>
        </div>
    </div>
	
    @Html.ValidationSummary(false)

    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.TrackingNumber)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.TrackingNumber)

				<button type="submit" id="settrackingnumber" name="settrackingnumber" class="btn" value="@T("Admin.Orders.Shipments.TrackingNumber.Button")">
					<i class="fa fa-pencil-square-o"></i>&nbsp;@T("Admin.Orders.Shipments.TrackingNumber.Button")
				</button>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.TotalWeight)
            </td>
            <td class="adminData">
                @Model.TotalWeight
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ShippedDate)
            </td>
            <td class="adminData">
                @Model.ShippedDate
                @if (Model.CanShip)
                {
					<text>&nbsp;</text>
					<button type="submit" id="setasshipped" name="setasshipped" class="btn" value="@T("Admin.Orders.Shipments.ShippedDate.Button")">
						<i class="fa fa-check"></i>&nbsp;@T("Admin.Orders.Shipments.ShippedDate.Button")
					</button>
				}
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.DeliveryDate)
            </td>
            <td class="adminData">
                @Model.DeliveryDate
                @if (Model.CanDeliver)
                {
					<text>&nbsp;</text>
					<button type="submit" id="setasdelivered" name="setasdelivered" class="btn" value="@T("Admin.Orders.Shipments.DeliveryDate.Button")">
						<i class="fa fa-check"></i>&nbsp;@T("Admin.Orders.Shipments.DeliveryDate.Button")
					</button>
				}
            </td>
        </tr>
    </table>

	<h3>@T("Admin.Orders.Shipments.Products")</h3>
	
    <table class="adminContent">
        <tr>
			<td class="adminData" style="padding: 0;">

				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>
								@T("Admin.Orders.Shipments.Products.ProductName")
							</th>
							<th>
								@T("Admin.Orders.Shipments.Products.SKU")
							</th>
							<th>
								@T("Admin.Orders.Shipments.Products.QtyShipped")
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.Items)
						{
							<tr>
								<td style="width: 70%;">
									<div>
										@Html.LabeledProductName(item.ProductId, item.ProductName, item.ProductTypeName, item.ProductTypeLabelHint)

										@if (!String.IsNullOrEmpty(item.AttributeInfo))
										{
											<br />
											@Html.Raw(item.AttributeInfo)
										}
									</div>
								</td>
								<td style="width: 15%;">
									<div>
										@item.Sku
									</div>
								</td>
								<td align="center" style="width: 15%;">
									@item.QuantityInThisShipment
								</td>
							</tr>
						}
					</tbody>
				</table>

			</td>
        </tr>
    </table>
}
@Html.DeleteConfirmation("DeleteShipment", "shipment-delete")