@model OrderModel.UploadLicenseModel
@using Telerik.Web.Mvc.UI;
@{    
	Layout = "_AdminPopupLayout";
	ViewBag.Title = T("Admin.Orders.Products.License.UploadFile").Text;
}

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <i class="fa fa-upload"></i>
            @T("Admin.Orders.Products.License.UploadFile")
        </div>
        <div class="options">
        </div>
    </div>
    
    @Html.ValidationSummary(false)

    @Html.HiddenFor(model => model.OrderId)
    @Html.HiddenFor(model => model.OrderItemId)
    @Html.EditorFor(model => model.LicenseDownloadId)
    
	<input type="submit" name="uploadlicense" value="@T("Admin.Common.Save")" id="uploadlicense" class="btn btn-secondary" />

	if (Model.LicenseDownloadId > 0)
	{
	    <input type="submit" name="deletelicense" value="@T("Admin.Common.Delete")" id="deletelicense" class="btn btn-secondary" />    
    }
}