@model StoreModel

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)

<script type="text/javascript">
    $(document).ready(function () {

        $("#@Html.FieldIdFor(model => model.SslEnabled)").click(toggleSslEnabled);
        
        toggleSslEnabled();
    });

    function toggleSslEnabled() {
        if ($('#@Html.FieldIdFor(model => model.SslEnabled)').is(':checked')) {
            $('#pnlSecureUrl').show();
        }
        else {
            $('#pnlSecureUrl').hide();
        }
    }
</script>

<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.LogoPictureId)
        </td>
        <td class="adminData" id="store-logo-picture">
            @Html.EditorFor(model => model.LogoPictureId, "#store-logo-picture", new { transientUpload = true })
            @Html.ValidationMessageFor(model => model.LogoPictureId)
        </td>
    </tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.Name)
		</td>
		<td class="adminData">
			@Html.EditorFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.Url)
		</td>
		<td class="adminData">
			@Html.EditorFor(model => model.Url)
			@Html.ValidationMessageFor(model => model.Url)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.Hosts)
		</td>
		<td class="adminData">
			@Html.TextBoxFor(model => model.Hosts, new { @class = "input-large" })
			@Html.ValidationMessageFor(model => model.Hosts)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.ContentDeliveryNetwork)
		</td>
		<td class="adminData">
			@Html.EditorFor(model => model.ContentDeliveryNetwork)
			@Html.ValidationMessageFor(model => model.ContentDeliveryNetwork)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.PrimaryStoreCurrencyId)
		</td>
		<td class="adminData">
			@Html.DropDownListFor(model => model.PrimaryStoreCurrencyId, Model.AvailableCurrencies)
			@Html.ValidationMessageFor(model => model.PrimaryStoreCurrencyId)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.PrimaryExchangeRateCurrencyId)
		</td>
		<td class="adminData">
			@Html.DropDownListFor(model => model.PrimaryExchangeRateCurrencyId, Model.AvailableCurrencies)
			@Html.ValidationMessageFor(model => model.PrimaryExchangeRateCurrencyId)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.SslEnabled)
		</td>
		<td class="adminData">
			@Html.EditorFor(model => model.SslEnabled)
			@Html.ValidationMessageFor(model => model.SslEnabled)
		</td>
	</tr>
	<tr id="pnlSecureUrl">
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.SecureUrl)
		</td>
		<td class="adminData">
			@Html.EditorFor(model => model.SecureUrl)
			@Html.ValidationMessageFor(model => model.SecureUrl)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.HtmlBodyId)
		</td>
		<td class="adminData">
			@Html.EditorFor(model => model.HtmlBodyId)
			@Html.ValidationMessageFor(model => model.HtmlBodyId)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.DisplayOrder)
		</td>
		<td class="adminData">
			@Html.EditorFor(model => model.DisplayOrder)
			@Html.ValidationMessageFor(model => model.DisplayOrder)
		</td>
	</tr>
    @if (Model.Id > 0)
    {
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.Id)
            </td>
            <td class="adminData">
                <span>@Model.Id</span>
            </td>
        </tr>
    }
</table>
