@model StoreDashboardReportModel
@using SmartStore.Admin.Models.Store;

<div class="report">
    <div class="report-title-row">
        <div class="report-title">@T("Admin.Report.StoreStatistics")</div>
    </div>
    <div class="statistics-container pt-1 pb-3">
        <div class="row pl-4 pr-3 m-0">
            <div class="col-6 col-md-4 statistics-col">
                <div class="statistics-content">
                    <div class="statistics-icon">
                        <div class="products-icon"></div>
                    </div>
                    <div class="statistics-container-outer">
                        <div class="statistics-container-inner">
                            <div class="statistics-value" title="@Model.ProductsCount">@Model.ProductsCount</div>
                            <div class="statistics-attribute" title="@T("Admin.Catalog.Products")">@T("Admin.Catalog.Products")</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 statistics-col">
                <div class="statistics-content">
                    <div class="statistics-icon">
                        <div class="attribute-icon"></div>
                    </div>
                    <div class="statistics-container-outer">
                        <div class="statistics-container-inner">
                            <div class="statistics-value" title="@Model.AttributesCount">@Model.AttributesCount</div>
                            <div class="statistics-attribute" title="@T("Admin.Catalog.Attributes.ProductAttributes")">@T("Admin.Catalog.Attributes")</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 statistics-col">
                <div class="statistics-content">
                    <div class="statistics-icon">
                        <div class="attribute-combinations-icon"></div>
                    </div>
                    <div class="statistics-container-outer">
                        <div class="statistics-container-inner">
                            <div class="statistics-value" title="@Model.AttributeCombinationsCount">@Model.AttributeCombinationsCount</div>
                            <div class="statistics-attribute" title="@T("Admin.Catalog.Products.ProductVariantAttributes.AttributeCombinations")">@T("Admin.Catalog.Products.ProductVariantAttributes.AttributeCombinations.Short")</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 statistics-col">
                <div class="statistics-content">
                    <div class="statistics-icon">
                        <div class="categories-icon"></div>
                    </div>
                    <div class="statistics-container-outer">
                        <div class="statistics-container-inner">
                            <div class="statistics-value" title="@Model.CategoriesCount">@Model.CategoriesCount</div>
                            <div class="statistics-attribute" title="@T("Admin.Catalog.Categories")">@T("Admin.Catalog.Categories")</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 statistics-col">
                <div class="statistics-content">
                    <div class="statistics-icon">
                        <div class="manufacturer-icon"></div>
                    </div>
                    <div class="statistics-container-outer">
                        <div class="statistics-container-inner">
                            <div class="statistics-value" title="@Model.ManufacturersCount">@Model.ManufacturersCount</div>
                            <div class="statistics-attribute" title="@T("Admin.Catalog.Manufacturers")">@T("Admin.Catalog.Manufacturers")</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 statistics-col">
                <div class="statistics-content">
                    <div class="statistics-icon">
                        <div class="media-icon"></div>
                    </div>
                    <div class="statistics-container-outer">
                        <div class="statistics-container-inner">
                            <div class="statistics-value" title="@Model.MediaCount">@Model.MediaCount</div>
                            <div class="statistics-attribute" title="@T("Admin.Catalog.Products.Pictures")">@T("Admin.Catalog.Products.Pictures")</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 statistics-col">
                <div class="statistics-content">
                    <div class="statistics-icon">
                        <div class="customers-icon"></div>
                    </div>
                    <div class="statistics-container-outer">
                        <div class="statistics-container-inner">
                            <div class="statistics-value" title="@Model.CustomersCount">@Model.CustomersCount</div>
                            <div class="statistics-attribute" title="@T("Admin.Customers.Reports.RegisteredCustomers")">@T("Admin.Customers.Customers")</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 statistics-col">
                <div class="statistics-content">
                    <div class="statistics-icon">
                        <div class="orders-icon"></div>
                    </div>
                    <div class="statistics-container-outer">
                        <div class="statistics-container-inner">
                            <div class="statistics-value" title="@Model.OrdersCount">@Model.OrdersCount</div>
                            <div class="statistics-attribute" title="@T("Admin.Orders.Overall")">@T("Admin.Orders")</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 statistics-col">
                <div class="statistics-content">
                    <div class="statistics-icon">
                        <div class="sales-icon"></div>
                    </div>
                    <div class="statistics-container-outer">
                        <div class="statistics-container-inner">
                            <div class="statistics-value" title="@Model.Sales @T("Enums.SmartStore.Core.Domain.Tax.TaxDisplayType.IncludingTax")">@Model.Sales</div>
                            <div class="statistics-attribute" title="@T("Admin.SalesReport.Sales.Hint")">@T("Admin.SalesReport.Sales")</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 statistics-col">
                <div class="statistics-content">
                    <div class="statistics-icon">
                        <div class="customers-online-icon"></div>
                    </div>
                    <div class="statistics-container-outer">
                        <div class="statistics-container-inner">
                            <div class="statistics-value" title="@Model.OnlineCustomersCount">@Model.OnlineCustomersCount</div>
                            <div class="statistics-attribute" title="@T("Admin.Report.OnlineCustomers")">@T("Admin.Customers.OnlineCustomers")</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 statistics-col">
                <div class="statistics-content">
                    <div class="statistics-icon">
                        <div class="cart-icon"></div>
                    </div>
                    <div class="statistics-container-outer">
                        <div class="statistics-container-inner">
                            <div class="statistics-value" title="@Model.CartsValue @T("Enums.SmartStore.Core.Domain.Tax.TaxDisplayType.IncludingTax")">@Model.CartsValue</div>
                            <div class="statistics-attribute" title="@T("Admin.CurrentCarts")">@T("Admin.CurrentCarts.Short")</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 statistics-col">
                <div class="statistics-content">
                    <div class="statistics-icon">
                        <div class="wishlist-icon"></div>
                    </div>
                    <div class="statistics-container-outer">
                        <div class="statistics-container-inner">
                            <div class="statistics-value" title="@Model.WishlistsValue @T("Enums.SmartStore.Core.Domain.Tax.TaxDisplayType.IncludingTax")">@Model.WishlistsValue</div>
                            <div class="statistics-attribute" title="@T("Admin.CurrentWishlists")">@T("Admin.CurrentWishlists.Short") </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>