@{
    Layout = "_Document";
}

@Html.Widget("body_start_html_tag_after")
@{ Html.RenderPartial("_Notifications"); }
<div id="page">
    <div class="canvas-blocker canvas-slidable"></div>

    <div class="page-main canvas-slidable">

        @if (IsSectionDefined("header"))
		{
            @RenderSection("header")
		}
		else
		{
            <header>
                <div class="menubar-section hidden-md-down">
                    <div class="container menubar-container">
                        @{ 
							Html.RenderAction("Menu", "Common", new { area = "" });
						}
                    </div>
                </div>
                <div class="shopbar-section">
                    <div class="container shopbar-container">
                        @{ 
							Html.RenderAction("ShopBar", "Common", new { area = "" });
						}
                    </div>
                </div>
                <div class="megamenu-section hidden-md-down">
                    <nav class='navbar @(GetThemeVariable<bool>("InverseNavbar") ? "navbar-dark" : "navbar-light")'>
                        <div class="container megamenu-container">
                            @{ 
								Html.RenderAction("MegaMenu", "Catalog", new { currentCategoryId = this.CurrentCategoryId, currentProductId = this.CurrentProductId, area = "" });
							}
						</div>
					</nav>
				</div>
			</header>
								}

        @{ 
			Html.RenderAction("JavaScriptDisabledWarning", "Common", new { area = "" }); 
		}

        @Html.Widget("content_before")

        <div id="content-wrapper">
            <section id="content" class="container drop-shadow lifted m-t-1">
                
                @RenderSection("teaser", required: false)
                <div id="content-body" class="row">
                    @RenderBody()
                    @Html.Widget("content_after")
                </div>
            </section>
        </div>

        @if (IsSectionDefined("footer"))
		{
            @RenderSection("footer")
		}
		else
		{
            <div id="footer-wrapper">
                <footer class="container">
                    @{ 
						Html.RenderAction("Footer", "Common", new { area = "" });
					}
				</footer>

			</div>
        }
    </div>

    <aside id="offcanvas-cart" class="offcanvas offcanvas-push offcanvas-right">
        <div class="offcanvas-content">
            @{ 
				Html.RenderAction("OffCanvasCart", "ShoppingCart", new { area = "" });
            }
        </div>
    </aside>

</div>
@Html.Widget("body_end_html_tag_before")

