@model dynamic

@{
	Layout = null;
}

<!DOCTYPE html>
<html @Html.LanguageAttributes()>
<head>
	<meta charset="utf-8">
	<title>@Html.SmartTitle(false)</title>
	<link rel="stylesheet" type="text/css" href="~/Content/print.css" />

	@if (WorkContext.WorkingLanguage.Rtl)
	{
		<link rel="stylesheet" type="text/css" href="~/Content/print-rtl.css" />
	}

	@Html.SmartCssFiles(this.Url, ResourceLocation.Head)
	@Html.CustomHead()
</head>
<body @Html.BodyAttributes()>
	@RenderBody()
	@Html.SmartCssFiles(this.Url, ResourceLocation.Foot)
</body>
</html>


		
