@model SmartStore.OfflinePayment.Models.ManualPaymentInfoModel

@{
	Layout = "";
}

@Html.Hidden("OfflinePaymentMethodType", "Manual")

@Html.SmartLabelFor(model => model.CreditCardTypes, false)
@Html.DropDownListFor(model => model.CreditCardType, Model.CreditCardTypes, new { data_native_menu = "false" })
@Html.SmartLabelFor(model => model.CardholderName, false)
@Html.TextBoxFor(model => model.CardholderName, new { autocomplete = "off" })
@Html.ValidationMessageFor(model => model.CardholderName)
@Html.SmartLabelFor(model => model.CardNumber, false)
@Html.TextBoxFor(model => model.CardNumber, new { autocomplete = "off", maxlength = 22 })
@Html.ValidationMessageFor(model => model.CardNumber)
@Html.SmartLabelFor(model => model.ExpireMonth, false)
<div data-role="fieldcontain">
	<fieldset data-role="controlgroup" data-type="horizontal">
		@Html.DropDownListFor(model => model.ExpireMonth, Model.ExpireMonths, new { data_native_menu = "false" })
		/
		@Html.DropDownListFor(model => model.ExpireYear, Model.ExpireYears, new { data_native_menu = "false" })
	</fieldset>
</div>
@Html.SmartLabelFor(model => model.CardCode, false)
@Html.TextBoxFor(model => model.CardCode, new { style = "Width: 60px;", autocomplete = "off", maxlength = 4 })
@Html.ValidationMessageFor(model => model.CardCode)