@using SmartStore.Web.Framework;
@using SmartStore.OfflinePayment.Models;
@model PurchaseOrderNumberPaymentInfoModel
@{
    Layout = "";
}

@Html.Hidden("OfflinePaymentMethodType", "PurchaseOrderNumber")

@if (Model.ThumbnailUrl.HasValue())
{
	<div class="media">
		<img class="media-object img-fluid pr-2" src="@Model.ThumbnailUrl">
		<div class="media-body">
			@Html.Raw(Model.DescriptionText)
		</div>
	</div>
}
else
{
	<div class="text-muted">
		@Html.Raw(Model.DescriptionText)
	</div>
}

<div class="opt-form">
    @Html.ControlGroupFor(model => model.PurchaseOrderNumber, required: true, breakpoint: "md")
</div>