@{
    Layout = "";
}
@model SmartStore.Plugin.DiscountRules.HasPaymentMethod.Models.RequirementModel
@using SmartStore.Web.Framework;

<script type="text/javascript">
    $(document).ready(function () {
    	$('#savehaspaymentmethodrequirement@(Model.RequirementId)').click(function () {
    		var paymentMethods = $("#@Html.FieldIdFor(model => model.PaymentMethods)").val();
            var discountId = @Model.DiscountId;
    		var requirementId = @Model.RequirementId;

            $.ajax({
                cache:false,
                type: "POST",
                url: "@(Url.Action("Configure", "DiscountRulesHasPaymentMethod"))",
            	data: { "discountId": discountId, "discountRequirementId": requirementId, "paymentMethods": paymentMethods },
                success: function (data) {
                        $('#pnl-save-requirement-result@(Model.RequirementId)').fadeIn("slow").delay(1000).fadeOut("slow");
                        //notify parent if it's a new requirement
                        @if (Model.RequirementId == 0)
                        {
                        <text>$("#discountRequirementContainer").trigger('smnewdiscountruleadded', [data.NewRequirementId]);</text>
                        }
                },
                error: function (xhr, ajaxOptions, thrownError){
                    alert('@T("Admin.Promotions.Discounts.Requirements.FailedToSave")')
                }  
            });
        });
    });
</script>
    
<table class="adminContent">
<tr>
    <td class="adminTitle">
        @Html.SmartLabelFor(model => model.PaymentMethods)
    </td>
    <td class="adminData">
        <div>
			@Html.EditorFor(model => model.PaymentMethods)
			<button type="button" name="savehaspaymentmethodrequirement@(Model.RequirementId)" id="savehaspaymentmethodrequirement@(Model.RequirementId)" class="btn">
				@T("Admin.Common.Save")
			</button>
        </div>
        <div id="pnl-save-requirement-result@(Model.RequirementId)" style="display:none;">
			@T("Admin.Promotions.Discounts.Requirements.Saved")
        </div>
    </td>
</tr>
</table>