@model CustomerBackInStockSubscriptionsModel
@using SmartStore.Web;
@using SmartStore.Web.Models.Customer;
@using SmartStore.Web.Framework.UI;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    Html.AddTitleParts(T("PageTitle.BackInStockSubscriptions").Text);
}
<div class="page account-page back-in-stock-subscription-list-page">
    <div class="page-title">
        <h1>@T("Account.BackInStockSubscriptions")</h1>
    </div>
    <div class="page-body">
        @if (Model.Subscriptions.Count > 0)
        {
            <div class="description">
                @T("Account.BackInStockSubscriptions.Description")
            </div>
            <div class="subscription-list">
                <ul data-role="listview" data-inset="true" data-filter="false">
                    @foreach (var biss in Model.Subscriptions)
                    {
                        <li>
                            <div class="item">
                                <div>
                                    @Html.RouteLink(biss.ProductName, "Product", new { SeName = biss.SeName })
                                </div>
                                <div class="buttons">
									<a href="@Url.Action("DeleteBackInStockSubscription", new { id = @biss.Id })" data-role="button" rel="nofollow">@T("Common.Delete")</a>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                @if (Model.TotalPages > 1)
                {
                    @Html.SmartStore().Pager(Model).Name("paginator").Action("BackInStockSubscriptions", "Customer")
                }
            </div>
        }
        else
        {
            <div class="no-data">
                @T("Account.BackInStockSubscriptions.NoSubscriptions")
            </div>
        }
    </div>
</div>
