@using SmartStore.Web.Models.Catalog;
@using SmartStore.Web.Framework.UI;
@model SearchModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    Html.AddTitleParts(T("PageTitle.Search").Text);
}

@functions{
    private bool ShowListOptions() {
        return Model.Products.Count > 0 &&
               (Model.PagingFilteringContext.AllowProductViewModeChanging ||
               Model.PagingFilteringContext.AllowProductSorting ||
               Model.PagingFilteringContext.AllowCustomersToSelectPageSize);
    }
}

<div class="page search-page">
    <div class="page-title">
        <h1>@T("Search")</h1>
    </div>

    <div class="page-body">
        @using (Html.BeginRouteForm("ProductSearch", FormMethod.Get, new { @class = "inline-form" }))
        {
            <div class="search-input">

                @if (!String.IsNullOrEmpty(Model.Warning))
                {
                    <div class="alert alert-error fade in">
                        <button class="close" data-dismiss="alert">x</button>
                        @Model.Warning
                    </div>
                }

                <div class="basic-search">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Q, new { @class = "col-sm-3 form-control-label required", @for = "Q" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Q, new { @class = "search-text form-control" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-9 col-xs-push-3">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(model => model.As)
                                    @T("Search.AdvancedSearch")
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="adv-search" id="advanced-search-block" style="display: @(Model.As ? "block" : "none")">
                        @if (Model.AvailableCategories.Count > 0)
                        {
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Cid, new { @class = "col-sm-3 form-control-label", @for = "Q" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.Cid, Model.AvailableCategories, new { @class = "noskin", style = "max-width: 100%" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-9 col-xs-push-3">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(model => model.Isc)
                                            @T("Search.IncludeSubCategories")
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.AvailableManufacturers.Count > 0)
                        {
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Mid, new { @class = "col-sm-3 form-control-label", @for = "Mid" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.Mid, Model.AvailableManufacturers, new { @class = "noskin" })
                                </div>
                            </div>
                        }

                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label" for="Pf">@T("Search.PriceRange")</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.Pf, new { @class = "price-from form-control", placeholder = T("Search.PriceRange.From").Text })
                            </div>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.Pt, new { @class = "price-to form-control", placeholder = T("Search.PriceRange.To").Text })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-9 col-xs-push-3">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => model.Sid)
                                        @T("Search.SearchInDescriptions")
                                    </label>
                                </div>
                            </div>
                        </div>

                        @Html.Widget("productsearch_page_advanced")

                    </div>

                    <div class="form-group row">
                        <div class="col-sm-9 col-xs-push-3">
                            <button type="submit" class="btn btn-primary search-button">
                                <i class="fa fa-search"></i>
                                @T("Search")
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            
            <hr />

            if (ShowListOptions())
            {
                @Html.Partial("_ProductListOptions", Model.PagingFilteringContext)
            }

            <div class="search-results">
                @if (Model.NoResults)
                {
                    <span class="result">
                        @T("Search.NoResultsText")
                    </span>
                }

                @if (Model.Products.Count > 0)
                {
                    if (Model.PagingFilteringContext.ViewMode == "list")
                    {
                        <div class="product-list">
                            @foreach (var product in Model.Products)
                            {
                                <article class="item-box details card p-a-1">
                                    @Html.Partial("_ProductBoxList", product)
                                </article>
                            }
                        </div>        }
                    else
                    {
                        <div class="card-deck card-cols-sm-1 card-cols-md-2 card-cols-lg-3 product-grid">
                            @foreach (var product in Model.Products)
                            {
                                <article class="card card-block card-shadow text-xs-center">
                                    @Html.Partial("_ProductBox", product)
                                </article>
                            }
                        </div>
                    }
                }

                @Html.SmartStore().Pager(Model.PagingFilteringContext).Name("pagination-bottom").QueryParam("pagenumber", "as", "isc", "sid")

            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.As)").click(toggleAdvancedSearch);
        toggleAdvancedSearch();

        $('#@Html.FieldIdFor(model => model.Q)').focus();
    });

    function toggleAdvancedSearch() {
        if ($('#@Html.FieldIdFor(model => model.As)').is(':checked')) {
            $('#advanced-search-block').show();
        }
        else {
            $('#advanced-search-block').hide();
        }
    }
</script>