@model ForumSettingsModel
@{
    ViewBag.Title = T("Admin.Configuration.Settings.Forums").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <i class="fa fa-users"></i>
            @T("Admin.Configuration.Settings.Forums")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-warning">
				<i class="fa fa-check"></i>
				<span>@T("Admin.Common.Save")</span>
			</button>
        </div>
    </div>

    Html.RenderAction("StoreScopeConfiguration", "Setting");

    @Html.ValidationSummary(false)

    <div class="adminContent">
		<div class="adminRow">
			<div class="adminTitle">
				@Html.SmartLabelFor(model => model.ForumsEnabled)
			</div>
			<div class="adminData">
				@Html.SettingEditorFor(model => model.ForumsEnabled, Html.CheckBoxFor(model => model.ForumsEnabled, new { data_toggler_for = "#pnlForumsEnabled" }))
				@Html.ValidationMessageFor(model => model.ForumsEnabled)
			</div>
		</div>
	</div>

	<table id="pnlForumsEnabled" class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.SignaturesEnabled)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.SignaturesEnabled)
                @Html.ValidationMessageFor(model => model.SignaturesEnabled)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.RelativeDateTimeFormattingEnabled)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.RelativeDateTimeFormattingEnabled)
                @Html.ValidationMessageFor(model => model.RelativeDateTimeFormattingEnabled)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ShowCustomersPostCount)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.ShowCustomersPostCount)
                @Html.ValidationMessageFor(model => model.ShowCustomersPostCount)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.AllowGuestsToCreatePosts)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.AllowGuestsToCreatePosts)
                @Html.ValidationMessageFor(model => model.AllowGuestsToCreatePosts)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.AllowGuestsToCreateTopics)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.AllowGuestsToCreateTopics)
                @Html.ValidationMessageFor(model => model.AllowGuestsToCreateTopics)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.AllowCustomersToEditPosts)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.AllowCustomersToEditPosts)
                @Html.ValidationMessageFor(model => model.AllowCustomersToEditPosts)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.AllowCustomersToDeletePosts)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.AllowCustomersToDeletePosts)
                @Html.ValidationMessageFor(model => model.AllowCustomersToDeletePosts)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.AllowCustomersToManageSubscriptions)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.AllowCustomersToManageSubscriptions)
                @Html.ValidationMessageFor(model => model.AllowCustomersToManageSubscriptions)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.AllowCustomersToVoteOnPosts)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.AllowCustomersToVoteOnPosts, Html.CheckBoxFor(x => x.AllowCustomersToVoteOnPosts, new { data_toggler_for = "#pnlForumsEnabled .post-voting" }))
                @Html.ValidationMessageFor(model => model.AllowCustomersToVoteOnPosts)
            </td>
        </tr>
        <tr class="post-voting">
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.AllowGuestsToVoteOnPosts)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.AllowGuestsToVoteOnPosts)
                @Html.ValidationMessageFor(model => model.AllowGuestsToVoteOnPosts)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ForumEditor)
            </td>
            <td class="adminData">
				@Html.EnumSettingEditorFor(model => model.ForumEditor)
                @Html.ValidationMessageFor(model => model.ForumEditor)
            </td>
        </tr>
        <tr>
            <td class="adminSeparator" colspan="2">
                <hr />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.AllowSorting)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.AllowSorting)
                @Html.ValidationMessageFor(model => model.AllowSorting)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.TopicsPageSize)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.TopicsPageSize)
                @Html.ValidationMessageFor(model => model.TopicsPageSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.PostsPageSize)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.PostsPageSize)
                @Html.ValidationMessageFor(model => model.PostsPageSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.SearchResultsPageSize)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.SearchResultsPageSize)
                @Html.ValidationMessageFor(model => model.SearchResultsPageSize)
            </td>
        </tr>
        <tr>
            <td class="adminSeparator" colspan="2">
                <hr />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.AllowPrivateMessages)
            </td>
            <td class="adminData">
				@Html.SettingEditorFor(model => model.AllowPrivateMessages, Html.CheckBoxFor(model => model.AllowPrivateMessages, new { data_toggler_for = "#pnlPrivateMessages" }))
                @Html.ValidationMessageFor(model => model.AllowPrivateMessages)
            </td>
        </tr>
		<tbody id="pnlPrivateMessages">
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(model => model.ShowAlertForPM)
				</td>
				<td class="adminData">
					@Html.SettingEditorFor(model => model.ShowAlertForPM)
					@Html.ValidationMessageFor(model => model.ShowAlertForPM)
				</td>
			</tr>
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(model => model.NotifyAboutPrivateMessages)
				</td>
				<td class="adminData">
					@Html.SettingEditorFor(model => model.NotifyAboutPrivateMessages)
					@Html.ValidationMessageFor(model => model.NotifyAboutPrivateMessages)
				</td>
			</tr>
		</tbody>
        <tr>
            <td class="adminSeparator" colspan="2">
                <hr />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ForumFeedsEnabled)
            </td>
            <td class="adminData">
				@Html.SettingEditorFor(model => model.ForumFeedsEnabled, Html.CheckBoxFor(model => model.ForumFeedsEnabled, new { data_toggler_for = "#pnlForumFeeds" }))
                @Html.ValidationMessageFor(model => model.ForumFeedsEnabled)
            </td>
        </tr>
		<tbody id="pnlForumFeeds">
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(model => model.ForumFeedCount)
				</td>
				<td class="adminData">
					@Html.SettingEditorFor(model => model.ForumFeedCount)
					@Html.ValidationMessageFor(model => model.ForumFeedCount)
				</td>
			</tr>
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(model => model.ActiveDiscussionsFeedEnabled)
				</td>
				<td class="adminData">
					@Html.SettingEditorFor(model => model.ActiveDiscussionsFeedEnabled)
					@Html.ValidationMessageFor(model => model.ActiveDiscussionsFeedEnabled)
				</td>
			</tr>
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(model => model.ActiveDiscussionsFeedCount)
				</td>
				<td class="adminData">
					@Html.SettingEditorFor(model => model.ActiveDiscussionsFeedCount)
					@Html.ValidationMessageFor(model => model.ActiveDiscussionsFeedCount)
				</td>
			</tr>
		</tbody>
    </table>
}