@model MediaSettingsModel
@using Telerik.Web.Mvc.UI;
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.Media").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <i class="fa fa-picture-o"></i>
            @T("Admin.Configuration.Settings.Media")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;@T("Admin.Common.Save")</button>
        </div>
    </div>
    
    <script>
        $(function () {
            $("#@Html.FieldIdFor(model => model.DefaultPictureZoomEnabled)").click(togglePictureZoomType);
            togglePictureZoomType();
        });

        function togglePictureZoomType() {
            if ($('#@Html.FieldIdFor(model => model.DefaultPictureZoomEnabled)').is(':checked')) {
                $('#pnlPictureZoomType').show();
            }
            else {
                $('#pnlPictureZoomType').hide();
            }
        }
    </script>
	@Html.Action("StoreScopeConfiguration", "Setting")
	@Html.ValidationSummary(false)
	
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.AvatarPictureSize)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.AvatarPictureSize)
                @Html.ValidationMessageFor(model => model.AvatarPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ProductThumbPictureSize)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.ProductThumbPictureSize)
                @Html.ValidationMessageFor(model => model.ProductThumbPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ProductThumbPictureSizeOnProductDetailsPage)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.ProductThumbPictureSizeOnProductDetailsPage)
                @Html.ValidationMessageFor(model => model.ProductThumbPictureSizeOnProductDetailsPage)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ProductDetailsPictureSize)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.ProductDetailsPictureSize)
                @Html.ValidationMessageFor(model => model.ProductDetailsPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.DefaultPictureZoomEnabled)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.DefaultPictureZoomEnabled)
                @Html.ValidationMessageFor(model => model.DefaultPictureZoomEnabled)
            </td>
        </tr>
        <tr id="pnlPictureZoomType">
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.PictureZoomType)
            </td>
            <td class="adminData">
				@Html.SettingOverrideCheckbox(model => Model.PictureZoomType)
                @Html.DropDownListFor(model => model.PictureZoomType, Model.AvailablePictureZoomTypes)
                @Html.ValidationMessageFor(model => model.PictureZoomType)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.AssociatedProductPictureSize)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.AssociatedProductPictureSize)
                @Html.ValidationMessageFor(model => model.AssociatedProductPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.BundledProductPictureSize)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.BundledProductPictureSize)
                @Html.ValidationMessageFor(model => model.BundledProductPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.CategoryThumbPictureSize)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.CategoryThumbPictureSize)
                @Html.ValidationMessageFor(model => model.CategoryThumbPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ManufacturerThumbPictureSize)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.ManufacturerThumbPictureSize)
                @Html.ValidationMessageFor(model => model.ManufacturerThumbPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.CartThumbPictureSize)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.CartThumbPictureSize)
                @Html.ValidationMessageFor(model => model.CartThumbPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.CartThumbBundleItemPictureSize)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.CartThumbBundleItemPictureSize)
                @Html.ValidationMessageFor(model => model.CartThumbBundleItemPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.MiniCartThumbPictureSize)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.MiniCartThumbPictureSize)
                @Html.ValidationMessageFor(model => model.MiniCartThumbPictureSize)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.MaximumImageSize)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.MaximumImageSize)
                @Html.ValidationMessageFor(model => model.MaximumImageSize)
            </td>
        </tr>
    </table>

	<fieldset style="margin-top: 20px">
		<legend>@T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase")</legend>
		<div>
			<div class="alert alert-warning">
				@T("Admin.Configuration.Settings.Media.MovePicturesNote")
			</div>

			<strong style="text-transform: capitalize">
				@if (Model.PicturesStoredIntoDatabase)
				{
					@T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.Database")
				}
				else
				{
					@T("Admin.Configuration.Settings.Media.PicturesStoredIntoDatabase.FileSystem")
				}
			</strong>

			<button type="submit" name="change-picture-storage" value="change-picture-storage" class="btn" style="margin-left: 10px">
				@if (Model.PicturesStoredIntoDatabase)
				{
					<i class="fa fa-fw fa-hdd-o"></i>
					@T("Admin.Configuration.Settings.Media.MoveToFs")
				}
				else
				{
					<i class="fa fa-fw fa-database"></i>
					@T("Admin.Configuration.Settings.Media.MoveToDb")
				}
			</button>
		</div>
	</fieldset>
}