@model ShippingSettingsModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.Shipping").Text;
}
@using (Html.BeginForm())
{    
<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.FreeShippingOverXEnabled)").click(toggleFreeShippingOverX);
            
        toggleFreeShippingOverX();
    });

    function toggleFreeShippingOverX() {
        if ($('#@Html.FieldIdFor(model => model.FreeShippingOverXEnabled)').is(':checked')) {
            $('#pnlValueOfX').show();
            $('#pnlValueOfXincltax').show();
        }
        else {
            $('#pnlValueOfX').hide();
            $('#pnlValueOfXincltax').hide();
        }
    }
</script>
    
    <div class="section-header">
        <div class="title">
            <i class="fa fa-truck"></i>
            @T("Admin.Configuration.Settings.Shipping")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;@T("Admin.Common.Save")</button>
        </div>
    </div>
	@Html.Action("StoreScopeConfiguration", "Setting")
	@Html.ValidationSummary(false)

    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.FreeShippingOverXEnabled)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.FreeShippingOverXEnabled)
                @Html.ValidationMessageFor(model => model.FreeShippingOverXEnabled)
            </td>
        </tr>
        <tr id="pnlValueOfX">
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.FreeShippingOverXValue)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.FreeShippingOverXValue)
                @Html.ValidationMessageFor(model => model.FreeShippingOverXValue)
            </td>
        </tr>
        <tr id="pnlValueOfXincltax">
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.FreeShippingOverXIncludingTax)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.FreeShippingOverXIncludingTax)
                @Html.ValidationMessageFor(model => model.FreeShippingOverXIncludingTax)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.EstimateShippingEnabled)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.EstimateShippingEnabled)
                @Html.ValidationMessageFor(model => model.EstimateShippingEnabled)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.DisplayShipmentEventsToCustomers)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.DisplayShipmentEventsToCustomers)
                @Html.ValidationMessageFor(model => model.DisplayShipmentEventsToCustomers)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.LabelFor(model => model.ShippingOriginAddress, new { style="font-weight: bold" })
            </td>
			<td class="adminData">
				@Html.SettingOverrideCheckbox(model => Model.ShippingOriginAddress, "#pnlShippingOriginAddress")
			</td>
        </tr>
        <tr>
            <td id="pnlShippingOriginAddress" colspan="2">
                @Html.EditorFor(model => model.ShippingOriginAddress, "Address")
            </td>
        </tr>        
    </table>
}