@model EditForumPostModel
@using SmartStore.Core.Domain.Forums;
@using SmartStore.Services.Forums;
@using SmartStore.Services.Seo;
@using SmartStore.Web;
@using SmartStore.Web.Models.Boards;

@using (Html.BeginForm())
{
    <div class="page post-edit">
        @{ Html.RenderAction("ForumBreadcrumb", new { forumTopicId = Model.ForumTopicId }); }
        <h2 class="title">@(Model.IsEdit ? T("Forum.EditPost") : T("Forum.NewPost"))</h2>

        <div class="message-error">
            @Html.ValidationSummary(true)
        </div>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ForumTopicId)

        <div class="row">
            <label class="col-sm-2 text-xs-right form-control-label">@T("Forum.ForumName")</label>
            <div class="col-sm-10">@Model.ForumName</div>
        </div>

        <div class="row m-t-1">
            <label class="col-sm-2 text-xs-right form-control-label">@T("Forum.ForumName")</label>
            <div class="col-sm-10">@Model.ForumTopicSubject</div>
        </div>

        <div class="row">
            <div class="col-sm-push-2 col-sm-10 m-t-1">
                @if (Model.ForumEditor == EditorType.BBCodeEditor)
                {
                    @Html.BBCodeEditor("Text");
                }
                @Html.TextAreaFor(model => model.Text, new { @class = "forum-post-text", TextMode = "MultiLine" })
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>

        @if (Model.IsCustomerAllowedToSubscribe)
        {
            <div class="row">
                <div class="col-sm-push-2 col-sm-10 m-t-1">
                    <label>
                        @Html.CheckBox("Subscribed", @Model.Subscribed)
                        @T("Forum.NotifyWhenSomeonePostsInThisTopic")
                    </label>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-sm-push-2 col-sm-10 m-t-1">
                <button type="submit" class="btn btn-primary"><i class="fa fa-reply"></i>@T("Forum.Submit")</button>
                <button class="btn" onclick="setLocation('@Url.RouteUrl("TopicSlug", new { id = Model.ForumTopicId, slug = Model.ForumTopicSeName })'); return false;">@T("Forum.Cancel")</button>
            </div>
        </div>
    </div>
}
