@using SmartStore.Web.Framework;
@using SmartStore.Web.Framework.UI;
@using SmartStore.Plugin.Payments.Sofortueberweisung.Models;
@{
    Layout = "";

	Html.AddCssFileParts(@Url.Content("~/Plugins/Payments.Sofortueberweisung/Content/smartstore.sofortueberweisung.css"));
}
@model ConfigurationModel

<table class="adminContent">
<tr>
    <td>
		<a href="https://www.sofort.com/" target="_blank">
			<img src="@Url.Content("~/Plugins/Payments.Sofortueberweisung/Content/images/logo200x75.png")" alt="SOFORT Überweisung" class="config-logo" />
		</a>
    </td>
</tr>
<tr>
    <td>
		@Html.Raw(@T("Plugins.Payments.Sofortueberweisung.AdminInstruction"))
    </td>
</tr>
<tr>
    <td style="width:100%;">
        <hr />
    </td>
</tr>
</table>

@using (Html.BeginForm()) {
	<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ApiConfigKey)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.ApiConfigKey)
            @Html.ValidationMessageFor(model => model.ApiConfigKey)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.PaymentReason1)
        </td>
        <td class="adminData">
            @Html.DropDownListFor(model => model.PaymentReason1, Model.AvailablePaymentReason)
            @Html.ValidationMessageFor(model => model.PaymentReason1)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.PaymentReason2)
        </td>
        <td class="adminData">
            @Html.DropDownListFor(model => model.PaymentReason2, Model.AvailablePaymentReason)
            @Html.ValidationMessageFor(model => model.PaymentReason2)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.AdditionalFee)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.AdditionalFee)
            @Html.ValidationMessageFor(model => model.AdditionalFee)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.AdditionalFeePercentage)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.AdditionalFeePercentage)
            @Html.ValidationMessageFor(model => model.AdditionalFeePercentage)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ValidateOrderTotal)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.ValidateOrderTotal)
            @Html.ValidationMessageFor(model => model.ValidateOrderTotal)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.SaveWarnings)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.SaveWarnings)
            @Html.ValidationMessageFor(model => model.SaveWarnings)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ShowFurtherInfo)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.ShowFurtherInfo)
            @Html.ValidationMessageFor(model => model.ShowFurtherInfo)
        </td>
    </tr>
    <tr class="further-info-url">
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.FurtherInfoUrl)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.FurtherInfoUrl)
            @Html.ValidationMessageFor(model => model.FurtherInfoUrl)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.CustomerProtection)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.CustomerProtection)
            @Html.ValidationMessageFor(model => model.CustomerProtection)
        </td>
    </tr>
    <tr class="customer-protection-url">
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.CustomerProtectionInfoUrl)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.CustomerProtectionInfoUrl)
            @Html.ValidationMessageFor(model => model.CustomerProtectionInfoUrl)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.UseTestAccount)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.UseTestAccount)
            @Html.ValidationMessageFor(model => model.UseTestAccount)
        </td>
    </tr>
    <tr class="test-account-data">
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.AccountHolder)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.AccountHolder)
            @Html.ValidationMessageFor(model => model.AccountHolder)
        </td>
    </tr>
    <tr class="test-account-data">
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.AccountNumber)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.AccountNumber)
            @Html.ValidationMessageFor(model => model.AccountNumber)
        </td>
    </tr>
    <tr class="test-account-data">
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.AccountBankCode)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.AccountBankCode)
            @Html.ValidationMessageFor(model => model.AccountBankCode)
        </td>
    </tr>
    <tr class="test-account-data">
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.AccountCountry)
        </td>
        <td class="adminData">
			@Html.DropDownList("AccountCountry", new List<SelectListItem> {
				new SelectListItem { Selected = true, Text = @T("Plugins.Payments.Sofortueberweisung.Germany"), Value = "DE" }
			})
            @Html.ValidationMessageFor(model => model.AccountCountry)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">&nbsp;</td>
        <td class="adminData">
            <button type="submit" name="save" class="btn btn-primary" value="save">
                <i class="icon-ok"></i>&nbsp;@T("Admin.Common.Save")
            </button>
        </td>
    </tr>
	</table>
}

<script type="text/javascript">
	$(document).ready(function () {
		function ToggleTestAccount() {
			$('.test-account-data').toggle($('#@Html.FieldIdFor(model => model.UseTestAccount)').is(':checked'));
		}
		function ToggleFurtherInfoUrl() {
			$('.further-info-url').toggle($('#@Html.FieldIdFor(model => model.ShowFurtherInfo)').is(':checked'));
		}
		function ToggleCustomerProtectionInfoUrl() {
			$('.customer-protection-url').toggle($('#@Html.FieldIdFor(model => model.CustomerProtection)').is(':checked'));
		}

		$('#@Html.FieldIdFor(model => model.UseTestAccount)').click(ToggleTestAccount);
		ToggleTestAccount();
		$('#@Html.FieldIdFor(model => model.ShowFurtherInfo)').click(ToggleFurtherInfoUrl);
		ToggleFurtherInfoUrl();
		$('#@Html.FieldIdFor(model => model.CustomerProtection)').click(ToggleCustomerProtectionInfoUrl);
		ToggleCustomerProtectionInfoUrl();
	});
</script>