@using SmartStore.Web.Framework.UI;
@using SmartStore;
@{
    Layout = "";
}
<table style="width:100%; margin-bottom:10px;">
<tr>
    <td>
		<img src="@Url.Content("~/Plugins/Payments.Sofortueberweisung/Content/images/logo200x75.png")" alt="SOFORT Überweisung" style="float: left; margin-right: 20px; width: 200px; height: 75px;" />
    </td>
	<td style="vertical-align: top;">
		@T("Plugins.Payments.Sofortueberweisung.RedirectionTip")

		@if ((ViewData["FurtherInfoUrl"] as string).HasValue())
		{
			<a href="@ViewData["FurtherInfoUrl"]" target="_blank" rel="nofollow">@T("Plugins.Payments.Sofortueberweisung.FurtherInfos")</a>
		}
		@if ((ViewData["CustomerProtectionInfoUrl"] as string).HasValue())
		{
			<div style="margin-top: 12px;">
				<a href="@ViewData["CustomerProtectionInfoUrl"]" target="_blank" rel="nofollow">
					@T("Plugins.Payments.Sofortueberweisung.CustomerProtectionInfo")
				</a>
			</div>
		}
	</td>
</tr>
</table>