@*@{
	Html.SmartStore().Window()
        .Name("duplicate-window")
        .CloseOnEscapePress(false)
        .CloseOnBackdropClick(false)
        .RenderAtPageEnd(true)
        .Content(DialogBody())
        .FooterContent(Footer())
        .Render();
}*@

@*TODO: Make it modal*@

<div id="duplicate-window" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="duplicate-window" data-keyboard="false" data-show="true" data-focus="true" data-backdrop="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				@DialogBody()
			</div>
			<div class="modal-footer">
				@Footer()
			</div>
		</div>
	</div>
</div>

@helper DialogBody()
{
	<h5 class="modal-title mb-3" id="duplicate-windowLabel">@T("FileUploader.DuplicateDialog.Title")</h5>

	<div id="duplicate-conflict-status">
		<p class="intro">
			@T("FileUploader.DuplicateDialog.Intro")
		</p>
	</div>

	<div class="row no-gutters my-3">
		<div class="col col-auto mr-3">
			<label class="xswitch">
				<input checked="checked" class="check-box xform-check-input" id="skip" name="duplicate-handling" type="radio" value="true" data-enum-id="0">
				@*<span class="switch-toggle" data-on="@T("Common.On")" data-off="@T("Common.Off")"></span>*@
			</label>
		</div>
		<div class="col">
			<h6>
				@T("FileUploader.DuplicateDialog.Option.Skip")
			</h6>
			<p class="mb-1">
				@T("FileUploader.DuplicateDialog.Option.Skip.Hint")
			</p>
		</div>
	</div>
	<div class="row no-gutters mb-3">
		<div class="col col-auto mr-3">
			<label class="xswitch">
				<input class="check-box xform-check-input" id="overwrite" name="duplicate-handling" type="radio" value="true" data-enum-id="1">
				@*<span class="switch-toggle" data-on="@T("Common.On")" data-off="@T("Common.Off")"></span>*@
			</label>
		</div>
		<div class="col">
			<h6>
				@T("FileUploader.DuplicateDialog.Option.Overwrite")
			</h6>
			<p class="mb-1">
				@T("FileUploader.DuplicateDialog.Option.Overwrite.Hint")
			</p>
		</div>
	</div>
	<div class="row no-gutters mb-3">
		<div class="col col-auto mr-3">
			<label class="xswitch">
				<input class="check-box xform-check-input" id="keep" name="duplicate-handling" type="radio" value="true" data-enum-id="2">
				@*<span class="switch-toggle" data-on="@T("Common.On")" data-off="@T("Common.Off")"></span>*@
			</label>
		</div>
		<div class="col">
			<h6>
				@T("FileUploader.DuplicateDialog.Option.Keep")
			</h6>
			<p class="mb-1">
				@T("FileUploader.DuplicateDialog.Option.Keep.Hint")
			</p>
		</div>
	</div>
}

@helper Footer()
{
	<div class="container">
		<div class="row">
			<div class="col text-right">
				<a href="#" id="accept-selected" name="accept-selected" class="btn btn-lg btn-primary">
					@T("Common.Confirm")
				</a>
			</div>
		</div>
	</div>
}

<script>
	/*
    var dialog = $("#duplicate-window").first();		

    var option1 = $("#Skip", dialog);
	var option2 = $("#Overwrite", dialog);
    var option3 = $("#Keep", dialog);

    $(".check-box", dialog).on("change", function () {
        var el = $(this);
        var id = el[0].id;

        if (id == "Skip") {
            option2.removeAttr("checked").trigger("change");
			option3.removeAttr("checked").trigger("change");
        }
        else if (id == "Overwrite") {
            option1.removeAttr("checked").trigger("change");
			option3.removeAttr("checked").trigger("change");
        }
		else if (id == "Keep") {
            option1.removeAttr("checked").trigger("change");
			option2.removeAttr("checked").trigger("change");
        }
	});
	*/
</script>