@model ShopHeaderModel

@using SmartStore.Web.Models.Common;

<a href="@Url.RouteUrl("HomePage")" class="brand@(Model.LogoUploaded ? "" : " textual")">          
    @if (Model.LogoUploaded)
    {
        // "Above the fold" image: preload logo to render it fast.
        var logoUrl = Model.LogoUrl.EmptyNull();
        Html.AddLinkPart("preload", logoUrl, new { @as = "image" });

        <img src='@logoUrl' 
            alt="@Model.LogoTitle" 
            title="@Model.LogoTitle"
			class="img-fluid"
            @Html.Attr("width", Model.LogoWidth.ToString(), Model.LogoWidth > 0)
            @Html.Attr("height", Model.LogoHeight.ToString(), Model.LogoHeight > 0) />
    }
    else
    {
        @Model.LogoTitle    
    }
</a>
