@model ServiceMenuModel

@using SmartStore.Web.Models.Common;
@using SmartStore.Services.Cms;

@{
	var links = new List<LinkResolverResult>
	{
		LinkResolver.Resolve("topic:aboutus"),
		LinkResolver.Resolve("topic:disclaimer"),
		LinkResolver.Resolve("topic:shippinginfo"),
		LinkResolver.Resolve("topic:conditionsofuse")
	};
}

@if (Model.RecentlyAddedProductsEnabled)
{
	<a href="@Url.RouteUrl("RecentlyAddedProducts")" class="dropdown-item">@T("Products.NewProducts")</a>
}
@if (Model.ManufacturerEnabled)
{
	<a href="@Url.RouteUrl("ManufacturerList")" class="dropdown-item">@T("Manufacturers.List")</a>
}
@if (Model.RecentlyViewedProductsEnabled)
{
	<a href="@Url.RouteUrl("RecentlyViewedProducts")" class="dropdown-item">@T("Products.RecentlyViewedProducts")</a>
}
@if (Model.CompareProductsEnabled)
{
	<a href="@Url.RouteUrl("CompareProducts")" class="dropdown-item">@T("Products.Compare.List")</a>
}

<div class="dropdown-divider"></div>

@foreach (var link in links)
{
	if (link.Status == LinkStatus.Ok)
	{
		<a href="@link.Link" class="dropdown-item">@link.Label</a>
	}
}
