@model ShopBarModel

@using SmartStore.Web.Models.Common;

@{ 
	string accountUrl = Model.IsAuthenticated ? Url.Action("Info", "Customer") : Url.RouteUrl("Login", new { ReturnUrl = Request.RawUrl });
	var labelStyle = GetThemeVariable<string>("shopbar-label", "warning");
	var useFa = false;
}

<div class="shopbar-col shopbar-tools">
	<!-- Hamburger Menu -->
	<div class="shopbar-tool hidden-lg-up" id="shopbar-menu">
		<a class="shopbar-button" href="#" data-toggle="offcanvas" data-autohide="true" data-placement="left" data-fullscreen="false" data-disablescrolling="true" data-target="#offcanvas-menu">
			<span class="shopbar-button-icon">
				<i class="@(useFa ? "fa fa-bars" : "lnr lnr-menu")"></i>
			</span>
			<span class="shopbar-button-label-sm">
				@T("Common.Menu")
			</span>
		</a>
	</div>

	<!-- User -->
	<div class="shopbar-tool hidden-lg-up" id="shopbar-user">
		<a class="shopbar-button" href="@accountUrl">
			<span class="shopbar-button-icon">
				<i class="@(useFa ? "fa fa-user" : "lnr lnr-user")"></i>
			</span>
			<span class="shopbar-button-label-sm">
				@T(Model.IsAuthenticated ? "Account.MyAccount" : "Account.Login")
			</span>
		</a>
	</div>

	@if (Model.WishlistEnabled)
	{
		<div class="shopbar-tool" id="shopbar-wishlist" data-target="#wishlist-tab">
			<a class="shopbar-button navbar-toggler" data-toggle="offcanvas" data-summary-href="@Url.Action("ShoppingCartSummary", "ShoppingCart", new { isWishlist = true })"
				data-autohide="true" data-placement="right" data-fullscreen="false" data-disablescrolling="true" data-target="#offcanvas-cart">
				<span class="shopbar-button-icon">
					<i class="@(useFa ? "fa fa-heart-o" : "lnr lnr-heart")"></i>
					<span class='label label-pill label-cart-amount label-@labelStyle @(Model.WishlistItems == 0 ? "hidden-xs-up" : "")' data-bind-to="TotalProducts">@Model.WishlistItems</span>
				</span>
				<span class="shopbar-button-label">
					<span>@T("Common.Shopbar.WishlistPartOne")</span><br />
					<span style="font-weight: bold; color: #333">@T("Common.Shopbar.WishlistPartTwo")</span>
				</span>
				<span class="shopbar-button-label-sm">
					@T("Wishlist")
				</span>
			</a>
		</div>
	}

	@if (Model.CompareProductsEnabled)
	{
		<div class="shopbar-tool" id="shopbar-compare" data-target="#compare-tab">
			<a class="shopbar-button navbar-toggler" data-toggle="offcanvas" data-summary-href="@Url.Action("CompareSummary", "Catalog")"
				data-autohide="true" data-placement="right" data-fullscreen="false" data-disablescrolling="true" data-target="#offcanvas-cart">
				<span class="shopbar-button-icon">
					<i class="@(useFa ? "fa fa-retweet" : "lnr lnr-sync")"></i>
					<span class='label label-pill label-cart-amount label-@labelStyle @(Model.CompareItems == 0 ? "hidden-xs-up" : "")' data-bind-to="CompareSummary">@Model.CompareItems</span>
				</span>
				<span class="shopbar-button-label">
					<span>@T("Common.Shopbar.CompareProductsPartOne")</span><br />
					<span style="font-weight: bold; color: #333">@T("Common.Shopbar.CompareProductsPartTwo")</span>
				</span>
				<span class="shopbar-button-label-sm">
					@T("Common.Shopbar.Compare")
				</span>
			</a>
		</div>
	}

	@if (Model.ShoppingCartEnabled)
	{
		<div class="shopbar-tool" id="shopbar-cart" data-target="#cart-tab">
			<a class="shopbar-button navbar-toggler" data-toggle="offcanvas" data-summary-href="@Url.Action("ShoppingCartSummary", "ShoppingCart")"
			   data-autohide="true" data-placement="right" data-fullscreen="false" data-disablescrolling="true" data-target="#offcanvas-cart">
				<span class="shopbar-button-icon">
					<i class="@(useFa ? "fa fa-shopping-basket" : "lnr lnr-cart")"></i>
					<span class='label label-pill label-cart-amount label-@(labelStyle)@(Model.ShoppingCartItems == 0 ? " hidden-xs-up" : "")' data-bind-to="TotalProducts">
						@Model.ShoppingCartItems
					</span>
				</span>
				<span class="shopbar-button-label">
					<span data-bind-to="SubTotal">@Model.ShoppingCartAmount</span><br />
					<span style="font-weight: bold; color: #333">@T("Common.Shopbar.Basket")</span>
				</span>
				<span class="shopbar-button-label-sm">
					@T("Common.Shopbar.Basket")
				</span>
			</a>
		</div>
	}
</div>

@using (Html.BeginZoneContent("end", key: "offcanvas-menu"))
{
	<aside id="offcanvas-menu" class="offcanvas offcanvas-overlay offcanvas-left offcanvas-shadow" data-blocker="true" data-overlay="true" data-placement="left">
		<div class="offcanvas-content">
			<!-- AJAX -->
		</div>
	</aside>
}

@using (Html.BeginZoneContent("end", key: "offcanvas-cart"))
{
	<aside id="offcanvas-cart" class="offcanvas offcanvas-lg offcanvas-overlay offcanvas-right offcanvas-shadow" data-lg="true" data-blocker="true" data-overlay="true">
		<div class="offcanvas-content">
			@Html.Action("OffCanvasCart", "ShoppingCart", new { area = "" })
		</div>
	</aside>
}