@model ProductSummaryModel.SummaryItem

@using SmartStore.Web.Models.Catalog;

@{
	var list = Model.Parent;
	var artDetailUrl = Url.RouteUrl("Product", new RouteValueDictionary { { "SeName", Model.SeName } });
}

<div class="art-variant-info">
	@if (Model.ColorAttributes != null && Model.ColorAttributes.Any())
	{
		<div class="art-color-opts">
			@foreach (var clr in Model.ColorAttributes)
			{
				var qs = "?product_attribute_{0}_{1}_{2}_{3}={4}".FormatInvariant(Model.Id /* ProductId */, 0 /* BundleItemId */, clr.AttributeId, clr.Id, clr.Id);
				@* TODO: (mc) Append attribute query to url *@
				@* TODO: (mc) > (mg) WTF IS GOING ON HERE!??!!! *@
				<a href='@(artDetailUrl + qs)' class="art-color-opt" style="background-color: @clr.Color" title='@T("Products.ChooseColorX", clr.FriendlyName, clr.AttributeName)'></a>
			}
		</div>
	}

	@if (Model.Attributes.Any())
	{
		<div class="art-more-opts">
			@if (Model.Attributes.Count == 1)
			{
				<span>@T("Products.PlusOption"):</span>
				<a href="@artDetailUrl">@Model.Attributes[0].Name</a>
			}
			else
			{
				if (list.ViewMode == ProductSummaryViewMode.List)
				{
					<span>@T("Products.PlusOptions"):</span>
				}
				else
				{
					<div>@T("Products.PlusOptions"):</div>
				}

				<a href="@artDetailUrl">@String.Join(", ", Model.Attributes.Select(x => x.Name)).Truncate(50, "...")</a>
			}
		</div>
	}
</div>

