@model ProductSummaryModel.SummaryItem

@using SmartStore.Web.Models.Catalog;

<div class="art-brand">
	@if (Model.Manufacturer != null)
    {
        var picture = Model.Manufacturer.Picture;
        if (picture?.ImageUrl != null && Model.Parent.ViewMode == ProductSummaryViewMode.List)
        {
            // TODO: (mc) (low) Whether to link or not > make setting.
			<a href="@Url.RouteUrl("Manufacturer", new RouteValueDictionary { { "SeName", Model.Manufacturer.SeName } })" title="@picture.Title">
				<img src="@picture.ImageUrl" alt="@picture.AlternateText" class="art-brand-picture" />
			</a>
		}
		else
		{
			<span @Html.LanguageAttributes(Model.Manufacturer.Name)>@Model.Manufacturer.Name</span>
		}
	}
</div>



