@model ProductOverviewModel

@using System.Globalization;
@using SmartStore.Web.Models.Catalog;

@{ 
	// Perf: we use RouteValueDictionary instead of anonymous objects in this view because it's slightly faster
	// prepare "Add to cart" AJAX link
	string addToCartUrl = "";
	if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
	{
		addToCartUrl = Url.Action("AddProductSimple", "ShoppingCart", new RouteValueDictionary { { "productId", Model.Id }, { "forceredirection", Model.ProductPrice.ForceRedirectionAfterAddingToCart } });
	}
	else
	{
		addToCartUrl = Url.Action("AddProductSimple", "ShoppingCart", new RouteValueDictionary { { "productId", Model.Id } });
	}

	bool showQuicklinks = !Model.ProductPrice.DisableWishListButton || Model.CompareEnabled;

	var artDetailUrl = Url.RouteUrl("Product", new RouteValueDictionary { { "SeName", Model.SeName } });
	var picture = Model.DefaultPictureModel;
}

<article class="art" data-id="@Model.Id" data-price="@Model.ProductPrice.PriceValue.ToString("F", CultureInfo.InvariantCulture)">
	<div class="art-picture-block">
		@* TODO: (mc) Read max picture size from product list and set height per partial *@
		@if (picture.Title.HasValue())
		{
			<a class="art-picture" href="@artDetailUrl" title="@picture.Title">
				<img src="@picture.ImageUrl" alt="@picture.AlternateText" title="@picture.Title" />
			</a>
		}
	</div>

	@if (Model.Badges.Any())
	{
		@* TODO: (mc) Let user define one free badge per product in backend *@
		<div class="art-badges">
			@foreach (var badge in Model.Badges.OrderBy(x => x.DisplayOrder))
			{
				@* TODO: (mc) Move BS4 label/tag class definitions to art-badge.art-badge-[style] (?)  *@
				<span class="label label-@badge.Style.ToString().ToLowerInvariant() art-badge">@Html.Raw(badge.Label)</span>
			}
			<span class="label label-warning art-badge">Neu</span>
		</div>
	}

	<div class="art-info-block">
		@if (Model.ShowReviews)
		{
			int ratingPercent = 0;
			if (Model.TotalReviews != 0)
			{
				ratingPercent = ((Model.RatingSum * 100) / Model.TotalReviews) / 5;
				ratingPercent = 82;
			}

			string reviewTitle = "";
			if (Model.TotalReviews > 0)
			{
				reviewTitle = Model.TotalReviews + (Model.TotalReviews == 1 ? T("Reviews.Overview.Review") : T("Reviews.Overview.Reviews"));
			}
			<div class="art-rating" title="@reviewTitle">
				<div class="rating">
					<div style="width: @(ratingPercent)%"></div>
				</div>
			</div>
		}

		<h4 class="art-name">
			<a href="@artDetailUrl" title="@Model.Name">
				<span>@Model.Name</span>
			</a>
		</h4>

		<div class="art-description" title="@Model.ShortDescription">
			@* TODO: (mc) Only render description block when merchant wishes so and only when at least one description is specified *@
			@Html.Raw(Model.ShortDescription)
		</div>

		@if (Model.ShowDeliveryTimes)
		{
			@* TODO: (mc) Put in own partial *@
			<div class="art-delivery-info">
				@if (Model.IsShipEnabled && Model.DeliveryTimeName.HasValue() && Model.DeliveryTimeHexValue.HasValue())
				{
					var statusLabel = Model.DisplayDeliveryTimeAccordingToStock ? Model.DeliveryTimeName : Model.StockAvailablity;
					<span class="delivery-time" title="@T("Products.DeliveryTime"): @statusLabel" @Html.Attr("style", "color:" + Model.DeliveryTimeHexValue, Model.DisplayDeliveryTimeAccordingToStock)>
						<i class="fa fa-circle delivery-time-status"></i>
						@statusLabel
					</span>
				}
			</div>
		}

		<div class="art-price-block">
			<span class="art-price@(Model.ProductPrice.OldPrice.HasValue() ? " art-price--offer" : "")">@Model.ProductPrice.Price</span>
			@if (Model.ProductPrice.OldPrice.HasValue())
			{
				<span class="art-oldprice">@Model.ProductPrice.OldPrice</span>
			}
			@if (Model.TransportSurcharge.HasValue())
			{
				<div class="art-shipsurcharge">
					@Html.Raw(Model.TransportSurcharge)
				</div>
			}
			@if (Model.DisplayBasePrice && Model.BasePriceInfo.HasValue())
			{
				<div class="art-pangv" @Html.Attr("title", Model.BasePriceInfo, Model.BasePriceInfo.HasValue())>
					@Html.Raw(Model.BasePriceInfo ?? "&nbsp;")
				</div>
			}

			@* TODO: (mc) Optionally display saving (You save: 123 EUR / 12 %). In the badge also.  *@
		</div>
	</div>

	<div class="art-buttons-block">
		<div class="row">
			<a class="col-xs bg-primary color-white"><i class="fa fa-cart-plus"></i></a>
			<a class="col-xs"><i class="fa fa-heart-o"></i></a>
			<a class="col-xs"><i class="fa fa-retweet"></i></a>
			<a class="col-xs"><i class="fa fa-info"></i></a>
		</div>
	</div>
</article>

