@model ProductSummaryModel

@using SmartStore.Web.Models.Catalog;

<div class="artlist-action artlist-action--sort hidden-md-down">
	<div class="mf-dropdown">
		<button class="btn btn-secondary btn-artlist-action">
			<em class="hidden-md-down">@T("Products.SortBy")</em>
			<span>@Model.CurrentSortOrderName</span>
			<i class="fa fa-caret-down"></i>
		</button>
		<select class="artlist-action-select form-control noskin" name="artlist-action-sort" id="artlist-action-sort" data-qname="o" title="@T("Products.SortBy"): @Model.CurrentSortOrderName">
			@foreach (var sort in Model.AvailableSortOptions)
			{
				<option value="@sort.Key" @Html.Attr("selected", "selected", sort.Key == Model.CurrentSortOrder)>@sort.Value</option>
			}
		</select>
	</div>
</div>

<div class="row no-space hidden-lg-up">
	<div class="col-xs-6 bg-primary" style="border-right: 1px solid #fff">
		<div class="artlist-action artlist-action--filter">
			<div class="mf-dropdown">
				<button class="btn btn-primary btn-no-border icon-right btn-lg btn-block font-weight-normal text-uppercase">
					Filtern
					<i class="fa fa-fw fa-caret-down"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="col-xs-6 bg-grey-100" style="border-left: 1px solid #fff">
		<div class="artlist-action artlist-action--sort">
			<div class="mf-dropdown">
				<button class="btn btn-secondary btn-flat icon-right btn-lg btn-block font-weight-normal text-uppercase">
					Sortieren
					<i class="fa fa-fw fa-caret-down"></i>
				</button>
				<select class="artlist-action-select form-control noskin" name="artlist-action-sort2" id="artlist-action-sort2" data-qname="o" title="@T("Products.SortBy"): @Model.CurrentSortOrderName">
					@foreach (var sort in Model.AvailableSortOptions)
					{
						<option value="@sort.Key" @Html.Attr("selected", "selected", sort.Key == Model.CurrentSortOrder)>@sort.Value</option>
					}
				</select>
			</div>
		</div>
	</div>
</div>