@model ProductSummaryModel

@using SmartStore.Web.Models.Catalog;
@using SmartStore.Services.Search.Modelling;

<div class="artlist-actions clearfix">
	@if (Model.AllowSorting)
	{
		<div class="artlist-action artlist-action--sort pull-xs-left">
			<div class="form-group">
				<label for="artlist-action-sort" class="hidden-lg-up">@T("Products.SortBy")</label>
				<div class="mf-dropdown">
					<button class="btn btn-secondary btn-artlist-action">
						<em class="hidden-md-down">@T("Products.SortBy")</em>
						<span>@Model.CurrentSortOrderName</span>
						<i class="fa fa-caret-down"></i>
					</button>
					<select class="artlist-action-select form-control noskin" name="artlist-action-sort" id="artlist-action-sort" data-qname="o" title="@T("Products.SortBy"): @Model.CurrentSortOrderName">
						@foreach (var sort in Model.AvailableSortOptions)
						{
							<option value="@sort.Key" @Html.Attr("selected", "selected", sort.Key == Model.CurrentSortOrder)>@sort.Value</option>
						}
					</select>
				</div>
			</div>
		</div>
	}

	@if (Model.AvailablePageSizes != null && Model.AvailablePageSizes.Any())
	{
		<div class="artlist-action artlist-action--pagesize pull-xs-left">
			<div class="form-group">
				<label for="artlist-action-sort" class="hidden-lg-up">@T("Products.PageSize")</label>
				<div class="mf-dropdown">
					<button class="btn btn-secondary x-btn-lg btn-artlist-action">
						<em class="hidden-md-down">@T("Products.PageSize")</em>
						<span>@Model.PagedList.PageSize</span>
						<i class="fa fa-caret-down"></i>
					</button>
					<select class="artlist-action-select form-control noskin" 
							name="artlist-action-pagesize" 
							id="artlist-action-pagesize" 
							data-qname="s" 
							data-url='@ModifyUrl(null, null, "i")' 
							title="@T("Products.PageSize"): @Model.PagedList.PageSize">
						@foreach (var size in Model.AvailablePageSizes)
						{
							<option value="@size" @Html.Attr("selected", "selected", size == Model.PagedList.PageSize)>@size</option>
						}
					</select>
				</div>
			</div>
		</div>
	}

	@if (Model.AllowViewModeChanging && Model.ViewMode == ProductSummaryViewMode.Grid || Model.ViewMode == ProductSummaryViewMode.List)
	{
		<div class="artlist-action artlist-action--viewmode pull-xs-left">
			<div class="form-group">
				<label class="hidden-lg-up">&nbsp;</label>
				<div class="artlist-action artlist-action--viewmode">
					@if (Model.ViewMode == ProductSummaryViewMode.Grid)
					{
						<a href='@ModifyUrl(null, "v=list")' class="btn btn-secondary btn-artlist-action tooltip-toggle" data-toggle="tooltip" rel="nofollow" title="@T("Products.SwitchToList")">
							<i class="fa fa-list"></i>
						</a>
					}
					else
					{
						<a href='@ModifyUrl(null, "v=grid")' class="btn btn-secondary btn-artlist-action tooltip-toggle" data-toggle="tooltip" rel="nofollow" title="@T("Products.SwitchToGrid")">
							<i class="fa fa-th"></i>
						</a>
					}
				</div>
			</div>
		</div>
	}

	@if (Model.PagedList.TotalCount > 1)
	{
		<div class="artlist-action artlist-action--paging pull-xs-right">
			<div class="form-group">
				<label class="hidden-lg-up">@T("Admin.Telerik.GridLocalization.Page")</label>
				<div class="artlist-action-wrapper clearfix">
					<a href='@ModifyUrl(null, "i=" + (Model.PagedList.PageNumber - 1))' class="btn btn-secondary pull-xs-left">
						<i class="fa fa-chevron-left"></i>
					</a>

					<div class="mf-dropdown pull-xs-left hidden-xs-down" style="margin: 0 0.5rem">
						<button class="btn btn-secondary btn-artlist-action">
							<em class="hidden-md-down">Seite</em>
							<span>@Model.PagedList.PageNumber</span>
							<em>von</em>
							<span>@Model.PagedList.TotalPages</span>
							<i class="fa fa-caret-down"></i>
						</button>
						<select class="artlist-action-select form-control noskin" name="artlist-action-pagesize" id="artlist-action-pagesize" data-qname="i" title="@T("Products.PageSize"): @Model.PagedList.PageSize">
							@for (var i = 1; i <= Model.PagedList.TotalPages; i++)
							{
								<option value="@i" @Html.Attr("selected", "selected", i == Model.PagedList.PageNumber)>Seite @i von @Model.PagedList.TotalPages</option>
							}
						</select>
					</div>

					<a href='@ModifyUrl(null, "i=" + (Model.PagedList.PageNumber + 1))' class="btn btn-secondary pull-xs-left">
						<i class="fa fa-chevron-right"></i>
					</a>
				</div>
			</div>
		</div>
	}
</div>