@model IEnumerable<AuthenticationMethodModel>
@{
	ViewBag.Title = T("Admin.Configuration.ExternalAuthenticationMethods").Text;
}

@Html.AntiForgeryToken()

<div class="section-header">
	<div class="title">
		<i class="fa fa-lock"></i>
		@T("Admin.Configuration.ExternalAuthenticationMethods")
	</div>
</div>

<table class="adminContent provider-list">
	<tr>
		<td>
			@Html.ProviderList(Model,
					@<div>
						<a class="activate-provider btn btn-@(item.IsActive ? "secondary btn-to-danger" : "success")" style="min-width: 150px"
						   data-href='@Url.Action("ActivateProvider")' href="#" data-systemname="@item.SystemName" data-activate="@(!item.IsActive ? "true" : "false")">
							@T("Admin.Common.{0}".FormatInvariant(item.IsActive ? "Deactivate" : "Activate"))
						</a>
					</div>)
		</td>
	</tr>
</table>