@using SmartStore.Admin.Models.Menus
@model MenuItemRecordModel
@{
	ViewBag.Title = T("Admin.ContentManagement.EditMenuItem");
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            @T("Admin.ContentManagement.EditMenuItem") - @Model.Title @Html.ActionLink("(" + T("Common.Back") + ")", "Edit", new { id = Model.MenuId })
        </div>
        <div class="options">
            <button type="submit" name="save-item" value="save-item" class="btn btn-warning">
				<i class="fa fa-check"></i>
				<span>@T("Admin.Common.Save")</span>
			</button>
            <button type="submit" name="save-item-continue" value="save-item-continue" class="btn btn-secondary">
				<span>@T("Admin.Common.SaveContinue")</span>
			</button>
            <button type="submit" name="delete-item" value="delete-item" id="delete-item" class="btn btn-danger">
				<i class="far fa-trash-alt"></i>
				<span>@T("Admin.Common.Delete")</span>
			</button>
        </div>
    </div>

    Html.RenderPartial("_CreateOrUpdate.Item", Model);
}
@Html.DeleteConfirmation("DeleteItem", "delete-item")