@using SmartStore.Admin.Models.Menus
@model MenuRecordModel
@{
	ViewBag.Title = T("Admin.ContentManagement.EditMenu");
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            @T("Admin.ContentManagement.EditMenu") - @Model.Title @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-warning">
				<i class="fa fa-check"></i>
				<span>@T("Admin.Common.Save")</span>
			</button>
            <button type="submit" name="save" value="save-continue" class="btn btn-secondary">
				<span>@T("Admin.Common.SaveContinue")</span>
			</button>
            <button type="submit" name="delete-menu" value="delete-menu" id="delete-menu" class="btn btn-danger">
				<i class="far fa-trash-alt"></i>
				<span>@T("Admin.Common.Delete")</span>
			</button>
        </div>
    </div>

    Html.RenderPartial("_CreateOrUpdate", Model);
}
@Html.DeleteConfirmation("delete-menu")