@model Telerik.Web.Mvc.GridModel<ProductAttributeModel>
@using Telerik.Web.Mvc.UI
@{  
    ViewBag.Title = T("Admin.Catalog.Attributes.ProductAttributes").Text;
}
<div class="section-header">
    <div class="title">
        @T("Admin.Catalog.Attributes.ProductAttributes")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<ProductAttributeModel>(Model.Data)
					.Name("productattributes-grid")
					.Columns(columns =>
					{
						columns.Bound(x => x.Name)
							.Template(x => Html.ActionLink(x.Name, "Edit", new { id = x.Id }))
							.ClientTemplate("<a href='Edit/<#= Id #>'><#= Name #></a>");
						columns.Bound(x => x.Alias);
						columns.Bound(x => x.AllowFiltering)
							.Width(200)
							.Template(item => @Html.SymbolForBool(item.AllowFiltering))
							.ClientTemplate(@Html.SymbolForBool("AllowFiltering"))
							.Centered();
						columns.Bound(x => x.DisplayOrder)
							.Width(200)
							.Centered();
					})
					.DataBinding(dataBinding => dataBinding.Ajax().Select("List", "ProductAttribute"))
					.EnableCustomBinding(true))
        </td>
    </tr>
</table>