@model IList<CategorySummaryModel>

@using SmartStore.Web.Models.Catalog;

@{ 
	if (Model.Count == 0)
	{
		return;
	}
}

<div class="artlist artlist-grid artlist-6-cols artlist-boxed artlist-homepage-categories">
	@foreach (var item in Model)
	{
		var picture = item.PictureModel;
		var linkTitle = string.Format(T("Media.Category.ImageLinkTitleFormat"), item.Name);

		<article class="art" data-id="@item.Id">
			<div class="art-picture-block">
				@if (picture != null && picture.ImageUrl.HasValue())
				{
					<a class="art-picture img-center-container" href="@item.Url" title="@linkTitle">
						<img src="@picture.ImageUrl" alt="@picture.AlternateText" title="@picture.Title" loading="lazy" />
					</a>
				}
			</div>
			<div class="art-genericname">
				<a href="@item.Url" title="@linkTitle">
					<span @Html.LanguageAttributes(item.Name)>@item.Name</span>
				</a>
			</div>
		</article>
	}
</div>
