@model ProductSummaryModel

@using SmartStore.Web.Models.Catalog;

<div class="offcanvas-cart-body">
    <div class="no-items text-muted @(Model.Items.Count > 0 ? "hidden-xs-up" : "")">
        @T("Products.Compare.ListIsEmpty")
    </div>

    @if (Model.Items.Count > 0)
    {
        <ul class="items list-unstyled">
            @for (int i = 0, length = Model.Items.Count; i < length; i++)
            {
                var item = Model.Items[i];
                string itemClass = "item clearfix";
                if (i == 0)
                {
                    itemClass += " alpha";
                }
                
                <li class="@itemClass card text-xs-center">
                    <figure class="picture pull-left pull-xs-none">
						@if (item.Picture != null && item.Picture.ImageUrl.HasValue())
						{
							<a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="@item.Picture.Title">
								<img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
							</a>
						}
                    </figure>

                    <div class="data pull-left text-xs-left">
                        <a class="name" href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="@item.Name">@item.Name</a>
                        <p class="short-desc">
                            @Html.Raw(item.ShortDescription.Truncate(140, "..."))
                        </p>
                    </div>

                    <div class="price pull-right text-nowrap">
                        @item.Price.Price
                    </div>

                    <div class="toolbar">
                        <a class="btn btn-danger btn-sm btn-icon remove ajax-cart-link"
                           href="#"
                           rel="nofollow"
                           data-href='@Url.Action("RemoveProductFromCompare", "Catalog", new { id = item.Id })'
                           data-type="compare"
                           data-action="remove"
                           title='@T("Common.Remove")'>
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </li>
            }
        </ul>
    }
</div>

@if (Model.Items.Count > 0)
{
    <div class="buttons clearfix">
        <a class="btn btn-primary pull-left" href="@Url.RouteUrl("CompareProducts")">
            @T("Products.Compare.List")
        </a>
        <a class="btn btn-warning pull-right" href="@Url.Action("ClearCompareList")" rel="nofollow">
            @T("Products.Compare.Clear")
        </a>
    </div>
}