@model ManufacturerNavigationModel
@using SmartStore.Web.Models.Catalog;
@{
    Layout = "";
}

<div class="manufacturer-container">
    <ul class="ocm-nav list-unstyled">
        @foreach (var manufacturer in Model.Manufacturers)
        {
            <li class="ocm-item" data-ajax="false">
                <div class="row sm-gutters align-items-center">
                    <div class="col-xs col-img">
                        <a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })" class="ocm-link img-center-container">
                            @if (manufacturer.PictureUrl.HasValue() && Model.DisplayImages)
                            {
                                <img src="@manufacturer.PictureUrl" alt="@manufacturer.Name" title="@manufacturer.Name" />
                            }
                        </a>
                    </div>
                    <div class="col-xs col-data">
                        @manufacturer.Name
                    </div>
                </div>
            </li>
        }

        @if (Model.DisplayAllManufacturersLink)
        {
            <li class="show-all-manufacturers ocm-item" data-ajax="false">
                <a href="@Url.RouteUrl("ManufacturerList")" class="btn btn-block btn-warning">@T("Manufacturers.ViewAll")</a>
            </li>
        }
    </ul>
</div>