@model NavigationModel
@using SmartStore.Web.Models.Catalog;

@{
	Layout = "";

	var currentNode = Model.SelectedNode;
}

<div class="category-container">
	@if (currentNode.Depth > 0)
	{
		<div class="category-info">
			<div class="category-name">@currentNode.Value.Text</div>
		</div>
	}

    <ul class="ocm-nav list-unstyled">
        @if (currentNode.Depth > 0)
        {
            <li class="navigate-back ocm-item" data-id="@currentNode.Parent.Value.EntityId" data-ajax="true">
                <a href="@currentNode.Parent.Value.GenerateUrl(this.Url)" class="ocm-link">
                    <i class="fa fa-chevron-left"></i>
                    <span>@T("Common.Back")</span>
                </a>
            </li>

            <li class="show-current-cat ocm-item" data-id="@currentNode.Value.EntityId" data-ajax="false">
                <a href="@currentNode.Value.GenerateUrl(this.Url)" class="ocm-link">
                    @T("Offcanvas.Menu.ShowCurrentCat", currentNode.Value.Text)
                </a>
            </li>
        }

        @foreach (var node in currentNode.Children)
        {
            var cat = node.Value;
            <li class="ocm-item@(node.HasChildren ? " has-children" : "")" 
				data-id="@cat.EntityId" 
				data-ajax="@(node.HasChildren ? "true" : "false")">
                <a href="@node.Value.GenerateUrl(this.Url)" class="ocm-link has-count" @Html.Attr("data-count", cat.ElementsCount.ToString(), cat.ElementsCount > 0)>
					<span>@cat.Text</span>
                </a>
            </li>
        }
    </ul>
</div>