@model AjaxMenuItemModel

@using SmartStore.Web.Models.Catalog;

@{
    Layout = "";
}

<div class="category-container">
	@if (Model.Name.HasValue())
	{
		<div class="category-info">
			<div class="category-name">@Model.Name</div>
		</div>
	}

    <ul class="nav navbar-nav">
        @if (Model.Id != 0)
        {
            <li class="navigate-back nav-item" data-id="@Model.ParentCategory.Id">
                <a href="@Url.RouteUrl("Category", new { SeName = Model.ParentCategory.SeName })" class="nav-link">
                    <i class="fa fa-chevron-left"></i>
					<span>@T("Common.Back")</span>
                </a>
            </li>

            <li class="show-current-cat nav-item" data-id="@Model.Id" data-ajax="false">
                <a href="@Url.RouteUrl("Category", new { SeName = Model.SeName })" class="nav-link">
                    @T("Offcanvas.Menu.ShowCurrentCat", Model.Name)
                </a>
            </li>
        }

        @foreach (var cat in Model.SubCategories)
        {
            <li class="sub-cat nav-item@(cat.HasChildren ? " has-children" : "")" data-id="@cat.Id" data-ajax="@(cat.HasChildren ? "true" : "false")">
                <a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" class="nav-link">

                    @if (cat.PictureUrl.HasValue())
                    {
                        <img src="@cat.PictureUrl" />
                    }

                    @cat.Name
                </a>
            </li>
        }

        @if (Model.IsManufacturerTab)
        {
            <li class="show-all-manufacturers nav-item" data-ajax="false">
                <a href="@Url.RouteUrl("ManufacturerList")" class="btn btn-block btn-warning">@T("Manufacturers.ViewAll")</a>
            </li>
        }
        
    </ul>
</div>