@model ProductDetailsModel.ProductBreadcrumbModel
@using SmartStore.Web.Models.Catalog;

@{ 
// TODO: (mc) Upgrade breadcrumb to BS4 (nav > a)
// TODO: (mc) Implement shared breadcrumb widget (for category, product, search etc.)
}

<ol id="breadcrumb" class="breadcrumb">
    @{ Html.RenderWidget("productbreadcrumb_before"); }
    <li class="breadcrumb-item">
        <a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")" itemprop="url">
            <i class="fa fa-home"></i>
        </a>
    </li>

    @for (int i = 0; i < Model.CategoryBreadcrumb.Count; i++)
    {
        var menuItem = Model.CategoryBreadcrumb[i];
        <li class="breadcrumb-item">
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="@menuItem.GenerateUrl(this.Url)" title="@menuItem.Text" itemprop="url">
                    <span itemprop="title">@menuItem.Text</span>
                </a>
            </span>
        </li>
    }
    @*uncomment to enable clickable link
	<li class="breadcrumb-item">
		<a href="@Url.RouteUrl("Product", new { productId = Model.ProductId, SeName = Model.ProductSeName })">@Model.ProductName</a>
	</li>
	*@

    <li class="breadcrumb-item active">@Model.ProductName</li>

    @{ Html.RenderWidget("productbreadcrumb_after"); }
</ol>