@using SmartStore.Core.Domain.Forums;
@using SmartStore.Web.Models.Boards;
@using SmartStore.Web.Framework.UI;
@model ForumSearchResultModel
@{   
    Layout = "_Layout";

    if (Model.Term.HasValue())
    {
        Html.AddTitleParts(T("Search.PageTitle", "\"" + Model.Term + "\""));
    }
    else
    {
        Html.AddTitleParts(T("Forum.Search"));
    }

    var suggestions = new string[0];
    if (Model.TotalCount > 0)
    {
        suggestions = Model.SearchResult.SpellCheckerSuggestions;
    }
}

<div class="page forum-search">
    <div class="page-title">
        <h1 class="h3">
			@if (Model.Term.HasValue())
			{
				@T("Search.PageTitle", "<small class='search-term'>" + Model.Term + "</small>")
			}
			else
			{
                @T("Forum.Search")
			}
        </h1>
    </div>

    <div class="page-body">
        <div class="search-input mt-4 mb-5">
            @if (Model.AllowFiltering && Model.SearchResult.Facets.Any())
            {
                <div class="mb-4">
                    @{ Html.RenderAction("Filters", new { model = Model }); }
                </div>
            }

            <div class="w-75 mb-2">
                @{ Html.RenderAction("SearchBox", "Boards"); }
            </div>

		    @if (Model.AttemptedTerm.HasValue())
		    {
			    <div class="alert alert-warning">
				    @T("Search.TermCorrectedHint", "<strong>\"" + Model.Term + "\"</strong>", "<strong>\"" + Model.AttemptedTerm + "\"</strong>")
			    </div>
		    }

		    @if (Model.Error.HasValue())
		    {
			    <div class="alert alert-danger">
				    @Model.Error
			    </div>
		    }
		    else if (Model.TotalCount == 0 && Model.Term.HasValue())
		    {
			    <div class="alert alert-info">
				    @T("Forum.SearchNoResultsText")
			    </div>
		    }

		    @if (suggestions.Any() && (Model.AttemptedTerm.HasValue() || Model.TotalCount == 0))
		    {
			    <p class="search-suggestions">
				    <strong>@T("Search.DidYouMean")</strong>
				    @{ 
					    var links = string.Join(", ", suggestions.Select(x => "<a href='" + Url.RouteUrl("BoardSearch", new { q = x }) + "'>{0}</a>".FormatCurrentUI(x)));
				    }
				    @Html.Raw(links)
			    </p>
		    }
        </div>

        @if (Model.TotalCount > 0)
        {
            <div class="fsearch-actions fsearch-actions--top d-flex flex-wrap">
                @if (Model.AllowSorting)
                {
                    <div class="fsearch-actions--sort">
                        @{ Html.RenderPartial("Product.List.FilterSort", Model); }
                    </div>
                }

                <div class="fsearch-actions--page ml-auto pt-3">
                    @T("Search.HitsFor", 
                        "<span id='CurrentSearchHitCount' data-cumulative-count='{0}'>{1}</span>+".FormatInvariant(Model.SearchResult.Hits.Count, Model.SearchResult.Hits.Count.ToString("N0")),
                        "<b class='font-weight-medium'>{0}</b>".FormatInvariant(Model.Term.NaIfEmpty()))
                </div>
            </div>
        }

        <div class="search-results mt-3">
            <div class="topics-group table-responsive">
                @if (Model.TotalCount > 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="topic-name" colspan="2">
                                    @T("Forum.TopicTitle")
                                </th>
                                <th class="replies">
                                    @T("Forum.Replies")
                                </th>
                                <th class="views">
                                    @T("Forum.Views")
                                </th>
                                <th class="last-post">
                                    @T("Forum.LatestPost")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (ForumTopicRowModel topic in Model.PagedList)
                        {
                            <tr class="topic">
                                <td class="image">
                                    @{
                                        var topicType = "post";
                                        var topicText = string.Empty;
                                        var topicIcon = "fa fa-comment-o";
                                        switch (topic.ForumTopicType)
                                        {
                                            case ForumTopicType.Normal:
                                                topicType = "post";
                                                topicIcon = "fa fa-comment-o";
                                                break;
                                            case ForumTopicType.Sticky:
                                                topicType = "poststicky";
                                                topicIcon = "fa fa-thumb-tack";
                                                topicText = string.Format("<label class='label label-important'>{0}</label>", @T("Forum.Sticky").ToString());
                                                break;
                                            case ForumTopicType.Announcement:
                                                topicType = "post-annoucement";
                                                topicIcon = "fa fa-bullhorn";
                                                topicText = string.Format("<label class='label label-success'>{0}</label>", @T("Forum.Announcement").ToString());
                                                break;
                                            default:
                                                topicType = "post";
                                                topicIcon = "fa fa-comment-o";
                                                break;
                                        }
                                        <div class="@topicType">
                                            <i class="icon @topicIcon"></i>
                                        </div>
                                    }
                                </td>
                                <td class="topic-name">
                                    @if (!string.IsNullOrEmpty(topicText))
                                    {
                                        <span class="topictype" dir="auto">@Html.Raw(topicText)</span>
                                    }
                                    <a href="@(Url.RouteUrl("TopicSlug", new { id = topic.Id, slug = topic.SeName }))@(Html.Raw(topic.AnchorTag))" class="topic-title">
                                        @Html.Raw(Model.Highlight(topic.Subject, "subject", Model.Query, null, "<mark>", "</mark>"))
                                    </a>
                                    @if (topic.NumPosts > Model.PostsPageSize)
                                    {
                                        @(Html.SmartStore().Pager(topic.TotalPostPages)
                                            .HtmlAttributes(new { @class = "topics-pager" })
                                            .WithRenderer<ForumTopicPagerRenderer>()
                                            .ShowPrevious(false)
                                            .ShowNext(false)
                                            .ItemTitleFormatString(T("Forum.Topics.GotoPostPager"))
                                            .Alignment(PagerAlignment.Left)
                                            .Size(PagerSize.Mini)
                                            .Route("TopicSlug", new { id = topic.Id, slug = topic.SeName }))
                                    }
                                    <div class="topic-starter">
										@if (topic.CustomerId > 0)
										{
											<div class="d-flex">
												<span class="pr-1">@T("Forum.Author"):</span>
												@if (topic.AllowViewingProfiles && !topic.IsCustomerGuest)
												{
													<span>@Html.RouteLink(topic.CustomerName, "CustomerProfile", new { Id = topic.CustomerId })</span>
												}
												else
												{
													<span>@topic.CustomerName</span>
												}
											</div>
                                            if (topic.FirstPostId != 0 && Model.SearchResult.Engine != null && Model.Query.Fields != null && Model.Query.Fields.Contains("text"))
                                            {
                                                <div class="mt-2">
                                                    @Html.Raw(Model.SearchResult.Engine.Highlight(topic.FirstPostId, "text", "<mark>", "</mark>", 3))
                                                </div>
                                            }
										}
                                    </div>
                                </td>
                                <td class="replies">
                                    @topic.NumReplies.ToString("N0")
                                </td>
                                <td class="views">
                                    @topic.Views.ToString("N0")
                                </td>
                                <td class="last-post">
                                    @{ Html.RenderPartial("LastPost", topic.LastPost); }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        // Sorting changed.
        $('.fsearch-actions').on('change', '.artlist-action-select', function (e) {
		    var select = $(this),
			    qname = select.data('qname'),
			    url = select.data('url'),
			    val = select.val();

		    var url = window.modifyUrl(url, qname, val);
		    window.setLocation(url);
	    });

    });
</script>