@model TopicMoveModel
@using SmartStore.Web.Models.Boards;
@using SmartStore.Services.Seo;
@{    
    Layout = "_ColumnsOne";

    Html.AddTitleParts(T("Forum.PageTitle.MoveTopic").Text);
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <div class="page move-forum-topic">
        
        @{ Html.RenderAction("ForumBreadcrumb", new { forumTopicId = Model.Id }); }

        <div class="title">
            <h2>@T("Forum.MoveTopic")</h2>
        </div>

        <div class="page-body">
            <h4 class="m-y-1">@T("Forum.SelectTheForumToMoveTopic")</h4>

            <div>
                @Html.DropDownList("ForumSelected", new SelectList(Model.ForumList, "Value", "Text"))
            </div>

            <div class="options">
                <button type="submit" class="btn btn-primary">@T("Forum.Submit")</button>
                <button class="btn btn-danger" onclick="setLocation('@Url.RouteUrl("TopicSlug", new { id = @Model.Id, slug = @Model.TopicSeName })')">
                    @T("Forum.Cancel")
                </button>
            </div>
        </div>
    </div>
}