@using SmartStore.Web.Models.Boards;
@model TopicMoveModel
@{    
    Layout = "_Layout";
    Html.AddTitleParts(T("Forum.PageTitle.MoveTopic").Text);
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <div class="page move-forum-topic">
        <div class="page-title">
            <h2>@T("Forum.MoveTopic")</h2>
        </div>
        <div class="page-body">
            <div class="form-group">
                <label for="@Html.IdFor(x => x.ForumSelected)">@T("Forum.SelectTheForumToMoveTopic")</label>
                @Html.DropDownListFor(x => x.ForumSelected, Model.Forums, new { @class = "form-control" })
            </div>
            <div class="options my-3">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-reply"></i>
					<span>@T("Forum.Submit")</span>
				</button>
                <a class="btn btn-secondary" href="@Url.RouteUrl("TopicSlug", new { id = Model.Id, slug = Model.TopicSeName })">
                    <i class="fa fa-times"></i>
                    <span>@T("Forum.Cancel")</span>
                </a>
            </div>
        </div>
    </div>
}