@model TopicMoveModel
@using SmartStore.Web.Models.Boards;
@{    
    Layout = "_Layout";
    Html.AddTitleParts(T("Forum.PageTitle.MoveTopic").Text);
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <div class="page move-forum-topic">
        <div class="page-title">
            <h2>@T("Forum.MoveTopic")</h2>
        </div>

        <div class="page-body">
            <h4 class="my-3">@T("Forum.SelectTheForumToMoveTopic")</h4>

            <div>
                @Html.DropDownList("ForumSelected", new SelectList(Model.ForumList, "Value", "Text"), new { @class = "form-control" })
            </div>

            <div class="options my-3">
                <button type="submit" class="btn btn-primary">
					<span>@T("Forum.Submit")</span>
				</button>
                <button class="btn btn-danger" onclick="setLocation('@Url.RouteUrl("TopicSlug", new { id = Model.Id, slug = Model.TopicSeName })')">
                    <span>@T("Forum.Cancel")</span>
                </button>
            </div>
        </div>
    </div>
}