@using SmartStore.Web.Framework;
@using SmartStore.Web.Framework.UI;


@model SmartStore.Plugin.Widgets.TrustedShopsSeal.Models.PublicInfoModel
@{
    Layout = "";
    Html.AddCssFileParts(true, "~/Plugins/Widgets.TrustedShopsSeal/Content/trustedshops.css");
}
@using SmartStore.Web.Framework;

<div class="block block-bordered block-trusted-shops-seal">
    <div class="block-title">
        @T("Plugins.Widgets.TrustedShopsSeal.Title")
    </div>
    <div class="block-body">

        <div id="tsBox">
            <form name="formSiegel" method="post" action= "https://www.trustedshops.com/shop/certificate.php" target="_blank">
                <input name="shop_id" type="hidden" value="@Model.TrustedShopsId">
                <div id="tsInnerBox" class="clearfix">
                    <div id="tsSeal">
                        <input type="image" src="@Url.Content("~/Plugins/Widgets.TrustedShopsSeal/Content/images/TrustedShops-rgb-Siegel_100Hpx.png")" 
                            title="@T("Plugins.Widgets.TrustedShopsSeal.AltContentSealGraphic")">
                    </div>
                    <div id="tsText">
                        <a title="@Model.ShopName" 
                            href="http://www.trustedshops.com/profile/@(Model.ShopName)_@(Model.TrustedShopsId).html" target="_blank">
                            @Model.ShopName
                        </a>
                        <div>
                            @Model.ShopText
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
