@model SliderSlideModel
@using SmartStore.Admin.Models.ContentSlider;

@{
    ViewBag.Title = T("Admin.CMS.ContentSlider.Slide.EditSlideDetails").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "sliderslide-form" }))
{
    <div class="section-header">
        <div class="title">
            @T("Admin.CMS.ContentSlider.Slide.EditSlideDetails") - @Model.SlideId
            <a href='@Url.Action("Edit",new { id = Model.SliderId })'>(@T("Admin.CMS.ContentSlider.Slide.BackToList"))</a>
        </div>
        <div class="options">
            @{ Html.RenderWidget("admin_button_toolbar_before"); }

            <button type="submit" name="save" value="save" class="btn btn-warning">
                <i class="fa fa-check"></i>
                <span>@T("Admin.Common.Save")</span>
            </button>
            <button type="submit" name="save" value="save-continue" class="btn btn-secondary">
                <span>@T("Admin.Common.SaveContinue")</span>
            </button>
            @*<button type="submit" name="delete" id="sliderslide-delete" class="btn btn-danger">
            <i class="far fa-trash-alt"></i>
            <span>@T("Admin.Common.Delete")</span>
        </button>*@
            <a href="@Url.Action("SlideDelete",new { id = Model.Id})" class="btn  btn-danger">
                <i class="fa fa-trash-alt"></i>
                <span>@T("Admin.Common.Delete")</span>
            </a>

            @{ Html.RenderWidget("admin_button_toolbar_after"); }
        </div>
    </div>

    Html.RenderPartial("_SlideCreateOrUpdate", Model);
}
@Html.DeleteConfirmation("sliderslide-delete")