@model SliderSlideModel
@using SmartStore.Admin.Models.ContentSlider;

@{
    ViewBag.Title = T("Admin.CMS.ContentSlider.Slide.AddNew").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "sliderslide-form" }))
{
    <div class="section-header">
        <div class="title">
            @T("Admin.CMS.ContentSlider.Slide.AddNew")
            <a href='@Url.Action("Edit",new { id = Model.SliderId })'>(@T("Admin.CMS.ContentSlider.Slide.BackToList"))</a>
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-primary">
                <i class="fa fa-check"></i>
                <span>@T("Admin.Common.Save")</span>
            </button>
            <button type="submit" name="save" value="save-continue" class="btn btn-secondary">
                <span>@T("Admin.Common.SaveContinue")</span>
            </button>
        </div>
    </div>

    Html.RenderPartial("_SlideCreateOrUpdate", Model);
}