@model MiscPluginModel
@{    
    //page title
    ViewBag.Title = T("Admin.Configuration.Plugins.Misc.Configure") + " - " + Model.FriendlyName;
}
<div class="section-header">
    <div class="title">
        <i class="icon icon-cog"></i>
        @T("Admin.Configuration.Plugins.Misc.Configure") - @Model.FriendlyName @Html.ActionLink("(" + T("Admin.Configuration.Plugins.Misc.BackToList") + ")", "List")
    </div>
    <div class="options">
        <!-- action buttons -->
    </div>
</div>
@if (!String.IsNullOrEmpty(Model.ConfigurationActionName))
{
    @Html.Action(Model.ConfigurationActionName, Model.ConfigurationControllerName, Model.ConfigurationRouteValues);
}
else
{
    @T("Admin.Common.ConfigurationNotRequired")
}
