@model CheckUpdateResult

@{
	ViewBag.Title = "Check for Updates";
}

<div class="section-header">
	<div class="title">
		<i class="fa fa-level-up"></i>
		Check for Updates
	</div>
</div>

<div class="check-update-page" style="max-width: 1000px">
	@if (!Model.UpdateAvailable)
	{
		<div class="alert alert-info">
			@T("Admin.CheckUpdate.IsUpToDate")
		</div>
	}
	else
	{
		<h3 class="text-error">@T("Admin.CheckUpdate.UpdateAvailable")!</h3>
		<dl>
			<dt>@T("Admin.CheckUpdate.YourVersion")</dt>
			<dd>@Model.CurrentVersion</dd>
			<dt>@T("Admin.CheckUpdate.CurrentVersion")</dt>
			<dd class="text-error">@Model.Version</dd>
			<dt>@T("Common.Date")</dt>
			<dd>@Model.ReleaseDateUtc.ToShortDateString()</dd>
		</dl>
		
		<div class="admin-config-group">
			<div class="title">@T("Admin.CheckUpdate.ReleaseNotes")</div>
			<div>@Html.Raw(Model.ReleaseNotes)</div>
		</div>
		
		<div style="margin-top: 30px">
			<a class="btn btn-primary" href='@Model.InfoUrl' target="UpdateInfoWnd">@T("Common.MoreInfo")</a>
			@if (Model.DownloadUrl.HasValue())
			{
				<a class="btn btn-default" href='@Model.DownloadUrl' style="margin-left: 5px">
					<i class="fa fa-download"></i>
					@T("Common.Download")
				</a>
			}
			<a class="btn btn-link" href='@Url.Action("CheckUpdateSuppress", new { myVersion = Model.CurrentVersion, newVersion = Model.Version })'>@T("Admin.CheckUpdate.DontNotifyAnymore")</a>
		</div>
	}
</div>

