@model MaintenanceModel
@{
    //page title
    ViewBag.Title = T("Admin.System.Maintenance").Text;
}
<div class="section-header">
    <div class="title">
        <i class="icon icon-cogs"></i>
        @T("Admin.System.Maintenance")
    </div>
    <div class="options">
    </div>
</div>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td colspan="2">
                <b>@T("Admin.System.Maintenance.DeleteImageCache")</b>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.DeleteImageCache.FileCount)
            </td>
            <td class="adminData">
                @Model.DeleteImageCache.FileCount
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.DeleteImageCache.TotalSize)
            </td>
            <td class="adminData">
                @Model.DeleteImageCache.TotalSize
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" name="delete-image-cache" value="delete-image-cache" class="btn btn-primary">
                    <i class="icon-remove"></i>
                    @T("Admin.Header.ClearCache")
                </button>
            </td>
        </tr>
    </table>
    <hr />
    <table width="100%">
        <tr>
            <td colspan="2">
                <b>@T("Admin.System.Maintenance.DeleteGuests")</b>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.DeleteGuests.StartDate)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DeleteGuests.StartDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.DeleteGuests.EndDate)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => Model.DeleteGuests.EndDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.DeleteGuests.OnlyWithoutShoppingCart)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => Model.DeleteGuests.OnlyWithoutShoppingCart)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" name="delete-guests" value="delete-guests" class="btn btn-primary"><i class="icon-remove"></i>&nbsp;@T("Admin.Common.Delete")</button>
            </td>
        </tr>
        @if (Model.DeleteGuests.NumberOfDeletedCustomers.HasValue)
        {
            <tr>
                <td colspan="2">
                    <b>@string.Format(@T("Admin.System.Maintenance.DeleteGuests.TotalDeleted").Text, Model.DeleteGuests.NumberOfDeletedCustomers.Value)</b>
                </td>
            </tr>
        }
    </table>
    <hr />
    <table width="100%">
        <tr>
            <td colspan="2">
                <b>@T("Admin.System.Maintenance.DeleteExportedFiles")</b>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.DeleteExportedFiles.StartDate)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DeleteExportedFiles.StartDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.DeleteExportedFiles.EndDate)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => Model.DeleteExportedFiles.EndDate)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" name="delete-exported-files" value="delete-exported-files"
                    class="btn btn-danger"><i class="icon-remove icon-white"></i>&nbsp;@T("Admin.Common.Delete")</button>
            </td>
        </tr>
        @if (Model.DeleteExportedFiles.NumberOfDeletedFiles.HasValue)
        {
            <tr>
                <td colspan="2">
                    <b>@string.Format(@T("Admin.System.Maintenance.DeleteExportedFiles.TotalDeleted").Text, Model.DeleteExportedFiles.NumberOfDeletedFiles.Value)</b>
                </td>
            </tr>
        }
    </table>
    
    <hr />
    
    <table width="100%">
        <tr>
            <td colspan="2">
                <b>@T("Admin.System.Maintenance.SqlQueryTitle")</b>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                <div class="ctl-label">
                    @Html.SmartLabelFor(model => model.SqlQuery)
                </div>
            </td>
            <td class="adminData">
                @Html.TextAreaFor(model => model.SqlQuery, new {style="width:500px; height:250px;" })
            </td>
        </tr>
        
        <tr>
            <td class="adminData">
                &nbsp;
            </td>
            <td>
                <button type="submit" name="execute-sql-query" value="execute-sql-query" class="btn btn-danger">
                    <i class="icon-bolt"></i>
                    @T("Admin.System.Maintenance.SqlQueryExecute")
                </button>
            </td>
        </tr>
        @if (Model.DeleteExportedFiles.NumberOfDeletedFiles.HasValue)
        {
            <tr>
                <td colspan="2">
                    <b>@string.Format(@T("Admin.System.Maintenance.DeleteExportedFiles.TotalDeleted").Text, Model.DeleteExportedFiles.NumberOfDeletedFiles.Value)</b>
                </td>
            </tr>
        }
    </table>
    
}