@model SystemInfoModel

@{
    ViewBag.Title = T("Admin.System.SystemInfo").Text;
}

<style>
	.table-servervars {
		font-size: 90%; 
		max-width: 100%
	}

	.table-servervars .sv-key {
		font-weight: bold; 
	}

	.table-servervars .sv-value {
		word-break: break-all;
		word-wrap: break-word;
		white-space: pre;
		white-space: pre-wrap;
	}
</style>

<script>
	$(function () {
		$('.toggle-panel').on('click', function (e) {
			var btn = $(this);
			var panel = btn.parent().next();
			if (panel.hasClass('d-none')) {
				btn.html(@T("Admin.Common.Show").JsText);
			}
			else {
				btn.html(@T("Admin.Common.Hide").JsText);
			}
			panel.toggleClass('d-none');
		});
	});
</script>

<div class="section-header">
	<div class="title">
		<i class="fa fa-info-circle"></i>
		@T("Admin.System.SystemInfo")
	</div>
</div>




<div class="content py-6 d-none">
	<div class="container">

		<div class="alert alert-primary">
			Mit <code>.btn-labeled</code> lassen sich hübschere Icon-Buttons erstellen.
			Das Icon muss dabei in ein <code>b</code> Tag eingeschlossen werden.
			Soll es rechtsbündig sein, muss dem Button ein <code>.icon-right</code> spendiert werden.
			Eine Kombination mit Outline-Buttons wird NICHT empfohlen: sieht Scheiße aus!
			Außerdem: <code>.btn-sm</code> und <code>.btn-lg</code> nicht empfohlen mit <code>.icon-right</code>
		</div>
		<div class="alert alert-info">
			Mit <code>.btn-labeled</code> lassen sich hübschere Icon-Buttons erstellen.
			Das Icon muss dabei in ein <code>b</code> Tag eingeschlossen werden.
			Soll es rechtsbündig sein, muss dem Button ein <code>.icon-right</code> spendiert werden.
			Eine Kombination mit Outline-Buttons wird NICHT empfohlen: sieht Scheiße aus!
			Außerdem: <code>.btn-sm</code> und <code>.btn-lg</code> nicht empfohlen mit <code>.icon-right</code>
		</div>
		<div class="alert alert-secondary">
			Mit <code>.btn-labeled</code> lassen sich hübschere Icon-Buttons erstellen.
			Das Icon muss dabei in ein <code>b</code> Tag eingeschlossen werden.
			Soll es rechtsbündig sein, muss dem Button ein <code>.icon-right</code> spendiert werden.
			Eine Kombination mit Outline-Buttons wird NICHT empfohlen: sieht Scheiße aus!
			Außerdem: <code>.btn-sm</code> und <code>.btn-lg</code> nicht empfohlen mit <code>.icon-right</code>
		</div>
		<div class="alert alert-danger ">
			Mit <code>.btn-labeled</code> lassen sich hübschere Icon-Buttons erstellen.
			Das Icon muss dabei in ein <code>b</code> Tag eingeschlossen werden.
			Soll es rechtsbündig sein, muss dem Button ein <code>.icon-right</code> spendiert werden.
			Eine Kombination mit Outline-Buttons wird NICHT empfohlen: sieht Scheiße aus!
			Außerdem: <code>.btn-sm</code> und <code>.btn-lg</code> nicht empfohlen mit <code>.icon-right</code>
		</div>
		<div class="alert alert-warning">
			Mit <code>.btn-labeled</code> lassen sich hübschere Icon-Buttons erstellen.
			Das Icon muss dabei in ein <code>b</code> Tag eingeschlossen werden.
			Soll es rechtsbündig sein, muss dem Button ein <code>.icon-right</code> spendiert werden.
			Eine Kombination mit Outline-Buttons wird NICHT empfohlen: sieht Scheiße aus!
			Außerdem: <code>.btn-sm</code> und <code>.btn-lg</code> nicht empfohlen mit <code>.icon-right</code>
		</div>
		<div class="alert alert-success">
			Mit <code>.btn-labeled</code> lassen sich hübschere Icon-Buttons erstellen.
			Das Icon muss dabei in ein <code>b</code> Tag eingeschlossen werden.
			Soll es rechtsbündig sein, muss dem Button ein <code>.icon-right</code> spendiert werden.
			Eine Kombination mit Outline-Buttons wird NICHT empfohlen: sieht Scheiße aus!
			Außerdem: <code>.btn-sm</code> und <code>.btn-lg</code> nicht empfohlen mit <code>.icon-right</code>
		</div>
		<div class="alert alert-light">
			Mit <code>.btn-labeled</code> lassen sich hübschere Icon-Buttons erstellen.
			Das Icon muss dabei in ein <code>b</code> Tag eingeschlossen werden.
			Soll es rechtsbündig sein, muss dem Button ein <code>.icon-right</code> spendiert werden.
			Eine Kombination mit Outline-Buttons wird NICHT empfohlen: sieht Scheiße aus!
			Außerdem: <code>.btn-sm</code> und <code>.btn-lg</code> nicht empfohlen mit <code>.icon-right</code>
		</div>
		<div class="alert alert-dark">
			Mit <code>.btn-labeled</code> lassen sich hübschere Icon-Buttons erstellen.
			Das Icon muss dabei in ein <code>b</code> Tag eingeschlossen werden.
			Soll es rechtsbündig sein, muss dem Button ein <code>.icon-right</code> spendiert werden.
			Eine Kombination mit Outline-Buttons wird NICHT empfohlen: sieht Scheiße aus!
			Außerdem: <code>.btn-sm</code> und <code>.btn-lg</code> nicht empfohlen mit <code>.icon-right</code>
		</div>
		<div class="alert alert-gray">
			Mit <code>.btn-labeled</code> lassen sich hübschere Icon-Buttons erstellen.
			Das Icon muss dabei in ein <code>b</code> Tag eingeschlossen werden.
			Soll es rechtsbündig sein, muss dem Button ein <code>.icon-right</code> spendiert werden.
			Eine Kombination mit Outline-Buttons wird NICHT empfohlen: sieht Scheiße aus!
			Außerdem: <code>.btn-sm</code> und <code>.btn-lg</code> nicht empfohlen mit <code>.icon-right</code>
		</div>

		<!-- Standard Buttons -->
		<h3 class="mb-2">Standard Buttons</h3>
		<div class="mb-6">
			<button type="button" class="btn btn-primary">Primary</button>
			<button type="button" class="btn btn-secondary">Secondary</button>
			<button type="button" class="btn btn-warning">Warning</button>
			<button type="button" class="btn btn-success">Success</button>
			<button type="button" class="btn btn-info">Info</button>
			<button type="button" class="btn btn-danger">Danger</button>
			<button type="button" class="btn btn-gray">Gray</button>
			<button type="button" class="btn btn-light">Light</button>
			<button type="button" class="btn btn-dark">Dark</button>
			<button type="button" class="btn btn-link">Link</button>

			<div class="btn-group">
				<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aktion</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Separated link</a>
				</div>
			</div>

			<div class="btn-group">
				<button type="button" class="btn btn-secondary">Aktion</button>
				<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Separated link</a>
				</div>
			</div>
		</div>

		<!-- Buttons mit Icons -->
		<h3 class="mb-2">Buttons mit Icons</h3>
		<p>
			Für ordentliche Abstände zum Icon muss der Text in ein <code>span</code> eingeschlossen werden.
		</p>
		<p class="mb-6">
			<button type="button" class="btn btn-primary"><i class="fa fa-gear"></i><span>Icon links</span></button>
			<button type="button" class="btn btn-primary"><span>Icon rechts</span><i class="fa fa-sign-out icon-right"></i></button>
		</p>

		<!-- Outline Buttons -->
		<h3 class="mb-2">Outline Buttons</h3>
		<p>
			Besser nicht mit secondary und light verwenden.
		</p>
		<p class="mb-6">
			<button type="button" class="btn btn-outline-primary">Primary</button>
			<button type="button" class="btn btn-outline-secondary">Secondary</button>
			<button type="button" class="btn btn-outline-warning">Warning</button>
			<button type="button" class="btn btn-outline-success">Success</button>
			<button type="button" class="btn btn-outline-info">Info</button>
			<button type="button" class="btn btn-outline-danger">Danger</button>
			<button type="button" class="btn btn-outline-light">Light</button>
			<button type="button" class="btn btn-outline-dark">Dark</button>
		</p>

		<!-- Flat Buttons -->
		<h3 class="mb-2">Flat Buttons</h3>
		<p>
			Nicht kombinierbar mit <code>.btn-labeled</code>
		</p>
		<div>
			<button type="button" class="btn btn-primary btn-flat">Primary</button>
			<button type="button" class="btn btn-secondary btn-flat">Secondary</button>
			<button type="button" class="btn btn-warning btn-flat"><i class="fa fa-exclamation-triangle"></i><span>Warning</span></button>
			<button type="button" class="btn btn-success btn-flat"><i class="fa fa-check"></i><span>Success</span></button>
			<button type="button" class="btn btn-info btn-flat">Info</button>
			<button type="button" class="btn btn-danger btn-flat"><i class="fa fa-exclamation-circle"></i><span>Danger</span></button>
			<button type="button" class="btn btn-danger btn-flat" disabled><i class="fa fa-exclamation-circle"></i><span>Disabled</span></button>
			<button type="button" class="btn btn-dark btn-flat"><i class="fa fa-check"></i><span>Dark</span></button>
			<button type="button" class="btn btn-light btn-flat"><i class="fa fa-check"></i><span>Light</span></button>
			<div class="btn-group d-inline-block">
				<button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aktion</button>
				<div class="dropdown-menu">
				</div>
			</div>
		</div>
		<p>
			Auf dunkleren Hintergründen sollte man dem Button zusätzlich ein <code>.btn-flat-light</code> spendieren.
		</p>
		<p class="mb-6 p-2 bg-primary">
			<button type="button" class="btn btn-primary btn-flat btn-flat-light">Primary</button>
			<button type="button" class="btn btn-secondary btn-flat btn-flat-light">Secondary</button>
			<button type="button" class="btn btn-warning btn-flat btn-flat-light"><i class="fa fa-exclamation-triangle"></i><span>Warning</span></button>
			<button type="button" class="btn btn-success btn-flat btn-flat-light"><i class="fa fa-check"></i><span>Success</span></button>
			<button type="button" class="btn btn-info btn-flat btn-flat-light">Info</button>
			<button type="button" class="btn btn-danger btn-flat btn-flat-light"><i class="fa fa-exclamation-circle"></i><span>Danger</span></button>
			<button type="button" class="btn btn-danger btn-flat btn-flat-light" disabled><i class="fa fa-exclamation-circle"></i><span>Disabled</span></button>
			<button type="button" class="btn btn-dark btn-flat btn-flat-light"><i class="fa fa-check"></i><span>Dark</span></button>
			<button type="button" class="btn btn-light btn-flat btn-flat-light"><i class="fa fa-check"></i><span>Light</span></button>
		</p>

		<!-- Borderless Buttons -->
		<h3 class="mb-2">Borderless Buttons</h3>
		<p>
			<code>.btn-no-border</code> ist perfekt kombinierbar mit <code>.btn-outline-*</code>. Der Unterschied zu Flat-Buttons ist,
			dass die Textfarbe hier mitgeht.
		</p>
		<p class="mb-6">
			<button type="button" class="btn btn-outline-primary btn-no-border">Primary</button>
			<button type="button" class="btn btn-outline-secondary btn-no-border">Secondary</button>
			<button type="button" class="btn btn-outline-warning btn-no-border">Warning</button>
			<button type="button" class="btn btn-outline-success btn-no-border">Success</button>
			<button type="button" class="btn btn-outline-info btn-no-border">Info</button>
			<button type="button" class="btn btn-outline-danger btn-no-border">Danger</button>
			<button type="button" class="btn btn-outline-danger btn-no-border" disabled>Disabled</button>
			<button type="button" class="btn btn-outline-light btn-no-border">Light</button>
			<button type="button" class="btn btn-outline-dark btn-no-border">Dark</button>
		</p>

		<!-- Icon Buttons -->
		<h3 class="mb-2">Icon Buttons</h3>
		<p>
			Einfach <code>.btn-icon</code> dranhängen. Macht Icon etwas größer und eliminiert alle margins. Nicht empfohlen mit Text.
		</p>
		<p class="mb-6">
			<button type="button" class="btn btn-primary btn-icon"><i class="fa fa-power-off"></i></button>
			<button type="button" class="btn btn-secondary btn-icon"><i class="fa fa-power-off"></i></button>
			<button type="button" class="btn btn-warning btn-icon"><i class="fa fa-power-off"></i></button>
			<button type="button" class="btn btn-success btn-icon"><i class="fa fa-power-off"></i></button>
			<button type="button" class="btn btn-info btn-icon"><i class="fa fa-power-off"></i></button>
			<button type="button" class="btn btn-danger btn-icon"><i class="fa fa-power-off"></i></button>
			<button type="button" class="btn btn-outline-primary btn-icon"><i class="fa fa-power-off"></i></button>
			<button type="button" class="btn btn-outline-secondary btn-icon"><i class="fa fa-power-off"></i></button>
			<button type="button" class="btn btn-outline-warning btn-icon"><i class="fa fa-power-off"></i></button>
			<button type="button" class="btn btn-outline-success btn-icon"><i class="fa fa-power-off"></i></button>
			<button type="button" class="btn btn-outline-info btn-icon"><i class="fa fa-power-off"></i></button>
			<button type="button" class="btn btn-outline-danger btn-icon"><i class="fa fa-power-off"></i></button>
		</p>

		<!-- Circle Buttons -->
		<h3 class="mb-2">Circle Buttons</h3>
		<p>
			Einfach <code>.btn-circle</code> dranhängen. Es ist empfohlen, auch <code>.btn-icon</code> dranzuhängen, weil Circle Buttons ja grundsätzlich nur ein Icon haben.
		</p>
		<p class="mb-6">
			<button type="button" class="btn btn-primary btn-circle btn-icon"><i class="fa fa-edit"></i></button>
			<button type="button" class="btn btn-secondary btn-circle btn-icon"><i class="fa fa-edit"></i></button>
			<button type="button" class="btn btn-warning btn-circle btn-icon"><i class="fa fa-edit"></i></button>
			<button type="button" class="btn btn-success btn-circle btn-icon"><i class="fa fa-edit"></i></button>
			<button type="button" class="btn btn-info btn-circle btn-icon"><i class="fa fa-edit"></i></button>
			<button type="button" class="btn btn-danger btn-circle btn-icon"><i class="fa fa-edit"></i></button>
			<button type="button" class="btn btn-outline-primary btn-circle btn-icon"><i class="fa fa-edit"></i></button>
			<button type="button" class="btn btn-outline-secondary btn-circle btn-icon"><i class="fa fa-edit"></i></button>
			<button type="button" class="btn btn-outline-warning btn-circle btn-icon"><i class="fa fa-edit"></i></button>
			<button type="button" class="btn btn-outline-success btn-circle btn-icon"><i class="fa fa-edit"></i></button>
			<button type="button" class="btn btn-outline-info btn-circle btn-icon"><i class="fa fa-edit"></i></button>
			<button type="button" class="btn btn-outline-danger btn-circle btn-icon"><i class="fa fa-edit"></i></button>
		</p>

		<!-- Labeled Buttons -->
		<h3 class="mb-2">Labeled Buttons</h3>
		<p>
			Mit <code>.btn-labeled</code> lassen sich hübschere Icon-Buttons erstellen.
			Das Icon muss dabei in ein <code>b</code> Tag eingeschlossen werden.
			Soll es rechtsbündig sein, muss dem Button ein <code>.icon-right</code> spendiert werden.
			Eine Kombination mit Outline-Buttons wird NICHT empfohlen: sieht Scheiße aus!
			Außerdem: <code>.btn-sm</code> und <code>.btn-lg</code> nicht empfohlen mit <code>.icon-right</code>
		</p>
		<p class="mb-6">
			<button type="button" class="btn btn-primary btn-labeled"><b><i class="fa fa-power-off"></i></b>Primary</button>
			<button type="button" class="btn btn-secondary btn-labeled"><b><i class="fa fa-power-off"></i></b>Secondary</button>
			<button type="button" class="btn btn-warning btn-labeled"><b><i class="fa fa-power-off"></i></b>Warning</button>
			<button type="button" class="btn btn-success btn-labeled"><b><i class="fa fa-power-off"></i></b>Success</button>
			<button type="button" class="btn btn-info btn-labeled"><b><i class="fa fa-power-off"></i></b>Info</button>
			<button type="button" class="btn btn-danger btn-labeled"><b><i class="fa fa-power-off"></i></b>Danger</button>
			<button type="button" class="btn btn-light btn-labeled"><b><i class="fa fa-power-off"></i></b>Light</button>
			<button type="button" class="btn btn-dark btn-labeled"><b><i class="fa fa-power-off"></i></b>Dark</button>
			<br /><br />
			<button type="button" class="btn btn-primary btn-labeled icon-right">Primary<b><i class="fa fa-power-off"></i></b></button>
			<button type="button" class="btn btn-secondary btn-labeled icon-right">Secondary<b><i class="fa fa-power-off"></i></b></button>
			<button type="button" class="btn btn-warning btn-labeled icon-right">Warning<b><i class="fa fa-power-off"></i></b></button>
			<button type="button" class="btn btn-success btn-labeled icon-right">Success<b><i class="fa fa-power-off"></i></b></button>
			<button type="button" class="btn btn-info btn-labeled icon-right">Info<b><i class="fa fa-power-off"></i></b></button>
			<button type="button" class="btn btn-danger btn-labeled icon-right">Danger<b><i class="fa fa-power-off"></i></b></button>
			<button type="button" class="btn btn-light btn-labeled icon-right">Light<b><i class="fa fa-power-off"></i></b></button>
			<button type="button" class="btn btn-dark btn-labeled icon-right">Dark<b><i class="fa fa-power-off"></i></b></button>
		</p>

		<!-- Animated Buttons -->
		<h3 class="mb-2">Animated Buttons</h3>
		<p>
			Mit <code>.btn-animate</code> lassen sich Buttons animieren. Für Animation nach rechts muss <code>.btn-animate-right</code>, und nach
			unten muss <code>.btn-animate-down</code> hinzugefügt werden. Ausserdem muss der Button-Content mitsamt Icon in ein <code>span</code>-Tag eingeschlossen werden.
		</p>
		<p class="mb-6">
			<button type="button" class="btn btn-success btn-animate"><span><i class="fa fa-download"></i>Von links</span></button>
			<button type="button" class="btn btn-success btn-animate btn-animate-right"><span><i class="fa fa-download"></i>Nach rechts</span></button>
			<button type="button" class="btn btn-success btn-animate btn-animate-down"><span><i class="fa fa-download"></i>Nach unten</span></button>
			<br /><br />
			<button type="button" class="btn btn-danger btn-animate btn-lg"><span><i class="fa fa-download"></i>Von links</span></button>
			<button type="button" class="btn btn-danger btn-animate btn-animate-right btn-lg"><span><i class="fa fa-download"></i>Nach rechts</span></button>
			<button type="button" class="btn btn-danger btn-animate btn-animate-down btn-lg"><span><i class="fa fa-download"></i>Nach unten</span></button>
			<br /><br />
			<button type="button" class="btn btn-primary btn-animate btn-sm"><span><i class="fa fa-download"></i>Von links</span></button>
			<button type="button" class="btn btn-primary btn-animate btn-animate-right btn-sm"><span><i class="fa fa-download"></i>Nach rechts</span></button>
			<button type="button" class="btn btn-primary btn-animate btn-animate-down btn-sm"><span><i class="fa fa-download"></i>Nach unten</span></button>
		</p>

		<!-- Clear Buttons -->
		<h3 class="mb-2">Clear Buttons</h3>
		<p>
			Auf <b>dunklen Hintergründen</b> lässt sich perfekt mit <code>.btn-clear</code> arbeiten.
		</p>
		<p class="mb-2 p-2 bg-primary">
			<button type="button" class="btn btn-clear">Normal</button>
			<button type="button" class="btn btn-clear"><span>Mit Icon</span><i class="fa fa-arrow-right"></i></button>
			<button type="button" class="btn btn-clear" disabled><span>Disabled</span><i class="fa fa-arrow-right"></i></button>
			<button type="button" class="btn btn-clear btn-no-border">Ohne Border</button>
			<button type="button" class="btn btn-clear btn-no-border"><i class="fa fa-check"></i><span>Mit Icon</span></button>
			<button type="button" class="btn btn-clear btn-animate"><span><i class="fa fa-download"></i>Animiert</span></button>
			<button type="button" class="btn btn-clear btn-animate btn-animate-right btn-no-border"><span><i class="fa fa-chevron-right"></i>Animiert</span></button>
		</p>
		<p class="mb-6 p-2 bg-light">
			<button type="button" class="btn btn-clear-dark">Normal</button>
			<button type="button" class="btn btn-clear-dark"><span>Mit Icon</span><i class="fa fa-arrow-right"></i></button>
			<button type="button" class="btn btn-clear-dark" disabled><span>Disabled</span><i class="fa fa-arrow-right"></i></button>
			<button type="button" class="btn btn-clear-dark btn-no-border">Ohne Border</button>
			<button type="button" class="btn btn-clear-dark btn-no-border"><i class="fa fa-check"></i><span>Mit Icon</span></button>
			<button type="button" class="btn btn-clear-dark btn-animate"><span><i class="fa fa-download"></i>Animiert</span></button>
			<button type="button" class="btn btn-clear-dark btn-animate btn-animate-right btn-no-border"><span><i class="fa fa-chevron-right"></i>Animiert</span></button>
		</p>

		<!-- ToDanger Buttons -->
		<h3 class="mb-2">"To Danger/Primary" Buttons</h3>
		<p>
			Mit <code>.btn-to-danger</code> lassen sich Semi-Danger Buttons erstellen. Dabei werden die Danger-Styles nur
			auf <code>:hover, :active</code> und <code>:focus</code> angewendet. Empfohlen, wenn ein durchgehend roter Button
			zu viel Aufmerksamkeit auf sich zieht oder das Ganze zu bunt wird.
		</p>
		<p class="mb-6">
			<button type="button" class="btn btn-secondary btn-to-danger">Vorsicht</button>
			<button type="button" class="btn btn-secondary btn-to-danger btn-labeled"><b><i class="fa fa-power-off"></i></b>Vorsicht</button>
			<button type="button" class="btn btn-secondary btn-to-primary">Primary</button>
			<button type="button" class="btn btn-secondary btn-to-danger" disabled>Disabled</button>
			<button type="button" class="btn btn-secondary btn-to-danger btn-circle btn-icon"><i class="fa fa-edit"></i></button>
		</p>

		<!-- Button Sizing -->
		<h3 class="mb-2">Button Sizing</h3>
		<p>
			Mit <code>.btn-sm</code> bzw. <code>.btn-lg</code> werden Button-Größen definiert. Diese Klassen können mit jedem Button-Stil kombiniert werden.
		</p>
		<p class="mb-6">
			<button type="button" class="btn btn-warning btn-sm">Klein</button>
			<button type="button" class="btn btn-secondary btn-sm"><i class="fa fa-gear"></i><span>Klein</span></button>
			<button type="button" class="btn btn-danger btn-labeled btn-sm"><b><i class="fa fa-power-off"></i></b>Klein</button>
			<button type="button" class="btn btn-outline-primary btn-sm"><span>Klein</span></button>
			<button type="button" class="btn btn-info btn-icon btn-sm"><i class="fa fa-power-off"></i></button>
			<button type="button" class="btn btn-success btn-circle btn-icon btn-sm"><i class="fa fa-edit"></i></button>
			<br /><br />
			<button type="button" class="btn btn-warning">Normal</button>
			<button type="button" class="btn btn-secondary"><i class="fa fa-gear"></i><span>Normal</span></button>
			<button type="button" class="btn btn-danger btn-labeled"><b><i class="fa fa-power-off"></i></b>Normal</button>
			<button type="button" class="btn btn-outline-primary"><span>Normal</span></button>
			<button type="button" class="btn btn-info btn-icon"><i class="fa fa-power-off"></i></button>
			<button type="button" class="btn btn-success btn-circle btn-icon"><i class="fa fa-edit"></i></button>
			<br /><br />
			<button type="button" class="btn btn-warning btn-lg"><span>Groß</span></button>
			<button type="button" class="btn btn-secondary btn-lg"><span>Normal</span><i class="fa fa-gear icon-right"></i></button>
			<button type="button" class="btn btn-danger btn-labeled btn-lg"><b><i class="fa fa-power-off"></i></b>Groß</button>
			<button type="button" class="btn btn-outline-primary btn-lg"><span>Groß</span></button>
			<button type="button" class="btn btn-info btn-icon btn-lg"><i class="fa fa-power-off"></i></button>
			<button type="button" class="btn btn-success btn-circle btn-icon btn-lg"><i class="fa fa-edit"></i></button>
		</p>
	</div>
</div>





<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.AppVersion)
        </td>
        <td class="adminData">
			<div class="form-control-plaintext">
				@Html.DisplayFor(model => model.AppVersion)
				<a href='@Url.Action("CheckUpdate", new { enforce = true })' class="ml-3">@T("Admin.CheckUpdate")</a>
			</div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.AppDate)
        </td>
        <td class="adminData">
			<div class="form-control-plaintext">
				@Model.AppDate.ToString("F")
			</div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.OperatingSystem)
        </td>
        <td class="adminData">
			<div class="form-control-plaintext">
				@Html.DisplayFor(model => model.OperatingSystem)
			</div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.AspNetInfo)
        </td>
        <td class="adminData">
			<div class="form-control-plaintext">
				@Html.DisplayFor(model => model.AspNetInfo)
			</div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.IsFullTrust)
        </td>
        <td class="adminData">
			<div class="form-control-plaintext">
				@Html.DisplayFor(model => model.IsFullTrust)
			</div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ServerTimeZone)
        </td>
        <td class="adminData">
			<div class="form-control-plaintext">
				@Html.DisplayFor(model => model.ServerTimeZone)
			</div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ServerLocalTime)
        </td>
        <td class="adminData">
			<div class="form-control-plaintext">
				@Model.ServerLocalTime.ToString("F")
			</div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.UtcTime)
        </td>
        <td class="adminData">
			<div class="form-control-plaintext">
				@Model.UtcTime.ToString("F")
			</div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.HttpHost)
        </td>
        <td class="adminData">
			<div class="form-control-plaintext">
				@Model.HttpHost
			</div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.DataProviderFriendlyName)
        </td>
        <td class="adminData">
			<div class="form-control-plaintext">
				@Model.DataProviderFriendlyName.NaIfEmpty()
			</div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.DatabaseSize)
        </td>
        <td class="adminData">
			<div class="form-control-plaintext">
				@Model.DatabaseSizeString.NaIfEmpty()
				@if (Model.ShrinkDatabaseEnabled)
				{
					<a href='@Url.Action("ShrinkDatabase")' class="ml-3">@T("Common.Shrink")</a>
				}
			</div>
        </td>
    </tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.UsedMemorySize)
		</td>
		<td class="adminData">
			<div class="form-control-plaintext">
				@Model.UsedMemorySizeString.NaIfEmpty()
				<a href='@Url.Action("GarbageCollect")' class="ml-3">@T("Admin.System.SystemInfo.GarbageCollect")</a>
			</div>
		</td>
	</tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.LoadedAssemblies)
        </td>
        <td class="adminData wide">
			<div class="form-control-plaintext">
				<a class="toggle-panel" href="javascript:void(0);">@T("Admin.Common.Show")</a>
			</div>
            <div class="d-none mt-3">
				<p>Directory: @AppDomain.CurrentDomain.DynamicDirectory</p>
                @foreach (var assembly in Model.LoadedAssemblies)
                {
                    @assembly.FullName
                    if (!String.IsNullOrEmpty(assembly.Location))
                    {
                        <br />
                        <i>@assembly.Location</i>
                    }
                    <br />
                }
            </div>
        </td>
    </tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabel("", "HTTP Server Variables")
		</td>
		<td class="adminData wide">
			<div class="form-control-plaintext">
				<a class="toggle-panel" href="javascript:void(0);">@T("Admin.Common.Show")</a>
			</div>
			<div class="d-none mt-3">
				<table class="table table-striped table-servervars">
					<tbody>
						@foreach (var key in Request.ServerVariables.AllKeys)
						{
							if (key != "ALL_HTTP" && key != "ALL_RAW")
							{
								<tr>
									<td class="sv-key">@(key):</td>
									<td><div class="sv-value">@Request.ServerVariables[key]</div></td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		</td>
	</tr>
</table>
