@model SmartStore.Web.Framework.Modelling.DeleteConfirmationModel

@using (Html.BeginForm(Model.ActionName, Model.ControllerName, new { id = Model.Id }, FormMethod.Post, new { style = "margin:0;" })) {
    <div>
        @T("Admin.Common.DeleteConfirmation")
    </div>
	<div class="mt-3 text-right">
		<button type="button" class="btn btn-secondary btn-flat" data-dismiss="modal" onclick="closeModalWindow(); return false;">
			@T("Admin.Common.NoCancel")
		</button>
        <button type="submit" class="btn btn-danger entity-commit-trigger" value='@T("Admin.Common.Delete")' data-commit-type="@Model.EntityType" data-commit-action="delete" data-commit-id="@Model.Id">
            @T("Admin.Common.Delete")
        </button>
    </div>
}