@model ProductModel

@using Telerik.Web.Mvc.UI;

<div>
    <h3>@T("Admin.Catalog.Products.ProductVariantAttributes.Attributes")</h3>

    @if (Model.Id > 0)
    {
        if (Model.NumberOfAvailableProductAttributes > 0)
        {
            <script>
                function onProductVariantAttributeEdit(e) {
                	$(e.form).find('#ProductAttribute').select2('val', e.dataItem['ProductAttributeId']);
                	$(e.form).find('#AttributeControlType').select2('val', e.dataItem['AttributeControlTypeId']);

                	if (parseInt(e.dataItem['Id']) === 0) {
                		$(e.form).find('#IsRequired').prop('checked', true);
                	}
                }
            </script>
			
			@(Html.Telerik().Grid<ProductModel.ProductVariantAttributeModel>()
            .Name("productvariantattributes-grid")
            .DataKeys(keys =>
            {
                keys.Add(x => x.Id);
            })
            .DataBinding(dataBinding =>
            {
                dataBinding.Ajax()
                    .Select("ProductVariantAttributeList", "Product", new { productId = Model.Id })
                    .Insert("ProductVariantAttributeInsert", "Product", new { productId = Model.Id })
                    .Update("ProductVariantAttributeUpdate", "Product")
                    .Delete("ProductVariantAttributeDelete", "Product");
            })
            .Columns(columns =>
            {
                columns.Bound(x => x.ProductAttribute)
                    .Width(150);
                columns.Bound(x => x.TextPrompt)
                    .Width(150)
                    .Centered();
                columns.Bound(x => x.IsRequired)
                    .Width(100)
                    .Template(item => @Html.SymbolForBool(item.IsRequired))
                    .ClientTemplate(@Html.SymbolForBool("IsRequired"))
                    .Centered();
                columns.Bound(x => x.AttributeControlType)
                    .Width(150)
                    .Centered();
                columns.Bound(x => x.DisplayOrder1)
                    .Width(100)
                    .Centered();
                columns.Bound(x => x.ViewEditUrl)
                    .Width(200)
                    .ClientTemplate("<a href=\"<#= ViewEditUrl #>\"><#= ViewEditText #></a>")
                    .ReadOnly()
                    .Title(T("Admin.Catalog.Products.ProductVariantAttributes.Attributes.Values").Text);
                columns.Command(commands =>
                {
                    commands.Edit().Localize(T);
                    commands.Delete().Localize(T);
                })
                .Width(180);
            })
            .ToolBar(commands => commands.Insert())
            .ClientEvents(events => events.OnEdit("onProductVariantAttributeEdit"))
            .EnableCustomBinding(true))
        }
        else
        {
            <div class="alert alert-danger">
                @T("Admin.Catalog.Products.ProductVariantAttributes.NoAttributesAvailable")
            </div>
        }
    }
    else
    {
        <div class="alert alert-danger">
            @T("Admin.Catalog.Products.ProductVariantAttributes.SaveBeforeEdit")
        </div>
    }
</div>

<div style="margin-top:30px;">
    <h3>@T("Admin.Catalog.Products.ProductVariantAttributes.AttributeCombinations")</h3>

    @if (Model.Id > 0)
    {
        if (Model.NumberOfAvailableProductAttributes > 0)
        {
            <div class="alert alert-info">
                @T("Admin.Catalog.Products.ProductVariantAttributes.AttributeCombinations.Description")
            </div>

            <div class="clearfix" style="margin-bottom: 15px">
                <button class="btn btn-warning btn-above add-new-combination">
                    <i class="fa fa-plus"></i>
                    @T("Admin.Catalog.Products.ProductVariantAttributes.AttributeCombinations.AddNew")
                </button>

				<div class="pull-right">
					<button type="button" id="btnCreateAllCombinations" class="btn" data-url='@Url.Action("CreateAllAttributeCombinations", new { productId = Model.Id })'
						data-ask="@T("Admin.Catalog.Products.ProductVariantAttributes.AttributeCombinations.AskToCombineAll")">
						<i class="fa fa-tasks"></i>
						@T("Admin.Catalog.Products.ProductVariantAttributes.AttributeCombinations.CreateAllCombinations")
					</button>

					<button type="button" id="btnDeleteAllCombinations" class="btn" data-url='@Url.Action("DeleteAllAttributeCombinations", new { productId = Model.Id })'
						data-ask="@T("Admin.Catalog.Products.ProductVariantAttributes.AttributeCombinations.AskToDeleteAll")">
						<i class="fa fa-trash-o"></i>
						@T("Admin.Catalog.Products.ProductVariantAttributes.AttributeCombinations.DeleteAllCombinations")
					</button>
				</div>

                <input type="submit" id="btnRefreshCombinations" name="btnRefreshCombinations" class="hide" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('.add-new-combination').on('click', function (e) {
                            OpenWindow('@(Url.Action("AttributeCombinationCreatePopup", "Product", new { productId = Model.Id }))&btnId=btnRefreshCombinations&formId=product-form',
                                1000,
                                800,
                                true);
                            return false;
                        });

                        $('#btnRefreshCombinations').click(function () {
                            //refresh grid
                            var optionsGrid = $("#attributecombinations-grid");
                            optionsGrid.data('tGrid').ajaxRequest();

                            //return false to don't reload a page
                            return false;
                        });

                        $('#btnCreateAllCombinations, #btnDeleteAllCombinations').click(function () {
                            $(this).doAjax({
                                callbackSuccess: function (resp) {
                                    $('#btnRefreshCombinations').click();
                                }
                            });
                        });
                    });
                </script>
            </div>
            <div>
				<script>
					function onRowDataBound_Combinations(e) {
						if (!e.dataItem.IsActive) {
							$(e.row).find('td').wrapInner('<span class="muted" />');
						}
					}
				</script>
				
				@(Html.Telerik().Grid<ProductVariantAttributeCombinationModel>()
					.Name("attributecombinations-grid")
					.DataKeys(keys =>
					{
						keys.Add(x => x.Id);
					})
					.Columns(columns =>
					{
						columns.Bound(x => x.AttributesXml)
							.ClientTemplate("<a href=\"#\" onclick=\"" + "OpenWindow('" + @Url.Content("~/Admin/Product/AttributeCombinationEditPopup/") + "<#= Id #>?btnId=btnRefreshCombinations&formId=product-form', 1000, 800, true); return false;\"><#= AttributesXml #></a><br /><span style=\"color: red\"><#= Warnings #></span>")
							.Width(460)
							.Encoded(false)
							.ReadOnly();
						columns.Bound(x => x.IsActive)
							.Width(80)
							.Template(item => @Html.SymbolForBool(item.IsActive))
							.ClientTemplate(@Html.SymbolForBool("IsActive"))
							.Centered();
						columns.Bound(x => x.ProductUrl)
							.Width(120)
							.Centered()
							.ClientTemplate("<a href=\"<#= ProductUrl #>\" target=\"_blank\"><#= ProductUrlTitle #></a>");
						columns.Bound(x => x.Sku);
						columns.Bound(x => x.Price)
							.Format("{0:0.00}")
							.RightAlign();
						columns.Bound(x => x.StockQuantity)
							.Width(160)
							.Centered();
						columns.Bound(x => x.AllowOutOfStockOrders)
							.Width(60)
							.HeaderTemplate("<i class=\"fa fa-sort-numeric-desc\" title=\"" + @T("admin.catalog.products.productvariantattributes.attributecombinations.fields.allowoutofstockorders").Text + "\"></i>")
							.Template(item => @Html.SymbolForBool(item.AllowOutOfStockOrders))
							.ClientTemplate(@Html.SymbolForBool("AllowOutOfStockOrders"))
							.Centered();
						//columns.Bound(x => x.Id)
						//    .Width(90)
						//    .Centered()
						//    .ClientTemplate("<button onclick=\"" + "OpenWindow('" + @Url.Content("~/Admin/Product/AttributeCombinationEditPopup/") + "<#= Id #>?btnId=btnRefreshCombinations&formId=product-form', 1000, 800, true); return false;\" class='btn'>" + @T("Admin.Common.Edit").Text + "</button>")
						//    .Title("");
						columns.Command(commands =>
						{
							commands.Delete().Localize(T);
						})
						.Width(90);
					})
					.Pageable(settings => settings.PageSize(100).Position(GridPagerPosition.Both))
					.DataBinding(dataBinding =>
					{
						dataBinding.Ajax()
							.Select("ProductVariantAttributeCombinationList", "Product", new { productId = Model.Id })
							.Delete("ProductVariantAttributeCombinationDelete", "Product");
					})
					.ClientEvents(events => events.OnRowDataBound("onRowDataBound_Combinations"))
					.EnableCustomBinding(true))
            </div>

            <div>
                <button class="btn btn-warning btn-below add-new-combination">
                    <i class="fa fa-plus"></i>
                    @T("Admin.Catalog.Products.ProductVariantAttributes.AttributeCombinations.AddNew")
                </button>
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                @T("Admin.Catalog.Products.ProductVariantAttributes.NoAttributesAvailable")
            </div>
        }
    }
    else
    {
        <div class="alert alert-danger">
            @T("Admin.Catalog.Products.ProductVariantAttributes.SaveBeforeEdit")
        </div>
    }
</div>