@model ProductModel
@using Telerik.Web.Mvc.UI;
@{
	ViewBag.Title = T("Admin.Catalog.Products.EditProductDetails").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "product-form" })) {
    <div class="section-header">
        <div class="title">
            @if (!String.IsNullOrEmpty(Model.PictureThumbnailUrl)) {
                <img src="@Url.Content(Model.PictureThumbnailUrl)" />
			}
            @T("Admin.Catalog.Products.EditProductDetails") - <span title="@Model.Name">@Model.Name.Truncate(45, "...")</span> 
			<a href='@Url.Action("List")'>(@T("Admin.Catalog.Products.BackToList"))</a>
        </div>
        <div class="options">
			@{ Html.RenderWidget("admin_button_toolbar_before"); }

			<button type="submit" name="preview" value="preview" onclick="javascript:openWindow('@Model.ProductUrl', 1000, 600, true); return false;" class="btn">
                <i class="fa fa-eye"></i>
                @T("Admin.Common.Preview")
            </button>
			<button type="submit" value="save" class="btn btn-primary entity-commit-trigger" data-commit-type="product" data-commit-action="update" data-commit-id="@Model.Id">
				<i class="fa fa-check"></i>
				@T("Admin.Common.Save")
			</button>
			<button type="submit" value="save-continue" class="btn entity-commit-trigger" data-commit-type="product" data-commit-action="update" data-commit-id="@Model.Id">
				@T("Admin.Common.SaveContinue")
			</button>
			<a href="#copyproduct-window" data-toggle="modal" class="btn">
				<i class="fa fa-files-o"></i>&nbsp;@T("Admin.Catalog.Products.Copy")
			</a>
			<button type="submit" id="product-delete" class="btn btn-danger">
				<i class="fa fa-trash-o"></i>
				@T("Admin.Common.Delete")
			</button>

			@{ Html.RenderWidget("admin_button_toolbar_after"); }
        </div>
    </div>

    Html.RenderPartial("_CreateOrUpdate", Model);
}
@Html.DeleteConfirmation("product-delete")

@*copy product form*@
@{Html.SmartStore().Window()
		.Name("copyproduct-window")
		.Title(T("Admin.Catalog.Products.Copy").Text)
		.Content(@<text>
    @using (Html.BeginForm("CopyProduct", "Product", FormMethod.Post, new { style = "margin:0;" })) {
        @Html.HiddenFor(model => Model.CopyProductModel.Id)

		<div class="dialog-content-container">
			<table class="adminContent">
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(model => model.CopyProductModel.Name)
				</td>
				<td class="adminData">
					@Html.EditorFor(model => Model.CopyProductModel.Name)
				</td>
			</tr>
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(model => model.CopyProductModel.Published)
				</td>
				<td class="adminData">
					@Html.EditorFor(model => Model.CopyProductModel.Published)
				</td>
			</tr>
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(model => model.CopyProductModel.CopyImages)
				</td>
				<td class="adminData">
					@Html.EditorFor(model => Model.CopyProductModel.CopyImages)
				</td>
			</tr>
			</table>
		</div>
	}
    </text>)
    .FooterContent(@<text>
        <button id="copyproduct" type="button" class="btn btn-primary">
            <i class="fa fa-files-o"></i>
            @T("Admin.Catalog.Products.Copy")
        </button>
    </text>)
		.Width(500)
        .Height(500)
		.Modal(true)
		.Visible(false)
		.Render();
}
<script type="text/javascript">
	$(document).ready(function () {
		// Copy product
        $("#copyproduct").click(function (e) {
            e.preventDefault();
            $('#copyproduct-window').find('form').submit();
        });

    	// Show modal dialog to copy attribute options
        $(document).on('change', '#productvariantattributes-grid select[id^=OptionsSetsChoice]', function (e) {
        	e.stopPropagation();

        	var select = $(e.currentTarget),
				form = $('#CopyOptionsForm'),
				valueCount = parseInt(select.attr('data-valcount')),
				productVariantAttributeId = select.attr('id').replace('OptionsSetsChoice', '');

        	form.find('input[name=productVariantAttributeId]').val(productVariantAttributeId);
        	form.find('input[name=optionsSetId]').val(select.val());

        	if (valueCount > 0) {
        		var hint = $('#CopyOptionsHintTemplate').text().replace('{0}', select.find(':selected').text());
        		$('#CopyOptionsHint').text(hint);

        		$('#CopyAttributeOptionsDialog').modal('show');
        	}
        	else {
        		$('#btnCopyAttributeOptions').trigger('click');
        	}
        });

    	// Copy attribute options
        $('#btnCopyAttributeOptions').click(function () {
        	$('#CopyOptionsForm').doAjax({
        		type: 'POST',
        		callbackSuccess: function () {
        			$('#productvariantattributes-grid').data('tGrid').ajaxRequest();
        		}
        	});
        });

		// Bundle per item pricing
        $(document).on('change', '#@Html.FieldIdFor(model => model.BundlePerItemPricing)', function () {
        	bundlePerItemPricing($(this).is(':checked'));
        });

        bundlePerItemPricing(@(Model.BundlePerItemPricing.ToString().ToLower()));

        function bundlePerItemPricing(isActive) {
        	$('#TierPriceContainer').toggle(!isActive);
        	$('#group-prices').find('.base-price').toggle(!isActive);
        	$('a[href=#tab-discounts]').parent().toggle(!isActive);
        }

		// Bundle per item in shopping cart
        $(document).on('change', '#@Html.FieldIdFor(model => model.BundlePerItemShoppingCart)', function () {
        	bundlePerItemShoppingCart($(this).is(':checked'));
        });

        bundlePerItemShoppingCart(@(Model.BundlePerItemShoppingCart.ToString().ToLower()));

        function bundlePerItemShoppingCart(isActive) {
        	$('a[href=#tab-inventory]').parent().toggle(!isActive);
        }

    });
</script>

@* Copy attribute options dialog. Must not be placed inside another form. *@
@if (Model.Id != 0 && Model.NumberOfAvailableProductAttributes > 0)
{
	<div id="CopyAttributeOptionsDialog" class="modal hide fade" tabindex="-1">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><b>&#215;</b></button>
			<h4 class="caption">@T("Admin.Catalog.Products.ProductVariantAttributes.Attributes.Values.CopyOptions")</h4>
		</div>
		<div class="modal-body">

			<form id="CopyOptionsForm" method="POST" action="@Url.Action("CopyAttributeOptions", "Product")">
				<input type="hidden" name="productVariantAttributeId" value="" />
				<input type="hidden" name="optionsSetId" value="" />

				<div id="CopyOptionsHintTemplate" class="hide">@T("Admin.Catalog.Products.ProductVariantAttributes.Attributes.Values.CopyOptionsHint")</div>
				<p id="CopyOptionsHint"></p>

				<div>
					<p>@T("Admin.Catalog.Products.ProductVariantAttributes.Attributes.Values.AskExistingValues")</p>
					<div class="radio">
						<label>
							<input type="radio" name="deleteExistingValues" value="false" checked="checked" />
							@T("Admin.Catalog.Products.ProductVariantAttributes.Attributes.Values.MergeExistingValues")
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="deleteExistingValues" value="true" />
							@T("Admin.Catalog.Products.ProductVariantAttributes.Attributes.Values.DeleteExistingValues")
						</label>
					</div>
				</div>
			</form>

		</div>
		<div class="modal-footer">
			<button id="btnCopyAttributeOptions" class="btn btn-primary" data-dismiss="modal">@T("Common.OK")</button>
			<button class="btn" data-dismiss="modal">@T("Common.Cancel")</button>
		</div>
	</div>
}