@model ProductModel
@using Telerik.Web.Mvc.UI;
@{
	ViewBag.Title = T("Admin.Catalog.Products.EditProductDetails").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "product-form" })) {
    <div class="section-header">
        <div class="title">
            @if (!String.IsNullOrEmpty(Model.PictureThumbnailUrl)) {
                <img src="@Url.Content(Model.PictureThumbnailUrl)" />
			}
            @T("Admin.Catalog.Products.EditProductDetails") - <span title="@Model.Name">@Model.Name.Truncate(45, "...")</span> 
			<a href='@Url.Action("List")'>(@T("Admin.Catalog.Products.BackToList"))</a>
        </div>
        <div class="options">
			@Html.Widget("admin_button_toolbar_before")

			<button type="submit" name="preview" value="preview" onclick="javascript:OpenWindow('@Model.ProductUrl', 1000, 600, true); return false;" class="btn">
                <i class="fa fa-eye"></i>
                @T("Admin.Common.Preview")
            </button>
			<button type="submit" value="save" class="btn btn-primary entity-commit-trigger" data-commit-type="product" data-commit-action="update" data-commit-id="@Model.Id">
				<i class="fa fa-check"></i>
				@T("Admin.Common.Save")
			</button>
			<button type="submit" value="save-continue" class="btn entity-commit-trigger" data-commit-type="product" data-commit-action="update" data-commit-id="@Model.Id">
				@T("Admin.Common.SaveContinue")
			</button>
			<a href="#copyproduct-window" data-toggle="modal" class="btn">
				<i class="fa fa-files-o"></i>&nbsp;@T("Admin.Catalog.Products.Copy")
			</a>
			<button type="submit" id="product-delete" class="btn btn-danger">
				<i class="fa fa-trash-o"></i>
				@T("Admin.Common.Delete")
			</button>

			@Html.Widget("admin_button_toolbar_after")
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("product-delete")

@*copy product form*@
@{Html.SmartStore().Window()
		.Name("copyproduct-window")
		.Title(T("Admin.Catalog.Products.Copy").Text)
		.Content(@<text>
    @using (Html.BeginForm("CopyProduct", "Product", FormMethod.Post, new { style = "margin:0;" })) {
        @Html.HiddenFor(model => Model.CopyProductModel.Id)

		<div class="dialog-content-container">
			<table class="adminContent">
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(model => model.CopyProductModel.Name)
				</td>
				<td class="adminData">
					@Html.EditorFor(model => Model.CopyProductModel.Name)
				</td>
			</tr>
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(model => model.CopyProductModel.Published)
				</td>
				<td class="adminData">
					@Html.EditorFor(model => Model.CopyProductModel.Published)
				</td>
			</tr>
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(model => model.CopyProductModel.CopyImages)
				</td>
				<td class="adminData">
					@Html.EditorFor(model => Model.CopyProductModel.CopyImages)
				</td>
			</tr>
			</table>
		</div>
	}
    </text>)
    .FooterContent(@<text>
        <button id="copyproduct" type="button" class="btn btn-primary">
            <i class="fa fa-files-o"></i>
            @T("Admin.Catalog.Products.Copy")
        </button>
    </text>)
		.Width(500)
        .Height(500)
		.Modal(true)
		.Visible(false)
		.Render();
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#copyproduct").click(function (e) {
            e.preventDefault();
            $('#copyproduct-window').find('form').submit();
        });
    });
</script>
