@model ContentSliderModel
@using SmartStore.Web.Models.ContentSlider;

<div id="carousel-2" class="carousel slide xhide-on-active-filter bright fluid d-none d-md-block" data-ride="carousel" data-interval="@Model.Delay" style="display:@(Model.IsActive == true ? "block" : "none"); background-color: transparent;height:@(Model.Height)px">
    <ol class="carousel-indicators">
        @if (Model.IsActive == true)
        {
            for (int i = 0; i < Model.Slides.Count; i++)
            {
                if (i == 0)
                {
                    <li data-target="#carousel-2" data-slide-to=@i class="active"></li>
                }
                else
                {
                    <li data-target="#carousel-2" data-slide-to=@i class=""></li>
                }
            }
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @if (Model.IsActive == true)
        {
            for (int i = 0; i < Model.Slides.Count; i++)//foreach (var slide in Model.Slides)
            {
                var slide = Model.Slides[i];
                <div id="carousel-item-@i" class="carousel-item bright pb-0 product-slide @(i == 0 ? "active" : "")" style="background-color: transparent;height:400px">
                    @if (slide.SlideType == (int)SmartStore.Core.Domain.ContentSlider.SlideType.ProductSlide)
                    {
                        if (slide.DisplayPrice == true && Math.Floor(slide.ProductDetails.ProductPrice.SavingPercent) > 0)
                        {
                            <div class="slide-badges d-flex">
                                <div class="badge badge-danger">- @Math.Floor(slide.ProductDetails.ProductPrice.SavingPercent)%</div>
                            </div>
                        }
                    }
                    <div class="container d-flex flex-column h-100 slide-type-4">
                        @if (slide.SlideType == (int)SmartStore.Core.Domain.ContentSlider.SlideType.ProductSlide)
                        {
                            <div class="data pb-3">

                                <h4 class="slide-title display-4 aos-init aos-animate" data-aos="slide-down" data-aos-easing="ease-out-cubic">
                                    <a href="@Url.RouteUrl("Product", new RouteValueDictionary { { "SeName", slide.ProductDetails.SeName } })">
                                        <span>@slide.SlideTitle</span>
                                    </a>
                                </h4>
                                <p class="slide-subtitle fs-h4 d-none d-lg-block aos-init aos-animate" title="" data-aos="slide-down" data-aos-easing="ease-out-cubic">
                                    @slide.SlideContent
                                </p>
                                @if (slide.DisplayPrice == true)
                                {
                                    if (@slide.ProductDetails.ProductPrice.SavingPercent > 0)
                                    {
                                        <div class="prices aos-init aos-animate" data-aos="slide-left">
                                            <p class="old-product-price h3">
                                                <span class="price">@slide.ProductDetails.ProductPrice.OldPrice</span>
                                            </p>
                                            <p class="product-price h2">
                                                <span class="price">@slide.ProductDetails.ProductPrice.Price</span>
                                            </p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="prices aos-init aos-animate" data-aos="slide-left">
                                            <p class="product-price h3">
                                                <span class="price">@slide.ProductDetails.ProductPrice.Price</span>
                                            </p>
                                        </div>
                                    }
                                }
                            </div>
                        }
                        else if (slide.SlideType == (int)SmartStore.Core.Domain.ContentSlider.SlideType.CategorySlide)
                        {
                            <div class="data pb-3">
                                <h4 class="slide-title display-4 aos-init aos-animate" data-aos="slide-down" data-aos-easing="ease-out-cubic">
                                    <a href="@Url.RouteUrl("Category", new RouteValueDictionary { { "SeName", slide.CategoryDetails.SeName } })">
                                        <span>@slide.SlideTitle</span>
                                    </a>
                                </h4>
                                <p class="slide-subtitle fs-h4 d-none d-lg-block aos-init aos-animate" title="" data-aos="slide-down" data-aos-easing="ease-out-cubic">
                                    @slide.SlideContent
                                </p>
                            </div>
                        }
                        else if (slide.SlideType == (int)SmartStore.Core.Domain.ContentSlider.SlideType.ManufacturerSlide)
                        {
                            <div class="data pb-3">
                                <h4 class="slide-title display-4 aos-init aos-animate" data-aos="slide-down" data-aos-easing="ease-out-cubic">
                                    <a href="@Url.RouteUrl("Manufacturer", new RouteValueDictionary { { "SeName", slide.ManufacturerDetails.SeName } })">
                                        <span>@slide.SlideTitle</span>
                                    </a>
                                </h4>
                                <p class="slide-subtitle fs-h4 d-none d-lg-block aos-init aos-animate" title="" data-aos="slide-down" data-aos-easing="ease-out-cubic">
                                    @slide.SlideContent
                                </p>
                            </div>
                        }
                        else if (slide.SlideType == (int)SmartStore.Core.Domain.ContentSlider.SlideType.NormalSlide)
                        {
                            <div class="data pb-3">
                                <h4 class="slide-title display-4 aos-init aos-animate" data-aos="slide-down" data-aos-easing="ease-out-cubic">
                                    <span>@slide.SlideTitle</span>
                                </h4>
                                <p class="slide-subtitle fs-h4 d-none d-lg-block aos-init aos-animate" title="" data-aos="slide-down" data-aos-easing="ease-out-cubic">
                                    @slide.SlideContent
                                </p>
                            </div>
                        }
                    <figure class="picture align-self-stretch mt-auto mb-0 aos-init aos-animate" data-aos="zoom-in" data-aos-easing="ease-out-cubic">
                        @if (slide.SlideType == (int)SmartStore.Core.Domain.ContentSlider.SlideType.ProductSlide)
                        {
                            <a href="@Url.RouteUrl("Product", new RouteValueDictionary { { "SeName", slide.ProductDetails.SeName } })" title="@slide.PictureModel.Name">
                                <img alt="@slide.PictureModel.AlternateText" src="@slide.PictureModel.PictureModel.ImageUrl" title="@slide.PictureModel.Name" class="img-fluid">
                            </a>
                        }
                        else if (slide.SlideType == (int)SmartStore.Core.Domain.ContentSlider.SlideType.CategorySlide)
                        {
                            <a href="@Url.RouteUrl("Category", new RouteValueDictionary { { "SeName", slide.CategoryDetails.SeName } })" title="@slide.PictureModel.Name">
                                <img alt="@slide.PictureModel.AlternateText" src="@slide.PictureModel.PictureModel.ImageUrl" title="@slide.PictureModel.Name" class="img-fluid">
                            </a>
                        }
                        else if (slide.SlideType == (int)SmartStore.Core.Domain.ContentSlider.SlideType.ManufacturerSlide)
                        {
                            <a href="@Url.RouteUrl("Manufacturer", new RouteValueDictionary { { "SeName", slide.ManufacturerDetails.SeName } })" title="@slide.PictureModel.Name">
                                <img alt="@slide.PictureModel.AlternateText" src="@slide.PictureModel.PictureModel.ImageUrl" title="@slide.PictureModel.Name" class="img-fluid">
                            </a>
                        }
                        else if (slide.SlideType == (int)SmartStore.Core.Domain.ContentSlider.SlideType.NormalSlide)
                        {
                            <img alt="@slide.PictureModel.AlternateText" src="@slide.PictureModel.PictureModel.ImageUrl" title="@slide.PictureModel.Name" class="img-fluid">
                        }
                    </figure>
                        @if (slide.SlideType == (int)SmartStore.Core.Domain.ContentSlider.SlideType.ProductSlide)
                        {
                            if (slide.DisplayButton == true)
                            {
                                <div class="product-slide-buttons d-none d-md-block pt-3 aos-init aos-animate" data-aos="slide-up">
                                    <a href="@Url.RouteUrl("Product", new RouteValueDictionary { { "SeName", slide.ProductDetails.SeName } })" class="btn btn-clear-dark btn-animate btn-animate-right btn-lg" title="Description">
                                        <span>
                                            <i class="fa fa-angle-right"></i>
                                            <span>@T("Common.MoreInfo")</span>
                                        </span>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        }
    </div>
    <a class="left carousel-control" href="#carousel-2" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-2" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>