@model SmartStore.DevTools.ProfilerSettings
@using SmartStore.Web.Framework;

@{ Html.RenderAction("StoreScopeConfiguration", "Setting", new { area = "Admin" }); }

@using (Html.BeginForm())
{
	<div class="plugin-actions">
		<button type="submit" name="save" value="save" class="btn btn-warning">
			<i class="fa fa-check"></i>
			<span>@T("Admin.Common.Save")</span>
		</button>
	</div>
	<table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.EnableMiniProfilerInPublicStore)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.EnableMiniProfilerInPublicStore)
                @Html.ValidationMessageFor(model => model.EnableMiniProfilerInPublicStore)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.DisplayWidgetZones)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.DisplayWidgetZones)
                @Html.ValidationMessageFor(model => model.DisplayWidgetZones)
            </td>
        </tr>
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(model => model.DisplayMachineName)
			</td>
			<td class="adminData">
				@Html.SettingEditorFor(model => model.DisplayMachineName)
				@Html.ValidationMessageFor(model => model.DisplayMachineName)
			</td>
		</tr>
    </table>
}