@model SmartStore.DevTools.ProfilerSettings
@using SmartStore.Web.Framework;

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.EnableMiniProfilerInPublicStore)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.EnableMiniProfilerInPublicStore)
                @Html.ValidationMessageFor(model => model.EnableMiniProfilerInPublicStore)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.DisplayWidgetZones)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.DisplayWidgetZones)
                @Html.ValidationMessageFor(model => model.DisplayWidgetZones)
            </td>
        </tr>
		<tr>
			<td class="adminTitle">
				&nbsp;
			</td>
			<td class="adminData">
				<button type="submit" name="save" value="save" class="btn btn-primary">
					<i class="fa fa-check"></i>
					@T("Admin.Common.Save")
				</button>
			</td>
		</tr>
    </table>
}