@model CategoryModel
@{
    //page title
    ViewBag.Title = T("Admin.Catalog.Categories.EditCategoryDetails").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "category-form" }))
{
    <div class="section-header">
        <div class="title">
            @T("Admin.Catalog.Categories.EditCategoryDetails") - @Model.Name 
			<a href='@Url.Action("List")'>(@T("Admin.Catalog.Categories.BackToList"))</a>
        </div>
        <div class="options">
			<button type="submit" name="preview" value="preview" onclick="javascript:OpenWindow('@Url.RouteUrl("Category", new { SeName = Model.SeName })', 800, 600, true); return false;" class="btn">
				<i class="fa fa-eye"></i>&nbsp;@T("Admin.Common.Preview")
			</button>
            <button type="submit" name="save" value="save" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="btn">@T("Admin.Common.SaveContinue")</button>
            <button type="submit" id="category-delete" value="category-delete" class="btn btn-danger" data-toggle="modal" data-target="#DeleteCategoryModal"><i class="fa fa-trash-o"></i>&nbsp;@T("Admin.Common.Delete")</button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}

<div id="DeleteCategoryModal" class="modal hide fade" tabindex="-1">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><b>x</b></button>
		<h4 class="caption">@T("Admin.Catalog.Categories.Delete.Caption")</h4>
	</div>
    <div class="modal-body">

		<form id="DeleteCategoryForm" method="POST" action="@Url.Action("Delete", "Category")">
			<input type="hidden" name="id" value="@Model.Id" />

			<p>@T("Admin.Catalog.Categories.Delete.Hint")</p>

			<div class="clearfix">
				<label for="deleteType_1" class="radio pull-left">
					<input type="radio" id="deleteType_1" name="deleteType" value="resetparent" checked="checked" /> @T("Admin.Catalog.Categories.Delete.ResetParentOfChilds")
				</label>
			</div>
			<div class="clearfix">
				<label for="deleteType_2" class="radio pull-left">
					<input type="radio" id="deleteType_2" name="deleteType" value="deletechilds" /> @T("Admin.Catalog.Categories.Delete.DeleteChilds")
				</label>
			</div>
		</form>

	</div>
    <div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal" onclick="$('#DeleteCategoryForm').submit();">@T("Common.OK")</button>
		<button class="btn" data-dismiss="modal">@T("Common.Cancel")</button>
    </div>
</div>
