@using SmartStore.Web.Models.Common;
@model EntityPickerModel
@helper HighlightSearchTermInTitle(EntityPickerModel.SearchResultModel item)
{
	if (Model.HighligtSearchTerm && Model.SearchTerm.HasValue() && item.Title.HasValue())
	{
		@Html.Raw(item.Title.Replace(Model.SearchTerm, "<span class=\"highlight\">{0}</span>".FormatInvariant(Model.SearchTerm), StringComparison.OrdinalIgnoreCase))
	}
	else
	{
		@item.Title
	}
}
@foreach (var item in Model.SearchResult ?? Enumerable.Empty<EntityPickerModel.SearchResultModel>())
{
	<div class="item@(item.Disable ? " disable" : "")" data-id="@item.Id" data-returnvalue="@item.ReturnValue">
		@if (item.ImageUrl.HasValue())
		{
			<div class="thumb">
				<img class="img-polaroid" src="@item.ImageUrl" alt="" />
			</div>
		}
		<div class="data">
			@if (item.LabelText.HasValue())
			{
				<div class="label @item.LabelClassName">@item.LabelText</div>
			}
			<div class="title ellipsis" title="@item.Title">
				<span>@HighlightSearchTermInTitle(item)</span>
			</div>
			<div class="summary muted" title="@item.SummaryTitle">@item.Summary</div>
			@if (item.Published.HasValue)
			{
				<i class="published fa fa-fw icon-active-@item.Published.Value.ToString().ToLower()" title="@(item.Published.Value ? Model.PublishedString : Model.UnpublishedString)"></i>
			}
		</div>
	</div>
}
<div class="list-footer">
	@if (Model.SearchResult == null || Model.SearchResult.Count == 0)
	{
		@T("Common.EntityPicker.NoMoreItemsFound")
	}
	else if (Model.SearchResult.Count == Model.PageSize)
	{
		<a href="javascript:void(0)" class="entity-picker-showmore">@(T("Common.ShowMore"))&hellip;</a>
	}
	else if (Model.PageIndex > 0)
	{
		@T("Common.EntityPicker.NoMoreItemsFound")
	}
</div>