@model InfoBlockModel
@using SmartStore.Web.Models.Common;
<div class="block block-bordered block-info">
    <div class="block-title">
        @T("Information")
    </div>
    <div class="block-body listbox">
        <ul>
            @Html.Widget("infoblock_before")

			@if (Model.TopicPageUrls.ContainsKey("contactus"))
			{
				<li><a href="@Model.TopicPageUrls["contactus"]">@T("ContactUs")</a></li>
			}
			@if (Model.TopicPageUrls.ContainsKey("aboutus"))
			{
				<li><a href="@Model.TopicPageUrls["aboutus"]">@T("AboutUs")</a></li>
			}
            @if (Model.BlogEnabled)
            {
                <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
            }
            @if (Model.ForumEnabled)
            {
                <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
            }
            @if (Model.RecentlyAddedProductsEnabled)
            {
                <li><a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a></li>
            }
            @if (Model.RecentlyViewedProductsEnabled)
            {
                <li><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
            }
            @if (Model.CompareProductsEnabled)
            {
                <li><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>            
            }
            @if (Model.SitemapEnabled)
            {
                <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
            }
			@if (Model.TopicPageUrls.ContainsKey("shippinginfo"))
			{
				<li><a href="@Model.TopicPageUrls["shippinginfo"]">@T("ShippingReturns")</a></li>
			}
			@if (Model.TopicPageUrls.ContainsKey("privacyinfo"))
			{
				<li><a href="@Model.TopicPageUrls["privacyinfo"]">@T("PrivacyNotice")</a></li>
			}
			@if (Model.TopicPageUrls.ContainsKey("conditionsofuse"))
			{
				<li><a href="@Model.TopicPageUrls["conditionsofuse"]">@T("ConditionsOfUse")</a></li>
			}

            @Html.Widget("infoblock_after")
        </ul>
    </div>
</div>
