@model MenuModel
@using SmartStore.Web.Models.Common;

<ul class="pull-left">
    @Html.Widget("header_menu_before")

    @if (Model.IsCustomerImpersonated)
    {
        <li class="finish-impersonation">
            <a href="@Url.RouteUrl("Logout")" title="@T("Account.ImpersonatedAs.Finish.Hint")" rel="nofollow">
                <i class="fa fa-sign-out"></i>
                @Model.CustomerEmailUsername
            </a>
        </li>
    }
    <li>
        <a href="@Url.RouteUrl("HomePage")">
            @T("HomePage")
        </a>
    </li>
    @if (Model.AllowPrivateMessages)
    {
        <li>
            <a href="@Url.RouteUrl("PrivateMessages", new { tab = "inbox" })" rel="nofollow">
                @T("PrivateMessages.Inbox")
                @if (Model.UnreadPrivateMessages > 0) 
                {
                    <span class="label label-info">@Model.UnreadPrivateMessages</span>
                }
            </a>
        </li>
    }
    @if (Model.RecentlyAddedProductsEnabled)
    {
        <li>
            <a href="@Url.RouteUrl("RecentlyAddedProducts")">
                @T("Products.NewProducts")
            </a>
        </li>
    }
    <li>
        <a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a>
    </li>
    <li>
        <a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a>
    </li>

    @Html.Widget("header_menu_after")
</ul>

@if (Model.NewsEnabled || Model.BlogEnabled || Model.ForumEnabled || Model.DisplayAdminLink || Model.DisplayAdminLink)
{
    <ul class="pull-left special">
		@if (Model.NewsEnabled)
		{
			<li>
				<a class="special-news" href="@Url.RouteUrl("NewsArchive")">
					<i class="fa fa-rss-square"></i>
					@T("News")
				</a>
			</li>
		}
        @if (Model.BlogEnabled)
        {
            <li>
                <a class="special-blog" href="@Url.RouteUrl("Blog")">
                    <i class="fa fa-pencil-square-o"></i>
                    @T("Blog")
                </a>
            </li>
        }
        @if (Model.ForumEnabled)
        {
            <li>
                <a class="special-forum" href="@Url.RouteUrl("Boards")">
                    <i class="fa fa-users"></i>
                    @T("Forum.Forums")
                </a>
            </li>
        }
        @if (Model.DisplayAdminLink)
        {
            <li>
                <a href="@Url.Content("~/admin")" target="_admin" rel="nofollow">
                    <i class="fa fa-cog"></i> 
                    @T("Account.Administration")
                </a>
            </li>
        }
    </ul>
}

