@model TopicModel
@{    
    ViewBag.Title = T("Admin.ContentManagement.Topics.EditTopicDetails").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            @T("Admin.ContentManagement.Topics.EditTopicDetails") - @Model.SystemName @Html.ActionLink("(" + T("Admin.ContentManagement.Topics.BackToList") + ")", "List")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-warning">
				<i class="fa fa-check"></i>
				<span>@T("Admin.Common.Save")</span>
			</button>
            <button type="submit" name="save" value="save-continue" class="btn btn-secondary">
				<span>@T("Admin.Common.SaveContinue")</span>
			</button>
            <button type="submit" name="topic-delete" value="topic-delete" id="topic-delete" class="btn btn-danger">
				<i class="fa fa-trash-o"></i>
				<span>@T("Admin.Common.Delete")</span>
			</button>
        </div>
    </div>

    Html.RenderPartial("_CreateOrUpdate", Model);
}
@Html.DeleteConfirmation("topic-delete")