@model CustomerModel
@{
    //page title
    ViewBag.Title = T("Admin.Customers.Customers.AddNew").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            @T("Admin.Customers.Customers.AddNew") 
			<a href='@Url.Action("List")'>(@T("Admin.Customers.Customers.BackToList"))</a>
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="btn">@T("Admin.Common.SaveContinue")</button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}