@model DashboardChartReportModel
@using Newtonsoft.Json;
@{
    var jsonData = JsonConvert.SerializeObject(Model);
}

<div class="report">
    <div class="report-title-row">
        <div class="report-title">@T("Admin.Customers.Reports.RegisteredCustomers")</div>

        <div class="pl-4 fs-h5">
            <span id="orders-sum-amount" class="text-muted"></span>
        </div>

        <div class="pl-3 fs-h5">
            <span id="customers-delta-percentage"></span><span id="customers-delta-percentage-chevron" class="chevron pl-1 d-none"></span>
        </div>

        <div class="btn-group btn-group-toggle ml-auto" data-toggle="buttons">
            <label class="btn btn-secondary btn-dashboard active">
                <input type="radio" name="customers-toggle" data-period="0" autocomplete="off" checked>
                @T("Time.Today")
            </label>
            <label class="btn btn-secondary btn-dashboard">
                <input type="radio" name="customers-toggle" data-period="1" autocomplete="off">
                @T("Time.Yesterday")
            </label>
            <label class="btn btn-secondary btn-dashboard">
                <input type="radio" name="customers-toggle" data-period="2" autocomplete="off">
                @T("Admin.Report.LastWeek")
            </label>
            <label class="btn btn-secondary btn-dashboard">
                <input type="radio" name="customers-toggle" data-period="3" autocomplete="off">
                @T("Admin.Report.LastMonth")
            </label>
            <label class="btn btn-secondary btn-dashboard">
                <input type="radio" name="customers-toggle" data-period="4" autocomplete="off">
                @T("Admin.Report.ThisYear")
            </label>
        </div>
    </div>
    <div>


    </div>
</div>

<script>
    $(document).ready(function () {
        $('input[type=radio][name=customers-toggle]').change(function () {
            SetChartData($('input:radio[name=customers-toggle]:checked').attr("period"));
        });

        function SetChartData(period) {
            // get chart elements and update chart with new data

            if (period === "day") {

            } else if (period === "yesterday") {

            } else if (period === "week") {

            } else if (period === "month") {

            } else if (period === "year") {

            } else {
                console.error("no valid chart period >>> " + period);
            }
        }

    });
</script>