@model RegisteredCustomersDashboardReportModel
@using Newtonsoft.Json;
@{
    var jsonData = JsonConvert.SerializeObject(Model);
}

<div class="bg-white rounded shadow-sm">
    <div class="px-4 pt-4 pb-0 d-flex">
        <div class="p-0 title-report fs-h5 font-weight-700">
            <i class="fa fa-users pr-2"></i>@T("Admin.Customers.Reports.RegisteredCustomers")
        </div>

        <div class="btn-group btn-group-toggle ml-auto" data-toggle="buttons">
            <label class="btn btn-secondary btn-dashboard align-self-center active">
                <input type="radio" name="orders-toggle" data-period="Day" autocomplete="off" checked>
                @T("Time.Today")
            </label>
            <label class="btn btn-secondary btn-dashboard align-self-center">
                <input type="radio" name="orders-toggle" data-period="Yesterday" autocomplete="off" checked>
                @T("Time.Yesterday")
            </label>
            <label class="btn btn-secondary btn-dashboard align-self-center">
                <input type="radio" name="customers-toggle" period="Week" autocomplete="off">
                @T("Time.Week")
            </label>
            <label class="btn btn-secondary btn-dashboard align-self-center">
                <input type="radio" name="customers-toggle" period="Month" autocomplete="off">
                @T("Time.Month")
            </label>
            <label class="btn btn-secondary btn-dashboard align-self-center">
                <input type="radio" name="customers-toggle" period="Year" autocomplete="off">
                @T("Time.Year")
            </label>
        </div>
    </div>
    <div>


    </div>
</div>

<script>
    $(document).ready(function () {
        $('input[type=radio][name=customers-toggle]').change(function () {
            SetChartData($('input:radio[name=customers-toggle]:checked').attr("period"));
        });

        function SetChartData(period) {
            // get chart elements and update chart with new data

            if (period === "day") {

            } else if (period === "week") {

            } else if (period === "month") {

            } else if (period === "year") {

            } else {
                console.error("no valid chart period >>> " + period);
            }
        }

    });
</script>