@model QueuedEmailModel
@{
    ViewBag.Title = T("Admin.System.QueuedEmails.EditQueuedEmailDetails").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            @T("Admin.System.QueuedEmails.EditQueuedEmailDetails") @Html.ActionLink("(" + T("Admin.System.QueuedEmails.BackToList") + ")", "List")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="btn">@T("Admin.Common.SaveContinue")</button>
            <button type="submit" name="requeue" value="requeue" class="btn"><i class="fa fa-repeat"></i>&nbsp;@T("Admin.System.QueuedEmails.Requeue")</button>
			@if (Model.SendManually)
			{
				<button type="submit" name="sendnow" value="sendnow" class="btn btn-primary" onclick="return confirm('@T("Admin.Common.AreYouSure")');">
					<i class="fa fa-envelope"></i>&nbsp;@T("Admin.Common.SendNow")
				</button>
			}
            <button id="queuedEmail-delete" class="btn btn-danger"><i class="fa fa-trash-o"></i>&nbsp;@T("Admin.Common.Delete")</button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("queuedEmail-delete")
