@model IList<ProductTagModel>

@using SmartStore.Web.Models.Catalog;

@{ 
	if (Model == null || Model.Count == 0)
	{
		return;
	}
}

<div class="pd-tags block">
    <div class="block-title">
        <h4>@T("Products.Tags")</h4>
    </div>
    <div class="block-body pt-3"> 
        @for (int i = 0; i < Model.Count; i++)
		{
			var tag = Model[i];
			<a href="@Url.RouteUrl("ProductsByTag", new { productTagId = tag.Id, path = tag.SeName })" class="pd-tag">
				<span @Html.LanguageAttributes(tag.Name)>@tag.Name</span> 
				<span class="pd-tag-count pl-1">@tag.ProductCount</span>
            </a>
        }
    </div>
</div>
