@model ProductDetailsPictureModel
@using SmartStore.Web.Models.Catalog;
@{
	Html.AddCssFileParts("~/css/smart-gallery");
	Html.AddScriptParts("~/bundles/smart-gallery");
}

<div id="pd-gallery-container-outer">
	<div id="pd-gallery" class="gal-box m-b-1">
		@if (Model.PictureModels.Count > 1)
		{
			<div class="gal-nav-cell hidden-md-down">
				<div class="gal-nav">
					@for (int i = 0; i < Model.PictureModels.Count; i++)
					{
						var picture = Model.PictureModels[i];
						<div class="gal-item">
							<div class="gal-item-viewport" href="#" data-medium-image="@picture.ImageUrl" title="@Model.Name" data-picture-id="@picture.PictureId">
								<img class="gal-item-content" src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" />
							</div>
						</div>
					}
				</div>
			</div>
		}

		<div class="gal-cell">
			<div class="gal">
				@if (Model.PictureModels.Count > 1)
				{
					for (int i = 0; i < Model.PictureModels.Count; i++)
					{
						var picture = Model.PictureModels[i];
						<div class="gal-item">
							<a class="gal-item-viewport" href="@picture.FullSizeImageUrl" data-thumg-image="@picture.ThumbImageUrl" data-medium-image="@picture.ImageUrl" title="@Model.Name" data-gallery="default" data-picture-id="@picture.PictureId">
								@if (i == Model.GalleryStartIndex)
								{
									<img class="gal-item-content" src="@picture.ImageUrl" alt="@picture.AlternateText" title="@picture.Title" />
								}
								else
								{
									<img class="gal-item-content" data-lazy="@picture.ImageUrl" alt="@picture.AlternateText" title="@picture.Title" />
								}
							</a>
						</div>
					}
				}
			</div>
		</div>
	</div>
</div>




<div id="x-pd-gallery" class="x-pd-gallery hidden-xs-up">
	<div class="sg-image-wrapper">
		@if (Model.DefaultPictureModel.ImageUrl.HasValue())
		{
			<img alt="@Model.DefaultPictureModel.AlternateText"
				 title="@Model.DefaultPictureModel.Title"
				 src="@Model.DefaultPictureModel.ImageUrl"
				 itemprop="image" />
		}
	</div>

	<div class="sg-nav">
		<div class="sg-thumbs">
			<ul class="sg-thumb-list">
				@if (Model.PictureModels.Count > 1)
				{
					for (int i = 0; i < Model.PictureModels.Count; i++)
					{
						var picture = Model.PictureModels[i];

						<li data-picture-id="@picture.PictureId">
							<a class="sg-thumb-list-link" href="@picture.FullSizeImageUrl" data-medium-image="@picture.ImageUrl" title="@Model.Name" data-gallery="x-default">
								<img class="sg-thumb-list-img" src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" />
							</a>
						</li>
					}
				}
				else if (Model.DefaultPictureModel.ThumbImageUrl.HasValue())
				{
					<li data-picture-id="@Model.DefaultPictureModel.PictureId">
						<a class="sg-thumb-list-link" href="@Model.DefaultPictureModel.FullSizeImageUrl" data-medium-image="@Model.DefaultPictureModel.ImageUrl" data-gallery="x-default">
							<img class="sg-thumb-list-img" src="@Model.DefaultPictureModel.ThumbImageUrl" alt="@Model.DefaultPictureModel.AlternateText" title="@Model.DefaultPictureModel.Title" />
						</a>
					</li>
				}
			</ul>
		</div>
	</div>
</div>