@using SmartStore.Core.Domain.Messages

@model MessageTemplate

@{
    ViewBag.Title = T("Admin.ContentManagement.MessageTemplates.EditMessageTemplateDetails").Text;
}

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <i class="fa fa-pencil-square-o"></i>
            @T("Admin.ContentManagement.MessageTemplates.EditMessageTemplateDetails") - @Model.Name @Html.ActionLink("(" + T("Admin.ContentManagement.MessageTemplates.BackToList") + ")", "List")
        </div>
        <div class="options">
			@{ Html.RenderWidget("admin_button_toolbar_before"); }

            <button type="submit" name="save" value="save" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;@T("Admin.Common.Save")</button>

			@{ Html.RenderWidget("admin_button_toolbar_after"); }
        </div>
    </div>

    <table  class="adminContent">
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(model => model.Subject)
			</td>
			<td class="adminData">
				@Html.TextBoxFor(model => model.Subject, new { @class = "input-large" })
				@Html.ValidationMessageFor(model => model.Subject)
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(model => model.Body)
			</td>
			<td class="adminData">
				@Html.EditorFor(model => model.Body, "CodeMirror")
				@Html.ValidationMessageFor(model => model.Body)
			</td>
		</tr>
	</table>
}