@model MessageTemplateModel
@{
	ViewBag.Title = T("Admin.ContentManagement.MessageTemplates.EditMessageTemplateDetails").Text;
}

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <i class="fa fa-pencil-square-o"></i>
            @T("Admin.ContentManagement.MessageTemplates.EditMessageTemplateDetails") - @Model.Name @Html.ActionLink("(" + T("Admin.ContentManagement.MessageTemplates.BackToList") + ")", "List")
        </div>
        <div class="options">
			@{ Html.RenderWidget("admin_button_toolbar_before"); }
			
			@* CAUTION: saving a template to XML overwrites the original raw content *@
			@*<button type="submit" name="save-in-file" value="save-in-file" class="btn btn-danger"><i class="fa fa-floppy-o"></i>&nbsp;Save as XML</button>*@
			<a id="btn-preview-template" class="btn btn-secondary" href="javascript:void(0)"><i class="fa fa-eye"></i>&nbsp;@T("Admin.Common.Preview")</a>
            <button type="submit" name="save" value="save" class="btn btn-warning"><i class="fa fa-check"></i>&nbsp;@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="btn btn-secondary">@T("Admin.Common.SaveContinue")</button>
            <button type="submit" name="message-template-copy" id="message-template-copy" class="btn btn-secondary" value="@T("Admin.ContentManagement.MessageTemplates.Copy")" onclick="return confirm('@T("Admin.Common.AreYouSure")');">
                <i class="fa fa-files-o"></i>&nbsp;@T("Admin.ContentManagement.MessageTemplates.Copy")
            </button>
			<button type="submit" name="message-template-delete" id="message-template-delete" class="btn btn-danger">
				<i class="fa fa-trash-o"></i>&nbsp;@T("Admin.Common.Delete")
			</button>

			@{ Html.RenderWidget("admin_button_toolbar_after"); }
        </div>
    </div>

	Html.RenderPartial("_CreateOrUpdate", Model);
}

@Html.DeleteConfirmation("message-template-delete")

@using (Html.BeginZoneContent("end", key: "preview-message-template"))
{
	Html.RenderAction("Preview", Model.Id);
}

<script>
	$(function () {

		$("#message-template-preview").modal({ show: false });

		$('#btn-preview-template').on('click', function (e) {
			e.preventDefault();
			openModalWindow('message-template-preview');
			return false;
		});
	});
</script>