@using SmartStore.Web.Models.Checkout;

@model SmartStore.AmazonPay.Models.AmazonPayViewModel

@{
    Layout = "~/Views/Shared/_Checkout.cshtml";
	
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
	Html.AddCssFileParts(true, Url.Content("~/Plugins/SmartStore.AmazonPay/Content/smartstore.amazonpay.css"));
}

@section orderProgress{
    @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Address, area = "" })
}

<div class="page shipping-address-page">
    <div class="page-title">
        <h1>@T("Checkout.ShippingAddress")</h1>
    </div>

    <div class="page-body checkout-data">
		@Html.Widget("checkout_shipping_address_top")

		@if (Model.Warning.HasValue())
		{
			<div class="alert alert-info">@Model.Warning</div>
		}

		<div class="amazon-pay-widget clearfix">
			<div id="@Model.GetWidgetId"></div>
		</div>

		@Html.Widget("checkout_shipping_address_middle")

		<div class="block clearfix">
			<div class="block-body">
				<div class="buttons">
					<a class="btn pull-left" href="@Url.Action("Cart", "ShoppingCart", new { area = "" })">
						<i class="fa fa-caret-left"></i>&nbsp;@T("Common.Back")
					</a>

					<a id="AmazonPayNextCheckoutStep" href="@Url.Action("ShippingMethod", "Checkout", new { area = "" })" class="btn btn-warning pull-right new-address-next-step-button hide">
						@T("Checkout.NextButton")&nbsp;<i class="fa fa-caret-right"></i>
					</a>
				</div>
			</div>
		</div>

		@Html.Widget("checkout_shipping_address_bottom")
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		try {
			new OffAmazonPayments.Widgets.AddressBook({
				sellerId: '@Model.SellerId',
				amazonOrderReferenceId: '@Model.OrderReferenceId',
				onAddressSelect: function (orderReference) {
					$('#AmazonPayNextCheckoutStep').fadeIn();
				},
				design: {
					size: { width: '@(Model.AddressWidgetWidth)px', height: '@(Model.AddressWidgetHeight)px' }
				},
				onError: function (e) {
					alert(e.getErrorMessage() + ' (' + e.getErrorCode() + ')');
				}
			}).bind('@Model.GetWidgetId');
		}
		catch (e) {
			alert(e.description);
		}
	});
</script>
