@model SmartStore.FacebookAuth.Models.ConfigurationModel
@using SmartStore.Web.Framework;
@{
	Layout = "";
}

<div class="alert alert-info alert-dismissible">
	@Html.Raw(T("Plugins.ExternalAuth.Facebook.AdminInstruction"))
	<button class="close" data-dismiss="alert">&times;</button>
</div>

@{ Html.RenderAction("StoreScopeConfiguration", "Setting", new { area = "Admin" }); }

@Html.ValidationSummary(false)

@using (Html.BeginForm())
{
	<div class="plugin-actions">
		<button type="submit" name="save" value="save" class="btn btn-warning">
			<i class="fa fa-check"></i>
			<span>@T("Admin.Common.Save")</span>
		</button>
	</div>
	<table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ClientKeyIdentifier)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.ClientKeyIdentifier)
                @Html.ValidationMessageFor(model => model.ClientKeyIdentifier)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ClientSecret)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.ClientSecret)
                @Html.ValidationMessageFor(model => model.ClientSecret)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.RedirectUrl)
            </td>
            <td class="adminData wide">
				@Html.TextBoxFor(model => model.RedirectUrl, new { @readonly = "readonly", @class = "form-control-plaintext" })
            </td>
        </tr>
    </table>
}