@{
    Layout = "";
}
@model SmartStore.FacebookAuth.Models.ConfigurationModel
@using SmartStore.Web.Framework;

<div class="debitoor-instructions alert alert-info">
	<button class="close" data-dismiss="alert">×</button>
	@Html.Raw(T("Plugins.ExternalAuth.Facebook.AdminInstruction"))
</div>

<div class="clear"></div>

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@Html.ValidationSummary(false)

<div class="clear"></div>

@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ClientKeyIdentifier)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.ClientKeyIdentifier)
                @Html.ValidationMessageFor(model => model.ClientKeyIdentifier)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ClientSecret)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.ClientSecret)
                @Html.ValidationMessageFor(model => model.ClientSecret)
            </td>
        </tr>
        <tr>
			<td class="adminTitle">
				&nbsp;
			</td>
			<td class="adminData">
                <button type="submit" name="save" value="save" class="btn btn-primary">
                    <i class="fa fa-check"></i>&nbsp;@T("Admin.Common.Save")
                </button>
            </td>
        </tr>
    </table>
}