@model DeliveryTimeModel
@{
    var cultures = System.Globalization.CultureInfo.GetCultures(System.Globalization.CultureTypes.SpecificCultures).ToList();
}

@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.Id)
@(Html.LocalizedEditor<DeliveryTimeModel, DeliveryTimeLocalizedModel>("delivery-time-info-localized",
    @<table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.Locales[item].Name)
            </td>
            <td class="adminData">
				@*IMPORTANT: Do not delete, this hidden element contains the id to assign localized values to the corresponding language *@
				@Html.HiddenFor(model => model.Locales[item].LanguageId)

                @Html.EditorFor(model => Model.Locales[item].Name)
                @Html.ValidationMessageFor(model => model.Locales[item].Name)
            </td>
        </tr>
    </table>
    ,
    @<table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.Name)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
    </table>
))

<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ColorHexValue)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.ColorHexValue, "Color")
            @Html.ValidationMessageFor(model => model.ColorHexValue)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.IsDefault)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.IsDefault)
            @Html.ValidationMessageFor(model => model.IsDefault)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.DisplayOrder)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.DisplayOrder)
            @Html.ValidationMessageFor(model => model.DisplayOrder)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.MinDays)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.MinDays, new { postfix = T("Time.Days").Text })
            @Html.ValidationMessageFor(model => model.MinDays)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.MaxDays)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.MaxDays, new { postfix = T("Time.Days").Text })
            @Html.ValidationMessageFor(model => model.MaxDays)
        </td>
    </tr>
</table>
