@model ExportProfileModel
@using SmartStore.Core.Domain.DataExchange;
@using SmartStore.Admin.Models.DataExchange;

<table class="adminContent">
	<tr id="ProjectionStoreContainer">
		<td class="adminTitle">
			@Html.SmartLabelFor(x => x.Projection.StoreId)
		</td>
		<td class="adminData">
			@Html.DropDownListFor(x => x.Projection.StoreId, Model.Projection.AvailableStores, Model.UnspecifiedString)
			@Html.ValidationMessageFor(x => x.Projection.StoreId)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(x => x.Projection.LanguageId)
		</td>
		<td class="adminData">
			@Html.DropDownListFor(x => x.Projection.LanguageId, Model.Projection.AvailableLanguages, Model.UnspecifiedString)
			@Html.ValidationMessageFor(x => x.Projection.LanguageId)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(x => x.Projection.CurrencyId)
		</td>
		<td class="adminData">
			@Html.DropDownListFor(x => x.Projection.CurrencyId, Model.Projection.AvailableCurrencies, Model.UnspecifiedString)
			@Html.ValidationMessageFor(x => x.Projection.CurrencyId)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(x => x.Projection.CustomerId)
		</td>
		<td class="adminData">
			@Html.EditorFor(x => x.Projection.CustomerId)
			@Html.ValidationMessageFor(x => x.Projection.CustomerId)
		</td>
	</tr>

	@if (Model.Provider.EntityType == ExportEntityType.Product)
	{	
		if (Model.Provider.Supporting.Contains(ExportSupport.ProjectionAttributeCombinationAsProduct))
		{
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(x => x.Projection.AttributeCombinationAsProduct)
				</td>
				<td class="adminData">
					@Html.EditorFor(x => x.Projection.AttributeCombinationAsProduct)
					@Html.ValidationMessageFor(x => x.Projection.AttributeCombinationAsProduct)
				</td>
			</tr>
			<tr id="AttributeCombinationAddValuesToNameContainer">
				<td class="adminTitle">
					@Html.SmartLabelFor(x => x.Projection.AttributeCombinationValueMergingId)
				</td>
				<td class="adminData">
					@Html.DropDownListFor(x => x.Projection.AttributeCombinationValueMergingId, Model.Projection.AvailableAttributeCombinationValueMerging)
					@Html.ValidationMessageFor(x => x.Projection.AttributeCombinationValueMergingId)
				</td>
			</tr>
			<tr id="AttributeCombinationAsProductNote">
				<td colspan="2">
					<div class="alert alert-warning">
						@T("Admin.DataExchange.Export.NotPreviewCompatible")
					</div>
				</td>
			</tr>
		}

		if (Model.Provider.Supporting.Contains(ExportSupport.ProjectionNoGroupedProducts))
		{
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(x => x.Projection.NoGroupedProducts)
				</td>
				<td class="adminData">
					@Html.EditorFor(x => x.Projection.NoGroupedProducts)
					@Html.ValidationMessageFor(x => x.Projection.NoGroupedProducts)
				</td>
			</tr>
			<tr id="NoGroupedProductsNote">
				<td colspan="2">
					<div class="alert alert-warning">
						@T("Admin.DataExchange.Export.NotPreviewCompatible")
					</div>
				</td>
			</tr>
		}

		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(x => x.Projection.PriceType)
			</td>
			<td class="adminData">
				@Html.DropDownListFor(x => x.Projection.PriceType, Model.Projection.AvailablePriceTypes, Model.UnspecifiedString)
				@Html.ValidationMessageFor(x => x.Projection.PriceType)
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(x => x.Projection.ConvertNetToGrossPrices)
			</td>
			<td class="adminData">
				@Html.EditorFor(x => x.Projection.ConvertNetToGrossPrices)
				@Html.ValidationMessageFor(x => x.Projection.ConvertNetToGrossPrices)
			</td>
		</tr>

		if (Model.Provider.Supporting.Contains(ExportSupport.ProjectionShippingTime))
		{
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(x => x.Projection.ShippingTime)
				</td>
				<td class="adminData">
					@Html.EditorFor(x => x.Projection.ShippingTime)
					@Html.ValidationMessageFor(x => x.Projection.ShippingTime)
				</td>
			</tr>
		}

		if (Model.Provider.Supporting.Contains(ExportSupport.ProjectionShippingCosts))
		{
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(x => x.Projection.ShippingCosts)
				</td>
				<td class="adminData">
					@Html.EditorFor(x => x.Projection.ShippingCosts)
					@Html.ValidationMessageFor(x => x.Projection.ShippingCosts)
				</td>
			</tr>
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(x => x.Projection.FreeShippingThreshold)
				</td>
				<td class="adminData">
					@Html.EditorFor(x => x.Projection.FreeShippingThreshold)
					@Html.ValidationMessageFor(x => x.Projection.FreeShippingThreshold)
				</td>
			</tr>
		}

		if (Model.Provider.Supporting.Contains(ExportSupport.ProjectionMainPictureUrl))
		{
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(x => x.Projection.PictureSize)
				</td>
				<td class="adminData">
					@Html.EditorFor(x => x.Projection.PictureSize)
					@Html.ValidationMessageFor(x => x.Projection.PictureSize)
				</td>
			</tr>
		}

		if (Model.Provider.Supporting.Contains(ExportSupport.ProjectionBrand))
		{
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(x => x.Projection.Brand)
				</td>
				<td class="adminData">
					@Html.EditorFor(x => x.Projection.Brand)
					@Html.ValidationMessageFor(x => x.Projection.Brand)
				</td>
			</tr>
		}

		if (Model.Provider.Supporting.Contains(ExportSupport.ProjectionDescription))
		{
			<tr>
				<td colspan="2">
					<div class="admin-config-group">
						<div class="title">@T("Common.DetailDescription")</div>
					</div>
				</td>
			</tr>
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(x => x.Projection.DescriptionMergingId)
				</td>
				<td class="adminData">
					@Html.DropDownListFor(x => x.Projection.DescriptionMergingId, Model.Projection.AvailableDescriptionMergings)
					@Html.ValidationMessageFor(x => x.Projection.DescriptionMergingId)
				</td>
			</tr>
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(x => x.Projection.AppendDescriptionText)
				</td>
				<td class="adminData">
					@Html.HiddenFor(x => x.Projection.AppendDescriptionText)
					@Html.ValidationMessageFor(x => x.Projection.AppendDescriptionText)
				</td>
			</tr>
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(x => x.Projection.RemoveCriticalCharacters)
				</td>
				<td class="adminData">
					@Html.EditorFor(x => x.Projection.RemoveCriticalCharacters)
					@Html.ValidationMessageFor(x => x.Projection.RemoveCriticalCharacters)
				</td>
			</tr>
			<tr id="CriticalCharactersContainer">
				<td class="adminTitle">
					@Html.SmartLabelFor(x => x.Projection.CriticalCharacters)
				</td>
				<td class="adminData">
					@Html.HiddenFor(x => x.Projection.CriticalCharacters)
					@Html.ValidationMessageFor(x => x.Projection.CriticalCharacters)
				</td>
			</tr>
			<tr>
				<td class="adminTitle">
					@Html.SmartLabelFor(x => x.Projection.DescriptionToPlainText)
				</td>
				<td class="adminData">
					@Html.EditorFor(x => x.Projection.DescriptionToPlainText)
					@Html.ValidationMessageFor(x => x.Projection.DescriptionToPlainText)
				</td>
			</tr>
		}
	}
	else if (Model.Provider.EntityType == ExportEntityType.Order)
	{	
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(x => x.Projection.OrderStatusChangeId)
			</td>
			<td class="adminData">
				@Html.DropDownListFor(x => x.Projection.OrderStatusChangeId, Model.Projection.AvailableOrderStatusChange)
				@Html.ValidationMessageFor(x => x.Projection.OrderStatusChangeId)
			</td>
		</tr>
	}
</table>