@using SmartStore.Admin.Models.DataExchange
@model ExportProfileModel
@{
	Layout = null;
}

<div style="padding-bottom: 5px;">
	@if(Model.Provider.AvailableExportProviders.Count > 0)
	{
		<form method="POST" class="export-profile-form" action="@Url.Action("Create", "Export")">
			<table class="adminContent">
				<tr>
					<td class="adminTitle">
						@Html.SmartLabelFor(model => model.Provider.SystemName)
					</td>
					<td class="adminData">
						@Html.DropDownListFor(model => model.Provider.SystemName, Model.Provider.AvailableExportProviders, new { style = "width: 500px;" })
					</td>
				</tr>
				<tr>
					<td class="adminTitle">
						&nbsp;
					</td>
					<td class="adminData">
						@foreach (var item in Model.Provider.ProviderDescriptions)
						{
							<span id="ExportProviderDescription@(item.Key.Replace(".", ""))" class="export-provider-description">@item.Value</span>
						}
					</td>
				</tr>
				@if(Model.AvailableProfiles.Count > 0)
				{
					<tr>
						<td class="adminTitle">
							@Html.SmartLabelFor(model => model.CloneProfileId)
						</td>
						<td class="adminData">
							@Html.DropDownListFor(model => model.CloneProfileId, Model.AvailableProfiles, Model.UnspecifiedString, new { style = "width: 500px;" })
						</td>
					</tr>
				}
			</table>
		</form>
	}
	else
	{
		@T("Admin.DataExchange.Export.NoExportProvider")
	}
</div>