@using SmartStore.Admin.Models.DataExchange
@model ExportProfileModel
@{
	Layout = null;
}

<div style="padding-bottom: 5px;">
	@if(Model.Provider.AvailableExportProviders.Count > 0)
	{
		<form method="POST" class="export-profile-form" action="@Url.Action("Create", "Export")">
			<table class="adminContent">
				<tr>
					<td class="adminTitle" style="width: 100px !important; min-width: 100px !important; max-width: 100px !important;">
						@Html.SmartLabelFor(model => model.Provider.SystemName)
					</td>
					<td class="adminData">
						@Html.DropDownListFor(model => model.Provider.SystemName, Model.Provider.AvailableExportProviders)
					</td>
				</tr>
				<tr>
					<td class="adminTitle" style="width: 100px !important; min-width: 100px !important; max-width: 100px !important;">
						&nbsp;
					</td>
					<td class="adminData">
						@foreach (var item in Model.Provider.ProviderDescriptions)
						{
							<span id="ExportProviderDescription@(item.Key.Replace(".", ""))" class="export-provider-description">@item.Value</span>
						}
					</td>
				</tr>
			</table>
		</form>
	}
	else
	{
		@T("Admin.DataExchange.Export.NoExportProvider")
	}
</div>