@model ExportDeploymentModel
@using SmartStore.Core.Domain.DataExchange;
@using SmartStore.Admin.Models.DataExchange;
@{
	var title = string.Concat(T("Common.Publishing"), " - ", T("Admin.Common.Edit"));
	ViewBag.Title = title;
}

@using (Html.BeginForm())
{
	<div class="section-header">
		<div class="title">
			<img src="@Url.Content(Model.ThumbnailUrl)" />
			@title - @Model.Name @Html.ActionLink("(" + T("Common.Back") + ")", "Edit", new { id = Model.ProfileId })
		</div>
		<div class="options">
			<button type="submit" name="save" value="save" class="btn btn-warning">
				<i class="fa fa-check"></i>
				<span>@T("Admin.Common.Save")</span>
			</button>
			<button type="submit" name="save" value="save-continue" class="btn btn-secondary">
				<span>@T("Admin.Common.SaveContinue")</span>
			</button>
			<button type="submit" name="export-deployment-delete" id="export-deployment-delete" value="export-deployment-delete" class="btn btn-danger">
				<i class="far fa-trash-alt"></i>
				<span>@T("Admin.Common.Delete")</span>
			</button>
		</div>
	</div>

    Html.RenderPartial("_CreateOrUpdate.Deployment", Model);
}

@Html.DeleteConfirmation("DeleteDeployment", "export-deployment-delete")