@using SmartStore;
@using SmartStore.Core;
@using SmartStore.Web.Framework.UI;

@{
    var currentUICulture = System.Threading.Thread.CurrentThread.CurrentUICulture;
    
    // page title
    string adminPageTitle = "";
    if (!string.IsNullOrWhiteSpace(ViewBag.Title))
    {
        adminPageTitle = ViewBag.Title + " / ";
    }
    adminPageTitle += T("Admin.PageTitle").Text;

	// add css assets
	var telerikCssRootPath = "~/Content/2012.2.607/";
	Html.AppendCssFileParts(
		"~/Content/font-awesome.css",
		telerikCssRootPath + "telerik.common.css",
		"~/Content/jquery.pnotify.default.css",
		"~/Content/jquery.pnotify.default.icons.css",
		"~/Administration/Content/theme.less");

    // add js assets (Head)
    Html.AppendScriptParts(ResourceLocation.Head,
        "~/Scripts/modernizr-2.7.2.js",
		// Telerik doesn't like jQuery 1.9+, a shame!
        "~/Administration/Scripts/jquery-1.8.3.js",
        "~/Scripts/globalize/globalize.js",
		"~/Scripts/smartstore.globalize.adapter.js");
        
    Html.AddScriptParts(ResourceLocation.Head, true,
        "~/Scripts/globalize/cultures/globalize.culture.{0}.js".FormatInvariant(currentUICulture.ToString()));

    // add js assets (Foot)
    var bootstrapJsRoot = "~/Content/bootstrap/js/";
    Html.AppendScriptParts(ResourceLocation.Foot,
        // jQuery UI Core
        "~/Scripts/jquery-ui/effect.js",
        "~/Scripts/jquery-ui/effect-transfer.js",
        "~/Scripts/jquery-ui/effect-shake.js",
        "~/Scripts/jquery-ui/position.js",
        // jQuery Validation
        "~/Scripts/jquery.unobtrusive-ajax.js",
        "~/Scripts/jquery.validate.js",
        "~/Scripts/jquery.validate.unobtrusive.js",
        // SmartStore system
        "~/Scripts/smartstore.system.js",
        "~/Scripts/underscore.js",
        "~/Scripts/underscore.string.js",
        "~/Scripts/underscore.mixins.js",
        "~/Scripts/smartstore.jquery.utils.js",
        "~/Scripts/jquery.ba-outside-events.js",
        "~/Scripts/jquery.preload.js",
        "~/Scripts/jquery.transit.js",
        "~/Scripts/jquery.menu-aim.js",
        "~/Scripts/smartstore.doAjax.js",
        "~/Scripts/jquery.addeasing.js",
        "~/Scripts/smartstore.eventbroker.js",
        "~/Scripts/smartstore.hacks.js",
		"~/Scripts/smartstore.common.js",
        // Bootstrap
        bootstrapJsRoot + "bootstrap-transition.js",
        bootstrapJsRoot + "bootstrap-alert.js",
        bootstrapJsRoot + "bootstrap-button.js",
        bootstrapJsRoot + "bootstrap-collapse.js",
        bootstrapJsRoot + "bootstrap-dropdown.js",
        bootstrapJsRoot + "bootstrap-modal.js",
        bootstrapJsRoot + "bootstrap-tooltip.js",
        bootstrapJsRoot + "bootstrap-popover.js",
        bootstrapJsRoot + "bootstrap-tab.js",
		bootstrapJsRoot + "bootstrap-typeahead.js",
        // Bootstrap custom
        bootstrapJsRoot + "custom/bootstrap-datetimepicker.js",
        // Shared UI
        "~/Scripts/smartstore.placeholder.js",
        "~/Scripts/select2.js",
        "~/Scripts/smartstore.selectwrapper.js",
        "~/Scripts/smartstore.throbber.js",
        "~/Scripts/smartstore.navbar.js",
        "~/Scripts/smartstore.thumbzoomer.js",
        "~/Scripts/smartstore.column-equalizer.js",
        "~/Scripts/smartstore.shrinkmenu.js",
        "~/Scripts/smartstore.scrollbutton.js",
        "~/Scripts/smartstore.tabselector.js",
        "~/Scripts/jquery.pnotify.js",
        "~/Scripts/jquery.scrollTo.js",
        "~/Scripts/jquery.serialScroll.js",
		"~/Scripts/jquery.sortable.js",
        // Admin
        "~/Administration/Scripts/admin.common.js",
        "~/Administration/Scripts/admin.globalinit.js");
}
<!DOCTYPE html>
<html class="no-js not-ready loading">
<head>
    <title>@adminPageTitle</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge; chrome=1" />

    <script>
        window.Res = {
            "Common.Notification": "@T("Common.Notification").ToString().EncodeJsString()",
        }
    </script>
    
    @Html.Partial("ConditionalComments")
    @Html.MetaAcceptLanguage()

    @Html.SmartCssFiles(this.Url, ResourceLocation.Head)
    @Html.SmartScripts(this.Url, ResourceLocation.Head)

    <link rel="shortcut icon" href="~/Administration/favicon.ico" />

</head>
<body class="@Html.BodyCssClass()"@(Html.BodyId())>   
	@RenderBody()
	@RenderSection("foot", required: false)
    @Html.SmartCssFiles(this.Url, ResourceLocation.Foot)
    @Html.SmartScripts(this.Url, ResourceLocation.Foot)

	<!--These need to be at the end of the page to ensure that all the controls requiring scripts have been rendered-->
	@(Html.Telerik().ScriptRegistrar()
		.jQuery(false)
		.jQueryValidation(false)
		.Globalization(true)
	)
</body>
</html>

