@model SmartStore.Web.Framework.Modelling.DeleteConfirmationModel
@*codehint: sm-edit*@
@using (Html.BeginForm(Model.ActionName, Model.ControllerName, new { id = Model.Id }, FormMethod.Post, new { style = "margin:0;" })) {
    <div class="dialog-content-container">
        <p>
            @T("Admin.Common.DeleteConfirmation")
        </p>
		<div style="margin-top:18px;" class="pull-right">
            <button type="submit" class="btn btn-danger entity-commit-trigger" value='@T("Admin.Common.Delete")' data-commit-type="@Model.EntityType" data-commit-action="delete" data-commit-id="@Model.Id">
                @T("Admin.Common.Delete")
            </button>
            <button type="button" class="btn btn-link" onclick="closeModalWindow(); return false;">
                @T("Admin.Common.NoCancel")
            </button>
        </div>
    </div>
}