@using SmartStore.Core.Domain.Stores;
@using SmartStore.Services.Customers;
@using SmartStore.Services.Stores;
@using SmartStore.Core;

@{
    var currentCustomer = this.WorkContext.CurrentCustomer;
	var currentLanguage = this.WorkContext.WorkingLanguage;
	var userName = (string)ViewBag.UserName;
	var stores = (IList<Store>)ViewBag.Stores;
	string currentLanguageCode = currentLanguage.UniqueSeoCode.EmptyNull().ToLower();
	string communityUrl = (currentLanguageCode == "de" ? 
		"http://community.smartstore.com" :
        "http://community.smartstore.com/index.php?/&k=880ea6a14ea49e853634fbdc5015a024&setlanguage=1&cal_id=&langid=1");
    string docsUrl = GenerateHelpUrl("");
	var checkUpdateResult = ViewBag.CheckUpdateResult as CheckUpdateResult;
}

<div id="navbar" class="navbar navbar-inverse">
<div class="navbar-inner">
    
    <a class="brand" href="@Url.Action("Index", "Home", new { area = "Admin" })">
        <img src="~/Administration/Content/images/smnet.png" alt="smartstore.NET" />
    </a>

    @Html.Widget("admin_menu_before")
    @Html.Action("Menu", "Common", new { area = "Admin" })
    @Html.Widget("admin_menu_before")

    <div id="navbar-tools" class="pull-right">

		@if (currentCustomer != null && currentCustomer.IsRegistered())
		{
			<div class="btn-group pull-right">
				<a id="current-user" class="btn navbar-tool dropdown-toggle" data-toggle="dropdown" title="@userName" href='@Url.Action("Edit", "Customer", new { id = currentCustomer.Id, area = "Admin" })'>
					<em class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-user fa-stack-1x fa-inverse" style="color: #3b50ce"></i>
					</em>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="@Url.Action("Edit", "Customer", new { id = currentCustomer.Id, area = "Admin" })">
							<i class="fa fa-fw fa-user"></i>
							Account
						</a>
					</li>
					<li>
						<a href="@Url.Action("Logout", "Customer", new { area = "" })" class="disabled">
							<i class="fa fa-fw fa-sign-out"></i>
							@T("Admin.Header.Logout")
						</a>
					</li>
				</ul>
			</div>
		}	

		<div id="navtool-help" class="btn-group toppad pull-right">
			<button class="btn dropdown-toggle navbar-tool" title='@T("Admin.Help")' data-toggle="dropdown">
				<i class="fa fa-fw fa-question-circle"></i>
				@if (checkUpdateResult != null && checkUpdateResult.UpdateAvailable)
				{
					<span class="reddot" style="top: 5px; right: 7px"></span>
				}
			</button>
			<ul class="dropdown-menu">
				@if (checkUpdateResult != null && checkUpdateResult.UpdateAvailable)
				{
					<li>
						<a href='@Url.Action("CheckUpdate", new { area = "Admin" })'>
							<i class="fa fa-fw fa-level-up"></i>
							<strong>@T("Admin.CheckUpdate.UpdateAvailable")</strong>
							<span class="reddot" style="margin-left: 6px"></span>
						</a>
					</li>
				}
				<li>
					<a href="@docsUrl" data-lang="@currentLanguageCode" target="help">
						<i class="fa fa-fw fa-book"></i>
						@T("Admin.Help.Documentation")
					</a>
				</li>
				<li>
					<a href="@communityUrl" data-lang="@currentLanguageCode" target="help">
						<i class="fa fa-fw fa-comment"></i>
						@T("Admin.Help.Forums")
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="@Url.Action("About", "Home", new { area = "Admin" })">
						<i class="fa fa-fw fa-info-circle"></i>
						@T("Admin.Common.About")
					</a>
				</li>
			</ul>
		</div> 

		@Html.Action("LanguageSelector", "Common", new { area = "Admin" })

		<div class="btn-group toppad pull-right">
			<button class="btn dropdown-toggle navbar-tool" title='@T("Admin.Common.Actions")' data-toggle="dropdown">
				<i class="fa fa-fw fa-gear"></i>
			</button>
			<ul class="dropdown-menu">
				@foreach (var store in stores)
				{
					<li>
						<a href="@store.Url" title="@T("Admin.Header.PublicStore") - @store.Name">
							<i class="fa fa-fw fa-globe"></i>
							@store.Name.Truncate(32, "...")
						</a>
					</li>
				}
				<li>
					<a href='@Url.Action("Preview", "Theme")'>
						<i class="fa fa-fw fa-eye"></i>
						@T("Admin.Configuration.Themes.PreviewMode")
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="@Url.Action("ClearCache", "Common", new { previousUrl = Request.RawUrl, area = "Admin" })">
						<i class="fa fa-fw fa-trash-o"></i>
						@T("Admin.Header.ClearCache")
					</a>
				</li>
				<li>
					<a id="restart-application" href="#" data-url="@Url.Action("RestartApplication", "Common", new { previousUrl = Request.RawUrl, area = "Admin" })">
						<i class="fa fa-fw fa-power-off"></i>
						@T("Admin.Header.RestartApplication")
					</a>
				</li>
			</ul>
		</div>

    </div>

</div>
</div>


<script type="text/javascript">

    $(function () {

        $("#restart-application").click(function (e) {
            e.preventDefault();
            $.throbber.show({
                message: '@T("Admin.Header.RestartApplication.Progress")',
                callback: function () {
                    setLocation($(e.target).data("url"));
                    
                }
            });
            return false;
        });

        // add mainmenu tooltips;
        $('#tools [rel=tooltip]').tooltip({ 
            placement: 'bottom'
        });

    });
          
</script>

