@using SmartStore.Services.Customers;
@using SmartStore.Services.Stores;

@{
    var currentCustomer = this.WorkContext.CurrentCustomer;
	var currentLanguage = this.WorkContext.WorkingLanguage;
    var usernamesEnabled = EngineContext.Current.Resolve<SmartStore.Core.Domain.Customers.CustomerSettings>().UsernamesEnabled;
    var userName = usernamesEnabled ? currentCustomer.Username : currentCustomer.Email;
	var stores = EngineContext.Current.Resolve<IStoreService>().GetAllStores();
	string currentLanguageCode = currentLanguage.UniqueSeoCode.EmptyNull().ToLower();
	string communityUrl = (currentLanguageCode == "de" ? 
		"http://community.smartstore.com" :
		"http://community.smartstore.com/index.php?/&k=880ea6a14ea49e853634fbdc5015a024&setlanguage=1&cal_id=&langid=1");
}

<div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
    
    <a class="brand" href="@Url.Action("Index", "Home", new { area = "Admin" })">
        <img src="~/Administration/Content/images/smnet.png" alt="smartstore.NET" />
    </a>
    
    <div id="ajax-busy"></div>

    @Html.Widget("admin_menu_before")
    @Html.Action("Menu", "Common")
    @Html.Widget("admin_menu_before")

    <div id="navbar-tools" class="btn-toolbar">
        
        @if (currentCustomer != null && currentCustomer.IsRegistered())
        {
            <text>
                <div class="btn-group pull-right">
                    <a id="current-user" class="btn btn-inverse navbar-tool" title="@userName" href='@Url.Action("Edit", "Customer", new { id = currentCustomer.Id })'>
                        <i class="icon-user"></i>
                        <span>@userName</span>
                     </a>
                    <a class="btn btn-inverse dropdown-toggle navbar-tool" data-toggle="dropdown" href="javascript:void(0)">
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
							<a href="@Url.Action("Edit", "Customer", new { id = currentCustomer.Id })">
								<i class="icon-user"></i>
								Account
							</a>
						</li>
                        <li>
							<a href="@Url.Action("Logout", "Customer", new { area = "" })" class="disabled">
								<i class="icon-signout"></i>
								@T("Admin.Header.Logout")
							</a>
						</li>
                    </ul>
                </div>
            </text>
        }

        <div class="btn-group pull-right navbar-tools-group" style="margin-right: 5px">
            
            <div class="btn-group">
                <button class="btn btn-inverse dropdown-toggle navbar-tool" title='Aktionen' data-toggle="dropdown">
                    <i class="icon-cogs"></i>
                </button>
                <ul class="dropdown-menu">
					@foreach (var store in stores)
					{
						<li>
							<a href="@store.Url" title="@T("Admin.Header.PublicStore") - @store.Name">
								<i class="icon-globe"></i>&nbsp;@store.Name.Truncate(32)
							</a>
						</li>
					}
					@if (stores.Count > 1)
					{
						<li class="divider"></li>
					}
                    <li>
                        <a href="@Url.Action("ClearCache", "Common", new { previousUrl = Request.RawUrl })">
                            <i class="icon-remove"></i>
                            @T("Admin.Header.ClearCache")
                        </a>
                    </li>
                    <li>
                        <a id="restart-application" href="#" data-url="@Url.Action("RestartApplication", "Common", new { previousUrl = Request.RawUrl })">
                            <i class="icon-refresh"></i>
                            @T("Admin.Header.RestartApplication")
                        </a>
                    </li>
                </ul>
            </div>

            @Html.Action("LanguageSelector", "Common")

            <div class="btn-group pull-right">
                <button class="btn btn-inverse dropdown-toggle navbar-tool" title='@T("Admin.Help")' data-toggle="dropdown">
                    <i class="icon-question-sign"></i>
                </button>
                <ul class="dropdown-menu">
                    @*<li>
						<a href="https://smartstore.zendesk.com/forums/22347533-Tipps-und-Tricks" data-lang="@currentLanguageCode">
							<i class="icon-file"></i>
							@T("Admin.Help.Topics")
						</a>
					</li>*@
                    <li>
						<a href="@communityUrl" data-lang="@currentLanguageCode" target="help">
							<i class="icon-comment"></i>
							@T("Admin.Help.Forums")
						</a>
					</li>
					<li>
						<a href="@Url.Action("About", "Home")">
							<i class="icon-info-sign"></i>
							@T("Admin.Common.About") SmartStore.NET
						</a>
					</li>
                </ul>
            </div>
           
        </div>
    </div>

</div>
</div>


<script type="text/javascript">

    $(function () {

        $("#restart-application").click(function (e) {
            e.preventDefault();
            $.throbber.show({
                message: '@T("Admin.Header.RestartApplication.Progress")',
                callback: function () {
                    setLocation($(e.target).data("url"));
                    
                }
            });
            return false;
        });

        // add mainmenu tooltips;
        $('#tools [rel=tooltip]').tooltip({ 
            placement: 'bottom'
        });

    });
          
</script>

