@model ShoppingCartModel.GiftCardBoxModel
@using SmartStore.Web.Models.ShoppingCart;
@if (Model.Display)
{
    <div class="giftcard-box cart-box card">
        <h4 class="title card-header">@T("ShoppingCart.GiftCardCouponCode")</h4>
        <div class="card-block">

            @if (!String.IsNullOrEmpty(Model.Message))
            {
                <div class="alert @(Model.IsWarning ? "alert-warning" : "alert-info") fade in">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    @Model.Message
                </div>
            }

            <div class="coupon-code form-group">
                <div class="input-group">
                    <input name="giftcardcouponcode" type="text" class="form-control gift-card-coupon-code" placeholder="@T("ShoppingCart.GiftCardCouponCode.Tooltip")" />
                    <button type="submit"
                            class="btn btn-warning tooltip-toggle apply-gift-card-coupon-code-button input-group-addon"
                            title="@T("ShoppingCart.GiftCardCouponCode.Button")"
                            name="applygiftcardcouponcode"
                            value="applygiftcardcouponcode">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
}