@model MiniShoppingCartModel
@using SmartStore.Web.Models.ShoppingCart;
@{
    int attrMaxLength = Model.ShowProductImages ? 50 : 70;
}
<div class="shopbar-flyout-inner">
    <div class="no-items muted @(Model.TotalProducts > 0 ? "hide" : "")">
        @T("ShoppingCart.Mini.NoItems")
    </div>
    @if (Model.TotalProducts > 0)
    {
        <ul class="items unstyled">
            @for (int i = 0, length = Model.Items.Count; i < length; i++)
            {
                var item = Model.Items[i];
                string itemClass = "item clearfix";
                if (!Model.ShowProductImages)
                {
                    itemClass += " no-thumb";
                }
                if (i == 0)
                {
                    itemClass += " alpha";
                }
                if (i == length - 1 && Model.IgnoredProductsCount == 0)
                {
                    itemClass += " omega";
                }
                
                <li class="@itemClass">

                    @if (Model.ShowProductImages)
                    {
                        <figure class="picture pull-left">
                            <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" title="@item.Picture.Title">
                                <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                            </a>
                        </figure>
                    }
                    <div class="quantity pull-left">
                        @(item.Quantity)<span class="times">x</span>
                    </div>
                    <div class="data pull-left">
                        <a class="name" href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" title="@item.ProductName">@item.ProductName</a>
                        @if (item.AttributeInfo.HasValue())
                        {
                            <br />
                            <span class="attributes muted" title="@item.AttributeInfo">
                                @Html.Raw(item.AttributeInfo.Truncate(attrMaxLength, "..."))
                            </span>
                        }
                    </div>
                    <div class="price pull-right">
                        @item.UnitPrice
                    </div>
                    <a class="remove ajax-cart-link"
                        href="#"
					    rel="nofollow"
                        data-href='@Url.Action("DeleteCartItem", "ShoppingCart", new { cartItemId = item.Id })'
                        data-name="@item.ProductName"
                        data-type="cart"
                        data-action="remove"
                        title='@T("Common.Remove")'>
                        <i class="fa fa-trash-o"></i>
                    </a>

                    @if (item.BundleItems.Count > 0)
                    {
                        <div class="mb-bundle-pictures">
                            @for (int j = 0, bundlelength = item.BundleItems.Count; j < bundlelength; j++)
                            {
                                var bundleItem = item.BundleItems[j];

                                <a href="@Url.RouteUrl("Product", new { SeName = bundleItem.ProductSeName })" title="@bundleItem.ProductName">
                                    <img alt="@bundleItem.ProductName" src="@bundleItem.PictureUrl" title="@bundleItem.ProductName" />
                                </a>
                                
                                if (bundlelength != (j + 1)) 
                                { 
                                    <i class="fa fa-plus"></i>
                                }
                                
                            }        
                        </div>
                    }
                    
                </li>
            }
            @if (Model.IgnoredProductsCount > 0)
            {
                string resId = "ShoppingCart.Mini.More.{0}".FormatInvariant(Model.IgnoredProductsCount == 1 ? "Singular" : "Plural");
                <li class="item more omega">
                    <a class="name" href="@Url.RouteUrl("ShoppingCart")">
                        @(T(resId).ToString().FormatInvariant(Model.IgnoredProductsCount))...
                    </a>
                </li>
            }
        </ul>
        
        <div class="summary clearfix">
            <div class="pull-left">
                @T("ShoppingCart.Totals.SubTotal"):
            </div>
            <div class="price text-success pull-right">
                @Model.SubTotal
            </div>
        </div>
        
        <div class="buttons clearfix">
            @if (Model.DisplayShoppingCartButton)
            {
                <a class="btn btn-primary btn-small pull-left" href="@Url.RouteUrl("ShoppingCart")">
                    @T("ShoppingCart.Mini.ViewCart")
                    <i class="fa fa-shopping-cart" style="display: none"></i>
                </a>    
            }
            @if (Model.DisplayCheckoutButton)
            {
                var checkoutUrl = "";
                if (Model.AnonymousCheckoutAllowed && Model.CurrentCustomerIsGuest)
                {
					checkoutUrl = Url.Action("Login", "Customer", new { checkoutAsGuest = true, returnUrl = Url.RouteUrl("ShoppingCart") });
                }
                else
                {
                    checkoutUrl = Url.RouteUrl("Checkout");
                }
                <a class="btn btn-warning btn-small pull-right" href="@checkoutUrl">
                    @T("Checkout.Button")&nbsp;
                    <i class="fa fa-caret-right"></i>
                </a>
            }
        </div>
    }
	@Html.Widget("mini_shopping_cart_bottom")
</div>

<script>
    $(function () {
        applyCommonPlugins("#shopbar-flyout-cart");
    });
</script>
