@model ProductDetailsModel
@using SmartStore.Web.Models.Catalog;
@using SmartStore.Core.Domain.Orders;
@using System.Globalization;
@using System.Text.RegularExpressions;

<div class="bundle-item-overview-headline clearfix">
    
    <div class="add-to-cart line">
        <div class="form-inline clearfix" style="@(Model.IsAvailable ? "" : "display:none;")">
            @if (!Model.AddToCart.DisableBuyButton)
            {
                <a class="btn btn-warning add-to-cart-button ajax-cart-link"
                   href="#"
				   rel="nofollow"
                   data-href='@Url.Action("AddProduct", "ShoppingCart", new { productId = Model.AddToCart.ProductId, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart })'
                   data-form-selector="#product-details-form"
                   data-type="cart"
                   data-action="add">
                    @(Model.AddToCart.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))
					<i class="fa fa-cart-plus"></i>
                </a>
            }
        </div>
    </div>

    <div class="you-save price-block">
		@if (Model.ProductPrice.PriceWithDiscount.HasValue())
		{
			@Html.Raw(T("Products.Bundle.YouSave",
					 "<span class=\"bundle-item-price product-price-with-discount\">" + Model.ProductPrice.PriceWithDiscount + "</span>",
					 "<span class=\"bundle-item-price-single-units product-price-without-discount\">" + Model.ProductPrice.Price + "</span>"));
		}
		else
		{
			@Html.Raw(T("Products.Bundle.YouSaveWithoutDiscount",
					 "<span class=\"bundle-item-price product-price-without-discount\">" + Model.ProductPrice.Price + "</span>"));
		}
    </div>
</div>

<div class="bundle-item-overview">
    @{
		var i = 0;
		var bundleItemCount = Model.BundledItems.Where(x => x.BundleItem.Visible).Count();
    }

    @foreach (var item in Model.BundledItems.Where(x => x.BundleItem.Visible))
	{
		if (item.VisibleIndividually)
		{
			if (item.DetailsPictureModel.DefaultPictureModel.ThumbImageUrl.HasValue())
			{
				<a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="@T("Products.Details")">
					<img alt="@item.Name" src="@item.DetailsPictureModel.DefaultPictureModel.ThumbImageUrl" title="@item.Name" /></a>@* img and a in same line cause of hover underlines *@
			}
			else
			{
				<a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="@T("Products.Details")">@item.Name</a>
			}
		}
		else
		{
            @item.Name
        }

        if (item.BundleItem.Quantity > 1)
        {
            <strong>&#215;&nbsp;@item.BundleItem.Quantity</strong>
		}

		if (bundleItemCount != (i + 1))
		{
            <i class="fa fa-plus"></i>
        }

        i++;
    }
</div>
