@model ProductDetailsPictureModel
@using SmartStore.Web.Models.Catalog;
@if (Model.PictureModels.Count > 0)
{
    //we do not use Model.DefaultPictureModel in mobile version
    var defaultPicture = Model.PictureModels.FirstOrDefault();
    <div class="default-picture">
        <img id="default-image" alt="@defaultPicture.AlternateText" src="@defaultPicture.FullSizeImageUrl" title="@defaultPicture.Title" />
    </div>
}
@if (Model.PictureModels.Count > 1)
{
    <script type="text/javascript">
        function UpdateMainImage(url) {
            //show progress
            $.mobile.loading("show")
            $('#default-image').attr("src", url);
            //hide progress
            $.mobile.loading("hide")
        }

        //BEGIN: implement control of images via swiping
        var currentImageIndex = 0;
        var imageUrls = [];

        @foreach (var picture in Model.PictureModels)
        {
            <text> imageUrls.push('@(picture.FullSizeImageUrl)');</text>
        }

        $(document).bind('pageinit', function (e) {
            $("#default-image").on("swipeleft", swipeLeftHandler);
            $("#default-image").on("swiperight", swipeRightHandler);
            $("#picture-next").on("click", swipeLeftHandler);
            $("#picture-prev").on("click", swipeRightHandler);
        });

        function swipeLeftHandler(event) {

            if (currentImageIndex != imageUrls.length)
                currentImageIndex = currentImageIndex + 1;

            UpdateMainImage(imageUrls[currentImageIndex]);
        }

        function swipeRightHandler(event) {
            
            if (currentImageIndex != 0)
                currentImageIndex = currentImageIndex - 1;

            UpdateMainImage(imageUrls[currentImageIndex]);
        }
        //END: implement control of images via swiping

    </script>
    
    <div class="ui-grid-b">
	    <div class="ui-block-a">
            <div id="picture-prev" data-theme="c" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-c" aria-disabled="false">
                <span class="ui-btn-inner ui-btn-corner-all" aria-hidden="true">
                    <span class="ui-btn-text">@T("Mobile.DetailImages.Prev")</span>
                </span>
            </div>
	    </div>
	    <div class="ui-block-b"></div>
	    <div class="ui-block-c">
            <div id="picture-next" data-theme="c" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-c" aria-disabled="false">
                <span class="ui-btn-inner ui-btn-corner-all" aria-hidden="true">
                    <span class="ui-btn-text">@T("Mobile.DetailImages.Next")</span>
                </span>
            </div>
	    </div>
    </div>
}