@model ProductDetailsModel

@using SmartStore.Core.Domain.Orders;
@using SmartStore.Core.Domain.Catalog;
@using SmartStore.Core.Domain.Media;
@using SmartStore.Core.Infrastructure;
@using SmartStore.Core.Events;
@using SmartStore.Web.Models.Catalog;
@using SmartStore.Web.Framework.UI;
@using SmartStore.Web.Framework.Events;
@using SmartStore.Web;

@{
	Layout = "_ColumnsOne";

	Html.AddTitleParts(Model.MetaTitle.NullEmpty() ?? Model.Name);
	Html.AddMetaDescriptionParts(Model.MetaDescription);
	Html.AddMetaKeywordParts(Model.MetaKeywords);

	Html.AddScriptParts("~/Themes/Alpha/Scripts/public.product-detail.js");

	if (Model.CanonicalUrlsEnabled)
	{
		var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
		Html.AddCanonicalUrlParts(productUrl);
	}
}

<div class="page product-details-page">
	<!-- Breadcrumb -->
	@{ Html.RenderAction("ProductBreadcrumb", "Catalog", new { productId = Model.Id }); }

	@Html.Widget("productdetails_top")

	<div id="total-price-update-container" class="page-body update-container" data-referto="#attributes, #add-to-cart, #bundle-overview" data-url="@Html.Raw(Model.UpdateProductDetailsUrl())">
		@using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
		{
			<article class="pd" itemscope itemtype="http://schema.org/Product">
				@*<div class="page-title hidden-lg-up" itemprop="name">
					<h1 class="pd-name">
						@Model.Name
					</h1>
				</div>*@

				<!-- Top Content: Picture, Description, Attrs, Variants, Bundle Items, Price etc. -->
				<section class="row pd-section pd-section-top">
					<!-- Data: Picture, Description, Attrs etc. -->
					<div class="col-xs-12 col-md-6 col-lg-7 pd-data-col">
						@{ Html.RenderPartial("Product.Picture", Model.DetailsPictureModel); }
						<div class="row pd-data hidden-xs-up">
							<!-- Picture -->
							<div class="col-sm-12 col-xl-7 m-b-1-lg pd-gallery-col">
								
							</div>
							<!-- Info -->
							<div class="col-sm-12 col-xl-5 m-b-1-xs pd-info-col">
								
							</div>
						</div>
					</div>
					<!-- Sidebar: Info, Price, Buttons etc. -->
					<aside class="col-xs-12 col-md-6 col-lg-5 pd-sidebar-col zoom-window-container">
						@{ Html.RenderPartial("Product.Info", Model); }
						@{ Html.RenderPartial("Product.SideBar", Model); }
					</aside>
				</section>

				<!-- Bottom Content: Full Description, Specification, Review etc. -->
				<section class="pd-section pd-section-bottom">
					<div class="col-md-12">
						@Html.Raw(Model.FullDescription)
					</div>
				</section>
			</article>
		}
	</div>

	@Html.Widget("productdetails_bottom")

	@* TODO: (mc) find more intelligent way of rendering RecentlyViewedProductsBlock globally *@
	@{ Html.RenderAction("RecentlyViewedProductsBlock", "Catalog", new { area = "" }); }
</div>

<script type="text/javascript">
    $(function () {
        var settings = {
            galleryStartIndex: @(Model.DetailsPictureModel.GalleryStartIndex),
            enableZoom: toBool('@(Model.DetailsPictureModel.DefaultPictureZoomEnabled)'),
            zoomType: '@Model.DetailsPictureModel.PictureZoomType' // window, inner, lens
        };

    	$('#product-details-form').productDetail(settings);
    });
</script>

@section end {
	<!-- Root element of PhotoSwipe. Must have class pswp. -->
	<div id="pswp" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

		<!-- Background of PhotoSwipe.
			 It's a separate element as animating opacity is faster than rgba(). -->
		<div class="pswp__bg"></div>

		<!-- Slides wrapper with overflow:hidden. -->
		<div class="pswp__scroll-wrap">

			<!-- Container that holds slides.
				PhotoSwipe keeps only 3 of them in the DOM to save memory.
				Don't modify these 3 pswp__item elements, data is added later on. -->
			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>

			<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
			<div class="pswp__ui pswp__ui--hidden">

				<div class="pswp__top-bar">

					<!--  Controls are self-explanatory. Order can be changed. -->

					<div class="pswp__counter"></div>

					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

					@*<button class="pswp__button pswp__button--share" title="Share"></button>*@

					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

					<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

					<!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
					<!-- element will get class pswp__preloader--active when preloader is running -->
					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
							<div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							</div>
						</div>
					</div>
				</div>

				@*<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div>
				</div>*@

				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>

			</div>

		</div>

	</div>
}

