@{
    Layout = "";
}
@model SmartStore.MegaMenu.Models.ConfigurationModel
@using SmartStore.Web.Framework;
	
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

<div class="alert alert-info">
    @Html.Raw(@T("Plugins.SmartStore.MegaMenu.AdminInstruction"))
</div>

@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ProductRotatorCycle)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.ProductRotatorCycle)
                @Html.ValidationMessageFor(model => model.ProductRotatorCycle)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ProductRotatorDuration)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.ProductRotatorDuration)
                @Html.ValidationMessageFor(model => model.ProductRotatorDuration)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ProductRotatorInterval)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.ProductRotatorInterval)
                @Html.ValidationMessageFor(model => model.ProductRotatorInterval)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.MenuMinHeight)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.MenuMinHeight)
                @Html.ValidationMessageFor(model => model.MenuMinHeight)
            </td>
        </tr>
        

        <tr>
            <td class="adminTitle">&nbsp;</td>
            <td class="adminData">
                <button type="submit" name="save" class="btn btn-primary" value="save">
                    <i class="fa fa-check"></i>&nbsp;@T("Admin.Common.Save")
                </button>
            </td>
        </tr>
    </table>
}