@model Telerik.Web.Mvc.GridModel<CurrencyModel>
@using Telerik.Web.Mvc.UI
@{
    List<SmartStore.Core.Domain.Directory.ExchangeRate> rates = ViewBag.Rates;
    bool autoUpdateEnabled = ViewBag.AutoUpdateEnabled ?? false;

    ViewBag.Title = T("Admin.Configuration.Currencies").Text;
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-money"></i>
        @T("Admin.Configuration.Currencies")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            @T("Admin.Common.AddNew")
        </a>
        <a href="javascript:document.CurrencySettings.submit()" class="btn">
            <i class="fa fa-check"></i>
            @T("Admin.Common.Save")
        </a>
        <a href="@Url.Action("List", "Currency", new { liveRates = true })" class="btn">
            <i class="fa fa-refresh"></i>
            @T("Admin.Configuration.Currencies.GetLiveRates")
        </a>
    </div>
</div>

@using (Html.BeginForm("Save", "Currency", FormMethod.Post, new { name = "CurrencySettings" }))
{  
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @T("Admin.Configuration.Currencies.Fields.ExchangeRateProvider"):
            </td>
            <td class="adminData">
                @(Html.DropDownList("exchangeRateProvider", ViewBag.ExchangeRateProviders as IEnumerable<SelectListItem>))
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @T("Admin.Configuration.Currencies.Fields.CurrencyRateAutoUpdateEnabled"):
            </td>
            <td class="adminData">
                @(Html.CheckBox("autoUpdateEnabled", autoUpdateEnabled)
                )
            </td>
        </tr>
    </table>
}

<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<CurrencyModel>()
                .Name("currencies-grid")
                .BindTo(Model.Data)
                .Columns(columns =>
                {
					columns.Bound(x => x.Name)
						.Template(x => Html.LabeledCurrencyName(x.Id, x.Name, x.IsPrimaryStoreCurrency, x.IsPrimaryExchangeRateCurrency));
                    columns.Bound(x => x.CurrencyCode)
                        .Centered()
						.Width(160);
					columns.Bound(x => x.Published)
						.Template(item => Html.SymbolForBool(item.Published))
						.Centered()
						.Width(160);
                    columns.Bound(x => x.Rate)
						.RightAlign()
						.Format("{0:0.00000000}")
						.Width(160);
					columns.Bound(x => x.LimitedToStores)
						.Template(item => Html.SymbolForBool(item.LimitedToStores))
						.Centered()
						.Width(160);
					columns.Bound(x => x.DomainEndings);
                })
			)
        </td>
    </tr>
</table>

<p></p>

@if (rates != null)
{
    <h4>@T("Admin.Configuration.Currencies.LiveRates")</h4>
    <table class="adminContent" style="width: 300px">
        <tr>
            <td>
                @(Html.Telerik().Grid<SmartStore.Core.Domain.Directory.ExchangeRate>()
                        .Name("rate-grid")
                        .DataKeys(x =>
                        {
                            x.Add(y => y.CurrencyCode).RouteKey("CurrencyCode");
                        })
                        .BindTo(rates)
                        .Columns(columns =>
                        {
                            columns.Bound(x => x.CurrencyCode)
                                .Centered()
                                .HeaderTemplate(T("Admin.Configuration.Currencies.Fields.CurrencyCode").Text);
                            columns.Bound(x => x.Rate)
                                .Centered()
                                .HeaderTemplate(T("Admin.Configuration.Currencies.Fields.Rate").Text);
                            columns.Bound(x => x)
                                .Template(x => Html.ActionLink(T("Admin.Configuration.Currencies.ApplyRate").Text, "ApplyRate", new { rate = x.Rate, currencyCode = x.CurrencyCode }))
                                .Centered()
                                .HeaderTemplate(T("Admin.Configuration.Currencies.ApplyRate").Text)
                                .Filterable(false);

                        })
                        .EnableCustomBinding(true)
				)
            </td>
        </tr>
    </table>
}
