@model CheckoutCompletedModel
@using SmartStore.Core.Domain.Orders;
@using SmartStore.Web.Models.Checkout;
@using SmartStore.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_Checkout.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
@section orderProgress{
    @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Complete })
}

<div class="page checkout-completed-page">
    
    <div class="page-title">
        <h1>@T("Checkout.ThankYou")</h1>
    </div>
    
    <div class="page-body checkout-data">
        <div class="order-completed">
            @Html.Widget("checkout_completed_top")
            <div class="body">
                <strong>
                    @T("Checkout.YourOrderHasBeenSuccessfullyProcessed")
                </strong>
                <p>
                    @T("Checkout.OrderNumber"): @Model.OrderId
                </p>
            </div>
            <div class="select-button">
                <a href="@Url.RouteUrl("OrderDetails", new { orderID = @Model.OrderId})" class="btn btn-warning">
                    <i class="icon-list-alt"></i>&nbsp;@T("Checkout.PlacedOrderDetails")
                </a>
                <a href="@Url.RouteUrl("HomePage")" class="btn order-completed-continue-button">
                    <i class="icon-home"></i>&nbsp;@T("Checkout.Continue")
                </a>
            </div>
            @Html.Widget("checkout_completed_bottom")
        </div>
    </div>
</div>
