@model CheckoutConfirmModel
@using SmartStore.Core.Domain.Orders;
@using SmartStore.Web.Models.Checkout;
@using SmartStore.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);

    string termsLink = "<a id='terms-of-service-trigger' data-rel='dialog' href='" + Url.RouteUrl("TopicPopup", new { SystemName = "ConditionsOfUse" }) + "'>";
    string disclaimerLink = "<a id='disclaimer-trigger' data-rel='dialog' href='" + Url.RouteUrl("TopicPopup", new { SystemName = "Disclaimer" }) + "'>";
    string terms = string.Format(T("Checkout.TermsOfService.IAccept"), termsLink, "</a>", disclaimerLink);
}
<div class="page checkout-page">
    <div class="page-title">
        <h1>@T("Checkout.ConfirmYourOrder")</h1>
    </div>
    <div class="page-body checkout-data">
        @*set "data-ajax" attribute to "false"*@
        @using (Html.BeginForm(null, null, FormMethod.Post, new RouteValueDictionary { { "data-ajax", "false" }, { "id", "confirm-order-form" } }))
		{
			<input type="hidden" id="SubscribeToNewsLetterHidden" name="SubscribeToNewsLetterHidden" />
			<input type="hidden" id="AcceptThirdPartyEmailHandOverHidden" name="AcceptThirdPartyEmailHandOverHidden" />

            @Html.Widget("mobile_checkout_confirm_top")

            if (Model.Warnings.Count > 0)
            {
            <div class="message-error">
                <ul>
                    @for (int i = 0; i < Model.Warnings.Count; i++)
					{
						<li>@Html.Raw(Model.Warnings[i])</li>
					}
                </ul>
            </div>
            }
            <script type="text/javascript">
                $(function () {
                    $('#confirm-order-form').submit(function () {
                        $('#nextstep').addClass('ui-disabled');
                    });
                });
            </script>
            
            if (Model.TermsOfServiceEnabled)
            {
                 <script type="text/javascript">
                     $(function () {
                         $("#terms-of-service-trigger, #disclaimer-trigger").bind("tap", function (event) {
                             event.stopPropagation();
                         });
                    });
                </script>
                
                <label id="termsofservice-checkbox" class="">
                    <input id="termsofservice" type="checkbox" name="termsofservice" />
                    @Html.Raw(terms)
                </label>
            }
        }

		@Html.Widget("mobile_checkout_confirm_before_summary")

        <div class="order-summary-body">
            @Html.Action("OrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = true })
        </div>

        <div class="confirm-order">
            <div class="select-button">
                @if (!String.IsNullOrEmpty(Model.MinOrderTotalWarning))
                {
                    @Model.MinOrderTotalWarning
                }
                else
                {
                      <script type="text/javascript">
                        $(function () {
                            $('.confirm-order-next-step-button').click(function () {
                            	var termOfServiceOk = true,
									userAgreementsOk = true,
									esdRevocationWaiverOk = true,
									alertMessage;

                            	$('#SubscribeToNewsLetterHidden').val($('input[name=SubscribeToNewsLetter]').is(':checked'));
                            	$('#AcceptThirdPartyEmailHandOverHidden').val($('input[name=AcceptThirdPartyEmailHandOver]').is(':checked'));

                            	// terms of services
                                @if (Model.TermsOfServiceEnabled)
                                {
                                    <text>
                                        if (!$('#termsofservice').is(':checked')) {
                                            alertMessage = '@T("Checkout.TermsOfService.PleaseAccept")';
                                            termOfServiceOk = false;
                                        }
                                        else {
                                            termOfServiceOk = true;
                                        }
                                    </text>
                                }

                            	// agree user agreement for downloadable products
                            	$('ul.list-order-products').find('input[name^=AgreeUserAgreement]').each(function () {
                            		if (!$(this).is(':checked')) {
                            			userAgreementsOk = false;
                            			if (!alertMessage) {
                            				alertMessage = '@T("Checkout.DownloadUserAgreement.PleaseAgree")';
                            			}
                            			return false;
                            		}
                            	});

                            	// agree esd revocation waiver
								@if(Model.ShowEsdRevocationWaiverBox)
								{
									<text>
                            		$('ul.list-order-products').find('input[name^=AgreeEsdRevocationWaiver]').each(function () {
                            			if (!$(this).is(':checked')) {
                            				esdRevocationWaiverOk = false;
                            				if (!alertMessage) {
                            					alertMessage = '@T("Checkout.EsdRevocationWaiverConfirmation.PleaseAgree")';
                            				}
                            				return false;
                            			}
                            		});
                            		</text>
								}

                            	if (termOfServiceOk && userAgreementsOk && esdRevocationWaiverOk) {
                            		var submitOrderEvent = jQuery.Event('submitOrder');
                            		submitOrderEvent.isOrderValid = true;
                            		submitOrderEvent.isMobile = true;

                            		$(this).trigger(submitOrderEvent);

                            		if (true === submitOrderEvent.isOrderValid) {
                            			$('#confirm-order-form').submit();
                            		}
                            	}
                            	else if (alertMessage) {
                            		alert(alertMessage);
                            	}
                            });
                        });
                    </script>
                    
                    <button data-role="button" class="confirm-order-next-step-button" onclick="return false;" >
                        @T("Checkout.ConfirmButton")
                    </button>
                }
            </div>
        </div>
		@Html.Widget("mobile_checkout_confirm_bottom")

    </div>
</div>