@model OnePageCheckoutModel
@using SmartStore.Web.Models.Checkout;
@using SmartStore.Core.Infrastructure.DependencyManagement;
@using SmartStore.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddScriptParts(true,
        "~/Scripts/public.accordion.js",
        "~/Scripts/public.onepagecheckout.js");

    var storeLocation = EngineContext.Current.Resolve<SmartStore.Core.IWebHelper>().GetStoreLocation();

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="page checkout-page">
    <div class="page-title">
        <h1>@T("Checkout")</h1>
    </div>
    <div class="page-body checkout-data">
        <ol class="opc" id="checkout-steps">

            <li id="opc-billing" class="section allow">
                <div class="step-title clearfix">
                    <span class="number">1</span>
                    <h2>@T("Checkout.BillingAddress")</h2>
                </div>
                <div id="checkout-step-billing" class="step a-item" style="display: none;">
                    <form id="co-billing-form" action="">
                        <div id="checkout-billing-load">
                            @Html.Action("OpcBillingForm", "Checkout")
                            @*billing address content will be loaded here*@
                        </div>
                    </form>
                    <div class="buttons" id="billing-buttons-container">
                        
                        <button class="btn btn-warning" onclick="Billing.save(); return false;">
                            @T("Common.Continue")
                        </button>

                        <span class="please-wait" id="billing-please-wait" style="display: none;">
                            <img src="@Url.Content("~/Content/Images/ajax_loader_small.gif")"
                                alt="@T("Common.LoadingNextStep")" title="@T("Common.LoadingNextStep")" />
                            @T("Common.LoadingNextStep")</span>
                    </div>
                </div>
            </li>

            @if (Model.ShippingRequired)
            {
                <li id="opc-shipping" class="section">
                    <div class="step-title clearfix">
                        <span class="number">2</span>
                        <h2>@T("Checkout.ShippingAddress")</h2>
                    </div>
                    <div id="checkout-step-shipping" class="step a-item" style="display: none;">
                        <form action="" id="co-shipping-form">
                            <div id="checkout-shipping-load">
                                @*shipping address content will be loaded here*@
                            </div>
                        </form>
                        <div class="buttons" id="shipping-buttons-container">
                            <button class="btn btn-warning" onclick="Shipping.save(); return false;">
                                @T("Common.Continue")
                            </button>

                            <button class="btn" onclick="Checkout.back(); return false;">
                                <i class="icon icon-arrow-up"></i>
                                @T("Common.Back")
                            </button>

                            <span id="shipping-please-wait" class="please-wait" style="display: none;">
                                <img src="@Url.Content("~/Content/Images/ajax_loader_small.gif")" alt="@T("Common.LoadingNextStep")" title="@T("Common.LoadingNextStep")" />
                                @T("Common.LoadingNextStep")
                            </span>
                        </div>
                    </div>
                </li>
                <li id="opc-shipping_method" class="section">
                    <div class="step-title clearfix">
                        <span class="number">3</span>
                        <h2>@T("Checkout.ShippingMethod")</h2>
                    </div>
                    <div id="checkout-step-shipping-method" class="step a-item" style="display: none;">
                        <form id="co-shipping-method-form" action="">
                        <div id="checkout-shipping-method-load">
                            @*shipping methods content will be loaded here*@
                        </div>
                        <div class="buttons" id="shipping-method-buttons-container">

                            <button class="btn btn-warning" onclick="ShippingMethod.save(); return false;">
                                @T("Common.Continue")
                            </button>

                            <button class="btn" onclick="Checkout.back(); return false;">
                                <i class="icon icon-arrow-up"></i>
                                @T("Common.Back")
                            </button>

                            <span id="shipping-method-please-wait" class="please-wait" style="display: none;">
                                <img src="@Url.Content("~/Content/Images/ajax_loader_small.gif")" alt="@T("Common.LoadingNextStep")" title="@T("Common.LoadingNextStep")" />
                                @T("Common.LoadingNextStep")
                            </span>
                        </div>
                        </form>
                    </div>
                </li>
            }
            <li id="opc-payment_method" class="section">
                <div class="step-title clearfix">
                    <span class="number">@(Model.ShippingRequired ? "4" : "2")</span>
                    <h2>@T("Checkout.PaymentMethod")</h2>
                </div>
                <div id="checkout-step-payment-method" class="step a-item" style="display: none;">
                    <form action="" id="co-payment-method-form">
                        <div id="checkout-payment-method-load">
                            @*payment methods content will be loaded here*@ Payment is not required
                        </div>
                    </form>
                    <div class="buttons" id="payment-method-buttons-container">
                        
                        <button class="btn btn-warning" onclick="PaymentMethod.save(); return false;">
                            @T("Common.Continue")
                        </button>

                        <button class="btn" onclick="Checkout.back(); return false;">
                            <i class="icon icon-arrow-up"></i>
                            @T("Common.Back")
                        </button>

                        <span class="please-wait" id="payment-method-please-wait" style="display: none;">
                            <img src="@Url.Content("~/Content/Images/ajax_loader_small.gif")" alt="@T("Common.LoadingNextStep")" title="@T("Common.LoadingNextStep")" />
                            @T("Common.LoadingNextStep")
                        </span>
                    </div>
                </div>
            </li>
            <li id="opc-payment_info" class="section">
                <div class="step-title clearfix">
                    <span class="number">@(Model.ShippingRequired ? "5" : "3")</span>
                    <h2>@T("Checkout.PaymentInfo")</h2>
                </div>
                <div id="checkout-step-payment-info" class="step a-item" style="display: none;">
                    <form action="" id="co-payment-info-form">
                        <div id="checkout-payment-info-load">
                            @*payment info content will be loaded here*@ Payment is not required
                        </div>
                    </form>
                    <div class="buttons" id="payment-info-buttons-container">
                        
                        <button class="btn btn-warning" onclick="PaymentInfo.save(); return false;">
                            @T("Common.Continue")
                        </button>

                        <button class="btn" onclick="Checkout.back(); return false;">
                            <i class="icon icon-arrow-up"></i>
                            @T("Common.Back")
                        </button>

                        <span class="please-wait" id="payment-info-please-wait" style="display: none;">
                            <img src="@Url.Content("~/Content/Images/ajax_loader_small.gif")" alt="@T("Common.LoadingNextStep")" title="@T("Common.LoadingNextStep")" />
                            @T("Common.LoadingNextStep")
                        </span>
                    </div>
                </div>
            </li>
            <li id="opc-confirm_order" class="section">
                <div class="step-title clearfix">
                    <span class="number">@(Model.ShippingRequired ? "6" : "4")</span>
                    <h2>@T("Checkout.ConfirmOrder")</h2>
                </div>
                <div id="checkout-step-confirm-order" class="step a-item" style="display: none;">
                    <div id="checkout-confirm-order-load">
                        @*confirm order content will be loaded here*@
                    </div>
                    <div class="buttons" id="confirm-order-buttons-container">
                        
                        <button class="btn" onclick="Checkout.back(); return false;">
                            <i class="icon icon-arrow-up"></i>
                            @T("Common.Back")
                        </button>

                        <span class="please-wait" id="confirm-order-please-wait" style="display: none;">
                            <img src="@Url.Content("~/Content/Images/ajax_loader_small.gif")" alt="@T("Checkout.SubmittingOrder")" title="@T("Checkout.SubmittingOrder")" />
                            @T("Checkout.SubmittingOrder")
                        </span>

                        @*<button class="btn btn-danger btn-large pull-right" onclick="ConfirmOrder.save(); return false;">*@
                        <button class="btn btn-danger btn-large pull-right checkout-confirm">
                            @T("Checkout.ConfirmButton")
                            &nbsp;<i class="icon-caret-right"></i> 
                        </button>
                    </div>
                </div>
            </li>
        </ol>
    </div>
    <script type="text/javascript">
        $(function () {
            Billing.init('#co-billing-form', '@(storeLocation)checkout/OpcSaveBilling/');
            if ($("#billing-address-select").length > 0) {
                Billing.newAddress(!$('#billing-address-select').val());
            }

            Shipping.init('#co-shipping-form', '@(storeLocation)checkout/OpcSaveShipping/');
            if ($("#shipping-address-select").length > 0) {
                Shipping.newAddress(!$('#shipping-address-select').val());
            }

            ShippingMethod.init('#co-shipping-method-form', '@(storeLocation)checkout/OpcSaveShippingMethod/');

            PaymentMethod.init('#co-payment-method-form', '@(storeLocation)checkout/OpcSavePaymentMethod/');

            PaymentInfo.init('#co-payment-info-form', '@(storeLocation)checkout/OpcSavePaymentInfo/');

            ConfirmOrder.init('@(storeLocation)checkout/OpcConfirmOrder/', '@(storeLocation)checkout/completed/');

            Accordion.init('checkout-steps', '.step-title', true);
            Accordion.openSection('#opc-billing');

            //order summary clicks
            $('.opc').on("click", ".billinginfo .change-checkout-data", function (e) {
                Checkout.gotoSection("billing");
                return false;
            });
            $('.opc').on("click", ".shippinginfo .change-checkout-data", function (e) {
                Checkout.gotoSection("shipping");
                return false;
            });
            $('.opc').on("click", ".payment-method .change-checkout-data", function (e) {
                Checkout.gotoSection("payment_method");
                return false;
            });
            $('.opc').on("click", ".shipping-method .change-checkout-data", function (e) {
                Checkout.gotoSection("shipping_method");
                return false;
            });

            Checkout.init('@(storeLocation)cart/');
        });
    </script>
</div>
