@model CheckoutShippingMethodModel
@using SmartStore.Web.Models.Checkout;
@{
    Layout = "_Checkout";
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    Html.AddBodyCssClass("no-offcanvas-cart");
    Html.AddCustomHeadParts("<meta name=\"robots\" content=\"noindex\">");
}

@section orderProgress{
    @{ Html.RenderAction("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Shipping }); }
}

<div class="page shipping-method-page">
    <div class="page-title">
        <h1 class="h3">@T("Checkout.SelectShippingMethod")</h1>
    </div>
    <div class="page-body checkout-data">
        @using (Html.BeginForm())
		{
			Html.RenderWidget("checkout_shipping_method_top");

			if (Model.Warnings.Count > 0)
			{
				<div class="alert alert-danger">
					<ul>
						@for (int i = 0; i < Model.Warnings.Count; i++)
						{
							<li>@Model.Warnings[i]</li>
						}
					</ul>
				</div>
			}
			else
			{
				<ul class="list-group opt-list shipping-options">
					@for (int i = 0; i < Model.ShippingMethods.Count; i++)
					{
						var shippingMethod = Model.ShippingMethods[i];

						<li class="list-group-item opt-list-item shipping-option-item@(shippingMethod.Selected ? " active" : "")">
							<div class="opt-data">
								<div class="form-check opt-control option-name radio">
									<input id="shippingoption_@(i)" type="radio" name="shippingoption" class="opt-radio form-check-input"
										   @Html.Attr("checked", "checked", shippingMethod.Selected)
										   value="@(shippingMethod.Name)___@(shippingMethod.ShippingRateComputationMethodSystemName)" />
									<label class="form-check-label" for="shippingoption_@(i)">
										<span class="opt-name" dir="auto">@Html.Raw(HttpUtility.HtmlDecode(shippingMethod.Name))</span>
									</label>
								</div>
								@if (shippingMethod.FeeRaw != 0)
								{
									<div class="opt-fee shipping-fee text-danger">
										@shippingMethod.Fee
									</div>
								}
							</div>
							@if (shippingMethod.Description.HasValue())
							{
								<div class="opt-info text-muted shipping-option-description">
									@if (shippingMethod.BrandUrl.HasValue())
									{
										<div class="media">
											<span class="float-left">
												<img class="media-object img-fluid" src="@Url.Content(shippingMethod.BrandUrl)" alt="@shippingMethod.Name" />
											</span>
											<div class="media-body" dir="auto">
												@Html.Raw(shippingMethod.Description)
											</div>
										</div>
									}
									else
									{
										<div dir="auto">
											@Html.Raw(shippingMethod.Description)
										</div>
									}
								</div>
						}
						</li>
					}
				</ul>
			}

            <div class="buttons">
                <a class="btn btn-secondary btn-lg" href="@Url.Action("ShippingAddress")">
                    <i class="fa fa-angle-left"></i>
                    <span>@T("Common.Back")</span>
                </a>    

                <input type="submit" name="nextstep" id="nextstep" class="d-none" />

                <button class="btn btn-warning btn-lg shipping-method-next-step-button" onclick="$('#nextstep').trigger('click');return false;">
					<span>@T("Checkout.NextButton")</span>
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>

            Html.RenderWidget("checkout_shipping_method_bottom");
        }
    </div>
</div>

<script>
	$(function () {
		$('.checkout-data .opt-radio').on('change', function (e) {
			var radio = $(this);
			var systemName = radio.val();

			$('.checkout-data .opt-list-item').removeClass('active');

			var item = radio.closest('.opt-list-item');
			item.addClass("active");
		});
	});
</script>
