@using SmartStore.Web.Models.Customer;
@using SmartStore.Web.Framework.UI;
@model CustomerAvatarModel
@{
	Layout = "_MyAccount";
	ViewBag.PageClassToken = "avatar";
	ViewBag.PageTitle = T("Account.Avatar").Text;

	Html.AddTitleParts(T("PageTitle.Account").Text);
}

@if (!ViewData.ModelState.IsValid)
{
	@Html.ValidationSummary(true)
}

<div id="AvatarUploadContainer">
	@if (!Model.AvatarUrl.HasValue())
	{
		<div class="alert alert-info">@T("Account.Avatar.UploadRules", Model.MaxFileSize)</div>
	}

	<div class="mb-2">
		<img src="@(Model.AvatarUrl.NullEmpty() ?? Model.PictureFallbackUrl)" class="img-thumbnail@(Model.AvatarUrl.HasValue() ? "" : " xd-none")" alt="Avatar" style="max-width: 120px;" />
	</div>

	@(Html.SmartStore().FileUploader()
		.Name("uploadedFile")
		.UploadUrl(Url.Action("UploadAvatar", "Customer"))
		.AcceptedFileTypes("gif|jpe?g|png")
		.ShowRemoveButton(Model.AvatarUrl.HasValue())
		.ShowRemoveButtonAfterUpload(true)
		.UploadText(T("Common.FileUploader.Upload"))
		.OnUploadCompletedHandlerName("onAvatarUploaded")
		.OnFileRemoveHandlerName("onAvatarRemoved")
	)
</div>

<script type="text/javascript">
    $(function () {
		window['onAvatarUploaded'] = function (e, el, data) {
			var result = data.result;
			if (result.success) {
				$('#AvatarUploadContainer img').attr('src', result.avatarUrl).show();
			}
		};

		window['onAvatarRemoved'] = function (e, el) {
			$.post('@Url.Action("RemoveAvatar", "Customer")');
			$('#AvatarUploadContainer img').attr('src', '@Html.Raw(Model.PictureFallbackUrl)');
		}
    });
</script>
