@model CustomerDownloadableProductsModel

@using SmartStore.Web.Models.Customer;

@{
	Html.AddTitleParts(T("PageTitle.Account").Text);

	Layout = "_MyAccount";
	ViewBag.PageClassToken = "downloads";
	ViewBag.PageTitle = T("Account.DownloadableProducts").Text;
}

@if (Model.Items.Count == 0)
{
	<div class="alert alert-warning">
		@T("DownloadableProducts.NoItems")
	</div>
	return;
}

<div class="card-deck card-cols-sm-1 esd-list">
	@foreach (var item in Model.Items)
	{
		<div class="card card-shadow esd-item">
			<div class="card-body">
				<h4 class="card-title mb-4" @Html.LanguageAttributes(item.ProductName)>@item.ProductName.Value.Truncate(50, "...")</h4>
				<dl class="row mb-0">
					<dt class="col-sm-3 font-weight-400 text-muted">@T("Order.Order#")</dt>
					<dd class="col-sm-9"><a href="@Url.Action("Details", "Order", new { id = item.OrderId })" rel="nofollow">@item.OrderId</a></dd>
					<dt class="col-sm-3 font-weight-400 text-muted">@T("Common.CreatedOn")</dt>
					<dd class="col-sm-9">@item.CreatedOn.ToNativeString("d")</dd>
					<dt class="col-sm-3 font-weight-400 text-muted">@T("DownloadableProducts.Fields.Product")</dt>
					<dd class="col-sm-9">
						<a href="@item.ProductUrl" title="@T("Products.Details")" @Html.LanguageAttributes(item.ProductName)>@item.ProductName</a>
						@if (item.ProductAttributes.HasValue())
						{
							<div>
								@Html.Raw(item.ProductAttributes)
							</div>
						}
					</dd>
				</dl>
			</div>

			@if (item.DownloadId > 0 || item.LicenseId > 0)
			{
				<div class="card-footer d-flex p-0">
					@if (item.DownloadId > 0)
					{
						<a class="btn btn-secondary btn-flat rounded-0" href="@Url.Action("GetDownload", "Download", new { id = item.OrderItemGuid })" rel="nofollow">
							<i class="fa fa-download"></i>
							<span>@T("DownloadableProducts.Fields.Download")</span>
						</a>
					}
					else
					{
						<a class="btn btn-secondary btn-flat rounded-0 disabled" href="javascript:void(0)" rel="nofollow">
                            <span>@T("DownloadableProducts.Fields.Download.NA")</span>
						</a>
					}

					@if (item.LicenseId > 0)
					{
						<a class="btn btn-secondary btn-flat rounded-0" href="@Url.Action("GetLicense", "Download", new { id = item.OrderItemGuid })" rel="nofollow">
							<span>@T("DownloadableProducts.Fields.DownloadLicense")</span>
						</a>
					}
				</div>
			}
		</div>
	}
</div>
