@model PasswordRecoveryConfirmModel
@using SmartStore.Web.Models.Customer;
@{
    Layout = "_Layout";
    
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}

<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>

    <div class="page-body">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="alert alert-success">
                @Model.Result
            </div>
        }

        @if (!Model.SuccessfullyChanged)
		{
			using (Html.BeginForm( "Customer", "PasswordRecoveryConfirm", FormMethod.Post, new { @class = "row" }))
			{
                <div class="col-12 col-lg-9 col-xl-8">
					@Html.ControlGroupFor(model => model.NewPassword, editorType: InputEditorType.Password, required: true, breakpoint: "md")
					@Html.ControlGroupFor(model => model.ConfirmNewPassword, editorType: InputEditorType.Password, required: true, breakpoint: "md")

					<div class="form-group row">
						<div class="col">
							<input type="submit" name="set-password" class="btn btn-danger btn-lg" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
						</div>
					</div>
				</div>
            }
        }
    </div>
</div>
