@model PasswordRecoveryModel
@using SmartStore.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>

    <div class="page-body">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="alert alert-success">
                @Model.Result
            </div>
        }
        else 
        {
            <div class="alert alert-info">
                @T("Account.PasswordRecovery.Tooltip")
            </div>
        }
        @using (Html.BeginForm())
        {
            <div class="control-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label required" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Email, new { @class = "email", @type = "email" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="buttons">
                <input type="submit" name="send-email" class="btn password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
            </div>
        }
    </div>
</div>
