@model CustomerReturnRequestsModel

@using SmartStore.Web.Models.Customer;

@{
	Html.AddTitleParts(T("PageTitle.Account").Text);

	Layout = "_MyAccount";
	ViewBag.PageClassToken = "returnrequests";
	ViewBag.PageTitle = T("Account.CustomerReturnRequests").Text;
}

<div class="card-deck card-cols-sm-1 return-request-grid">
	@foreach (var item in Model.Items)
	{
		<div class="card card-shadow return-request-item">
			<div class="card-body">
				<h4 class="card-title mb-4">@string.Format(T("Account.CustomerReturnRequests.Title").Text, item.Id, item.ReturnRequestStatus)</h4>
				<dl class="row mb-0">
					<dt class="col-sm-4 font-weight-400 text-muted">@T("Account.CustomerReturnRequests.Item")</dt>
					<dd class="col-sm-8">
						<span>@item.Quantity x</span>
						<a href="@item.ProductUrl" title="@T("Products.Details")" @Html.LanguageAttributes(item.ProductName)>@item.ProductName</a>
					</dd>
					<dt class="col-sm-4 font-weight-400 text-muted">@T("Account.CustomerReturnRequests.Reason")</dt>
					<dd class="col-sm-8">@item.ReturnReason</dd>
					<dt class="col-sm-4 font-weight-400 text-muted">@T("Account.CustomerReturnRequests.Action")</dt>
					<dd class="col-sm-8">@item.ReturnAction</dd>
					<dt class="col-sm-4 font-weight-400 text-muted">@T("Account.CustomerReturnRequests.Date")</dt>
					<dd class="col-sm-8">@item.CreatedOn.ToNativeString()</dd>
					<dt class="col-sm-4 font-weight-400 text-muted">@T("Account.CustomerReturnRequests.Comments")</dt>
					<dd class="col-sm-8" dir="auto">@Html.Raw(SmartStore.Core.Html.HtmlUtils.FormatText(item.Comments, false, true, false, false, false, false))</dd>
				</dl>
			</div>
		</div>
	}
</div>

