@model Telerik.Web.Mvc.GridModel<DiscountModel>
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = T("Admin.Promotions.Discounts").Text;
}
<div class="section-header">
    <div class="title">
        @T("Admin.Promotions.Discounts")
    </div>
    <div class="options">
		@Html.Widget("admin_button_toolbar_before")

        <a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;@T("Admin.Common.AddNew")</a>

		@Html.Widget("admin_button_toolbar_after")
    </div>
</div>

<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<DiscountModel>(Model.Data)
                    .Name("discounts-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Name)
                            .Width(400)
                            .Template(x => Html.ActionLink(x.Name, "Edit", new { id = x.Id }))
                            .ClientTemplate("<a href=\"Edit/<#= Id #>\"><#= Name #></a>");
                        columns.Bound(x => x.UsePercentage)
                            .Width(120)
                            .Template(item => @Html.SymbolForBool(item.UsePercentage))
                            .ClientTemplate(@Html.SymbolForBool("UsePercentage"))
                            .Centered();
                        columns.Bound(x => x.DiscountPercentage)
                            .Width(120)
							.Format("{0:0.00}")
                            .Centered();
                        columns.Bound(x => x.DiscountAmount)
							.Width(120)
							.Format("{0:0.00}")
							.RightAlign();
                        columns.Bound(x => x.StartDateUtc)
                            //.Format("{0:d}")
                            .Width(120);
                        columns.Bound(x => x.EndDateUtc)
                            //.Format("{0:d}")
                            .Width(120);
                        columns.Bound(x => x.Id)
                            .Width(100)
                            .Centered()
                            .Template(x => Html.ActionLink(T("Admin.Common.Edit").Text, "Edit", new { id = x.Id }))
                            .ClientTemplate("<a href=\"Edit/<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
                            .Title(T("Admin.Common.Edit").Text);
                    })
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "Discount"))
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>