@model AjaxCategoryModel

@using SmartStore.Web.Models.Catalog;

@{
    Layout = "";
}

<div class="category-container">

    <div class="category-info">
        <div class="category-name">
            @(Model.Id != 0 ? Model.Name : T("Warengruppen").Text)
        </div>
    </div>

    <ul class="nav navbar-nav">

        @if (Model.Id != 0)
        {
            <li class="back-to-parent-cat nav-item" data-entity-id="@Model.ParentCategory.Id">
                <a href="@Url.RouteUrl("Category", new { SeName = Model.ParentCategory.SeName })" class="nav-link">
                    <i class="fa fa-chevron-left"></i>
                    @T("Zurück")
                </a>
            </li>

            <li class="go-to-current-cat nav-item" data-entity-id="@Model.Id" data-is-ajax-navigation="false">
                <a href="@Url.RouteUrl("Category", new { SeName = Model.SeName })" class="nav-link">
                    @Model.Name @T("Anzeigen")
                </a>
            </li>
        }

        @foreach (var cat in Model.SubCategories)
        {
            <li class="sub-cat nav-item" data-entity-id="@cat.Id" data-is-ajax-navigation="@(cat.HasChildren ? "true" : "false")">
                <a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" class="nav-link">
                    @cat.Name
                </a>

                @if (cat.HasChildren)
                {
                    <i class="fa fa-chevron-right"></i>
                }

            </li>
        }
    </ul>
</div>