@model ProductSummaryModel

@using SmartStore.Web.Models.Catalog;

@{
    Layout = "_ColumnsTwo";
    Html.AddTitleParts(T("PageTitle.CompareProducts").Text);
}

@{
	// TODO: (mc) Display more data: sku, brand, rating, weight, dimension, delivery time
	string columnWidth = "";
	if (Model.Items.Count > 0)
	{
		columnWidth = Math.Round((decimal)(90M / Model.Items.Count), 0).ToString() + "%";
	}

	// TODO: (mc) Union all attributes and only display shared ones
	var specificationAttributes = new List<ProductSpecificationModel>();
	foreach (var product in Model.Items)
	{
		foreach (var attribute in product.SpecificationAttributes)
		{
			if (specificationAttributes.Where(sa => sa.SpecificationAttributeId == attribute.SpecificationAttributeId).FirstOrDefault() == null)
			{
				specificationAttributes.Add(attribute);
			}
		}
	}
}
<div class="page compare-products-page">
    <div class="page-title">
        <h1 class="h3">@T("Products.Compare.Title")</h1>
    </div>

    <div class="page-body">
        @if (Model.Items.Count > 0)
        {
            <div class="ar">
                <a class="btn btn-secondary" href='@Url.Action("ClearCompareList")' style="margin-bottom: 12px" rel="nofollow">
					<i class="fa fa-trash-o"></i>
                    @T("Products.Compare.Clear")
                </a>
            </div>
            
            <table class="compare-products-table table table-bordered table-striped table-hover x-table-condensed">
                <thead>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        @foreach (var product in Model.Items)
                        {
                            <td style="width: @columnWidth; vertical-align: bottom;" class="ac">
                                <div>
									@if (product.Picture != null && product.Picture.ImageUrl.HasValue())
									{
										<p>
											<a href="@Url.RouteUrl("Product", new { SeName = product.SeName })">
												<img alt="@product.Picture.AlternateText" src="@product.Picture.ImageUrl" title="@product.Picture.Title" />
											</a>
										</p>
									}
                                    <p>
                                        <a class="btn btn-sm btn-danger remove-button" href='@Url.Action("RemoveProductFromCompare", new { id = product.Id })' rel="nofollow">
                                            @T("Common.Remove")
                                        </a>
                                    </p>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr class="product-name">
                        <td>
                            &nbsp;
                        </td>
                        @foreach (var product in Model.Items)
                        {
                            <td style="width: @columnWidth;">
                                <a class="link" href="@Url.RouteUrl("Product", new { SeName = product.SeName })">@product.Name</a>
                            </td>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr class="product-price">
                        <th>
                            @T("Products.Compare.Price")
                        </th>
                        @foreach (var product in Model.Items)
                        {
                            <td style="width: @columnWidth;" class="a-center">
								<div>
									@product.Price.Price
								</div>
								@if (product.BasePriceInfo.HasValue())
								{
									<div class="base-price text-muted">
										@product.BasePriceInfo
									</div>
								}
                            </td>
                        }
                    </tr>
                    @if (Model.ShowDescription)
                    {
                        <tr class="short-description">
                            <th>
                                @T("Products.Compare.ShortDescription")
                            </th>
                            @foreach (var product in Model.Items)
                            {
                                <td style="width: @columnWidth;" class="a-left">
                                    @Html.Raw(product.ShortDescription)
                                </td>
                            }
                        </tr>
                    }
                    @foreach (var specificationAttribute in specificationAttributes)
                    {
                        <tr>
                            <th>
                                @specificationAttribute.SpecificationAttributeName
                            </th>
                            @foreach (var product in Model.Items)
                            {
                                var foundProductSpec = product.SpecificationAttributes.Where(psa => psa.SpecificationAttributeId == specificationAttribute.SpecificationAttributeId).FirstOrDefault();
                                var specValue = foundProductSpec != null ? foundProductSpec.SpecificationAttributeOption : "";
                                                                
                                <td style="width: @columnWidth;" class="a-center">
                                    @if (!String.IsNullOrEmpty(specValue))
                                    {
                                        @specValue
                                    }
                                    else
                                    {
                                        <text>&nbsp;</text>
                                    }
                                </td>
                            }
                        </tr>                    
                    }
                    @if (Model.ShowFullDescription)
                    {
                        <tr class="full-description">
                            <th>
                                @T("Products.Compare.FullDescription")
                            </th>
                            @foreach (var product in Model.Items)
                            {
                                <td style="width: @columnWidth;" class="a-left">
                                    @Html.Raw(product.FullDescription)
                                </td>
                            }
                        </tr>
                    }
                    @Html.Widget("compareproducts_row")
                </tbody>
            </table>
        }
    </div>
</div>
