@using SmartStore.Core;
@using SmartStore.Core.Infrastructure;
@using SmartStore.Web.Models.Catalog;
@model IList<ManufacturerModel>
@{
    Layout = "_ColumnsOne";

    Html.AddTitleParts(T("PageTitle.Manufacturers").Text);
	// TODO: (mc) > (mh) Sort list by name and implement alphabet navbar (A - B - C ...)
}
<div class="page manufacturer-list-page">
    <div class="page-title">
        <h1 class="h3">@T("Manufacturers.List")</h1>
    </div>
    <div class="page-body">
		<div class="artlist artlist-grid artlist-6-cols artlist-boxed manufacturer-grid">
			@foreach (var item in Model)
			{
				var picture = item.PictureModel;
				var url = Url.RouteUrl("Manufacturer", new { SeName = item.SeName });
				<article class="art" data-id="@item.Id">
					<div class="art-picture-block">
						@if (picture != null && picture.ImageUrl.HasValue())
						{
							<a class="art-picture" href="@url" title="@picture.Title">
								<img src="@picture.ImageUrl" alt="@picture.AlternateText" />
							</a>
						}
					</div>
					<div class="art-genericname">
						<a href="@url" title="@item.Name">
							<span>@item.Name</span>
						</a>
					</div>
				</article>
			}
		</div>
    </div>
</div>
