@model RecentlyAddedProductsModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.RecentlyAddedProducts").Text);
}
@using SmartStore.Web.Models.Catalog;
@using SmartStore.Web.Framework.UI;

<div class="page recently-added-products-page">
    <div class="page-title">
        <a href="@Url.RouteUrl("RecentlyAddedProductsRSS")" class="link-rss" title="@T("Products.NewProducts.RSS.Hint")">
			<i class="fa fa-rss text-muted"></i>
			@T("Products.NewProducts.RSS")
		</a>
        <h1>@T("Products.NewProducts")</h1>
    </div>

    <div class="page-body">

        @if (Model.Products.Count > 0)
        {
            if (Model.PagingFilteringContext.ViewMode == "list")
            {
                @*list mode*@
                <div class="product-list">
                    @foreach (var product in Model.Products)
                    {
                        <article class="item-box details card p-a-1">
                            @Html.Partial("_ProductBoxList", product)
                        </article>
                    }
                </div>
            }
            else
            {
                @*grid mode*@
                <div class="card-deck card-cols-sm-1 card-cols-md-2 card-cols-lg-3 product-grid">
                    @foreach (var product in Model.Products)
                    {
                        <article class="card card-block card-shadow text-xs-center">
                            @Html.Partial("_ProductBox", product)
                        </article>
                    }
                </div>
            }
        }
    </div>
</div>
