@model SearchModel
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Search").Text);
}
@using SmartStore.Core;
@using SmartStore.Core.Infrastructure;
@using SmartStore.Web;
@using SmartStore.Web.Models.Catalog;
@using SmartStore.Web.Framework.UI;

@functions{
    private bool ShowListOptions() {
        return Model.Products.Count > 0 &&
               (Model.PagingFilteringContext.AllowProductViewModeChanging ||
               Model.PagingFilteringContext.AllowProductSorting ||
               Model.PagingFilteringContext.AllowCustomersToSelectPageSize);
    }
}

<div class="page search-page">
    <div class="page-title">
        <h1>@T("Search")</h1>
    </div>

    <div class="page-body">
        @using (Html.BeginRouteForm("ProductSearch", FormMethod.Get))
        {
            <div class="search-input">
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#@Html.FieldIdFor(model => model.As)").click(toggleAdvancedSearch);
                        toggleAdvancedSearch();
                    });

                    function toggleAdvancedSearch() {
                        if ($('#@Html.FieldIdFor(model => model.As)').is(':checked')) {
                            $('#advanced-search-block').show();
                        }
                        else {
                            $('#advanced-search-block').hide();
                        }
                    }

                </script>

                @if (!String.IsNullOrEmpty(Model.Warning))
                {
                    <div class="alert alert-error fade in">
                        <button class="close" data-dismiss="alert">x</button>
                        @Model.Warning
                    </div>
                }

                <div class="basic-search form-horizontal">
                    <div class="control-group">
                        @Html.LabelFor(model => model.Q, new { @class="control-label required" , @for="Q" } )
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Q, new { @class = "search-text span8" })
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.As)
                                @T("Search.AdvancedSearch")
                            </label>
                        </div>
                    </div>

                    <div class="adv-search" id="advanced-search-block" style="display: @(Model.As ? "block" : "none")">
                        @if (Model.AvailableCategories.Count > 0)
                        {
                            <div class="control-group">
                                @Html.LabelFor(model => model.Cid, new { @class="control-label" , @for="Q" })
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.Cid, Model.AvailableCategories, new { @class = "noskin", style = "max-width: 100%" })
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox">
                                        @Html.CheckBoxFor(model => model.Isc)
                                        @T("Search.IncludeSubCategories")
                                    </label>
                                </div>
                            </div>
                        }
                        @if (Model.AvailableManufacturers.Count > 0)
                        {
                            <div class="control-group">
                                @Html.LabelFor(model => model.Mid, new { @class="control-label" , @for="Mid" })
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.Mid, Model.AvailableManufacturers, new { @class = "noskin" })
                                </div>
                            </div>
                        }

                        <div class="control-group">
                            <label class="control-label" for="Pf">@T("Search.PriceRange")</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Pf, new { @class = "price-from", placeholder = T("Search.PriceRange.From").Text })
                                @Html.TextBoxFor(model => model.Pt, new { @class = "price-to", placeholder = T("Search.PriceRange.To").Text })
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    @Html.CheckBoxFor(model => model.Sid)
                                    @T("Search.SearchInDescriptions")
                                </label>
                            </div>
                        </div>

                        @Html.Widget("productsearch_page_advanced")

                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary search-button">
                                <i class="fa fa-search"></i>
                                @T("Search")
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            
            if (ShowListOptions())
            {
                @Html.Partial("_ProductListOptions", Model.PagingFilteringContext)
            }

            <div class="search-results">
                @if (Model.NoResults)
                {
                    <span class="result">
                        @T("Search.NoResultsText")
                    </span>
                }

                @if (Model.Products.Count > 0)
                {
                    if (Model.PagingFilteringContext.ViewMode == "list")
                    {
                    @*list mode*@
                    <div class="product-list">
                        @foreach (var product in Model.Products)
                        {
                            <article class="item-box details">
                                @Html.Partial("_ProductBoxList", product)
                            </article>   
                        }
                    </div>       
                    }
                    else
                    {
                    @*grid mode*@
                    <div class="product-grid">
                        @(Html.DataList<ProductOverviewModel>(Model.Products, 3,
                            @<article class="item-box">
                                @Html.Partial("_ProductBox", @item)
                            </article>
                        ))
                    </div>
                    }
                }

                @Html.SmartStore().Pager(Model.PagingFilteringContext).Name("pagination-bottom").QueryParam("pagenumber", "as", "isc", "sid")

            </div>
        }
    </div>
</div>
