@model SearchBoxModel
@using SmartStore.Web.Models.Catalog;

@{
	if (Model.AutoCompleteEnabled)
	{
		Html.AddScriptParts("~/Scripts/smartstore.instantsearch.js");
	}
}

@using (Html.BeginRouteForm("ProductSearch", FormMethod.Get, new { @class = "form-search pull-right" }))
{
    <div class="input-append" style="position: relative">    
		<input type="text"
			   id="instantsearch"
			   placeholder="@T("Search.SearchBox.Tooltip")"
			   data-minlength="@(Model.SearchTermMinimumLength.ToString())"
			   data-showthumbs="@(Model.ShowProductImagesInSearchAutoComplete.ToString().ToLower())"
			   data-url="@Url.RouteUrl("ProductSearchAutoComplete")"
			   @(Model.AutoCompleteEnabled ? Html.Raw(" autocomplete=\"off\"") : null) name="q" />
        <button type="submit" class="btn btn-warning" title="@T("Search")">
			<i class="fa fa-search"></i>
		</button>
		<span id="instantsearch-progress" class="ajax-loader-small hide"></span>
    </div>
    @Html.Widget("searchbox")
}