@model SearchBoxModel
@using SmartStore.Web.Models.Catalog;

@{
	if (Model.AutoCompleteEnabled)
	{
		Html.AddScriptParts("~/Scripts/smartstore.instantsearch.js");
	}
}

@using (Html.BeginRouteForm("ProductSearch", FormMethod.Get, new { @class = "form-search" }))
{
    <div class="input-group">    
		<input type="text"
			   id="instantsearch"
			   class="form-control"
			   placeholder="@T("Search.SearchBox.Tooltip")"
			   data-minlength="@(Model.SearchTermMinimumLength.ToString())"
			   data-showthumbs="@(Model.ShowProductImagesInSearchAutoComplete.ToString().ToLower())"
			   data-url="@Url.RouteUrl("ProductSearchAutoComplete")"
			   @(Model.AutoCompleteEnabled ? Html.Raw(" autocomplete=\"off\"") : null) name="q" />
		<span class="input-group-btn">
			<button type="submit" class="btn btn-icon btn-primary" title="@T("Search")">
				<i class="fa fa-search"></i>
			</button>
		</span>
    </div>

    @Html.Widget("searchbox")
}