@using SmartStore.Web.Framework.UI;
@using SmartStore.Web.Framework.UI.Choices;
@model ChoiceModel
@{ 
	var storeUrl = EngineContext.Current.Resolve<IWebHelper>().GetStoreLocation(false);
	var controlId = Model.BuildControlId();
	var disabled = Model.IsDisabled;	// TODO?
	var clientId = "upload" + CommonHelper.GenerateRandomInteger();
	var containerId = clientId + "container";

	//ex. ['jpg', 'jpeg', 'png', 'gif'] or []
	var allowedFileExtensions = string.Join("|", Model.AllowedFileExtensions.Select(x => x.Trim()).ToList());
}

<div id="@containerId">
	<input id="@(controlId)" name="@(controlId)" type="hidden" class="hidden" />

	@(Html.SmartStore().FileUploader()
		.Name(clientId)
		.UploadUrl(Model.GetFileUploadUrl(Url))
		.AcceptedFileTypes(allowedFileExtensions)
		.ShowRemoveButton(false)
		.ShowRemoveButtonAfterUpload(false)
		.UploadText(T("Common.FileUploader.Upload"))
		.OnUploadCompletedHandlerName("onFileUploaded" + clientId)
	)

	<div class="uploaded-file mt-2 hide"></div>
</div>

<script type="text/javascript">
    $(function () {
        var el = $('#@containerId'),
            elHidden = el.find('.hidden'),
            elRemove = el.find('.remove'),
			elFile = el.find('.uploaded-file');

		window['onFileUploaded@(clientId)'] = function (e, el, data) {
			var result = data.result;

			if (result.downloadGuid) {
				setUploadedFile(result.downloadGuid, data.files[0].name);
			}

			if (result.message) {
				displayNotification(result.message, "success");
			}
		};

        elRemove.click(function (e) {
			elHidden.val('');
			elFile.html("").hide();
			$(this).hide();
            e.preventDefault();
        });

        setUploadedFile('@Model.UploadedFileGuid', '@Model.UploadedFileName');

        function setUploadedFile(downloadGuid, fileName) {
        	if (!_.isEmpty(downloadGuid) && downloadGuid !== '0') {
        		elHidden.val(downloadGuid);

        		var downloadLink = "@storeUrl" + "download/getfileupload/?downloadId=" + downloadGuid;
        		var fileLink = '<a href="' + downloadLink + '" class="fileuploadattribute" rel="nofollow">' + fileName + '</a>';

        		elFile.html(fileLink).show();
				elRemove.show();
        	}
        }
    });
</script>