@model IDictionary<string, object>

@using SmartStore.Web.Framework.Theming;
@using SmartStore.Web.Framework.UI;

@{
    Layout = null;
}

@(Html.SmartStore().TabStrip().Name("theme-flex-edit").HtmlAttributes(new { @class = "theme-edit" }).Items(x =>
{
    var tabGeneral = x.Add().Text(T("Common.General").Text).Content(@TabGeneral()).Selected(true);
    var tabFonts = x.Add().Text(T("Admin.Themes.Fonts").Text).Content(@TabFonts());
    var tabLayout = x.Add().Text("Layout").Content(@TabLayout());
    var tabButtons = x.Add().Text(T("Admin.Themes.Buttons").Text).Content(@TabButtons());
    var tabStates = x.Add().Text(T("Admin.Themes.States").Text).Content(@TabStates());
    var tabComponents = x.Add().Text(T("Admin.Themes.Components").Text).Content(@TabComponents());
    var tabMisc = x.Add().Text(T("Admin.Themes.Misc").Text).Content(@TabMisc());

}))

@helper TabGeneral()
{
    <table class="adminContent">
        @ThemeVarEditor("gray-dark", "Grayscale")
        @ThemeVarEditor("gray")
        @ThemeVarEditor("gray-light")
        @ThemeVarEditor("gray-lighter")
        @ThemeVarEditor("gray-lightest")

        @ThemeVarEditor("red", "Colors")
        @ThemeVarEditor("orange")
        @ThemeVarEditor("yellow")
        @ThemeVarEditor("green")
        @ThemeVarEditor("blue")
        @ThemeVarEditor("bluegrey")
        @ThemeVarEditor("indigo")
        @ThemeVarEditor("teal")
        @ThemeVarEditor("pink")
        @ThemeVarEditor("purple")

        @ThemeVarEditor("brand-primary", "Brand Colors")
        @ThemeVarEditor("brand-warning")
        @ThemeVarEditor("brand-danger")
        @ThemeVarEditor("brand-info")
        @ThemeVarEditor("brand-success")
    </table>
}

@helper TabFonts()
{
    <table class="adminContent">
        @ThemeVarEditor("font-family-sans-serif", "Typo")
        @ThemeVarEditor("font-family-monospace")
        @ThemeVarEditor("font-size-base")
        @ThemeVarEditor("font-size-lg")
        @ThemeVarEditor("font-size-sm")
        @ThemeVarEditor("font-size-xs")
        @ThemeVarEditor("font-weight-light")
        @ThemeVarEditor("font-weight-normal")
        @ThemeVarEditor("font-weight-medium")
        @ThemeVarEditor("font-weight-bold")

        @ThemeVarEditor("headings-font-family", "Headings")
        @ThemeVarEditor("headings-font-weight")
        @ThemeVarEditor("headings-line-height")
        @ThemeVarEditor("headings-color")
        @ThemeVarEditor("lead-font-weight")

        <tr>
            <td colspan="2" class="admin-config-group">
                <div class="title">Google Fonts</div>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <div class="alert alert-info">
                    
                    @T("Admin.Theme.GoogleFonts.Hint")

                </div>
            </td>
        </tr>

        @ThemeVarEditor("google-font-1")
        @ThemeVarEditor("google-font-2")
        @ThemeVarEditor("google-font-3")
    </table>
}

@helper TabLayout()
{
    <table class="adminContent">
        @ThemeVarEditor("boxed")

        @ThemeVarEditor("body-bg", "Site Colors")
        @ThemeVarEditor("site-bg")
        @ThemeVarEditor("body-color")
        @ThemeVarEditor("text-muted")
        @ThemeVarEditor("link-color")

        @ThemeVarEditor("header-bg", "Header")
        @ThemeVarEditor("shopbar-label")

        @ThemeVarEditor("inverse-menubar", "")
        @ThemeVarEditor("menubar-bg")
        @ThemeVarEditor("menubar-color")
        @ThemeVarEditor("menubar-inverse-color")

        @ThemeVarEditor("inverse-shopbar", "")
        @ThemeVarEditor("shopbar-bg")
        @ThemeVarEditor("shopbar-color")
        @ThemeVarEditor("shopbar-inverse-color")

        @ThemeVarEditor("inverse-navbar", "")
        @ThemeVarEditor("megamenu-bg")
        @ThemeVarEditor("megamenu-color")
        @ThemeVarEditor("megamenu-inverse-color")
        @ThemeVarEditor("megamenu-line-height")

        @ThemeVarEditor("search-button-style", "Searchbox")
        @ThemeVarEditor("searchbox-bg")
        @ThemeVarEditor("searchbox-focus-bg")
        @ThemeVarEditor("searchbox-border-color")
        @ThemeVarEditor("searchbox-border-active-color")
        @ThemeVarEditor("searchbox-hit-tag-color")

        @ThemeVarEditor("inverse-footer", "Footer")
        @ThemeVarEditor("footer-bg")
        @ThemeVarEditor("footer-color")
        @ThemeVarEditor("footer-color-muted")
        @ThemeVarEditor("footer-inverse-color")
        @ThemeVarEditor("footer-inverse-color-muted")
        @ThemeVarEditor("footer-social-bg")
        @ThemeVarEditor("footer-social-color")
    </table>
}

@helper TabButtons()
{
    <table class="adminContent">
        @ThemeVarEditor("btn-primary-color", "Primary")
        @ThemeVarEditor("btn-primary-bg")
        @ThemeVarEditor("btn-primary-border")

        @ThemeVarEditor("btn-secondary-color", "Secondary")
        @ThemeVarEditor("btn-secondary-bg")
        @ThemeVarEditor("btn-secondary-border")

        @ThemeVarEditor("btn-info-color", "Info")
        @ThemeVarEditor("btn-info-bg")
        @ThemeVarEditor("btn-info-border")

        @ThemeVarEditor("btn-success-color", "Success")
        @ThemeVarEditor("btn-success-bg")
        @ThemeVarEditor("btn-success-border")

        @ThemeVarEditor("btn-warning-color", "Warning")
        @ThemeVarEditor("btn-warning-bg")
        @ThemeVarEditor("btn-warning-border")

        @ThemeVarEditor("btn-danger-color", "Danger")
        @ThemeVarEditor("btn-danger-bg")
        @ThemeVarEditor("btn-danger-border")
    </table>
}

@helper TabStates()
{
    <table class="adminContent">
        @ThemeVarEditor("state-success-text", "Success")
        @ThemeVarEditor("state-success-bg")
        @ThemeVarEditor("state-success-border")

        @ThemeVarEditor("state-info-text", "Info")
        @ThemeVarEditor("state-info-bg")
        @ThemeVarEditor("state-info-border")

        @ThemeVarEditor("state-warning-text", "Warning")
        @ThemeVarEditor("state-warning-bg")
        @ThemeVarEditor("state-warning-border")

        @ThemeVarEditor("state-danger-text", "Danger")
        @ThemeVarEditor("state-danger-bg")
        @ThemeVarEditor("state-danger-border")
    </table>
}

@helper TabComponents()
{
    <table class="adminContent">
        @ThemeVarEditor("card-border-radius", "Cards")
        @ThemeVarEditor("card-border-color")
        @ThemeVarEditor("card-cap-bg")
        @ThemeVarEditor("card-bg")
        @ThemeVarEditor("card-link-hover-color")

        @ThemeVarEditor("dropdown-bg", "Dropdowns")
        @ThemeVarEditor("dropdown-border-color")
        @ThemeVarEditor("dropdown-divider-bg")
        @ThemeVarEditor("dropdown-box-shadow")
        @ThemeVarEditor("dropdown-link-color")
        @ThemeVarEditor("dropdown-link-hover-color")
        @ThemeVarEditor("dropdown-link-hover-bg")

        @ThemeVarEditor("table-bg", "Tables")
        @ThemeVarEditor("table-bg-accent")
        @ThemeVarEditor("table-bg-hover")
        @ThemeVarEditor("table-bg-active")
        @ThemeVarEditor("table-border-color")
    </table>
}

@helper TabMisc()
{
    <table class="adminContent">
        @ThemeVarEditor("nav-tabs-active-link-color")
        @ThemeVarEditor("product-price-color")
        @ThemeVarEditor("product-detail-addtocart-box-bg")
        @ThemeVarEditor("login-box-bg")
        @ThemeVarEditor("cart-footer-bg")
        @ThemeVarEditor("costep-progress-color", null, T("Admin.ThemeVar.CostepPogressColor"))
        @ThemeVarEditor("offcanvas-cart-footer")
        @ThemeVarEditor("art-active-bg-color")
        @ThemeVarEditor("art-active-border-color")
    </table>
}

@helper ThemeVarEditor(string varName, string groupName = null, string helpText = null)
{
    if (groupName != null)
    {
        <tr>
            <td colspan="2" class="admin-config-group">
                <div class="title">@groupName</div>
            </td>
        </tr>
    }
    <tr>
        <td class="adminTitle">
            <div class="ctl-label">
                @if (helpText != null)
                {
                    <a class="hint" href="#" onclick="return false;" tabindex="-1" data-original-title="@helpText"><i class="fa fa-question-circle"></i></a>
                }
                @Html.ThemeVarLabel(ThemeManifest.Variables[varName])
            </div>
        </td>
        <td class="adminData">
            @Html.ThemeVarEditor(ThemeManifest.Variables[varName], Model[varName])
        </td>
    </tr>
}
