@model CompareProductsModel
@using SmartStore.Web.Models.Catalog;

<div class="shopbar-flyout-inner">
    <div class="no-items muted @(Model.Products.Count > 0 ? "hide" : "")">
        @T("Products.Compare.ListIsEmpty")
    </div>
    @if (Model.Products.Count > 0)
    {
        <ul class="items unstyled">
            @for (int i = 0, length = Model.Products.Count; i < length; i++)
            {
                var item = Model.Products[i];
                string itemClass = "item clearfix";
                if (i == 0)
                {
                    itemClass += " alpha";
                }
                
                <li class="@itemClass">
                    <figure class="picture pull-left">
						@if (item.DefaultPictureModel.ImageUrl.HasValue())
						{
							<a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="@item.DefaultPictureModel.Title">
								<img alt="@item.DefaultPictureModel.AlternateText" src="@item.DefaultPictureModel.ImageUrl" title="@item.DefaultPictureModel.Title" />
							</a>
						}
                    </figure>
                    <div class="data pull-left">
                        <a class="name" href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="@item.Name">@item.Name</a>
                    </div>
                    <div class="price pull-right">
                        @item.ProductPrice.Price
                    </div>
                    <a class="remove ajax-cart-link" 
                        href="#"
					    rel="nofollow"
                        data-href='@Url.Action("RemoveProductFromCompare", new { id = item.Id })' 
                        data-type="compare"
                        data-action="remove" 
                        title='@T("Common.Remove")'>
                        <i class="fa fa-trash-o"></i>
                    </a>
                </li>
            }
        </ul>
        
        <div class="buttons clearfix">

            <a class="btn btn-primary btn-small pull-left" href="@Url.RouteUrl("CompareProducts")">
                @T("Products.Compare.List")
            </a>
            
            <a class="btn btn-danger btn-small pull-right" href="@Url.Action("ClearCompareList")" rel="nofollow">
                @T("Products.Compare.Clear")
            </a>   

        </div>
    }
</div>

<script>
    $(function () {
        applyCommonPlugins("#shopbar-flyout-compare");
    });
</script>
