@model ContentSliderSettings

@using SmartStore.Core.Domain.Cms;
@using SmartStore.Web.Framework.Theming;

@functions
{
    private string GetSliderBgExpression()
    {
        string result = "";
        
        if (Model.BackgroundPictureUrl.HasValue())
        {
            result = "background-image:url('{0}');".FormatInvariant(Url.Content(Model.BackgroundPictureUrl));
        }
        
        return result;
    }
}

@{
    var isActive = Model.IsActive && Model.Slides.Where(x => x.Published).Any();

    if (isActive) 
    {
		Html.AddCssFileParts(false, Html.ThemePath("Content/slider.less"));
		Html.AddScriptParts("~/bundles/sequencejs");
    }
}

@if (isActive) 
{
    <div id="slider" class="slider" style="height: @(Model.ContentSliderHeight); @(GetSliderBgExpression())">
        
        @if (Model.Slides.Count > 1)
        {
            <nav class="arrows">
                <span class="sequence-prev"></span>
                <span class="sequence-next"></span>
            </nav>
        }

        @if (Model.AutoPlay && Model.Slides.Count > 1)
        {
            <div class="sequence-pause"></div>
        }

        <ul class="sequence-canvas">
            @foreach (ContentSliderSlideSettings slide in Model.Slides) 
            { 
                if(slide.Published)
                {
                    <li class="slide">
                        @if (!String.IsNullOrEmpty(@slide.Title))
                        {
			                <h2 class="title">@Html.Raw(@slide.Title)</h2>
                        }
                        @if (!String.IsNullOrEmpty(@slide.Text))
                        {
			                <div class="info">@Html.Raw(slide.Text)</div>
                        }

                        @if (slide.Button1.Published || slide.Button2.Published || slide.Button3.Published)
                        {
                            <div class="buttons">
                                @if (slide.Button1.Published && slide.Button1.Url.HasValue())
                                {   
                                    <a class="btn @slide.Button1.Type" href="@slide.Button1.Url">@slide.Button1.Text</a>
                                }
                                @if (slide.Button2.Published && slide.Button2.Url.HasValue())
                                {   
                                    <a class="btn @slide.Button2.Type" href="@slide.Button2.Url">@slide.Button2.Text</a>
                                }
                                @if (slide.Button3.Published && slide.Button3.Url.HasValue())
                                {   
                                    <a class="btn @slide.Button3.Type" href="@slide.Button3.Url">@slide.Button3.Text</a>
                                }
                            </div>
                        }

                        @if (!String.IsNullOrEmpty(@slide.PictureUrl))
                        {
                            <div class="picture"><img src="@Url.Content(slide.PictureUrl)" alt="@slide.Title" /></div>
                        }
		            </li>
                }
            }
	    </ul>
    </div>

    <script type="text/javascript">
        $(function () {
            var sequence = null;
            var options = {
                autoPlay: @(Model.AutoPlay ? "true" : "false"),
                autoPlayDelay: @(Model.AutoPlayDelay),
                pagination: true,
                showPaginationOnInit: true,
                nextButton: true,
                prevButton: true,
                pauseButton: true,
                pauseOnHover: false,
                animateStartingFrameIn: false,
                fadeFrameWhenSkipped: false,
                transitionThreshold: 500,
                bgSlide: '@(GetThemeVariable("SliderBgSlide", "on"))', // off | on | opposite
                bgSlideIncrement: 50
            };

            sequence = $("#slider").sequence(options).data("sequence");
            $.sequence.applyTheme(sequence); // applyTheme is an extension in sequence.jquery.custom.js
        });
    </script>

}