@using SmartStore.Admin.Models.DataExchange;
@model ImportProfileModel
@if (Model.ColumnMappings.Any())
{
	<p>&nbsp;</p>

	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">×</button>
		@Html.Raw(T("Admin.DataExchange.ColumnMapping.Note"))
	</div>

	<div>
		<button type="button" id="ResetColumnMappings" class="btn btn-above" data-url="@Url.Action("ResetColumnMappings", new { id = Model.Id })">
			<i class="fa fa-rotate-left"></i>&nbsp;@T("Admin.Common.Clear")
		</button>
	</div>

	<div id="ImportColumnMappings">
		<table class="table table-striped admin-table">
			<thead>
				<tr>
					<th style="width: 15%;">@T("Admin.DataExchange.ColumnMapping.ImportField")</th>
					<th style="width: 10%;">@T("Admin.DataExchange.ColumnMapping.ImportFieldIndex")</th>
					<th style="width: 32%;">@T("Admin.DataExchange.ColumnMapping.EntityProperty")</th>
					<th>@T("Admin.DataExchange.ColumnMapping.DefaultValue")</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var mapping in Model.ColumnMappings.OrderBy(x => x.ColumnWithoutIndex))
				{
					<tr>
						<td>
							@mapping.ColumnWithoutIndex
						</td>
						<td>
							@mapping.ColumnIndex
						</td>
						<td>
							<select name="ColumnMapping.EntityProperty.@mapping.Index" data-placeholder="@Model.UnspecifiedString" class="control-large">
								<option></option>
								@foreach (var prop in Model.AvailableEntityProperties)
								{
									var select = ((mapping.EntityProperty.HasValue() && prop.Value.IsCaseInsensitiveEqual(mapping.EntityProperty)) || 
										(!mapping.EntityProperty.HasValue() && prop.Value.IsCaseInsensitiveEqual(mapping.Column)));

									<option value="@prop.Value" @(select ? "selected='selected'" : "")>@prop.Text</option>
								}
							</select>
							<br />
							@Html.ValidationMessage("ColumnMapping.EntityProperty." + mapping.Index.ToString())
						</td>
						<td>
							<input type="text" name="ColumnMapping.DefaultValue.@mapping.Index" class="text-box single-line" value="@mapping.DefaultValue" />
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}