@using SmartStore.Admin.Models.DataExchange;
@model ImportProfileModel
@{
	var title = string.Concat(T("Admin.Common.AddNew"), " ", T("Common.Profile"));
	ViewBag.Title = title;
}

@using (Html.BeginForm("Create", "Import", new { area = "Admin" }))
{
	<fieldset>
		<div class="section-header">
			<div class="title">
				<i class="fa fa-download"></i>
				@title - @Model.Name @Html.ActionLink("(" + T("Admin.Common.BackToList") + ")", "List")
			</div>
			<div class="options">
				<button type="submit" name="save" value="save" class="btn btn-primary">
					<i class="fa fa-check"></i>&nbsp;@T("Admin.Common.Save")
				</button>
				<a href="@Url.Action("List", "Import", new { area = "Admin" })" class="btn">
					@T("Common.Cancel")
				</a>
			</div>
		</div>
		@Html.Partial("_CreateOrUpdate", Model)
	</fieldset>
}