@model SubmitReturnRequestModel
@using SmartStore.Web.Models.Order;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ReturnItems").Text);
}
<div class="page return-request-page">
    <div class="page-title">
        <h1>@string.Format(@T("ReturnRequests.Title").Text, Model.OrderId)</h1>
    </div>

    <div class="page-body">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result</div>
        }
        else
        {
            using (Html.BeginForm())
            {
            <fieldset class="form-fields products-box">
                <legend>@T("ReturnRequests.SelectProduct(s)")</legend>
                <dl>
                    <dd>
                        <table class="table table-striped table-hover">
							<colgroup>
								<col />
								<col />
								<col width="1" />								
							</colgroup>
                            <thead>
                                <tr>
                                    <th class="a-center">
                                        @T("ReturnRequests.Products.Name")
                                    </th>
                                    <th class="a-center">
                                        @T("ReturnRequests.Products.Price")
                                    </th>
                                    <th class="a-center">
                                        @T("ReturnRequests.Products.Quantity")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {   
                                    <tr>
                                        <td class="a-left">
											<a href="@item.ProductUrl" title="@T("Products.Details")">@item.ProductName</a>
                                            @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                            {
                                                <div class="attributes">
                                                    @Html.Raw(item.AttributeInfo)
                                                </div>
                                            }
                                        </td>
                                        <td class="a-left">
                                            @item.UnitPrice
                                        </td>
                                        <td class="a-left">
                                            <select name="quantity@(item.Id)">
                                                @for (int i = 0; i <= item.Quantity; i++)
                                                {
                                                    <option value="@(i)">@(i)</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </dd>
                </dl>
            </fieldset>
			
			<table class="table table-striped table-hover">
			<tbody>
				<tr>
					<td>
						@Html.LabelFor(model => model.ReturnReason)
					</td>
					<td>
						@Html.DropDownListFor(model => model.ReturnReason, Model.AvailableReturnReasons, new { @class = "return-reasons" })
					</td>
				</tr>
				<tr>
					<td>
						@Html.LabelFor(model => model.ReturnAction)
					</td>
					<td>
						@Html.DropDownListFor(model => model.ReturnAction, Model.AvailableReturnActions, new { @class = "return-actions" })
					</td>
				</tr>
				<tr>
					<td>
						@Html.LabelFor(model => model.Comments)
					</td>
					<td>
						@Html.TextAreaFor(model => model.Comments, new { @class = "comment", style = "width:400px;" })
						@Html.ValidationMessageFor(model => model.Comments)
					</td>
				</tr>
			</tbody>
			</table>
			
            <div class="clear"></div>
			
            <div class="buttons">
				<button type="submit" name="submit-return-request" value="save" class="btn btn-primary">
					<i class="fa fa-check"></i>
					@T("ReturnRequests.Submit")
				</button>
            </div>
            }
        }
    </div>
</div>
