@model PrivateMessageListModel 

@using SmartStore.Web;
@using SmartStore.Web.Models.PrivateMessages;
@using SmartStore.Web.Framework.UI;

<div class="private-messages-box">
	<script>
		$(function () {
            $('#selectall-sent').click(function () {
                $('#pm-sent-table .rowcheckbox').attr('checked', $(this).is(':checked')).change();
            });

            $(document).on('change', '#pm-sent-table .rowcheckbox', function (e) {
                var numChkBoxes = $('#pm-sent-table .rowcheckbox').length;
                var numChkBoxesChecked = $('#pm-sent-table .rowcheckbox:checked').length;
                $('#selectall-sent').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
            });
        });
    </script>
    @if (Model.Messages.Count > 0)
    {
        using (Html.BeginForm("SentUpdate", (string)null))
        {
			<div class="table-responsive">
				<table class="table" cellspacing="0" cellpadding="4" id="pm-sent-table">
					<col width="5%" />
					<col width="20%" />
					<col width="50%" />
					<col width="25%" />
					<thead>
						<tr class="pm-grid-header-style">
							<th class="a-center">
								<input type="checkbox" id="selectall-sent" />
							</th>
							<th class="a-center">
								@T("PrivateMessages.Inbox.ToColumn")
							</th>
							<th class="a-center">
								@T("PrivateMessages.Inbox.SubjectColumn")
							</th>
							<th class="a-center">
								@T("Common.Date")
							</th>
						</tr>
					</thead>
					<tbody>
						@for (int i = 0; i < Model.Messages.Count; i++)
						{
							var item = Model.Messages[i];
							<tr>
								<td class="a-center">
									<input type="checkbox" name="si@(item.Id)" class="rowcheckbox" />
								</td>
								<td class="a-left">
									@if (item.AllowViewingToProfile)
									{
										@Html.RouteLink(item.CustomerToName, "CustomerProfile", new { Id = item.ToCustomerId })
									}
									else
									{
										@item.CustomerToName
									}
								</td>
								<td class="a-left" dir="auto">
									@Html.ActionLink(item.Subject, "View", new { id = item.Id }, new { @class = "pm-read" })
								</td>
								<td class="a-left">
									@item.CreatedOn.ToNativeString()
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
            
            if (Model.TotalPages > 1)
            {
                @Html.SmartStore().Pager(Model).Name("paginator").Route("PrivateMessages", ViewData["PagerRouteValues"])
            }

            <div class="buttons row xs-gutters">
                <div class="col col-lg-auto col-12 mt-2">
                    <button class="btn btn-danger btn-block" name="delete-sent" type="submit" value="delete-sent">
                        <i class="far fa-trash-alt"></i>
                        <span>@T("PrivateMessages.Inbox.DeleteSelected")</span>
                    </button>
                </div>
            </div>
        }
    }
    else
    {
        <div class="no-items text-center p-5">
            <h4 class="no-item-title">
                @T("PrivateMessages.NoSentItems.Title")
            </h4>
            <p class="no-item-icon">
                <i class="fa fa-inbox fa-4x"></i>
            </p>
            <p class="no-item-info text-muted">
                @T("PrivateMessages.NoSentItems.Info")
            </p>
        </div>
    }
</div>
