@model ProductReviewModel
@using Telerik.Web.Mvc.UI;
@Html.AntiForgeryToken()
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ProductName)
        </td>
        <td class="adminData">
			<div class="form-control-plaintext">
				@Html.ActionLink(Model.ProductName, "Edit", "Product", new { id = Model.ProductId }, new { })
			</div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.CustomerId)
        </td>
        <td class="adminData">
			<div class="form-control-plaintext">
				@Html.ActionLink(Model.CustomerName, "Edit", "Customer", new { id = Model.CustomerId }, new { })
			</div>
		</td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.IpAddress)
        </td>
        <td class="adminData">
            @Html.TextBoxFor(model => model.IpAddress, new { @readonly = "readonly", @class = "form-control-plaintext" })
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.Title)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ReviewText)
        </td>
        <td class="adminData">
            @Html.TextAreaFor(model => model.ReviewText, new { style = "height:150px" })
            @Html.ValidationMessageFor(model => model.ReviewText)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.Rating)
        </td>
        <td class="adminData">
            @Html.TextBoxFor(model => model.Rating, new { @readonly = "readonly", @class = "form-control-plaintext" })
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.IsApproved)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.IsApproved)
            @Html.ValidationMessageFor(model => model.IsApproved)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.CreatedOn)
        </td>
        <td class="adminData">
			<div class="form-control-plaintext">
				@Html.DisplayFor(model => model.CreatedOn)
			</div>
        </td>
    </tr>
</table>
