@model IEnumerable<PaymentMethodModel>

@{
	ViewBag.Title = T("Admin.Configuration.Payment.Methods").Text;
}

@Html.AntiForgeryToken()

<div class="section-header">
	<div class="title">
		<i class="far fa-credit-card"></i>
		@T("Admin.Configuration.Payment.Methods")
	</div>
	<div class="options">
		@{ Html.RenderWidget("admin_button_toolbar_before"); }

		@{ Html.RenderWidget("admin_button_toolbar_after"); }
	</div>
</div>

<table class="adminContent">
	<tr>
		<td>
			@Html.ProviderList(Model,
				@<div>
					<table class="payment-method-features">
						<tr><td>@T("Admin.Configuration.Payment.Methods.Fields.RecurringPaymentType"):</td><td>@item.RecurringPaymentType</td></tr>
						<tr><td>@Html.DisplayNameFor(model => model.SupportCapture):</td><td>@YesNoLabel(item.SupportCapture)</td></tr>
						<tr><td>@Html.DisplayNameFor(model => model.SupportRefund):</td><td>@YesNoLabel(item.SupportRefund)</td></tr>
						<tr><td>@Html.DisplayNameFor(model => model.SupportPartiallyRefund):</td><td>@YesNoLabel(item.SupportPartiallyRefund)</td></tr>
						<tr><td>@Html.DisplayNameFor(model => model.SupportVoid):</td><td>@YesNoLabel(item.SupportVoid)</td></tr>
					</table>
				</div>,
				@<div>
					 <a class="activate-provider btn btn-@(item.IsActive ? "secondary btn-to-danger" : "success")" style="min-width: 150px"
						href='@Url.Action("ActivateProvider")' data-systemname="@item.SystemName" data-activate="@(!item.IsActive ? "true" : "false")">
					 	@T("Admin.Common.{0}".FormatInvariant(item.IsActive ? "Deactivate" : "Activate"))
					 </a>
				</div>)
		</td>
	</tr>
</table>

@helper YesNoLabel(bool value)
{
	if (value)
	{
		<span class="badge badge-success">@T("Common.Yes")</span>
	}
	else
	{
		<span class="badge badge-dark">@T("Common.No")</span>
	}
}

<script>
    $(function () {
        var token = $('input[name="__RequestVerificationToken"]').val();

        $(".activate-provider").on("click", function (e) {
            e.preventDefault();

            var $el = $(this);
            var activate = $el.attr("data-activate") == "true" ? true : false;

            $({}).doAjax({
			    type: 'POST',
			    url: '@Url.Action("ActivateProvider")',
                data: {
                    "__RequestVerificationToken": token,
                    "systemName": $el.attr("data-systemname"),
                    "activate": activate
                },
			    callbackSuccess: function () {
                    var item = $el.closest(".module-item");
                    var badge = item.find(".module-badges .badge");

                    item.toggleClass("inactive", !activate);

                    if (activate) {
                        $el.addClass("btn-secondary btn-to-danger").removeClass("btn-success");
                        $el.text(@T("Admin.Common.Deactivate").JsText);
                        badge.text(@T("Common.Active").JsText);
                        badge.addClass("badge-success").removeClass("badge-secondary");
                    }
                    else {
                        $el.addClass("btn-success").removeClass("btn-secondary btn-to-danger");
                        $el.text(@T("Admin.Common.Activate").JsText);
                        badge.text(@T("Common.Inactive").JsText);
                        badge.addClass("badge-secondary").removeClass("badge-success");
                    }

                    $el.attr("data-activate", !activate);
			    }
            });

            return false;
        })
    });
</script>
