@using SmartStore;
@using SmartStore.Core;
@using SmartStore.Web.Framework.UI;
@using System.Web.Hosting;

@{
	var currentUICulture = System.Threading.Thread.CurrentThread.CurrentUICulture;

	// page title
	string adminPageTitle = "";
	if (!string.IsNullOrWhiteSpace(ViewBag.Title))
	{
		adminPageTitle = ViewBag.Title + " / ";
	}
	adminPageTitle += T("Admin.PageTitle").Text;

	var volatileJsRoot = "~/Administration/Scripts/";
	var vendorsRoot = "~/Administration/Content/vendors/";
	var flexJsRoot = "~/Themes/Flex/Scripts/";
	var flexCssRoot = "~/Themes/Flex/Content/css/";
	var contentRoot = "~/Content/";
	var scriptsRoot = "~/Scripts/";

	// add css assets
	var telerikCssRoot = "~/Content/2012.2.607/";
	Html.AppendCssFileParts(
		flexCssRoot + "fontastic.css",
		contentRoot + "font-awesome.css",
		telerikCssRoot + "telerik.common.css",
		vendorsRoot + "pnotify/css/pnotify.css",
		vendorsRoot + "pnotify/css/pnotify.mobile.css",
		vendorsRoot + "pnotify/css/pnotify.buttons.css",
		"~/Administration/Content/theme.scss");

	// add js assets (Head)
	Html.AppendScriptParts(ResourceLocation.Head,
		scriptsRoot + "modernizr.js",
		// Telerik doesn't like jQuery 1.9+, a shame!
		//"~/Administration/Scripts/jquery-1.8.3.js",
		volatileJsRoot + "jquery-3.2.1.js",
		volatileJsRoot + "jquery-migrate-3.2.1.js",
		volatileJsRoot + "jquery-shims.js");

	// add js assets (Foot)
	var bootstrap4JsRoot = "~/Administration/Content/bs4/js/";

	Html.AppendScriptParts(ResourceLocation.Foot,
		// jQuery UI Core
		scriptsRoot + "jquery-ui/effect.js",
		scriptsRoot + "jquery-ui/effect-transfer.js",
		scriptsRoot + "jquery-ui/effect-shake.js",
		scriptsRoot + "jquery-ui/position.js",
		// jQuery Validation
		volatileJsRoot + "jquery.unobtrusive-ajax.js",
		volatileJsRoot + "jquery.validate.js",
		volatileJsRoot + "jquery.validate.unobtrusive.js",
		volatileJsRoot + "jquery.validate.unobtrusive.custom.js",
		// SmartStore system
		scriptsRoot + "underscore.js",
		scriptsRoot + "underscore.string.js",
		scriptsRoot + "underscore.mixins.js",
		scriptsRoot + "smartstore.system.js",
		scriptsRoot + "smartstore.jquery.utils.js",
		vendorsRoot + "moment/moment.js",
		scriptsRoot + "smartstore.globalization.js",
		// Common
		volatileJsRoot + "smartstore.viewport.js",
		scriptsRoot + "jquery.ba-outside-events.js",
		scriptsRoot + "jquery.preload.js",
		scriptsRoot + "jquery.menu-aim.js",
		scriptsRoot + "smartstore.doAjax.js",
		scriptsRoot + "smartstore.entitypicker.js",
		scriptsRoot + "jquery.addeasing.js",
		scriptsRoot + "smartstore.eventbroker.js",
		scriptsRoot + "smartstore.hacks.js",
		volatileJsRoot + "smartstore.common.js",
		// Bootstrap
		contentRoot + "bs4/js/bootstrap.bundle.js",
		// Vendors
		vendorsRoot + "datetimepicker/js/tempusdominus-bootstrap-4.js",
		vendorsRoot + "select2/js/select2.js",
		// Shared UI
		volatileJsRoot + "smartstore.selectwrapper.js",
		scriptsRoot + "smartstore.throbber.js",
		scriptsRoot + "smartstore.thumbzoomer.js",
		scriptsRoot + "smartstore.shrinkmenu.js",
		scriptsRoot + "smartstore.scrollbutton.js",
		vendorsRoot + "pnotify/js/pnotify.js",
		vendorsRoot + "pnotify/js/pnotify.mobile.js",
		vendorsRoot + "pnotify/js/pnotify.buttons.js",
		vendorsRoot + "pnotify/js/pnotify.animate.js",
		scriptsRoot + "jquery.scrollTo.js",
		scriptsRoot + "jquery.sortable.js",
		// Admin
		"~/Administration/Scripts/admin.common.js",
		"~/Administration/Scripts/admin.globalinit.js");
}
<!DOCTYPE html>
<html class="no-js not-ready loading" data-pnotify-firstpos1="140">
<head>
    <title>@adminPageTitle</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    @{ Html.RenderPartial("_ClientRes"); }
    @{ Html.RenderPartial("ConditionalComments"); }
    @Html.MetaAcceptLanguage()

    @Html.SmartCssFiles(this.Url, ResourceLocation.Head)
    @Html.SmartScripts(this.Url, ResourceLocation.Head)

    <link rel="shortcut icon" href="~/Administration/favicon.ico" />

	@Html.CustomHead()

	<script src="~/Scripts/smartstore.globalization.adapter.js"></script>

	@{ Html.RenderZone("head"); }
</head>
<body class="@Html.BodyCssClass()"@(Html.BodyId())>   
	@{ Html.RenderZone("start"); }
	@RenderBody()

	@RenderSection("foot", required: false)
    @Html.SmartCssFiles(this.Url, ResourceLocation.Foot)
    @Html.SmartScripts(this.Url, ResourceLocation.Foot)

	<!--These need to be at the end of the page to ensure that all the controls requiring scripts have been rendered-->
	@(Html.Telerik().ScriptRegistrar()
		.jQuery(false)
		.jQueryValidation(false)
		.Globalization(true)
	)
	@{ Html.RenderZone("end"); }
</body>
</html>

