@using SmartStore;
@using SmartStore.Core;
@using SmartStore.Web.Framework.UI;
@using System.Web.Hosting;

@{
	var currentUICulture = System.Threading.Thread.CurrentThread.CurrentUICulture;

	// page title
	string adminPageTitle = "";
	if (!string.IsNullOrWhiteSpace(ViewBag.Title))
	{
		adminPageTitle = ViewBag.Title + " / ";
	}
	adminPageTitle += T("Admin.PageTitle").Text;

	var volatileJsRoot = "~/Administration/Scripts/";
	var vendorsRoot = "~/Administration/Content/vendors/";
	var flexJsRoot = "~/Themes/Flex/Scripts/";
	var flexCssRoot = "~/Themes/Flex/Content/css/";

	// add css assets
	var telerikCssRootPath = "~/Content/2012.2.607/";
	Html.AppendCssFileParts(
		flexCssRoot + "fontastic.css",
		"~/Content/font-awesome.css",
		telerikCssRootPath + "telerik.common.css",
		"~/Content/jquery.pnotify.default.css",
		"~/Content/jquery.pnotify.default.icons.css",
		"~/Content/smartstore.entitypicker.css",
		//"~/Administration/Content/theme.less"
		"~/Administration/Content/theme.scss");

	// add js assets (Head)
	Html.AppendScriptParts(ResourceLocation.Head,
		"~/Scripts/modernizr.js",
		// Telerik doesn't like jQuery 1.9+, a shame!
		//"~/Administration/Scripts/jquery-1.8.3.js",
		volatileJsRoot + "jquery-3.2.1.js",
		volatileJsRoot + "jquery-migrate-3.2.1.js",
		volatileJsRoot + "jquery-shims.js");

	// add js assets (Foot)
	var bootstrapJsRoot = "~/Content/bootstrap/js/";
	var bootstrap4JsRoot = "~/Administration/Content/bs4/js/";

	Html.AppendScriptParts(ResourceLocation.Foot,
		// jQuery UI Core
		"~/Scripts/jquery-ui/effect.js",
		"~/Scripts/jquery-ui/effect-transfer.js",
		"~/Scripts/jquery-ui/effect-shake.js",
		"~/Scripts/jquery-ui/position.js",
		// jQuery Validation
		"~/Scripts/jquery.unobtrusive-ajax.js",
		"~/Scripts/jquery.validate.js",
		"~/Scripts/jquery.validate.unobtrusive.js",
		flexJsRoot + "jquery.validate.unobtrusive.custom.js",
		// SmartStore system
		"~/Scripts/underscore.js",
		"~/Scripts/underscore.string.js",
		"~/Scripts/underscore.mixins.js",
		"~/Scripts/smartstore.system.js",
		"~/Scripts/smartstore.jquery.utils.js",
		vendorsRoot + "moment/moment.js",
		"~/Scripts/smartstore.globalization.js",
		// Common
		"~/Scripts/jquery.ba-outside-events.js",
		"~/Scripts/jquery.preload.js",
		"~/Scripts/jquery.menu-aim.js",
		"~/Scripts/smartstore.doAjax.js",
		"~/Scripts/smartstore.entityPicker.js",
		"~/Scripts/jquery.addeasing.js",
		"~/Scripts/smartstore.eventbroker.js",
		"~/Scripts/smartstore.hacks.js",
		volatileJsRoot + "smartstore.common.js",
		// Bootstrap
		volatileJsRoot + "popper.js",
		bootstrap4JsRoot + "bootstrap.js",
		//bootstrapJsRoot + "bootstrap-typeahead.js",
		// Vendors
		vendorsRoot + "colorpicker/js/bootstrap-colorpicker.js",
		vendorsRoot + "datetimepicker/js/tempusdominus-bootstrap-4.js",
		vendorsRoot + "select2/js/select2.js",
		// Shared UI
		"~/Scripts/smartstore.placeholder.js",
		volatileJsRoot + "smartstore.selectwrapper.js",
		"~/Scripts/smartstore.throbber.js",
		//"~/Scripts/smartstore.navbar.js",
		"~/Scripts/smartstore.thumbzoomer.js",
		"~/Scripts/smartstore.column-equalizer.js",
		"~/Scripts/smartstore.shrinkmenu.js",
		"~/Scripts/smartstore.scrollbutton.js",
		"~/Scripts/jquery.pnotify.js",
		"~/Scripts/jquery.scrollTo.js",
		"~/Scripts/jquery.sortable.js",
		// Admin
		"~/Administration/Scripts/admin.common.js",
		"~/Administration/Scripts/admin.globalinit.js");
}
<!DOCTYPE html>
<html class="no-js not-ready loading">
<head>
    <title>@adminPageTitle</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge; chrome=1" />

    @{ Html.RenderPartial("_ClientRes"); }
    @{ Html.RenderPartial("ConditionalComments"); }
    @Html.MetaAcceptLanguage()

    @Html.SmartCssFiles(this.Url, ResourceLocation.Head)
    @Html.SmartScripts(this.Url, ResourceLocation.Head)

    <link rel="shortcut icon" href="~/Administration/favicon.ico" />

	@Html.CustomHead()

	<script src="~/Scripts/smartstore.globalization.adapter.js"></script>
</head>
<body class="@Html.BodyCssClass()"@(Html.BodyId())>   
	@RenderBody()
	@RenderSection("foot", required: false)
    @Html.SmartCssFiles(this.Url, ResourceLocation.Foot)
    @Html.SmartScripts(this.Url, ResourceLocation.Foot)

	<!--These need to be at the end of the page to ensure that all the controls requiring scripts have been rendered-->
	@(Html.Telerik().ScriptRegistrar()
		.jQuery(false)
		.jQueryValidation(false)
		.Globalization(true)
	)
</body>
</html>

