@model SmartStore.GoogleAnalytics.Models.ConfigurationModel
@using SmartStore.Web.Framework;
@{
	Layout = "";
}
<div class="alert alert-info">
    @Html.Raw(@T("Plugins.Widgets.GoogleAnalytics.AdminInstruction"))
</div>

@{ Html.RenderAction("StoreScopeConfiguration", "Setting", new { area = "Admin" }); }

<div class="plugin-actions">
	<button type="submit" name="save" value="save" class="btn btn-warning">
		<i class="fa fa-check"></i>
		<span>@T("Admin.Common.Save")</span>
	</button>
</div>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<table class="adminContent">
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(model => model.ZoneId)
			</td>
			<td class="adminData">
				@Html.DropDownListFor(model => model.ZoneId, Model.AvailableZones)
				@Html.ValidationMessageFor(model => model.ZoneId)
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(model => model.GoogleId)
			</td>
			<td class="adminData">
				@Html.SettingEditorFor(model => model.GoogleId)
				@Html.ValidationMessageFor(model => model.GoogleId)
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(model => model.TrackingScript)
			</td>
			<td class="adminData wide">
				@Html.SettingEditorFor(model => model.TrackingScript,
					Html.TextAreaFor(model => model.TrackingScript, new { style = "height: 300px;" }))
				@Html.ValidationMessageFor(model => model.TrackingScript)
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(model => model.EcommerceScript)
			</td>
			<td class="adminData wide">
				@Html.SettingEditorFor(model => model.EcommerceScript, 
					Html.TextAreaFor(model => model.EcommerceScript, new { style = "height: 300px;" }))
				@Html.ValidationMessageFor(model => model.EcommerceScript)
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(model => model.EcommerceDetailScript)
			</td>
			<td class="adminData wide">
				@Html.SettingEditorFor(model => model.EcommerceDetailScript, 
					Html.TextAreaFor(model => model.EcommerceDetailScript, new { style = "height: 200px;" }))
				@Html.ValidationMessageFor(model => model.EcommerceDetailScript)
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
			</td>
			<td class="adminData">
				<button type="submit" name="restore-scripts" class="btn btn-danger" value="restore-scripts" 
						title="@T("Plugins.Widgets.GoogleAnalytics.RestoreScripts.Hint")" 
						onclick="return confirm(@T("Admin.Common.AreYouSure").JsText);">
					<i class="far fa-bolt"></i>
					<span>@T("Plugins.Widgets.GoogleAnalytics.RestoreScripts")</span>
				</button>
			</td>
		</tr>
	</table>
}