@using SmartStore.Web.Framework
@model SmartStore.DiscountRules.Models.HasOneProductModel
@{
    Layout = "";
} 
<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.Products)
        </td>
        <td class="adminData">
			<div class="discount-rule-wrapper"
				 data-discount-id='@Model.DiscountId'
				 data-requirement-id='@Model.RequirementId'
				 data-action-url='@Url.Action("HasOneProduct")'
				 data-fail-msg='@T("Admin.Promotions.Discounts.Requirements.FailedToSave").Text.EncodeJsString()'
				 data-success-msg='@T("Admin.Promotions.Discounts.Requirements.Saved").Text.EncodeJsString()'>
				<div>
					@Html.TextBoxFor(model => model.Products, new { data_routeparam = "productIds" })

					<button type="button" class="btn" id="SearchRequiredProductsButton" data-loading-text="@(T("Common.Loading"))&hellip;">
						<i class="fa fa-search"></i>&nbsp;@T("Admin.Common.Search")
					</button>

					<button type="button" class="btn btn-save-discount-rule">
						<i class="fa fa-check"></i>
						@T("Admin.Common.Save")
					</button>
				</div>
			</div>
		</td>
    </tr>
</table>

<script type="text/javascript">
	$(document).ready(function () {

		// add required products
		$(document).on('click', '#SearchRequiredProductsButton', function () {
			$('#@(Html.FieldIdFor(x => x.Products))').entityPicker('loadDialog', {
				url: '@Url.Action("Picker", "Entity", new { area = "" })',
				caption: '@T("Plugins.DiscountRules.HasOneProduct.Fields.Products")',
				returnValueDelimiter: ',',
				onLoadDialogBefore: function () {
					$('#SearchRequiredProductsButton').button('loading').prop('disabled', true);
				},
				onLoadDialogComplete: function () {
					$('#SearchRequiredProductsButton').prop('disabled', false).button('reset');
				}
			});
		});

    });
</script>