@model IDictionary<string, object>

@using SmartStore.Web.Framework.Theming;
@using SmartStore.Web.Framework.UI;

@{
    Layout = null;
}

@(Html.SmartStore().TabStrip().Name("theme-alpha-edit").HtmlAttributes(new { @class="theme-edit" }).Items(x =>
{
    var tabCommon = x.Add().Text(T("Common.General").Text).Content(@TabCommon()).Selected(true);
    var tabFonts = x.Add().Text(T("Admin.Themes.Fonts").Text).Content(@TabFonts());
    var tabGrid = x.Add().Text(T("Admin.Themes.Grid").Text).Content(@TabGrid());
    var tabButtons = x.Add().Text(T("Admin.Themes.Buttons").Text).Content(@TabButtons());
    //var tabHeader = x.Add().Text(T("Admin.Themes.Header").Text).Content(@TabHeader());
    var tabHeader = x.Add().Text("Header").Content(@TabHeader());
    var tabShopbar = x.Add().Text(T("Admin.Themes.Shopbar").Text).Content(@TabShopBar());
    var tabContentSlider = x.Add().Text(T("Admin.Themes.ContentSlider").Text).Content(@TabContentSlider());
    var tabTableAndContainer = x.Add().Text(T("Admin.Themes.Tables").Text).Content(@TabTableAndContainer());
    var tabMisc = x.Add().Text(T("Admin.Themes.Misc").Text).Content(@TabMisc());
    var tabFooter = x.Add().Text(T("Admin.Themes.Footer").Text).Content(@TabFooter());

}
))

@helper TabGrid()
{
    <table class="adminContent">
        @ThemeVarEditor("GridSettings")
        @ThemeVarEditor("GridColumnWidth")
        @ThemeVarEditor("GridGutterWidth")
        @ThemeVarEditor("GridColumnWidth1200")
        @ThemeVarEditor("GridGutterWidth1200")
    </table>
}

@helper TabButtons()
{
    <table class="adminContent">
        @ThemeVarEditor("BtnBackground")
        @ThemeVarEditor("BtnPrimaryBackground")
        @ThemeVarEditor("BtnInfoBackground")
        @ThemeVarEditor("BtnSuccessBackground")
        @ThemeVarEditor("BtnWarningBackground")
        @ThemeVarEditor("BtnDangerBackground")
        @ThemeVarEditor("BtnInverseBackground")
    </table>
}

@helper TabHeader()
{
    <table class="adminContent">
        @ThemeVarEditor("HeaderLinkColor")
        @ThemeVarEditor("HeaderHoverColor")
        @ThemeVarEditor("HeaderIconColor")

        @ThemeVarEditor("ChooserBorderColor", "Chooser")
        @ThemeVarEditor("ChooserBackgroundColor")
        @ThemeVarEditor("ChooserActiveStateColor")
        @ThemeVarEditor("ChooserFontColor")
    </table>
}

@helper TabFooter()
{
    <table class="adminContent">
        @ThemeVarEditor("FooterBackground")
        @ThemeVarEditor("FooterHeading")
        @ThemeVarEditor("FooterFontColor")
        @ThemeVarEditor("FooterLinkColor")
        @ThemeVarEditor("FooterRadius")
    </table>
}

@helper TabShopBar()
{
    <table class="adminContent">
        @ThemeVarEditor("ShopBarBackgroundColor", "Shopbar")
        @ThemeVarEditor("ShopBarBorderColor")
        @ThemeVarEditor("ShopBarTextColor")
        @ThemeVarEditor("ShopBarIconColor")
        @ThemeVarEditor("ShopBarLabel")

        @ThemeVarEditor("DisplayNavbar", "Navbar")
        @ThemeVarEditor("InverseNavbar")
        @ThemeVarEditor("NavbarHeight")
        @ThemeVarEditor("NavbarBackgroundHighlight")
        @ThemeVarEditor("NavbarText")
        @ThemeVarEditor("NavbarLinkColor")
        @ThemeVarEditor("NavbarLinkColorHover")
        @ThemeVarEditor("NavbarLinkColorActive")
        
        @ThemeVarEditor("NavbarInverseBackground")
        @ThemeVarEditor("NavbarInverseBackgroundHighlight")
        @ThemeVarEditor("NavbarInverseBorder")
        @ThemeVarEditor("NavbarInverseText")
        @ThemeVarEditor("NavbarInverseLinkColor")
        @ThemeVarEditor("NavbarInverseLinkColorHover")
        @ThemeVarEditor("NavbarInverseLinkColorActive")

    </table>
}

@helper TabCommon()
{
    <table class="adminContent">
        @ThemeVarEditor("SiteBackground")
        @ThemeVarEditor("BodyBackground")
        @ThemeVarEditor("TextColor")
        @ThemeVarEditor("LinkColor")
        @ThemeVarEditor("BoxBackground")
        
    </table>
}

@helper TabFonts()
{
    <table class="adminContent">
        @ThemeVarEditor("SansFontFamily", T("Common.General"))
        @ThemeVarEditor("SerifFontFamily")
        @ThemeVarEditor("MonoFontFamily")
        @ThemeVarEditor("BaseFontSize")
        @ThemeVarEditor("BaseLineHeight")

        @ThemeVarEditor("HeadingsFontFamily", T("ThemeVar.Alpha.Headings"))
        @ThemeVarEditor("HeadingsFontWeight")
        @ThemeVarEditor("HeadingsColor")

        @ThemeVarEditor("PageTitleFontFamily", T("ThemeVar.Alpha.PageTitle"))
        @ThemeVarEditor("PageTitleFontWeight")
        @ThemeVarEditor("PageTitleColor")

    </table>
}

@helper TabContentSlider()
{
    <table class="adminContent">
        @ThemeVarEditor("SliderUseRadialBg")
        @ThemeVarEditor("SliderBgSlide")
        @ThemeVarEditor("SliderBackgroundColor")
        @ThemeVarEditor("SliderTitleColor")
        @ThemeVarEditor("SliderTitleFontFamily")
        @ThemeVarEditor("SliderTitleFontWeight")
        @ThemeVarEditor("SliderInfoColor")
        @ThemeVarEditor("SliderInfoFontFamily")
        @ThemeVarEditor("SliderInfoFontWeight")
    </table>
}


@helper TabTableAndContainer()
{
    <table class="adminContent">

        @ThemeVarEditor("TableBackground", T("ThemeVar.Alpha.Tables"))
        @ThemeVarEditor("TableBackgroundAccent")
        @ThemeVarEditor("TableBackgroundHover")
        @ThemeVarEditor("TableBorder")

		@ThemeVarEditor("ContainerRadius", "Container")
		@ThemeVarEditor("ContainerHeaderBackground")
		@ThemeVarEditor("ContainerHeaderFontColor")
		@ThemeVarEditor("ContainerHeaderHeight")
		@ThemeVarEditor("ContainerBodyBackground")
        @ThemeVarEditor("ContainerBodyFontColor")
		@ThemeVarEditor("ContainerBodyLinkColor")
		@ThemeVarEditor("ContainerBorder")

    </table>
}

@helper TabMisc()
{
    <table class="adminContent">
        @ThemeVarEditor("ProductListsPriceColor")
        @ThemeVarEditor("ProductDetailPriceColor")
        @ThemeVarEditor("WellBackground")
        @ThemeVarEditor("ItemBoxBoxShadowColor")
        @ThemeVarEditor("SimpleBoxHeaderColor")
        @ThemeVarEditor("PaginationBackground", "Paginator")
        @ThemeVarEditor("PaginationBorder")
        @ThemeVarEditor("PaginationActiveBackground")

        @ThemeVarEditor("InputBackground", T("ThemeVar.Alpha.Forms"))
        @ThemeVarEditor("InputBorder")
        @ThemeVarEditor("InputBorderRadius")
        @ThemeVarEditor("InputDisabledBackground")
        @ThemeVarEditor("FormActionsBackground")

        @ThemeVarEditor("DropdownBackground", "Dropdowns")
        @ThemeVarEditor("DropdownBorder")
        @ThemeVarEditor("DropdownDividerTop")
        @ThemeVarEditor("DropdownDividerBottom")
        @ThemeVarEditor("DropdownLinkColor")
        @ThemeVarEditor("DropdownLinkColorHover")
        @ThemeVarEditor("DropdownLinkColorActive")
        @ThemeVarEditor("DropdownLinkBackgroundActive")
        @ThemeVarEditor("DropdownLinkBackgroundHover")

        @ThemeVarEditor("ProductFilterBackgroundColor", "Product Filter")
        @ThemeVarEditor("CheckoutProgressBackgroundColor", "Checkout Progress Bar")
        @ThemeVarEditor("AlternateListItemBackgroundColor", "Alternate List Item")

    </table>
}

@helper ThemeVarEditor(string varName, string groupName = null) 
{
    if (groupName != null) 
    {
        <tr>
            <td colspan="2" class="admin-config-group">
                <div class="title">@groupName</div>
            </td>
        </tr>
    }
    <tr>
        <td class="adminTitle">
            @Html.ThemeVarLabel(ThemeManifest.Variables[varName])
        </td>
        <td class="adminData">
            @Html.ThemeVarEditor(ThemeManifest.Variables[varName], Model[varName])
        </td>
    </tr>
}

