@{
    Layout = "";
}
@model SmartStore.Plugin.ExternalAuth.Facebook.Models.ConfigurationModel
@using SmartStore.Web.Framework;
@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ClientKeyIdentifier)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ClientKeyIdentifier)
                @Html.ValidationMessageFor(model => model.ClientKeyIdentifier)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ClientSecret)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ClientSecret)
                @Html.ValidationMessageFor(model => model.ClientSecret)
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="padding:10px 0">
                <button type="submit" name="save" value="save" class="btn btn-primary">
                    @T("Admin.Common.Save")
                </button>
            </td>
        </tr>
    </table>
    
}