@{
	ViewBag.Title = T("Admin.Common.About").Text;
	string license = T("Admin.Common.License").Text;
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-info-circle"></i>
        @T("Admin.Common.About")
    </div>
</div>

<div class="about-page">

	<p>
		Version @SmartStore.Core.SmartStoreVersion.CurrentFullVersion<br />
		Copyright &copy; 1999-2014 SmartStore AG<br />
		<a href="http://www.smartstore.com/" target="AboutTargetWin">www.smartstore.com</a>,
		<a href="https://github.com/smartstoreag/SmartStoreNET" target="AboutTargetWin">github.com/smartstoreag/SmartStoreNET</a>
	</p>

	<p>
		@Html.Raw(T("Admin.Help.NopCommerceNote", "<a href=\"http://www.nopcommerce.com/\" rel=\"nofollow\" target=\"AboutTargetWin\">nopCommerce</a>"))
	</p>

	<p style="margin-top: 32px;">
		@Html.Raw(T("Admin.Help.OtherWorkNote"))
	</p>

	<p>
		<ul class="work-list">
			<li>
				<div class="name">
					<a href="http://www.antlr.org/" rel="nofollow" target="AboutTargetWin">ANTLR</a>
				</div>
				<div class="copyright">
					Copyright ANTLR / Terence Parr 2014
				</div>
				@BSDLicense()
			</li>
			<li>
				<div class="name">
					<a href="http://aspnet.codeplex.com/wikipage?title=MVC&referringTitle=Home" rel="nofollow" target="AboutTargetWin">ASP.NET MVC</a>
				</div>
				<div class="copyright">
					Copyright &copy; 2008-2011 Microsoft Corporation
				</div>
				@MVCEULA()
			</li>
			<li>
				<div class="name">
					<a href="http://code.google.com/p/autofac/" rel="nofollow" target="AboutTargetWin">Autofac</a>
				</div>
				<div class="copyright">
					Copyright &copy; 2007-2008 <a href="http://code.google.com/p/autofac/wiki/Contributing" rel="nofollow" target="AboutTargetWin">Autofac Contributors</a>
				</div>
				@MITLicense()
			</li>
			<li>
				<div class="name">
					<a href="http://www.automapper.org" rel="nofollow" target="AboutTargetWin">AutoMapper</a>
				</div>
				<div class="copyright">
					Copyright &copy; 2008-2013 Jimmy Bogard and other contributors
				</div>
				@MITLicense()
			</li>
			<li>
				<div class="name">
					<a href=" https://bundletransformer.codeplex.com" rel="nofollow" target="AboutTargetWin">Bundle Transformer</a>
				</div>
				<div class="copyright">
					Copyright Andrey Taritsyn 2014
				</div>
				@Apache2License()
			</li>
			<li>
				<div class="name">
					<a href="http://ckeditor.com/" rel="nofollow" target="AboutTargetWin">CKEditor</a>
				</div>
				<div class="copyright">
					&copy 2014 CKSource - Frederico Knabben
				</div>
				@LGPLLicense()
			</li>
			<li>
				<div class="name">
					<a href="http://dotnetopenauth.net/" rel="nofollow" target="AboutTargetWin">DotNetOpenAuth</a>
				</div>
				<div class="copyright">
					Copyright &copy; 2011, Outercurve Foundation
				</div>
				@MSPLLicense()
			</li>
			<li>
				<div class="name">
					<a href="http://dotnetzip.codeplex.com/" rel="nofollow" target="AboutTargetWin">DotNetZip</a>
				</div>
				<div class="copyright">
					
				</div>
				@MSPLLicense()
			</li>
			<li>
				<div class="name">
					<a href="https://entityframework.codeplex.com" rel="nofollow" target="AboutTargetWin">Entity Framework</a>
				</div>
				<div class="copyright">
					Copyright &copy; 2012-2014 Microsoft Corporation
				</div>
				@Apache2License()
			</li>
			<li>
				<div class="name">
					<a href="https://epplus.codeplex.com/" rel="nofollow" target="AboutTargetWin">EPPlus</a>
				</div>
				<div class="copyright">
					Copyright &copy; 2011 Jan Källman
				</div>
				@LGPLLicense()
			</li>
			<li>
				<div class="name">
					<a href="https://fasterflect.codeplex.com/" rel="nofollow" target="AboutTargetWin">Fasterflect</a>
				</div>
				<div class="copyright">
					
				</div>
				@Apache2License()
			</li>
			<li>
				<div class="name">
					<a href="https://fluentvalidation.codeplex.com/" rel="nofollow" target="AboutTargetWin">Fluent Validation</a>
				</div>
				<div class="copyright">
					
				</div>
				@Apache2License()
			</li>
			<li>
				<div class="name">
					<a href="https://github.com/Glimpse/Glimpse" rel="nofollow" target="AboutTargetWin">Glimpse</a>
				</div>
				<div class="copyright">
					Copyright &copy; 2014 <a href="http://getglimpse.com/Community" rel="nofollow" target="AboutTargetWin">Glimpse contributors</a>
				</div>
				@Apache2License()
			</li>
			<li>
				<div class="name">
					<a href="https://imageresizing.net/" rel="nofollow" target="AboutTargetWin">ImageResizer.NET</a>
				</div>
				<div class="copyright">
					Copyright &copy; 2012 Imazen
				</div>
				@FreedomLicense()
			</li>
			<li>
				<div class="name">
					<a href="https://github.com/Taritsyn/JavaScriptEngineSwitcher" rel="nofollow" target="AboutTargetWin">JavaScriptEngineSwitcher</a>
				</div>
				<div class="copyright">
					Copyright Andrey Taritsyn 2014
				</div>
				@Apache2License()
			</li>
			<li>
				<div class="name">
					<a href="http://jquery.com/" rel="nofollow" target="AboutTargetWin">jQuery</a>
				</div>
				<div class="copyright">
					Copyright &copy; 2010 <a href="http://jquery.com/" rel="nofollow" target="AboutTargetWin">John Resig</a>
				</div>
				@MITLicense()
			</li>
			<li>
				<div class="name">
					<a href="http://docs.jquery.com/UI" rel="nofollow" target="AboutTargetWin">jQuery UI (Core, Widget, Datepicker)</a>
				</div>
				<div class="copyright">
					Copyright &copy; 2010 <a href="http://jqueryui.com/about" rel="nofollow" target="AboutTargetWin">lib/jquery.ui/AUTHORS.txt</a>
				</div>
				@MITLicense()
			</li>
			<li>
				<div class="name">
					<a href="http://flesler.blogspot.com/" rel="nofollow" target="AboutTargetWin">jQuery ScrollTo</a>
				</div>
				<div class="copyright">
					Copyright &copy; 2007-2009 Ariel Flesler
				</div>
				@MITLicense()
			</li>
			<li>
				<div class="name">
					<a href="http://james.newtonking.com/" rel="nofollow" target="AboutTargetWin">JSON.NET</a>
				</div>
				<div class="copyright">
					Copyright &copy; 2007 James Newton-King
				</div>
				@MITLicense()
			</li>
			<li>
				<div class="name">
					<a href="http://www.maxmind.com" rel="nofollow" target="AboutTargetWin">GeoLite Free by MaxMind</a>
				</div>
				<div class="copyright">
					Copyright &copy; 2014 Maxmind
				</div>
				@CreativeCommonsLicense()
			</li>
			<li>
				<div class="name">
					<a href="http://www.microsoft.com/" rel="nofollow" target="AboutTargetWin">Microsoft SQL Server Compact 4.0</a>
				</div>
				<div class="copyright">
					Copyright &copy; 2011 Microsoft Corporation
				</div>
				@SqlCeEULA()
			</li>
			<li>
				<div class="name">
					<a href="http://miniprofiler.com/" rel="nofollow" target="AboutTargetWin">MiniProfiler</a>
				</div>
				<div class="copyright">
					
				</div>
				@Apache2License()
			</li>
			<li>
				<div class="name">
					<a href="http://modernizr.com/" rel="nofollow" target="AboutTargetWin">Modernizr</a>
				</div>
				<div class="copyright">
					
				</div>
				@MITLicense()
			</li>
			<li>
				<div class="name">
					<a href="http://nuget.codeplex.com/" rel="nofollow" target="AboutTargetWin">NuGet</a>
				</div>
				<div class="copyright">
					Copyright 2010-2011 Outercurve Foundation
				</div>
				@Apache2License()
			</li>
			<li>
				<div class="name">
					<a href="http://www.nunit.org/index.php" rel="nofollow" target="AboutTargetWin">nUnit</a>
				</div>
				<div class="copyright">
					Copyright &copy; 2002-2007 NUnit.org<br />
					Portions Copyright &copy; 2002-2008 Charlie Poole or Copyright &copy; 2002-2004 James W. Newkirk, Michael C. Two, Alexei A. Vorontsov or Copyright &copy; 2000-2002 Philip A. Craig
				</div>
				@zlibLicense()
			</li>
			<li>
				<div class="name">
					<a href="http://www.telerik.com/" rel="nofollow" target="AboutTargetWin">Telerik MVC Extensions</a>
				</div>
				<div class="copyright">
					
				</div>
				@GPLv3License()
			</li>
			<li>
				<div class="name">
					<a href="http://twitter.github.io/bootstrap/" rel="nofollow" target="AboutTargetWin">Twitter Bootstrap</a>
				</div>
				<div class="copyright">
					
				</div>
				@GPLv3License()
			</li>
			<li>
				<div class="name">
					<a href="https://github.com/ua-parser/uap-csharp" rel="nofollow" target="AboutTargetWin">ua_parser C# Library</a>
				</div>
				<div class="copyright">
					&copy 2012 Søren Enemærke
				</div>
				@Apache2License()
			</li>
			<li>
				<div class="name">
					<a href="http://underscorejs.org/" rel="nofollow" target="AboutTargetWin">underscore.js</a>
				</div>
				<div class="copyright">
					Copyright &copy; 2009-2014 Jeremy Ashkenas, DocumentCloud and Investigative Reporters & Editors
				</div>
				@MITLicense()
			</li>
			<li>
				<div class="name">
					<a href="http://wkhtmltopdf.org/" rel="nofollow" target="AboutTargetWin">wkhtmltopdf</a>
				</div>
				<div class="copyright">

				</div>
				@LGPLLicense()
			</li>
		</ul>
	</p>
</div>

@helper MPL20License() 
{
	<div class="license">
		<span>@T("Admin.Common.License"):</span> <a href="http://en.wikipedia.org/wiki/Mozilla_Public_License" rel="nofollow" target="AboutTargetWin">Mozilla Public License 2.0 (MPL-2.0)</a>
	</div>
}

@helper BSDLicense()
{
	<div class="license">
		<span>@T("Admin.Common.License"):</span> <a href="http://en.wikipedia.org/wiki/BSD_licenses" rel="nofollow" target="AboutTargetWin">BSD</a>
	</div>
}

@helper MVCEULA()
{
	<div class="license">
		<span>@T("Admin.Common.License"):</span> <a href="http://go.microsoft.com/fwlink/?LinkID=207621" rel="nofollow" target="AboutTargetWin">MICROSOFT ASP.NET MODEL VIEW CONTROLLER 3 EULA</a>
	</div>
}

@helper MITLicense()
{
	<div class="license">
		<span>@T("Admin.Common.License"):</span> <a href="http://en.wikipedia.org/wiki/MIT_License" rel="nofollow" target="AboutTargetWin">MIT</a>
	</div>
}

@helper Apache2License()
{
	<div class="license">
		<span>@T("Admin.Common.License"):</span> <a href="http://en.wikipedia.org/wiki/Apache_License" rel="nofollow" target="AboutTargetWin">Apache License 2.0</a>
	</div>
}

@helper MSPLLicense()
{
	<div class="license">
		<span>@T("Admin.Common.License"):</span> <a href="http://opensource.org/licenses/MS-PL" rel="nofollow" target="AboutTargetWin">MS-PL</a>
	</div>
}

@helper LGPLLicense()
{
	<div class="license">
		<span>@T("Admin.Common.License"):</span> <a href="http://en.wikipedia.org/wiki/GNU_Lesser_General_Public_License" rel="nofollow" target="AboutTargetWin">GNU Lesser General Public License (LGPL)</a>
	</div>
}

@helper FreedomLicense()
{
	<div class="license">
		<span>@T("Admin.Common.License"):</span> Freedom License
	</div>
}

@helper zlibLicense()
{
	<div class="license">
		<span>@T("Admin.Common.License"):</span> <a href="http://nunit.org/index.php?p=license&amp;r=2.4" rel="nofollow" target="AboutTargetWin">Derived from zlib</a>
	</div>
}

@helper GPLv3License()
{
	<div class="license">
		<span>@T("Admin.Common.License"):</span> <a href="http://en.wikipedia.org/wiki/GNU_General_Public_License" rel="nofollow" target="AboutTargetWin">GPL 3.0</a>
	</div>
}

@helper CreativeCommonsLicense()
{
	<div class="license">
		<span>@T("Admin.Common.License"):</span> <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="nofollow" target="AboutTargetWin">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>
	</div>
}

@helper SqlCeEULA()
{
	<div class="license">
		<span>@T("Admin.Common.License"):</span> <a href="http://www.microsoft.com/web/webpi/eula/SQLCE_EULA_ENU.rtf" rel="nofollow" target="AboutTargetWin">Custom EULA</a>
	</div>
}