@model NewsItemModel
@using SmartStore.Web.Models.News;
@using SmartStore.Core.Domain.Seo;

@{
    Layout = "_Layout";

    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var newsItemUrl = Url.RouteUrl("NewsItem", new { SeName = Model.SeName }, this.Request.Url.Scheme);
    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        Html.AddCanonicalUrlParts(newsItemUrl);
    }

    var imageUrl = Url.Media(Model.PictureModel.File, 0, null, false);
}

@{ Html.RenderAction("MetaPropertiesNews", "Common", new { newsItem = Model }); }

<article class="page news-item-page" itemscope itemtype="http://schema.org/NewsArticle">
    @if (Model.DisplayAdminLink)
    {
        <a class="btn btn-secondary btn-flat btn-admin-edit" href="@Url.Action("Edit", "News", new { id = Model.Id, area = "admin" })" target="admin-newsitem" rel="nofollow">
            <i class="fa fa-cog"></i>
            <span>@T("Common.Cms.EditNewsItem")</span>
        </a>
    }

    @if (imageUrl.HasValue())
    {
        <meta itemprop="image" content="@imageUrl" />
        <div class="shadow-sm shadow-primary mb-3">
            <figure class="single-media-item-image">
                <img class="img-fluid" src="@imageUrl"
                     alt="@Model.PictureModel.AlternateText"
                     title="@Model.PictureModel.Title"
                     width="@Model.PictureModel.FullSizeImageWidth"
                     height="@Model.PictureModel.FullSizeImageHeight" />
            </figure>
        </div>
    }

    <div class="news-date text-muted mb-2">
        @Model.CreatedOn.ToNativeString("D")
    </div>

    <meta itemprop="datePublished" content="@Model.CreatedOnUTC.ToString("u")" />
    <meta itemprop="author" content="@CommonServices.StoreContext.CurrentStore.Name" />
    <meta itemprop="publisher" content="@CommonServices.StoreContext.CurrentStore.Name" />
    <meta itemprop="url" content="@Request.Url.AbsoluteUri" />

    <div class="page-title mb-4">
        <h1 class="fs-h2" itemprop="headline">@Model.Title</h1>
    </div>

    <div class="news-body">
        @{ Html.RenderWidget("newsitem_page_before_body"); }

        <div class="news-content long-text html-editor-content" itemprop="articleBody">
            @Html.Raw(Model.Full)
        </div>

        @{ Html.RenderWidget("newsitem_page_before_comments"); }

        @if (Model.Comments.AllowComments)
        {
            <div class="row">
                <div class="col-12">
                    <div class="block news-comment-form mt-5">
                        @using (Html.BeginForm())
                        {
                            <fieldset class="news-comment-form content-group mt-5">
                                <legend><span>@T("News.Comments.LeaveYourComment")</span></legend>

                                @if (ViewContext.ViewData.ModelState.ContainsKey(""))
                                {
                                    @Html.ValidationSummary(true)
                                }

                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.AddNewComment.CommentTitle, new { @class = "form-control form-control-lg", placeholder = Html.DisplayNameFor(m => m.AddNewComment.CommentTitle) })
                                    @Html.ValidationMessageFor(model => model.AddNewComment.CommentTitle)
                                </div>

                                <div class="form-group">
                                    @Html.TextAreaFor(model => model.AddNewComment.CommentText, new { @class = "form-control form-control-lg", placeholder = Html.DisplayNameFor(m => m.AddNewComment.CommentText), rows = "6" })
                                    @Html.ValidationMessageFor(model => model.AddNewComment.CommentText)
                                </div>

                                @{ Html.RenderWidget("gdpr_consent"); }

                                @if (Model.AddNewComment.DisplayCaptcha)
                                {
                                    <div class="form-group">
                                        <div class="captcha-box">
                                            @Html.Raw(Html.GenerateCaptcha())
                                        </div>
                                    </div>
                                }

                                <div class="form-group">
                                    <button type="submit" name="add-comment" value="add-comment" class="btn btn-primary btn-lg">
                                        @T("News.Comments.SubmitButton")
                                    </button>
                                </div>
                            </fieldset>
                        }
                    </div>

                    @{ Html.RenderPartial("Comment.List", Model.Comments); }
                </div>
            </div>
        }

        @{ Html.RenderWidget("newsitem_page_after_comments"); }
    </div>
</article>
